@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 960px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  background: url(../img/bg/gb1.PNG);
  background-repeat: repeat-y;
  background-size: 100%;
}

#container {
  margin: 0 auto;
  width: 960px;
  height: auto;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.pc_1280 {
  display: none !important;
}

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

/*------------------------------------------------------------
	header pc
------------------------------------------------------------*/
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

header .banner {
  width: 100%;
}

header .banner .flexslider1 {
  width: 100%;
}

header .banner .flexslider1 .slides {
  display: block;
}

header .banner .flexslider1 .content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  font-size: 3rem;
  font-weight: bold;
}

header .banner .flexslider1 .content .info {
  padding-top: 30px;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 40px;
}

header .banner .flexslider1 .content .info .img_left {
  float: left;
  height: 40px;
  padding-left: 30px;
}

header .banner .flexslider1 .content .info .img_left img {
  width: auto;
  height: 40px;
}

header .banner .flexslider1 .content .info .img_right {
  float: right;
  padding-right: 30px;
  height: 40px;
}

header .banner .flexslider1 .content .info .img_right img {
  width: auto;
  height: 40px;
}

header .banner .flexslider1 .content .info .img_right:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .banner .flexslider1 .content .info .img_left:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .banner .flexslider1 .content .title {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner .flexslider1 .content .title img {
  width: 604px;
  height: 280px;
}

header .banner .flexslider1 img {
  width: 100%;
}

header .menu_pc {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #0075a9;
  background: #ffffff;
}

header .menu_pc .c-menu {
  width: 961px;
  margin: 0 auto;
}

header .menu_pc .c-menu ul {
  border-right: 1px solid #e8e8e8;
  height: 120px;
}

header .menu_pc .c-menu ul li {
  float: left;
  width: 159px;
  height: 120px;
  border-left: 1px solid #e8e8e8;
}

header .menu_pc .c-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

header .menu_pc .c-menu ul li a:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*------------------------------------------------------------
	header sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  #container {
    margin: 0 auto;
    min-width: 320px;
    height: auto;
    width: 100%;
  }
  .banner2 {
    width: 100%;
  }
  .banner2 .flexslider1 {
    width: 100%;
  }
  .banner2 .flexslider1 .slides {
    display: block;
  }
  .banner2 .flexslider1 .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    font-size: 3rem;
    font-weight: bold;
  }
  .banner2 .flexslider1 .content .info {
    padding-top: 20px;
    position: relative;
    z-index: 99;
    width: 100%;
  }
  .banner2 .flexslider1 .content .info .logo {
    float: left;
    padding-left: 20px;
  }
  .banner2 .flexslider1 .content .info .logo img {
    width: calc(315px/2);
  }
  .banner2 .flexslider1 .content .title_sp {
    margin-top: 45px;
    position: relative;
    z-index: 9;
    width: 100%;
    text-align: left;
  }
  .banner2 .flexslider1 .content .title_sp img {
    width: calc(600px/2);
  }
  .banner2 .flexslider1 img {
    width: 100%;
  }
  .menu_sp {
    position: absolute;
    min-width: 320px;
    z-index: 999;
    width: 100%;
    height: 60px;
  }
  .menu_sp .iconmenu {
    margin: 10px;
    float: right;
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    z-index: 999;
  }
  .menu_sp .bar1, .menu_sp .bar2, .menu_sp .bar3 {
    width: 20px;
    height: 2px;
    background-color: #0075a9;
    margin: 4px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu_sp .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  .menu_sp .change .bar2 {
    opacity: 0;
  }
  .menu_sp .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    transform: rotate(45deg) translate(-5px, -4px);
  }
  .menu {
    min-width: 320px;
    display: none;
    position: absolute;
    z-index: 998;
    width: 100%;
    height: auto;
    background: #ffffff;
  }
  .menu .logomenu {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #0075a9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .logomenu img {
    padding-left: 20px;
    width: calc(418px/2);
  }
  .menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
  }
  .menu ul li img {
    width: auto;
    height: 24px;
    padding-left: 20px;
  }
  .accordion {
    height: auto;
    cursor: pointer;
    width: 100%;
    float: left;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .accordion:after {
    content: "";
    background: url(../img/mobile/iconmenu1.PNG) no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: inline-block;
  }
  .active:after {
    content: "";
    background: url(../img/mobile/iconmenu11.PNG) no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
  }
  .submenu {
    padding: 0px 1px 0px 0px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .submenu li {
    width: 100%;
    height: 50px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .submenu li a {
    margin-left: 60px;
    text-decoration: none;
    color: #333333;
    font-size: 1.3rem;
  }
  .submenu li::after {
    content: "";
    background: url(../img/mobile/iconmenu2.PNG) no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: inline-block;
  }
}

/*------------------------------------------------------------
	footer pc
------------------------------------------------------------*/
footer {
  width: 100%;
  height: auto;
  background: #003567;
  /*------------------------------------------------------------
	option2 pc
------------------------------------------------------------*/
  /*------------------------------------------------------------
	option2 sp
------------------------------------------------------------*/
  /*------------------------------------------------------------
	option3 pc
------------------------------------------------------------*/
  /*------------------------------------------------------------
	option3 sp
------------------------------------------------------------*/
  /*------------------------------------------------------------
	copyright sp
------------------------------------------------------------*/
}

footer .option1 {
  background: #f8f8f8;
  width: 100%;
  height: 420px;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #0075a9;
}

footer .option1 .content {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

footer .option1 .content .title {
  text-align: left;
  padding-top: 60px;
  color: #003567;
  font-size: 1.5rem;
  font-weight: bold;
}

footer .option1 .content .u-blue {
  margin-top: 40px;
  color: #003567;
  font-size: 1.5rem;
  font-weight: bold;
}

footer .option1 .content ul li {
  width: 20%;
  float: left;
  text-align: left;
}

footer .option1 .content ul li a {
  display: block;
  position: relative;
  color: #333333;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 1.3rem;
}

footer .option1 .content ul li a:before {
  content: "";
  background: url(../img/footer/icon_more.png) no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 14px;
  left: 5px;
}

footer .option1 .content ul li a:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .option1 .content ul .top {
  padding-top: 40px;
}

footer .option2 {
  width: 100%;
  height: 150px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .option2 .content {
  width: 960px;
  height: 72px;
  margin: 0 auto;
}

footer .option2 .content .c-box {
  float: left;
  margin-right: 15px;
}

footer .option2 .content .c-box--margin {
  margin-right: 0;
}

footer .option2 .content .c-box:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  footer .option2_sp {
    width: 100%;
    border-top: 2px solid #0075a9;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
  }
  footer .option2_sp .content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
  }
  footer .option2_sp .content .c-box {
    padding-top: 10px;
    width: 50%;
    float: left;
  }
  footer .option2_sp .content .c-box img {
    width: calc(270px/2);
  }
}

footer .option3 {
  width: 100%;
  height: 290px;
  margin: 0 auto;
}

footer .option3 .content {
  width: 960px;
  height: 290px;
  margin: 0 auto;
}

footer .option3 .content .img {
  width: 100%;
  height: 60px;
  padding-top: 70px;
}

footer .option3 .content .img .logo {
  float: left;
}

footer .option3 .content .img .img2 {
  float: right;
}

footer .option3 .content .img .img1 {
  float: right;
  margin-right: 20px;
}

footer .option3 .content .img .logo:hover, footer .option3 .content .img .img2:hover, footer .option3 .content .img .img1:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .option3 .content .text2 {
  width: 960px;
  margin-top: 45px;
  color: #bfccd9;
  height: 100px;
}

footer .option3 .content .text2 .text1 {
  text-align: left;
  float: left;
  font-size: 1.2rem;
}

footer .option3 .content .text2 .text1 h2 {
  font-size: 1.4rem;
}

footer .option3 .content .text2 .line {
  float: left;
  padding: 0 30px;
}

footer .option3 .content .text2 .icon {
  float: right;
}

@media screen and (max-width: 768px) {
  footer .option3_sp {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
  }
  footer .option3_sp .c-content {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    border-top: 1px solid #26537e;
  }
  footer .option3_sp .c-content .width {
    width: 100%;
    display: inline-block;
  }
  footer .option3_sp .c-content img {
    margin-top: 10px;
    width: calc(560px/2);
  }
  footer .option3_sp .c-content .logo {
    margin-bottom: 30px;
  }
  footer .option3_sp .c-content .logo img {
    width: calc(314px/2);
  }
  footer .option3_sp .c-content a {
    text-decoration: none;
  }
  footer .option3_sp .c-content .c-btn {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    color: #bfccd9;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 0;
    border: 1px solid #809ab3;
  }
  footer .option3_sp .c-content .text {
    padding: 20px 0;
    color: #bfccd9;
    font-size: 1.1rem;
  }
  footer .option3_sp .c-content .icon {
    margin-top: 10px;
  }
  footer .option3_sp .c-content .icon img {
    width: calc(120px/2);
  }
}

footer .copy_right {
  width: 100%;
  height: 80px;
  border-top: 1px solid #26537e;
  color: #bfccd9;
  font-size: 1.2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  footer .copy_right {
    height: 60px;
    font-size: 1rem;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 9999999;
  background: none;
}

#myBtn:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  #myBtn img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
