/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.c-option1 {
  margin-top: 80px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-option1 .c-box {
  width: 300px;
  height: auto;
  float: left;
}

.c-option1 .c-box--2 {
  margin-left: 30px;
}

.c-option1 .c-box--3 {
  float: right;
}

.c-option1 .c-box .text {
  background: #0075a9;
  width: 300px;
  height: 125px;
  position: relative;
  border-radius: 0 0 10px 10px;
  color: #ffffff;
  font-size: 1.4rem;
}

.c-option1 .c-box .text h2 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 15px;
}

.c-option1 .c-box .text:before {
  content: "";
  background: url(../img/index/line.PNG) no-repeat center;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 0;
}

/*------------------------------------------------------------
	option1 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .c-option1_sp {
    width: 100%;
    height: auto;
    margin: 30px 0;
    display: inline-block;
  }
  .c-option1_sp .c-box {
    padding-top: 10px;
    width: 100%;
    height: auto;
    float: left;
    margin: 0 auto;
  }
  .c-option1_sp .c-box .img {
    width: 100%;
  }
  .c-option1_sp .c-box .img img {
    width: calc(560px/2);
  }
  .c-option1_sp .c-box .text {
    margin: 0 auto;
    background: #0075a9;
    width: 280px;
    height: 125px;
    position: relative;
    border-radius: 0 0 10px 10px;
    color: #ffffff;
    font-size: 1.3rem;
  }
  .c-option1_sp .c-box .text h2 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .c-option1_sp .c-box .text:before {
    content: "";
    background: url(../img/mobile/line1.png) no-repeat center;
    width: 100%;
    background-size: 5%;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 0;
  }
}

/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.c-option2 {
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-option2 .c-box {
  width: 300px;
  height: auto;
  float: left;
}

.c-option2 .c-box--2 {
  margin-left: 30px;
}

.c-option2 .c-box--3 {
  float: right;
}

.c-option2 .c-box .text {
  width: 300px;
  height: 100px;
  position: relative;
  border-radius: 0 0 10px 10px;
  color: #000000;
  font-size: 1.4rem;
}

.c-option2 .c-box .text h2 {
  color: #0068b7;
  padding-top: 20px;
  font-size: 1.6rem;
  padding-bottom: 12px;
}

/*------------------------------------------------------------
	option2 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .c-option2_sp {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .c-option2_sp .c-box {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
  }
  .c-option2_sp .c-box .img {
    width: 100%;
  }
  .c-option2_sp .c-box .img img {
    width: calc(560px/2);
  }
  .c-option2_sp .c-box--3 {
    padding-bottom: 0;
  }
}

/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.c-option3 {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: inline-block;
}

.c-option3 .content_left {
  width: 520px;
  height: 510px;
  float: left;
  text-align: left;
}

.c-option3 .content_left .c-content {
  margin-top: 40px;
}

.c-option3 .content_left .c-content .date {
  color: #0068b7;
  font-size: 1.4rem;
}

.c-option3 .content_left .c-content .text {
  margin-top: 10px;
  color: #333333;
  font-size: 1.6rem;
}

.c-option3 .c-title {
  position: relative;
  margin-bottom: 15px;
}

.c-option3 .c-title h2 {
  color: #111111;
  font-size: 2.4rem;
  font-weight: bold;
  padding-left: 35px;
}

.c-option3 .c-title:before {
  content: "";
  background: url(../img/index/line2.PNG) no-repeat;
  width: 25px;
  height: 40px;
  position: absolute;
  top: -10px;
}

.c-option3 .content_right {
  width: 440px;
  height: 510px;
  float: right;
  text-align: left;
}

.c-option3 .content_right .c-content {
  width: 100%;
  height: 100px;
  display: inline-block;
  margin-top: 20px;
}

.c-option3 .content_right .c-content .img {
  float: left;
}

.c-option3 .content_right .c-content .c-text {
  width: 350px;
  float: left;
  margin-left: 18px;
}

.c-option3 .content_right .c-content .c-text .date {
  color: #0068b7;
  font-size: 1.4rem;
}

.c-option3 .content_right .c-content .c-text .u-color {
  color: #666666;
  font-size: 1.4rem;
}

.c-option3 .content_right .c-content .c-text .text {
  margin-top: 10px;
  color: #333333;
  font-size: 1.6rem;
}

.c-option3 .button {
  width: 100%;
  display: inline-block;
  margin-bottom: 80px;
  margin-top: 40px;
}

.c-option3 .button .btn_left {
  width: 520px;
  float: left;
}

.c-option3 .button .btn_right {
  float: right;
  width: 440px;
}

.c-option3 .button a:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*------------------------------------------------------------
	option3 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .c-option3_sp {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 30px;
  }
  .c-option3_sp .c-title {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 90%;
  }
  .c-option3_sp .c-title .line {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .c-option3_sp .c-title .line img {
    width: calc(36px/2);
  }
  .c-option3_sp .c-title h2 {
    color: #111111;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }
  .c-option3_sp .c-content1 {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
  }
  .c-option3_sp .c-content1 .c-content {
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-option3_sp .c-content1 .c-content .c-text {
    width: 77%;
    float: left;
  }
  .c-option3_sp .c-content1 .c-content .c-text .date {
    margin-left: 20px;
    color: #0068b7;
    font-size: 1rem;
    width: 100%;
  }
  .c-option3_sp .c-content1 .c-content .c-text .text {
    padding-top: 15px;
    margin-left: 20px;
    width: 100%;
    color: #333333;
    font-size: 1.3rem;
  }
  .c-option3_sp .c-content1 .c-content .c-text--none {
    border-bottom: none;
  }
  .c-option3_sp .c-content2 {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
  }
  .c-option3_sp .c-content2 .c-content {
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-option3_sp .c-content2 .c-content .img {
    width: auto;
    float: left;
    margin-left: 20px;
  }
  .c-option3_sp .c-content2 .c-content .img img {
    width: calc(120px/2);
  }
  .c-option3_sp .c-content2 .c-content .date {
    color: #0068b7;
    font-size: 1rem;
    margin-left: 20px;
    padding-bottom: 15px;
  }
  .c-option3_sp .c-content2 .c-content .u-color {
    color: #666666;
    font-size: 1rem;
  }
  .c-option3_sp .c-content2 .c-content .c-text {
    width: 60%;
    float: left;
  }
  .c-option3_sp .c-content2 .c-content .c-text .text {
    width: auto;
    margin-left: 10px;
    color: #333333;
    font-size: 1.3rem;
  }
  .c-option3_sp .c-content2 .c-content--none {
    border-bottom: none;
  }
  .c-option3_sp .c-content:before {
    content: "";
    background: url(../img/mobile/more.PNG) no-repeat right;
    height: 12px;
    width: 80%;
    min-width: 270px;
    float: left;
    position: absolute;
    background-size: 7.5px 12px;
  }
}
