@charset "UTF-8";
body {
  min-width: 1920px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  background: url(../img/bg/gb1.PNG);
  background-repeat: repeat-y;
  background-size: 100%;
}

#container {
  margin: 0 auto;
  width: 1920px;
  height: auto;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

header .banner2 {
  width: 100%;
}

header .banner2 .flexslider1 {
  width: 100%;
}

header .banner2 .flexslider1 .slides {
  display: block;
}

header .banner2 .flexslider1 .content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  font-size: 3rem;
  font-weight: bold;
}

header .banner2 .flexslider1 .content .info {
  padding-top: 30px;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 40px;
}

header .banner2 .flexslider1 .content .info .img_left {
  float: left;
  height: 40px;
  padding-left: 30px;
}

header .banner2 .flexslider1 .content .info .img_left img {
  width: auto;
  height: 40px;
}

header .banner2 .flexslider1 .content .info .img_right {
  float: right;
  padding-right: 30px;
  height: 40px;
}

header .banner2 .flexslider1 .content .info .img_right img {
  width: auto;
  height: 40px;
}

header .banner2 .flexslider1 .content .info .img_right--margin {
  padding-right: 20px;
}

header .banner2 .flexslider1 .content .info .img_right:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .banner2 .flexslider1 .content .info .img_left:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .banner2 .flexslider1 .content .title {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner2 .flexslider1 .content .title img {
  width: 604px;
  height: 280px;
}

header .banner2 .flexslider1 img {
  width: 100%;
}

header .menu2_pc {
  width: 100%;
  height: 120px;
  margin-top: -120px;
  z-index: 999;
  position: relative;
}

header .menu2_pc .c-menu {
  width: 961px;
  margin: 0 auto;
}

header .menu2_pc .c-menu ul {
  height: 120px;
}

header .menu2_pc .c-menu ul li {
  float: left;
  width: 160px;
  height: 120px;
}

header .menu2_pc .c-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

header .menu2_pc .c-menu ul li a:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*------------------------------------------------------------
	option 1
------------------------------------------------------------*/
.c-option1 {
  width: 1842px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
}

.c-option1 .content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.c-option1 .content .c-box {
  width: 910px;
  height: auto;
  float: left;
}

.c-option1 .content .c-box .text {
  width: 910px;
  height: 50px;
  background: #0000007a;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.c-option1 .content .c-box .text p {
  margin-left: 30px;
}

.c-option1 .content .c-box--box2 {
  width: 445px;
  margin: 0 21px;
}

.c-option1 .content .c-box--box2 .text {
  width: 445px;
}

.c-option1 .content .c-box--box3 {
  width: 445px;
}

.c-option1 .content .c-box--box3 .img2 {
  margin-top: 20px;
}

.c-option1 .content .c-box--box3 .text {
  width: 445px;
}

.c-title {
  float: left;
  position: relative;
  display: inline-block;
  margin: 40px 0;
  height: auto;
  width: 100%;
}

.c-title h2 {
  float: left;
  color: #111111;
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 10px;
}

.c-title:before {
  content: "";
  background: url(../img/travel/line2.PNG) no-repeat;
  width: 25px;
  height: 40px;
  position: absolute;
  top: -5px;
  left: 0;
}

.text:before {
  content: "";
  background: url(../img/travel/line1.PNG) no-repeat center;
  position: absolute;
  width: 100%;
  height: 50px;
  top: -25px;
}

/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.c-option2 {
  width: 1842px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
}

.c-option2 .content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.c-option2 .content .c-box {
  width: 445px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.c-option2 .content .c-box .text {
  width: 445px;
  height: 125px;
  background: #0000007a;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: -125px;
  position: absolute;
  z-index: 1;
  text-align: left;
  border-radius: 0 0 10px 10px;
}

.c-option2 .content .c-box .text h2 {
  padding: 10px 30px;
  width: 77%;
}

.c-option2 .content .c-box .text p {
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  padding-left: 45px;
}

.c-option2 .content .c-box .text p:before {
  content: "";
  background: url(../img/travel/clock.png) no-repeat;
  width: 12px;
  height: 12px;
  top: 3px;
  left: 30px;
  position: absolute;
}

.c-option2 .content .c-box--box2 .text {
  height: 150px;
  margin-top: -150px;
}

.c-option2 .content .c-box--box3 .img2 {
  margin-top: 20px;
}

.c-option2 .content .c-box--box4 {
  margin-right: 0;
}

.c-option2 .content .c-box--box4 .img2 {
  margin-top: 20px;
}

.c-option2 .button {
  display: inline-block;
  margin: 20px 30px 10px 30px;
  height: auto;
  width: 400px;
}

.c-option2 .button a {
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 3px;
}

.c-option2 .button a:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.c-option2 .button .u-color1 {
  background: #32b16c;
}

.c-option2 .button .u-color2 {
  background: #7e6b5a;
}

.c-option2 .button .u-color3 {
  background: #8957a1;
}

.c-option2 .button .u-color4 {
  background: #0075a9;
}

.c-option2 .button .u-color5 {
  background: #f39800;
}

/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.c-option3 {
  width: 1842px;
  height: auto;
  display: inline-block;
  padding-bottom: 80px;
  margin: 0 auto;
}

.c-option3 .content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.c-option3 .content .c-box {
  width: 445px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.c-option3 .content .c-box .text {
  width: 445px;
  height: 85px;
  background: #0000007a;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: -85px;
  position: absolute;
  z-index: 1;
  text-align: left;
  border-radius: 0 0 10px 10px;
}

.c-option3 .content .c-box .text h2 {
  padding: 10px 30px;
  width: 82%;
}

.c-option3 .content .c-box .text p {
  padding-top: 20px;
  font-size: 1.2rem;
  margin-left: 30px;
  font-weight: 500;
  position: relative;
}

.c-option3 .content .c-box--box3 .img2 {
  margin-top: 20px;
}

.c-option3 .content .c-box--box4 {
  margin-right: 0;
}

.c-option3 .content .c-box--box4 .img2 {
  margin-top: 20px;
}

.c-option3 .button {
  display: inline-block;
  margin: 10px 0;
  height: auto;
  width: 100%;
}

.c-option3 .button a {
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 3px;
}

.c-option3 .button a:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.c-option3 .button .u-color1 {
  background: #32b16c;
}

.c-option3 .button .u-color2 {
  background: #7e6b5a;
}

.c-option3 .button .u-color3 {
  background: #8957a1;
}

.c-option3 .button .u-color4 {
  background: #0075a9;
}

.c-option3 .button .u-color5 {
  background: #f39800;
}

.c-btn {
  float: right;
  right: 0;
}

.c-btn:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer .option4 {
  background: url(../img/travel/bg_ft.png) no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
}

footer .option4 .content {
  width: 960px;
  margin: 0 auto;
  height: 150px;
}

footer .option4 .content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  float: left;
  font-size: 2rem;
  color: #111111;
  font-weight: bold;
}

footer .option4 .content .img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  float: right;
}

footer .option4 .content .img1--margin {
  margin-left: 20px;
}

footer .option4 .content .img1:hover {
  opacity: 0.7;
}

footer .option1 {
  height: 245px;
}

footer .option1 .content .title {
  text-align: left;
  padding-bottom: 25px;
}

footer .option1 .content .title--2 {
  margin-top: 25px;
}
