/*------------------------------------------------------------
	.c-btn1
------------------------------------------------------------*/
.c-btn1{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	a{
		text-decoration: none;
		color: #ffffff;
		font-size: 1.3rem;
	}
	a:hover{
		opacity: 0.7;
	}
	&__btn1{
		float: left;
		padding: 2px 10px;
		background: #555555;
		margin-right: 20px;
	}
	&__btn1:hover{
		opacity: 0.7;
	}
}
/*------------------------------------------------------------
	.c-btn1
------------------------------------------------------------*/
.c-btn2{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	a{
		text-decoration: none;
		color: #ffffff;
		font-size: 1.3rem;
	}

	&__btn1{
		float: left;
		padding: 3px 10px;
		background: #555555;
		border: 1px solid #ccc;
		margin-right: 5px;
		&--padding{
			padding: 3px 30px;
		}
	}
	&__btn1:hover{
		opacity: 0.7;
		background: #ffffff;
		a{
		color: #333;
		}
	}
}