/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer{
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: inline-block;
	border-top: 1px solid #555555;
	margin-top: 50px;
}
/*
------------------------------------------------------------*/
.c-footer{
	width: 100%;
	height: auto;
	padding: 30px 0 50px 0;
	margin: 0 auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__info{
		float: left;
		font-size: 1.4rem;
		color: #333333;
		.c-btn{
			padding-top: 20px;
			a{
				text-decoration: none;
				background: #888888;
				margin-right: 20px;
				color: #ffffff;
				width: 160px;
				padding: 8px;
				font-size: 1.5rem;
				font-weight: bold;
			}
			a:hover{
				opacity: 0.7;
			}
		}
	}
	//
	//-------------------------------------------------------
	&__menu{
		float: right;
		ul{
			li{
				float: left;
				font-weight: bold;
				font-size: 1.4rem;
				color: #000000;
				a{
					text-decoration: none;
					color: #333333;
					font-size: 1.4rem;
					font-weight: bold;
				}
				a:hover{
					color: #ccc;
				}
			}
		}
	}
}