@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function

/*------------------------------------------------------------
	Banner
------------------------------------------------------------*/
  .banner_sp{
    display: none;
  }
  .banner {
    text-align: center;
    background: url(../img/main/banner.jpg) no-repeat center top;
    height: 420px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 78px;
    .slogan {
      margin-bottom: 38px;
    }
  }


/*------------------------------------------------------------
	New
------------------------------------------------------------*/
.news_sp{
  display: none;
}
.new {
  width: 948px;
  height: 158px;
  border: 1px solid #dddddd;
  margin-bottom: 80px;
  float: left;
  .logo_new {
    float: left;
    height: 158px;
    width: 235px;
    .img_new {
      margin-top: 40px;
    }
    .img_lick {
      margin-top: 13px;
      	&:hover .image_button{
		opacity: 0.7;
		}
    }
  }
  .text {
    height: auto;
    float: left;
    font-size: 1.6rem;
    padding-left: 39px;
    margin-top: 30px;
    border-left: 2px solid #ddd;
    a {
      color: #000;
      margin-left: 7px;
    }
    li {
      padding: 4px 0px;
      .blue {
        color: #0e5b9a;
        float: left;
      }
    }
  }
}
@media screen and (max-width: 736px){
.news_sp {
    display: block;
  }
}
/*------------------------------------------------------------
	Construction
------------------------------------------------------------*/

.construction {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
  padding-top: 62px;
  background: #eeeeee;
  .construction_logo img {
    height: 46px;
  }
  .construction_text {
    padding-top: 32px;
    padding-left: 6px;
    font-size: 1.6rem;
  }
  .construction_button{
  	width: 950px;
  	height: 300px;
  	margin-top: 58px;
  	.more1{
  		float: left;
  		height: 226px;
  		width: 220px;
  		padding-left:35px;
  		}
  	.more2{
  		float: left;
  		height: 226px;
  		width: 220px;
  		padding-left:110px;
  		}
  	.more3{
  		float: left;
  		height: 226px;
  		width: 220px;
  		padding-left: 104px;
  		}
  	}

}
.construction_sp{
  display: none;
}
.construction_button_sp{
  display: none;
}
@media screen and (max-width: 736px) {
  .construction_sp{
  display: block;
  }
  .construction_button_sp{
  display: block;
  }
  .construction {
  padding-top: 9%;
    .construction_text{
      padding-top: 5%;
      padding-left: 0;
    }
  }
}
/*------------------------------------------------------------
	Alsok
------------------------------------------------------------*/
.alsok{
	width: 100%;
	height: 345px;
	margin: 0 auto;
	float: left;
	padding-top: 60px;
	background: #ffffff;
	.img_alsok{
		float: left;
		margin: -11px -56px;
		width: 504px;
		height: auto;
	}
	.content_alsok{
		width: auto;
	    height: 250px;
	    text-align: left;
	    margin: 22px 0px 0px 120px;
	    float: left;
		.logo_alsok{
			width: auto;
		}
		.text_alsok{
			font-size: 1.6rem;
			padding-top: 28px;
		}
		.btn_alsok{
			padding-top: 24px;
				&:hover .image_button{
				opacity: 0.7;
				}
		}
	}
}
.img_alsok_sp{
  display: none;
}
.alsok_sp{
  display: none;
}
@media screen and (max-width: 736px) {
  .img_alsok_sp{
  display: block;
  }
  .alsok_sp{
  display: block;
  }
}







