@charset "UTF-8";
/*------------------------------------------------------------
	.c-header
------------------------------------------------------------*/
.c-header {
  font-size: 1.2rem;
  width: 100%;
  background: #f8f8f8;
  margin: 0 auto;
  height: 30px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
------------------------------------------------------------*/
.c-infohd {
  width: 1160px;
  margin: 0 auto;
}

/*------------------------------------------------------------
	.c-gnavi
------------------------------------------------------------*/
.c-gnavi {
  width: 1160px;
  margin: 0 auto;
  display: inline-block;
  height: 63px;
  padding-top: 25px;
}

/*
------------------------------------------------------------*/
.c-logo {
  float: left;
}

/*
------------------------------------------------------------*/
.c-menu {
  float: right;
}

.c-menu ul {
  padding-top: 10px;
}

.c-menu ul li {
  float: left;
  margin-left: 20px;
}

.c-menu ul li a {
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.c-menu ul li a:hover {
  color: #888888;
  border-bottom: 2px solid #888888;
}

/*------------------------------------------------------------
	.c-slider1
------------------------------------------------------------*/
.c-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-slider1 .flexslider1 {
  width: 100%;
}

.c-slider1 .flexslider1 .slides {
  display: block;
}

.c-slider1 .flexslider1 img {
  width: 100%;
}

.c-slider1 .flex-control-nav {
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 10px;
  text-align: center;
}

.c-slider1 .flex-control-nav a {
  background: url(../img/page1/icon2.png) no-repeat center;
  height: 14px;
  width: 14px;
}

.c-slider1 .flex-control-nav a:hover {
  background: url(../img/page1/icon.png) no-repeat center;
  height: 14px;
  width: 14px;
}

.c-slider1 .flex-control-nav a.flex-active {
  background: url(../img/page1/icon.png) no-repeat center;
  height: 14px;
  width: 14px;
}

/*------------------------------------------------------------
	.c-list1
------------------------------------------------------------*/
.c-list1 {
  width: 100%;
  height: auto;
  border-bottom: 2px dotted #c5c5c5;
  margin-top: 50px;
  display: inline-block;
}

.c-list1 .title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #333333;
  padding-bottom: 10px;
}

.c-list1 .title .u-red {
  color: #bd0000;
  font-size: 1.1rem;
  font-weight: bold;
}

.c-list1 .title .u-color1 {
  color: #333333;
  font-size: 1.3rem;
  font-weight: bold;
}

.c-list1 .c-line {
  width: 100%;
  height: 40px;
  border-top: 2px dotted #c5c5c5;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.c-list1 .c-line .u-size {
  font-size: 1.4rem;
  font-weight: bold;
}

.c-list1 .c-line .u-bgcolor {
  background: #f78d6c;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  width: 70px;
  padding: 5px 0;
  text-align: center;
  margin: 0 10px;
}

.c-list1 .c-line .u-bgcolor--bg2 {
  background: #51c571;
}

.c-list1 .c-line .u-bgcolor--bg3 {
  background: #68b4ce;
}

/*------------------------------------------------------------
	.c-title1
------------------------------------------------------------*/
.c-title1 {
  width: 1160px;
  padding-top: 100px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  font-size: 2rem;
  color: #999999;
}

.c-title1 .u-size2 {
  font-size: 2rem;
  color: #000000;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

/*------------------------------------------------------------
	.c-nav1
------------------------------------------------------------*/
.c-nav1 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav1__box1 {
  float: left;
  width: 370px;
  height: auto;
}

.c-nav1__box1--margin {
  margin: 0 25px;
}

.c-nav1__img {
  width: 100%;
  height: auto;
}

.c-nav1__text {
  padding-top: 10px;
  width: 100%;
  font-size: 1.3rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-nav1__text h2 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

/*------------------------------------------------------------
	.c-nav2
------------------------------------------------------------*/
.c-nav2 {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: inline-block;
}

/*------------------------------------------------------------
	.c-entry1
------------------------------------------------------------*/
.c-entry1 {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #939393;
  padding: 30px 0;
  display: inline-block;
}

.c-entry1__img {
  float: left;
  width: 370px;
  height: auto;
}

.c-entry1__text {
  width: auto;
  float: left;
  margin-left: 30px;
  font-size: 1.3rem;
  color: #888888;
}

.c-entry1__text h2 {
  padding-top: 15px;
  font-size: 1.8rem;
  color: #000000;
}

.c-entry1__text p {
  padding-top: 25px;
  font-size: 1.6rem;
  color: #000000;
}

.c-entry1__text .u-bgred {
  padding: 2px 10px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 1.1rem;
  background: #bd0000;
}

/*
------------------------------------------------------------*/
.c-entry1:before {
  content: "";
  background: url(../img/page1/more.png) no-repeat right;
  background-size: 25px;
  width: 1100px;
  height: 215px;
  position: absolute;
  text-align: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  border-top: 1px solid #555555;
  margin-top: 50px;
}

/*------------------------------------------------------------
	.c-footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  height: auto;
  padding: 30px 0 50px 0;
  margin: 0 auto;
  display: inline-block;
}

.c-footer__info {
  float: left;
  font-size: 1.4rem;
  color: #333333;
}

.c-footer__info .c-btn {
  padding-top: 20px;
}

.c-footer__info .c-btn a {
  text-decoration: none;
  background: #888888;
  margin-right: 20px;
  color: #ffffff;
  width: 160px;
  padding: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.c-footer__info .c-btn a:hover {
  opacity: 0.7;
}

.c-footer__menu {
  float: right;
}

.c-footer__menu ul li {
  float: left;
  font-weight: bold;
  font-size: 1.4rem;
  color: #000000;
}

.c-footer__menu ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 1.4rem;
  font-weight: bold;
}

.c-footer__menu ul li a:hover {
  color: #ccc;
}
