@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 960px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	background: url(../img/bg/gb1.PNG);
	background-repeat: repeat-y;
	background-size: 100%;
}
#container {
	margin: 0 auto;
	width: 960px;
	height: auto;
}
.pc{
	display: block !important;
}
.sp{
	display: none !important;
}
.pc_1280{
	display: none !important;
}
.menu{
	display: none;
}
// @media screen and (max-width: 1280px) {
// 	body {
// 		min-width: 1920px;
// 		/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
// 		line-height: 1.5;
// 		text-align: center;
// 		background: url(../img/bg/gb1.PNG);
// 		background-repeat: repeat-y;
// 		background-size: 100%;
// 	}
// 	.banner.pc{
// 		display: none !important;
// 	}
// 	.pc_1280{
// 		display: block !important;
// 		width: 1280px !important;
// 		margin: 0 auto;
// 	}
// }
@media screen and (max-width: 768px) {
	body{
		    min-width: 320px;
	}
	.pc{
		display: none !important;
	}
	.sp{
		display: block !important;
	}

}
/*------------------------------------------------------------
	header pc
------------------------------------------------------------*/
header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	.banner{
		width: 100%;
		.flexslider1{
				width: 100%;
			.slides{
		  		display: block;
		  	}
		  	.content{
		  		width: 100%;
		  		height: 100%;
			  	position: absolute;
			  	z-index: 9;
			  	font-size: 3rem;
			  	font-weight: bold;
			  	.info{
			  		padding-top: 30px;
			  		position: absolute;
			  		z-index: 99;
			  		width: 100%;
			  		height: 40px;
			  		.img_left{
			  			float: left;
			  			height: 40px;
			  			padding-left: 30px;
			  			img{
			  				width: auto;
			  				height: 40px;
			  			}
			  		}
			  		.img_right{
			  			float: right;
			  			padding-right: 30px;
			  			height: 40px;
			  			img{
			  				width: auto;
			  				height: 40px;
			  			}
			  		}
			  		.img_right:hover{
			  			opacity: 0.5;
						transition-duration: 0.5s;
			  		}
			  		.img_left:hover{
			  			opacity: 0.5;
						transition-duration: 0.5s;
			  		}
			  	}

			  	.title{
			  		position: absolute;
			  		z-index: 9;
			  		width: 100%;
			  		height: 100%;
			  		text-align: left;
			  		display: flex;
					align-items: center;
			  		img{
			  			width: 604px;
			  			height: 280px;
			  		}
			  	}
		  	}
			 img{
			  	width: 100%;
			}
		}
	}
	.menu_pc{
		width: 100%;
		height: 120px;
		border-bottom: 1px solid #0075a9;
		background: #ffffff;
		.c-menu{
			width: 961px;
			margin: 0 auto;
			ul{
				border-right: 1px solid #e8e8e8;
				height: 120px;
				li{
					float: left;
					width: 159px;
					height: 120px;
					border-left: 1px solid #e8e8e8;
					a{
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
					}
					a:hover{
						// background: #079fe294;
						opacity: 0.5;
						transition-duration:0.5s;
					}
				}
			}
		}
	}
}
/*------------------------------------------------------------
	header sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	#container {
		margin: 0 auto;
		min-width: 320px;
		height: auto;
		width: 100%;
	}
	.banner2{
		width: 100%;
		.flexslider1{
				width: 100%;
			.slides{
		  		display: block;
		  	}
		  	.content{
		  		width: 100%;
		  		height: 100%;
			  	position: absolute;
			  	z-index: 9;
			  	font-size: 3rem;
			  	font-weight: bold;
			  	.info{
			  		padding-top: 20px;
			  		position: relative;
			  		z-index: 99;
			  		width: 100%;
			  		.logo{
			  			float: left;
			  			padding-left: 20px;
			  			img{
			  				width: calc(315px/2);
			  			}
			  		}
			  	}
			  	.title_sp{
			  		margin-top: 45px;
			  		position: relative;
			  		z-index: 9;
			  		width: 100%;
			  		text-align: left;
			  		img{
			  			width: calc(600px/2);
			  		}
			  	}
		  	}
			 img{
			  	width: 100%;
			}
		}
	}
	.menu_sp{
		position: absolute;
		min-width: 320px;
		z-index: 999;
		width: 100%;
		height: 60px;
		.iconmenu{
			margin: 10px;
			float: right;
		    background: #ffffff;
		    padding: 10px;
		    display: inline-block;
		    border-radius: 5px;
		    position: relative;
		    z-index: 999;
		}
		.bar1, .bar2, .bar3 {
		    width: 20px;
		    height: 2px;
		    background-color: #0075a9;
		    margin: 4px 0;
		    transition: 0.4s;
		}
		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
		    transform: rotate(-45deg) translate(-4px, 4px);
		}

		.change .bar2 {opacity: 0;}

		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-3px, -3px);
		    transform: rotate(45deg) translate(-5px, -4px);
		}
	}
	.menu{
		min-width: 320px;
		display: none;
	  	position: absolute;
	  	z-index: 998;
	  	width: 100%;
	  	height: auto;
	  	background: #ffffff;
	  	.logomenu{
	  		width: 100%;
	  		height: 60px;
	  		border-bottom: 1px solid #0075a9;
	  		display: flex;
			align-items: center;
	  		img{
	  			padding-left: 20px;
	  			width: calc(418px/2);
	  		}
	  	}
	  	ul{
	  		li{
	  			display: flex;
				align-items: center;
	  			height: 60px;
	  			border-bottom: 1px solid #e8e8e8;
	  			img{
	  				width: auto;
	  				height: 24px;
	  				padding-left: 20px;
	  			}
	  		}
	  	}
	}
	.accordion {
		height: auto;
		cursor: pointer;
		width: 100%;
		float: left;
		outline: none;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		 justify-content: space-between;
	}
	.accordion:after {
	    content: "";
	    background: url(../img/mobile/iconmenu1.PNG) no-repeat center;
	    background-size: cover;
	    width: 20px;
	    height: 20px;
	    margin-right: 20px;
	    display: inline-block;
	}

	.active:after {
	    content: "";
	    background: url(../img/mobile/iconmenu11.PNG) no-repeat center;
	    background-size: cover;
	    width: 20px;
	    height: 20px;
	}
	.submenu {
		padding: 0px 1px 0px 0px;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.2s ease-out;
		transition: max-height 0.2s ease-out;
		li{
			width: 100%;
			height: 50px !important;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			 justify-content: space-between;
			a{
				margin-left: 60px;
				text-decoration: none;
				color: #333333;
				font-size: 1.3rem;
			}
		}
		li::after {
		    content: "";
		    background: url(../img/mobile/iconmenu2.PNG) no-repeat center;
		    background-size: cover;
		    width: 20px;
		    height: 20px;
		    margin-right: 20px;
		    display: inline-block;
		}
	}


}
/*------------------------------------------------------------
	footer pc
------------------------------------------------------------*/
footer{
	width: 100%;
	height: auto;
	background: #003567;
	.option1{
		background: #f8f8f8;
		width: 100%;
		height: 420px;
		margin: 0 auto;
		border-bottom: 1px solid #e8e8e8;
		border-top: 1px solid #0075a9;
		.content{
			width: 960px;
			height: auto;
			margin: 0 auto;
			.title{
				text-align: left;
				padding-top: 60px;
				color: #003567;
				font-size: 1.5rem;
				font-weight: bold;
			}
			.u-blue{
				margin-top: 40px;
				color: #003567;
				font-size: 1.5rem;
				font-weight: bold;
			}
			ul{
				li{
					width: 20%;
					float: left;
					text-align: left;
					a{
						display: block;
						position: relative;
						color: #333333;
						text-decoration: none;
						padding-top: 10px;
						padding-left: 20px;
						font-size: 1.3rem;
					}
					a:before{
						content: "";
						background: url(../img/footer/icon_more.png) no-repeat;
					    width: 15px;
					    height: 15px;
					    position: absolute;
					    top: 14px;
					    left: 5px;
					}
					a:hover{
						opacity: 0.5;
						transition-duration:0.5s;
					}
				}
				.top{
					padding-top: 40px;
				}
			}
		}
	}
/*------------------------------------------------------------
	option2 pc
------------------------------------------------------------*/
	.option2{
		width: 100%;
		height: 150px;
		background: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		.content{
			width: 960px;
			height: 72px;
			margin: 0 auto;
			.c-box{
				float: left;
				margin-right: 15px;
				&--margin{
					margin-right: 0;
				}
			}
			.c-box:hover{
				transition-duration: 0.5s;
				opacity: 0.7;
			}
		}
	}
/*------------------------------------------------------------
	option2 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.option2_sp{
		width: 100%;
		border-top: 2px solid #0075a9;
		height: auto;
		margin: 0 auto;
		display: flex;
		background: #ffffff;
		.content{
			width: 90%;
			height: auto;
			margin: 0 auto;
			padding: 30px 0;
			.c-box{
				padding-top: 10px;
				width: 50%;
				float: left;
				img{
					width: calc(270px/2);
				}
			}
		}
	}
}
/*------------------------------------------------------------
	option3 pc
------------------------------------------------------------*/
	.option3{
		width: 100%;
		height: 290px;
		margin: 0 auto;
		.content{
			width: 960px;
			height: 290px;
			margin: 0 auto;
		.img{
			width: 100%;
			height: 60px;
			padding-top: 70px;
			.logo{
				float: left;
			}
			.img2{
				float: right;
			}
			.img1{
				float: right;
				margin-right: 20px;
			}
			.logo:hover, .img2:hover, .img1:hover{
				opacity: 0.5;
				transition-duration: 0.5s;
			}
		}
		.text2{
			width: 960px;
			margin-top: 45px;
			color: #bfccd9;
			height: 100px;
			.text1{
				text-align: left;
				float: left;
				font-size: 1.2rem;
				h2{
					font-size: 1.4rem;
				}
			}
			.line{
				float: left;
				padding: 0 30px;
			}
			.icon{
				float: right;
			}
		}
		}
	}
/*------------------------------------------------------------
	option3 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.option3_sp{
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: inline-block;
		.c-content{
			width: 100%;
			margin: 0 auto;
			padding: 30px 0;
			border-top: 1px solid #26537e;
			.width{
				width: 100%;
				display: inline-block;
			}
			img{
				margin-top: 10px;
				width: calc(560px/2);
			}
			.logo{
				margin-bottom: 30px;
				img{
					width: calc(314px/2);
				}
			}
			a{
				text-decoration: none;
			}
			.c-btn{
				width: 90%;
				height: auto;
				margin: 0 auto;
				border-radius: 5px;
				color: #bfccd9;
				font-size: 1.3rem;
				font-weight: bold;
				padding: 5px 0;
				border: 1px solid #809ab3;
			}
			.text{
				padding: 20px 0;
				color: #bfccd9;
				font-size: 1.1rem;
			}
			.icon{
				margin-top: 10px;
				img{
					width: calc(120px/2);
				}
			}
		}
	}

}
	.copy_right{
		width: 100%;
		height: 80px;
		border-top: 1px solid #26537e;
		color: #bfccd9;
		font-size: 1.2rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;

	}
/*------------------------------------------------------------
	copyright sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.copy_right{
		height: 60px;
		font-size: 1rem;
	}
}

}
#myBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 9999999;
  background: none;
}
#myBtn:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
@media screen and (max-width: 768px) {
	#myBtn {
		img{
			width: 40px;
			height: 40px;
			margin-bottom: 10px;
		}
	}
}