@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.c-option1{
	margin-top: 80px;
	width: 100%;
	height: auto;
	display: inline-block;
	.c-box{
		width: 300px;
		height: auto;
		float: left;
		&--2{
			margin-left: 30px;
		}
		&--3{
			float: right;
		}
		.text{
			background: #0075a9;
			width: 300px;
			height: 125px;
			position: relative;
			border-radius: 0 0 10px 10px;
			color: #ffffff;
			font-size: 1.4rem;
			h2{
				padding-top: 30px;
				font-weight: bold;
				font-size: 1.6rem;
				padding-bottom: 15px;
			}

		}
		.text:before{
			content: "";
			background: url(../img/index/line.PNG) no-repeat center;
			width: 100%;
		    height: 30px;
		    position: absolute;
		    top: -15px;
		    left: 0;
		}
	}
}
/*------------------------------------------------------------
	option1 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.c-option1_sp{
		width: 100%;
		height: auto;
		margin: 30px 0;
		display: inline-block;
		.c-box{
			padding-top: 10px;
			width: 100%;
			height: auto;
			float: left;
			margin: 0 auto;
			&--2{
			}
			&--3{
			}
			.img{
				width: 100%;
				img{
					width: calc(560px/2);
				}
			}
			.text{
				margin: 0 auto;
				background: #0075a9;
				width: 280px;
				height: 125px;
				position: relative;
				border-radius: 0 0 10px 10px;
				color: #ffffff;
				font-size: 1.3rem;
				h2{
					padding-top: 30px;
					font-weight: bold;
					font-size: 1.5rem;
					padding-bottom: 10px;
				}

			}
			.text:before{
				content: "";
				background: url(../img/mobile/line1.png) no-repeat center;
				width: 100%;
				background-size: 5%;
			    height: 30px;
			    position: absolute;
			    top: -15px;
			    left: 0;
			}
		}
	}
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.c-option2{
	margin-top: 60px;
	width: 100%;
	height: auto;
	display: inline-block;
	.c-box{
		width: 300px;
		height: auto;
		float: left;
		&--2{
			margin-left: 30px;
		}
		&--3{
			float: right;
		}
		.text{
			width: 300px;
			height: 100px;
			position: relative;
			border-radius: 0 0 10px 10px;
			color: #000000;
			font-size: 1.4rem;
			h2{
				color: #0068b7;
				padding-top: 20px;
				font-size: 1.6rem;
				padding-bottom: 12px;
			}

		}
	}
}
/*------------------------------------------------------------
	option2 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.c-option2_sp{
		width: 100%;
		height: auto;
		display: inline-block;
		.c-box{
			width: 100%;
			height: auto;
			float: left;
			padding-bottom: 10px;
			.img{
				width: 100%;
				img{
					width: calc(560px/2);
				}
			}
			&--3{
				padding-bottom: 0;
			}
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.c-option3{
	width: 100%;
	height: auto;
	margin-top: 80px;
	display: inline-block;
	.content_left{
		width: 520px;
		height: 510px;
		float: left;
		text-align: left;
		.c-content{
			margin-top: 40px;
			.date{
				color: #0068b7;
				font-size: 1.4rem;
			}
			.text{
				margin-top: 10px;
				color: #333333;
				font-size: 1.6rem;
			}
		}
	}
	.c-title{
		position: relative;
		margin-bottom: 15px;
		h2{
			color: #111111;
			font-size: 2.4rem;
			font-weight: bold;
			padding-left: 35px;
		}
	}
	.c-title:before{
		content: "";
		background: url(../img/index/line2.PNG) no-repeat;
		width: 25px;
		height: 40px;
		position: absolute;
		top: -10px;
	}
	.content_right{
		width: 440px;
		height: 510px;
		float: right;
		text-align: left;
		.c-content{
			width: 100%;
			height: 100px;
			display: inline-block;
			margin-top: 20px;
			.img{
				float: left;
			}
			.c-text{
				width: 350px;
				float: left;
				margin-left: 18px;
				.date{
					color: #0068b7;
					font-size: 1.4rem;
				}
				.u-color{
					color: #666666;
					font-size: 1.4rem;
				}
				.text{
					margin-top: 10px;
					color: #333333;
					font-size: 1.6rem;
				}
			}
		}
	}
	.button{
		width: 100%;
		display: inline-block;
		margin-bottom: 80px;
		margin-top: 40px;
		.btn_left{
			width: 520px;
			float: left;
		}
		.btn_right{
			float: right;
			width: 440px;
		}
		a:hover{
			opacity: 0.7;
			transition-duration: 0.5s;
		}
	}
}
/*------------------------------------------------------------
	option3 sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.c-option3_sp{
		width: 100%;
		height: auto;
		display: inline-block;
		margin-bottom: 30px;
		.c-title{
			position: relative;
			padding-top: 30px;
			padding-bottom: 20px;
			margin: 0 auto;
			width: 90%;
			.line{
				width: 100%;
				margin: 0 auto;
				text-align: center;
				padding-bottom: 15px;
				img{
					width: calc(36px/2);
				}
			}
			h2{
				color: #111111;
				font-size: 1.6rem;
				font-weight: bold;
				text-align: center;
			}
		}
		.c-content1{
			width: 90%;
			height: auto;
			margin: 0 auto;
			text-align: left;
			border: 1px solid #d6d6d6;
			border-radius: 5px;
			.c-content{
				padding: 20px 0;
				border-bottom: 1px solid #d6d6d6;
				margin: 0 auto;
				display: flex;
				align-items: center;
				.c-text{
						width: 77%;
						float: left;
					.date{
						margin-left: 20px;
						color: #0068b7;
						font-size: 1rem;
						width: 100%;
					}
					.text{
						padding-top: 15px;
						margin-left: 20px;
						width: 100%;
						color: #333333;
						font-size: 1.3rem;
					}
					&--none{
						border-bottom: none;
					}
				}
			}
		}
		.c-content2{
			width: 90%;
			height: auto;
			margin: 0 auto;
			text-align: left;
			border: 1px solid #d6d6d6;
			border-radius: 5px;
			.c-content{
				padding: 20px 0;
				border-bottom: 1px solid #d6d6d6;
				margin: 0 auto;
				width: 100%;
				display: flex;
				align-items: center;
				.img{
					width: auto;
					float: left;
					margin-left: 20px;
					img{
						width: calc(120px/2);
					}
				}
				.date{
					color: #0068b7;
					font-size: 1rem;
					margin-left: 20px;
					padding-bottom: 15px;
				}
				.u-color{
					color: #666666;
					font-size: 1rem;
				}
				.c-text{
					width: 60%;
					float: left;
					.text{
						width: auto;
						margin-left: 10px;
						color: #333333;
						font-size: 1.3rem;
					}
				}
				&--none{
					border-bottom: none;
				}
			}
		}
		.c-content:before{
			content: "";
			background: url(../img/mobile/more.PNG) no-repeat right;
			height: 12px;
			width: 80%;
			min-width: 270px;
		    float: left;
		    position: absolute;
			background-size: 7.5px 12px;
		}
	}
}
