@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
body{
	min-width: 1920px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	background: url(../img/bg/gb1.PNG);
	background-repeat: repeat-y;
	background-size: 100%;
}

#container {
	margin: 0 auto;
	width: 1920px;
	height: auto;
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	.banner2{
		width: 100%;
		.flexslider1{
				width: 100%;
			.slides{
		  		display: block;
		  	}
		  	.content{
		  		width: 100%;
		  		height: 100%;
			  	position: absolute;
			  	z-index: 9;
			  	font-size: 3rem;
			  	font-weight: bold;
			  	.info{
			  		padding-top: 30px;
			  		position: absolute;
			  		z-index: 99;
			  		width: 100%;
			  		height: 40px;
			  		.img_left{
			  			float: left;
			  			height: 40px;
			  			padding-left: 30px;
			  			img{
			  				width: auto;
			  				height: 40px;
			  			}
			  		}
			  		.img_right{
			  			float: right;
			  			padding-right: 30px;
			  			height: 40px;
			  			img{
			  				width: auto;
			  				height: 40px;
			  			}
			  			&--margin{
			  				padding-right: 20px;
			  			}
			  		}
			  		.img_right:hover{
			  			opacity: 0.5;
						transition-duration: 0.5s;
			  		}
			  		.img_left:hover{
			  			opacity: 0.5;
						transition-duration: 0.5s;
			  		}
			  	}

			  	.title{
			  		position: absolute;
			  		z-index: 9;
			  		width: 100%;
			  		height: 100%;
			  		text-align: left;
			  		display: flex;
					align-items: center;
			  		img{
			  			width: 604px;
			  			height: 280px;
			  		}
			  	}
		  	}
			 img{
			  	width: 100%;
			}
		}
	}
	.menu2_pc{
		width: 100%;
		height: 120px;
		margin-top: -120px;
		z-index: 999;
		position: relative;
		.c-menu{
			width: 961px;
			margin: 0 auto;
			ul{
				height: 120px;
				li{
					float: left;
					width: 160px;
					height: 120px;
					a{
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
					}
					a:hover{
						// background: #079fe294;
						opacity:  0.5;
						transition-duration:0.5s;
					}
				}
			}
		}
	}

}

/*------------------------------------------------------------
	option 1
------------------------------------------------------------*/
.c-option1{
	width: 1842px;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	.content{
		width: 100%;
		height: auto;
		margin: 0 auto;
		.c-box{
			width: 910px;
			height: auto;
			float: left;
			.text{
				width: 910px;
				height: 50px;
				background: #0000007a;
				font-size: 1.6rem;
				color: #ffffff;
				font-weight: bold;
				display: flex;
				align-items: center;
				margin-top: -50px;
				position: relative;
				z-index: 1;
				border-radius: 0 0 10px 10px;
				p{
					margin-left: 30px;
				}
			}

			&--box2{
				width: 445px;
				margin: 0 21px;
				.text{
					width: 445px;
				}
			}
			&--box3{
				width: 445px;
				.img2{
					margin-top: 20px;
				}
				.text{
					width: 445px;
				}
			}
		}
	}
}
.c-title{
	float: left;
	position: relative;
	display: inline-block;
	margin: 40px 0;
	height: auto;
	width: 100%;
	h2{
		float: left;
		color: #111111;
		font-size: 1.6rem;
		font-weight: bold;
		padding-left: 30px;
		padding-top: 10px;
	}
}
.c-title:before{
	content: "";
	background: url(../img/travel/line2.PNG) no-repeat;
	width: 25px;
	height: 40px;
	position: absolute;
	top: -5px;
	left: 0;
}
.text:before{
	content: "";
	background: url(../img/travel/line1.PNG) no-repeat center;
	position: absolute;
	width: 100%;
	height: 50px;
	top: -25px;
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.c-option2{
	width: 1842px;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	.content{
		width: 100%;
		height: auto;
		margin: 0 auto;
		.c-box{
			width: 445px;
			height: auto;
			float: left;
			margin-right: 20px;
			.text{
				width: 445px;
				height: 125px;
				background: #0000007a;
				font-size: 1.6rem;
				color: #ffffff;
				font-weight: bold;
				margin-top: -125px;
				position: absolute;
				z-index: 1;
				text-align: left;
				border-radius: 0 0 10px 10px;
				h2{
					padding: 10px 30px;
					width: 77%;
				}
				p{
					font-size: 1.2rem;
					font-weight: 500;
					position: relative;
					padding-left: 45px;
				}
				p:before{
					content: "";
					background: url(../img/travel/clock.png) no-repeat ;
					width: 12px;
					height: 12px;
					top: 3px;
					left: 30px;
					position: absolute;
				}
			}
			&--box2{
				.text{
					height: 150px;
					margin-top: -150px;
				}
			}
			&--box3{
				.img2{
					margin-top: 20px;
				}
			}
			&--box4{
				margin-right: 0;
				.img2{
					margin-top: 20px;
				}
			}
		}
	}
	.button{
		display: inline-block;
		margin:  20px 30px 10px 30px;
		height: auto;
		width: 400px;
		a{
			color: #ffffff;
			font-size: 1.2rem;
			text-decoration: none;
			font-weight: bold;
			padding: 6px 20px;
			border-radius: 3px;
		}
		a:hover{
			opacity: 0.7;
			transition-duration:0.5s;
		}
		.u-color1{
			background: #32b16c;
		}
		.u-color2{
			background: #7e6b5a;
		}
		.u-color3{
			background: #8957a1;
		}
		.u-color4{
			background: #0075a9;
		}
		.u-color5{
			background: #f39800;
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.c-option3{
	width: 1842px;
	height: auto;
	display: inline-block;
	padding-bottom: 80px;
	margin: 0 auto;
	.content{
		width: 100%;
		height: auto;
		margin: 0 auto;
		.c-box{
			width: 445px;
			height: auto;
			float: left;
			margin-right: 20px;
			.text{
				width: 445px;
				height: 85px;
				background: #0000007a;
				font-size: 1.6rem;
				color: #ffffff;
				font-weight: bold;
				margin-top: -85px;
				position: absolute;
				z-index: 1;
				text-align: left;
				border-radius: 0 0 10px 10px;
				h2{
					padding: 10px 30px;
					width: 82%;
				}
				p{
					padding-top: 20px;
					font-size: 1.2rem;
					margin-left: 30px;
					font-weight: 500;
					position: relative;
				}
			}
			&--box2{
			}
			&--box3{
				.img2{
					margin-top: 20px;
				}
			}
			&--box4{
				margin-right: 0;
				.img2{
					margin-top: 20px;
				}
			}
		}
	}
	.button{
		display: inline-block;
		margin:  10px 0;
		height: auto;
		width: 100%;
		a{
			color: #ffffff;
			font-size: 1.2rem;
			text-decoration: none;
			font-weight: bold;
			padding: 6px 20px;
			border-radius: 3px;
		}
		a:hover{
			opacity: 0.7;
			transition-duration:0.5s;
		}
		.u-color1{
			background: #32b16c;
		}
		.u-color2{
			background: #7e6b5a;
		}
		.u-color3{
			background: #8957a1;
		}
		.u-color4{
			background: #0075a9;
		}
		.u-color5{
			background: #f39800;
		}
	}
}
.c-btn{
	float: right;
	right: 0;
}
.c-btn:hover{
	opacity: 0.5;
	transition-duration: 0.5s;
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

footer {
	.option4{
		background: url(../img/travel/bg_ft.png) no-repeat ;
		background-size:  cover;
		height: 150px;
		width: 100%;
		.content{
			width: 960px;
			margin: 0 auto;
			height: 150px;
			.title{
				display: flex;
				align-items: center;
				height: 150px;
				float: left;
				font-size: 2rem;
				color: #111111;
				font-weight: bold;
			}
			.img1{
				display: flex;
				align-items: center;
				height: 150px;
				float: right;
				&--margin{
					margin-left: 20px;
				}
			}
			.img1:hover{
				opacity: 0.7;
			}
		}
	}
	.option1 {
		height: 245px;
		.content .title {
			text-align: left;
			padding-bottom: 25px;
			&--2{
				margin-top: 25px;
			}
		}
	}
}
