/*
 * |---:[Đoạn này sẽ chứa các đoạn giới thiệu và thông tin về theme, như tên theme (Theme Name), tên tác giả (Theme Author), địa chỉ của tác giả (Author URI),...]:---|
 * Theme Name: Template Blog
 * Description: Blog Home - Start Bootstrap Template
 * Version: 1.0
 * Theme Author: LeVanDuc
 * Author URI: https://www.facebook.com/levanduc.dev
 * Tags: starter theme, framework theme, two-columns, customize
 * Textdomain: levanduc.org
 */
body{
	background: red;
}
li{
	margin-left: 20px;
	text-decoration: none;
}
ul#menu-home li a{
	font-size: 16px;
	color: #ccc;
}

ul#menu-home li a:hover{
	color: #fff;
	text-decoration: none;
}

.card-title{
	color: #000;
}
.card-text {
	text-align: left;

}
.colora{
	color: #007bff;
}
.colora:hover{
	color: #4493e4fc;
	text-decoration: underline;
}
ul.list-unstyled.mb-0 li{
	float: left;
	width: 40%;
}
ul.list-unstyled.mb-0{
}