/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  margin-bottom: 100px;
  background: url(../img/case/banner.JPG) no-repeat center top;
  width: 100%;
  height: 276px;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.banner .img_text {
  width: 1080px;
  margin: 0 auto;
}

.banner .img_text img {
  margin-top: 110px;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

.button_option {
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_option .button1 {
  float: left;
  margin: 20px;
  width: auto;
}

.button_option .button1 #icon_button1 img {
  float: right;
}

.button_option .button1 .icon_1 .open {
  display: block;
}

.button_option .button1 .icon_1 .close {
  display: none;
}

.button_option .button1 .open {
  display: none;
}

.button_option .button1 .close {
  display: block;
}

/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option_content1 {
  width: 100%;
  height: auto;
  padding-bottom: 113px;
  margin: 0 auto;
}

.option_content1 .title {
  padding-top: 60px;
  height: 30px;
  width: 1080px;
  margin: 0 auto;
  color: #025995;
  border-bottom: 1px solid #025995;
}

.option_content1 .title h1 {
  font-size: 23px;
}

.option_content1 .option1 {
  width: 1080px;
  height: 425px;
  margin: 0 auto;
  padding-top: 30px;
}

.option_content1 .option1 .title_option {
  width: 100%;
  text-align: left;
  background: #e1f0fa;
  margin: 33px 0;
}

.option_content1 .option1 .title_option h1 {
  font-size: 20px;
  color: #025995;
  padding: 10px 0;
  margin-left: 20px;
}

.option_content1 .option1 .content {
  width: 1080px;
  height: auto;
  margin: 0 auto;
}

.option_content1 .option1 .content .img_content {
  float: left;
  width: 430px;
  height: 300px;
}

.option_content1 .option1 .content .img_content a {
  width: 430px;
  height: 300px;
}

.option_content1 .option1 .content .table_content {
  width: 580px;
  height: auto;
  float: right;
}

.option_content1 .option1 .content .table_content table, .option_content1 .option1 .content .table_content th, .option_content1 .option1 .content .table_content td {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.option_content1 .option1 .content .table_content table {
  width: 580px;
}

.option_content1 .option1 .content .table_content table .td_left {
  text-align: left;
  width: 132px;
  padding-left: 40px;
}

.option_content1 .option1 .content .table_content table .td_left h1 {
  color: #0361a7;
  font-size: 13px;
}

.option_content1 .option1 .content .table_content table h1 {
  margin: 17px 0;
}

.option_content1 .option1 .content .table_content table td {
  text-align: left;
}

.option_content1 .option1 .content .table_content table td h1 {
  font-size: 13px;
}
