@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1200px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.center {
  width: 1200px;
  margin: 0 auto;
  height: auto;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

.hover {
  position: relative;
  width: 100%;
  height: auto;
}

.img_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.hover:hover .img_hover {
  opacity: 1;
}

.img_over {
  display: block;
  height: auto;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  text-align: center;
}

#header .contact {
  width: 100%;
  height: 47px;
  margin: 0 auto;
  text-align: center;
  background: #015294;
}

#header .contact .contact_header {
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  width: 1080px;
}

#header .contact .contact_header .text {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  float: left;
  width: auto;
}

#header .contact .contact_header .img_text {
  float: right;
  padding-right: 20px;
  width: 356px;
}

#header .contact .contact_header .button_contact {
  float: right;
  width: 154px;
  height: 30px;
}

#header .menu_header {
  width: 1080px;
  height: 57px;
  margin: 0 auto;
  padding-top: 15px;
}

#header .menu_header .logo {
  float: left;
  width: 294px;
  height: 43px;
}

#header .menu_header .menu {
  float: right;
  width: 696px;
  margin-top: 6px;
  height: 40px;
}

#header .menu_header .menu ul li {
  width: auto;
  height: 30px;
  float: left;
  border-right: 1px solid #cecece;
}

#header .menu_header .menu ul li a {
  height: 40px;
  float: left;
  margin: 0px 2px 0px 2px;
}

#header .menu_header .menu ul li a img {
  margin: 0px 22px 0px 22px;
}

#header .menu_header .menu ul .li_border {
  border-left: 1px solid #cecece;
}

#header .btn_menu {
  height: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#009FBB), to(#009FBB));
  background: -webkit-linear-gradient(#009FBB, #009FBB);
  background: linear-gradient(#009FBB, #009FBB);
  background-size: 0 4px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

#header .btn_menu:hover {
  background-size: 100% 4px, auto;
}

#header .menu_border {
  border-bottom: 4px solid #009FBB;
  height: 36px;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  width: 100%;
  height: auto;
  background: #003c7f;
}

#footer .banner {
  margin-bottom: 0;
  background: url(../img/banner_footer.PNG) no-repeat center top;
  width: 100%;
  height: 108px;
  background-size: cover;
}

#footer .content {
  margin: 0 auto;
  width: 1080px;
  height: 128px;
  padding-top: 40px;
}

#footer .content .option_ft1 {
  float: left;
  text-align: left;
  width: 422px;
  height: 100px;
}

#footer .content .option_ft1 h1 {
  margin-top: 20px;
  font-size: 12px;
  color: #ffffff;
}

#footer .content .option_ft2 {
  float: left;
  text-align: left;
  width: 280px;
  height: 100px;
  border-left: 1px solid #ffffff;
  padding-left: 25px;
  color: #ffffff;
  font-size: 12px;
}

#footer .content .option_ft2 img {
  margin-top: 10px;
  margin-bottom: 15px;
}

#footer .content .option_ft3 {
  float: right;
  width: 329px;
  height: 100px;
}

#footer .content .option_ft3 .menu_footer {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 13px;
}

#footer .content .option_ft3 .menu_footer table td a {
  float: left;
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
}

#footer .content .option_ft3 .menu_footer table td a:hover {
  color: #608fbf;
}

#footer .content .option_ft3 .menu_footer table .td_3 {
  float: right;
}

#footer .copyright {
  background: #002f64;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .copyright h1 {
  margin: 0 auto;
  font-size: 12px;
  color: #608fbf;
  font-weight: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 91px;
  right: 122px;
  z-index: 99;
  background: none;
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
