/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  background: url(../img/company/banner.JPG) no-repeat center top;
  width: 100%;
  height: 276px;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.banner .img_text {
  width: 1080px;
  margin: 0 auto;
}

.banner .img_text img {
  margin-top: 110px;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.option1 .option_content {
  padding-top: 111px;
  width: 1080px;
  height: 766px;
  margin: 0 auto;
  text-align: left;
}

.option1 .option_content .option_title {
  padding-top: 10px;
}

.option1 .option_content .text {
  margin-top: 30px;
  font-size: 14px;
}

.option1 .option_content .text h1 {
  padding-bottom: 25px;
  line-height: 1.3;
}

.option1 .option_content .img_option {
  margin-top: 23px;
  text-align: right;
}

.option1 .option_content .img_option .img1 {
  margin-top: 37px;
  width: 1080px;
}

/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2 {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  background: #f7f7f7;
}

.option2 .option_content {
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  text-align: left;
}

.option2 .option_content .title {
  padding-top: 78px;
}

.option2 .option_content .option_table {
  margin-top: 39px;
  width: 100%;
  height: 564px;
}

.option2 .option_content .option_table table, .option2 .option_content .option_table th, .option2 .option_content .option_table td {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.option2 .option_content .option_table table {
  font-size: 14px;
}

.option2 .option_content .option_table table .td_left {
  width: 177px;
  background: #e7f5ff;
  padding-left: 40px;
}

.option2 .option_content .option_table table .td_left h1 {
  color: #0361a7;
}

.option2 .option_content .option_table table .td_right {
  width: auto;
  background: #ffffff;
  padding-left: 40px;
}

.option2 .option_content .option_table table h1 {
  margin: 22px 0;
}

/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.option3 .option_content {
  width: 1080px;
  height: 690px;
  margin: 0 auto;
}

.option3 .option_content .title {
  text-align: left;
  padding-top: 84px;
}

.option3 .option_content .box {
  width: 1080px;
  text-align: left;
  padding-top: 40px;
  float: left;
}

.option3 .option_content .box .box1 {
  float: left;
  text-align: center;
  margin-right: 28px;
}

.option3 .option_content .box .box1 h1 {
  margin: 10px 0;
  font-size: 14px;
}

.option3 .option_content .box .box4 {
  float: left;
  text-align: center;
}

.option3 .option_content .box .box4 h1 {
  margin: 10px 0;
  font-size: 14px;
}

/*------------------------------------------------------------
	option4
------------------------------------------------------------*/
.option4 {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  margin: 0 auto;
}

.option4 .option_content {
  margin: 0 auto;
  width: 1080px;
  height: 735px;
}

.option4 .option_content .title {
  text-align: left;
  padding-top: 78px;
}

.option4 .option_content .maps {
  margin-top: 40px;
  border: 1px solid #d4d4d4;
}
