/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  margin-bottom: 100px;
  background: url(../img/contact/banner.jpg) no-repeat center top;
  width: 100%;
  height: 276px;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.banner .img_text {
  width: 1080px;
  margin: 0 auto;
}

.banner .img_text img {
  margin-top: 110px;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 52px;
}

.option1 .option_content {
  width: 1080px;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

.option1 .option_content .title {
  padding-top: 20px;
  text-align: left;
  padding-bottom: 25px;
}

.option1 .option_content h1 {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.6;
}

/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2 {
  width: 100%;
  height: 864px;
  margin: 0 auto;
  background: #f7f7f7;
}

.option2 .option_content {
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  text-align: left;
}

.option2 .option_content .title {
  padding-top: 78px;
}

.option2 .option_content .option_table {
  margin-top: 47px;
  width: 100%;
  height: 564px;
}

.option2 .option_content .option_table table, .option2 .option_content .option_table th, .option2 .option_content .option_table td {
  border-collapse: collapse;
}

.option2 .option_content .option_table table {
  font-size: 14px;
}

.option2 .option_content .option_table table .td_left {
  width: 138px;
}

.option2 .option_content .option_table table .td_left h1 {
  color: #0361a7;
}

.option2 .option_content .option_table table .td_left1 {
  width: 50px;
  padding-left: 20px;
}

.option2 .option_content .option_table table .td_left1 h1 {
  width: 30px;
  color: #ffffff;
  background: #0362a8;
  padding: 5px;
}

.option2 .option_content .option_table table .td_left1 .color_h1 {
  background: #8c8b8b;
}

.option2 .option_content .option_table table .td_right {
  width: auto;
  padding-left: 22px;
}

.option2 .option_content .option_table table .td_right h1 {
  font-size: 14px;
  line-height: 1.5;
}

.option2 .option_content .option_table input[type=text] {
  width: 100%;
  padding: 18px 20px;
  margin: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.option2 .option_content .option_table input[type=text1] {
  width: 130px;
  padding: 18px 20px;
  margin: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.option2 .option_content .option_table textarea {
  height: 152px;
  width: 100%;
  padding: 18px 20px;
  margin: 6px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.option2 .option_content .option_table select {
  width: 150px;
  padding: 18px 20px;
  margin: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.option2 .option_content .option_table td.td_right {
  height: 45px;
}

/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3 {
  width: 100%;
  height: 179px;
  margin: 0 auto;
  padding-top: 53px;
}

.option3 .btn_option3 {
  margin: 0 auto;
  width: 250px;
  height: auto;
}
