/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  background: url(../img/index/Banner_index.jpg) no-repeat center top;
  width: 100%;
  height: 756px;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.banner .text {
  width: 1080px;
  margin: 0 auto;
}

.banner .text img {
  margin-top: 88px;
  float: right;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1 {
  width: 100%;
  height: 200px;
  background: #e7f5ff;
  margin: 100px 0;
}

.option1 .option_content {
  width: 1080px;
  height: 140px;
  margin: 0 auto;
  padding: 30px 0;
}

.option1 .option_content .option_left {
  float: left;
  width: 248px;
  height: 140px;
}

.option1 .option_content .option_left .img_news {
  margin: 19px 0;
  width: 176px;
  height: 37px;
  float: left;
}

.option1 .option_content .option_left .btn_more {
  float: left;
  width: 71%;
}

.option1 .option_content .option_left .btn_more img {
  width: 100%;
}

.option1 .option_content .option_right {
  float: right;
  width: 832px;
  height: 140px;
}

.option1 .option_content .option_right li {
  padding-top: 18px;
  list-style: none;
  width: 100%;
  float: left;
  text-align: left;
  color: #0361a7;
  font-size: 13px;
  margin-bottom: 10px;
}

.option1 .option_content .option_right li h1 {
  width: 130px;
  float: left;
}

.option1 .option_content .option_right li a {
  margin-left: 59px;
  font-size: 13px;
  color: #222222;
  text-decoration: none;
}

.option1 .option_content .option_right li a h3 {
  text-align: left;
  float: left;
}

.option1 .option_content .option_right li a h3:hover {
  color: #a8a8a8;
  text-decoration: underline;
}

/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
}

.option2 .option_content {
  width: 100%;
  height: 435px;
  margin: 0 auto;
}

.option2 .option_content .option_left {
  float: left;
  width: 50%;
  height: 355px;
}

.option2 .option_content .option_left .content_left {
  margin-right: 70px;
  width: 470px;
  height: 355px;
  text-align: left;
  float: right;
}

.option2 .option_content .option_left .content_left .img_text {
  margin-top: 2px;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #015294;
}

.option2 .option_content .option_left .content_left .text {
  margin-top: 16px;
}

.option2 .option_content .option_left .content_left .text h1 {
  line-height: 1.6;
  font-size: 14px;
}

.option2 .option_content .option_left .content_left .button_option {
  margin-top: 58px;
}

.option2 .option_content .option_right {
  float: right;
  width: 50%;
  height: 355px;
  background: #ddd;
}

.option2 .option_content .option_right .img_option {
  background: url(../img/index/img_option2.JPG) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 353px;
}

/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #f5f5f5;
}

.option3 .option_content {
  width: 100%;
  height: 355px;
  margin: 0 auto;
  padding: 81px 0;
}

.option3 .option_content .option_right {
  float: right;
  width: 50%;
  height: 355px;
}

.option3 .option_content .option_right .content_right {
  margin-left: 70px;
  width: 470px;
  height: 355px;
  text-align: left;
  float: left;
}

.option3 .option_content .option_right .content_right .img_text {
  height: auto;
  padding-bottom: 19px;
  border-bottom: 1px solid #015294;
}

.option3 .option_content .option_right .content_right .text {
  margin-top: 16px;
}

.option3 .option_content .option_right .content_right .text h1 {
  line-height: 1.6;
  font-size: 14px;
}

.option3 .option_content .option_right .content_right .button_option {
  margin-top: 83px;
}

.option3 .option_content .option_left {
  float: left;
  width: 50%;
  height: 355px;
  background: #ddd;
}

.option3 .option_content .option_left .img_option {
  background: url(../img/index/img_option3.JPG) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 353px;
}

/*------------------------------------------------------------
	option4
------------------------------------------------------------*/
.option4 {
  padding-top: 76px;
  padding-bottom: 48px;
}

.option4 .option_content .option_left .content_left .button_option {
  margin-top: 79px;
}

.option4 .option_content .option_right .img_option {
  background: url(../img/index/img_option4.JPG) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 353px;
}
