/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  background: url(../img/new/banner.JPG) no-repeat center top;
  width: 100%;
  height: 276px;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.banner .img_text {
  width: 1080px;
  margin: 0 auto;
}

.banner .img_text img {
  margin-top: 110px;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1 {
  width: 100%;
  height: auto;
}

.option1 .option_content {
  padding-top: 107px;
  width: 1080px;
  height: 460px;
  margin: 0 auto;
}

.option1 .option_content .option_title {
  margin-top: 10px;
  width: 100%;
  height: 80px;
}

.option1 .option_content .option_title .text1 {
  text-align: left;
  font-size: 20px;
  color: #025995;
  padding-bottom: 10px;
  border-bottom: 1px solid #025995;
}

.option1 .option_content .option_title .text2 {
  margin-top: 5px;
}

.option1 .option_content .option_title .text2 img {
  float: left;
}

.option1 .option_content .option_title .text2 h1 {
  float: left;
  font-size: 14px;
  color: #009fbb;
  margin-left: 10px;
  margin-top: 8px;
}

.option1 .option_content .content {
  margin-top: 12px;
}

.option1 .option_content .content .text {
  text-align: left;
  width: 600px;
  height: 300px;
  float: left;
}

.option1 .option_content .content .text h1 {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
}

.option1 .option_content .content .img_content {
  margin-left: 52px;
  float: left;
  width: 428px;
  height: auto;
}

/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2 {
  background: #f7f7f7;
}

.option2 .option_content {
  padding-top: 46px;
}

/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3 {
  padding-bottom: 15px;
}

.option3 .option_content {
  padding-top: 48px;
}

.option3 .option_content .content .text {
  width: 100%;
}
