/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner {
  margin-bottom: 119px;
  background: url(../img/recruit/banner.JPG) no-repeat center top;
  width: 100%;
  height: 276px;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.banner .img_text {
  width: 1080px;
  margin: 0 auto;
}

.banner .img_text img {
  margin-top: 110px;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	content
------------------------------------------------------------*/
.option1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.option1 .option-content {
  width: 1080px;
  height: 327px;
  margin: 0 auto;
}

.option1 .option-content .option_left {
  float: left;
  text-align: left;
}

.option1 .option-content .option_left h1 {
  padding-top: 19px;
  font-size: 14px;
  margin-bottom: 2px;
  line-height: 1.4;
}

.option1 .option-content .option_right {
  float: right;
}

/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2 {
  width: 100%;
  height: 815px;
  margin: 0 auto;
  background: #f7f7f7;
}

.option2 .option_content {
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  text-align: left;
}

.option2 .option_content .title {
  padding-top: 78px;
}

.option2 .option_content .option_table {
  margin-top: 39px;
  width: 100%;
  height: 564px;
}

.option2 .option_content .option_table table, .option2 .option_content .option_table th, .option2 .option_content .option_table td {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.option2 .option_content .option_table table {
  font-size: 14px;
}

.option2 .option_content .option_table table .td_left {
  width: 177px;
  background: #e7f5ff;
  padding-left: 40px;
}

.option2 .option_content .option_table table .td_left h1 {
  color: #0361a7;
}

.option2 .option_content .option_table table .td_right {
  width: auto;
  background: #ffffff;
  padding-left: 40px;
}

.option2 .option_content .option_table table .td_right h1 {
  font-size: 14px;
  line-height: 1.5;
}

.option2 .option_content .option_table table h1 {
  margin: 19px 0;
}

/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3 {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 75px;
}

.option3 .banner {
  margin: 0 auto;
  background: url(../img/recruit/banner_option3.JPG) no-repeat center top;
  width: 1080px;
  height: 245px;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.option3 .banner .img_text {
  width: 1080px;
  text-align: left;
  margin-left: 41px;
}

.option3 .banner .img_text img {
  margin-top: 36px;
}

.option3 .banner .btn_option3 {
  width: 470px;
  margin-left: 41px;
  margin-top: 30px;
}
