@charset "UTF-8";
/*------------------------------------------------------------
	.c-header
------------------------------------------------------------*/
.c-header {
  font-size: 1.2rem;
  width: 100%;
  background: #f8f8f8;
  margin: 0 auto;
  height: 30px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-header {
    height: 20px;
    text-align: center;
  }
}

/*
------------------------------------------------------------*/
.c-infohd {
  width: 1160px;
  margin: 0 auto;
}

/*
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .c-infohd {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
  }
}

/*------------------------------------------------------------
	.c-gnavi
------------------------------------------------------------*/
.c-gnavi {
  width: 1160px;
  margin: 0 auto;
  display: inline-block;
  height: 63px;
  padding-top: 25px;
}

/*
------------------------------------------------------------*/
.c-logo {
  float: left;
}

/*
------------------------------------------------------------*/
.c-menu {
  float: right;
}

.c-menu ul {
  padding-top: 10px;
}

.c-menu ul li {
  float: left;
  margin-left: 20px;
}

.c-menu ul li a {
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.c-menu ul li a:hover {
  color: #888888;
  border-bottom: 2px solid #888888;
}

/*
------------------------------------------------------------*/
.border {
  color: #888888 !important;
  border-bottom: 2px solid #888888;
}

/*
------------------------------------------------------------*/
.c-menu_sp {
  display: none;
}

/*------------------------------------------------------------
	.c-gnavi sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .c-gnavi {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    height: 50px;
    padding-top: 0;
  }
  .c-logo {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #23973d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-logo img {
    padding-left: 20px;
    height: 22px;
  }
  .c-menu_sp {
    min-width: 320px;
    display: none;
    position: absolute;
    z-index: 998;
    width: 100%;
    height: auto;
    background: #ffffff;
  }
  .c-menu_sp ul {
    border-top: 1px solid #e8e8e8;
  }
  .c-menu_sp ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
  }
  .c-menu_sp ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 30px;
  }
  .menu_sp {
    position: absolute;
    min-width: 320px;
    z-index: 999;
    width: 100%;
    height: 50px;
  }
  .menu_sp .iconmenu {
    margin: 5px;
    float: right;
    padding: 4px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    z-index: 999;
  }
  .menu_sp .bar1, .menu_sp .bar2, .menu_sp .bar3 {
    width: 25px;
    height: 3px;
    background-color: #23973d;
    margin: 5px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu_sp .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    -ms-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
  }
  .menu_sp .change .bar2 {
    opacity: 0;
  }
  .menu_sp .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    -ms-transform: rotate(45deg) translate(-5px, -5px);
        transform: rotate(45deg) translate(-5px, -5px);
  }
}

/*------------------------------------------------------------
	.c-slider1
------------------------------------------------------------*/
.c-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-slider1 .flexslider1 {
  width: 100%;
  display: inline-block;
}

.c-slider1 .flexslider1 .slides {
  display: block;
}

.c-slider1 .flexslider1 img {
  width: 100%;
}

.c-slider1 .flex-control-nav {
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 10px;
  text-align: center;
}

.c-slider1 .flex-control-nav a {
  background: url(../img/page1/icon2.png) no-repeat center;
  height: 14px;
  width: 14px;
}

.c-slider1 .flex-control-nav a:hover {
  background: url(../img/page1/icon.png) no-repeat center;
  height: 14px;
  width: 14px;
}

.c-slider1 .flex-control-nav a.flex-active {
  background: url(../img/page1/icon.png) no-repeat center;
  height: 14px;
  width: 14px;
}

@media screen and (max-width: 768px) {
  .flex-control-nav {
    width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 10px;
    text-align: center;
  }
  .flex-control-nav a {
    background: #1aca21 !important;
    height: 7px !important;
    width: 7px !important;
  }
  .flex-control-nav a:hover {
    background: #147d19 !important;
    height: 7px !important;
    width: 7px !important;
  }
  .flex-control-nav a.flex-active {
    background: #147d19 !important;
    height: 7px !important;
    width: 7px !important;
  }
}

/*------------------------------------------------------------
	.c-list1
------------------------------------------------------------*/
.c-list1 {
  width: 100%;
  height: auto;
  border-bottom: 2px dotted #c5c5c5;
  margin-top: 50px;
  display: inline-block;
}

.c-list1 .title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #333333;
  padding-bottom: 10px;
}

.c-list1 .title .u-red {
  color: #bd0000;
  font-size: 1.1rem;
  font-weight: bold;
}

.c-list1 .title .u-color1 {
  color: #333333;
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-list1 .title {
    width: 95%;
    margin: 0 auto;
  }
  .c-list1 .title .u-red {
    font-size: 1.2rem;
  }
  .c-list1 .title .u-color1 {
    font-size: 1.1rem;
  }
}

.c-list1 .c-line {
  width: 100%;
  height: 40px;
  border-top: 2px dotted #c5c5c5;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.c-list1 .c-line .u-size {
  font-size: 1.4rem;
  font-weight: bold;
}

.c-list1 .c-line .u-bgcolor {
  background: #f78d6c;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  width: 70px;
  padding: 5px 0;
  text-align: center;
  margin: 0 10px;
}

.c-list1 .c-line .u-bgcolor--bg2 {
  background: #51c571;
}

.c-list1 .c-line .u-bgcolor--bg3 {
  background: #68b4ce;
}

@media screen and (max-width: 768px) {
  .c-list1 .c-line {
    height: 35px;
    width: 100%;
    font-size: 1.1rem;
    margin: 0 auto;
  }
  .c-list1 .c-line .u-size {
    font-size: 1.1rem;
  }
  .c-list1 .c-line .u-bgcolor {
    width: 60px;
    padding: 2px 0;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .c-list1 {
    padding-top: 30px;
    width: 95%;
    margin: 0 auto;
  }
}

/*------------------------------------------------------------
	.l-list2
------------------------------------------------------------*/
.l-list2 {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.l-list2__left {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
}

.l-list2__right {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
}

.l-list2__text {
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 1.5rem;
}

.l-list2__text .c-left {
  width: auto;
  float: left;
}

.l-list2__text .c-right {
  padding-left: 5px;
  width: auto;
  float: left;
}

@media screen and (max-width: 768px) {
  .l-list2 {
    margin-top: 30px;
    width: 95%;
    margin: 0 auto;
  }
  .l-list2__left {
    margin-top: 20px;
    width: 100%;
    float: none;
    text-align: left;
  }
  .l-list2__right {
    margin-top: 30px;
    width: 100%;
    float: none;
    text-align: left;
  }
  .l-list2__text {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 1.2rem;
  }
  .l-list2__text .c-left {
    width: auto;
    float: left;
  }
  .l-list2__text .c-right {
    padding-left: 5px;
    width: auto;
    float: left;
  }
}

/*------------------------------------------------------------
	.c-title1
------------------------------------------------------------*/
.c-title1 {
  width: 1160px;
  padding-top: 100px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  font-size: 2rem;
  color: #999999;
}

.c-title1 .u-size2 {
  font-size: 2.4rem;
  color: #000000;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-title1--size {
  padding-top: 50px;
  font-size: 1.6rem;
}

.c-title1--size .u-size2 {
  font-size: 3.2rem;
}

.c-title1--size2 {
  padding-top: 30px;
  text-align: left;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-title1--size2 .u-size2 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 2rem;
}

.c-title1--size4 {
  text-align: left;
  font-size: 1.6rem;
  color: #e2750c;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-title1--size4 .u-size4 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 2rem;
  color: #e2750c;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-title1 {
    width: 100%;
    padding-top: 30px;
    font-size: 1.5rem;
  }
  .c-title1 .u-size2 {
    font-size: 2rem;
  }
  .c-title1--size {
    padding-top: 30px;
    font-size: 1.2rem;
  }
  .c-title1--size .u-size2 {
    font-size: 2rem;
  }
  .c-title1--size2 {
    width: 95%;
    padding-top: 30px;
    font-size: 1.2rem;
  }
  .c-title1--size2 .u-size2 {
    font-size: 1.6rem;
  }
  .c-title1--size4 {
    width: 90%;
    font-size: 1.2rem;
  }
  .c-title1--size4 .u-size4 {
    font-size: 1.6rem;
  }
}

/*------------------------------------------------------------
	.c-title5
------------------------------------------------------------*/
.c-title5 {
  width: 1160px;
  padding-top: 100px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #000000;
}

.c-title5 h2 {
  border: 1px solid #e6e6e6;
  padding: 10px 0;
  background: #f6f0d5;
}

@media screen and (max-width: 768px) {
  .c-title5 {
    width: 100%;
    padding-top: 30px;
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	.c-nav1
------------------------------------------------------------*/
.c-nav1 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav1__box1 {
  float: left;
  width: 370px;
  height: auto;
}

.c-nav1__box1--margin {
  margin: 0 25px;
}

.c-nav1__img {
  width: 100%;
  height: auto;
}

.c-nav1__text {
  padding-top: 10px;
  width: 100%;
  font-size: 1.3rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-nav1__text h2 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media screen and (max-width: 768px) {
  .c-nav1 {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .c-nav1__box1 {
    float: left;
    width: 100%;
    height: auto;
  }
  .c-nav1__box1--margin {
    margin: 0;
  }
  .c-nav1__img img {
    width: 100%;
  }
  .c-nav1__text {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .c-nav1__text h2 {
    font-size: 1.4rem;
  }
}

/*------------------------------------------------------------
	.c-nav2
------------------------------------------------------------*/
.c-nav2 {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .c-nav2 {
    margin-top: 20px;
  }
  .c-nav2 img {
    width: 100%;
  }
}

/*------------------------------------------------------------
	.c-nav3
------------------------------------------------------------*/
.c-nav3 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav3__box1 {
  float: left;
  width: 270px;
  height: auto;
  margin-right: 26px;
}

.c-nav3__box1--margin {
  margin-right: 0;
}

.c-nav3__img {
  width: 100%;
  height: auto;
}

.c-nav3__text {
  padding-top: 20px;
  width: 100%;
  font-size: 1.3rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-nav3__text h2 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media screen and (max-width: 768px) {
  .c-nav3 {
    width: 95%;
    height: auto;
    padding-top: 30px;
    display: inline-block;
    margin: 0 auto;
  }
  .c-nav3__box1 {
    float: left;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .c-nav3__img img {
    width: 95%;
  }
  .c-nav3__text h2 {
    font-size: 1.4rem;
  }
}

/*------------------------------------------------------------
	.c-nav4
------------------------------------------------------------*/
.c-nav4 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav4__box1 {
  float: left;
  width: 270px;
  height: auto;
  margin-right: 26px;
}

.c-nav4__box1--margin {
  margin-right: 0;
}

.c-nav4__img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .c-nav4 {
    width: 95%;
    padding-top: 0;
    margin: 0 auto;
  }
  .c-nav4__box1 {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
  }
  .c-nav4__box1 img {
    width: 100%;
  }
  .c-nav4__img {
    width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
	.c-nav5
------------------------------------------------------------*/
.c-nav5 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav5__box1 {
  float: left;
  width: 266px;
  height: auto;
  margin-right: 32px;
}

.c-nav5__box1--margin {
  margin-right: 0;
}

.c-nav5__img {
  width: 100%;
  height: auto;
}

.c-nav5__img:hover {
  opacity: 0.7;
}

.c-nav5__text {
  padding: 10px 0;
  width: 100%;
  font-size: 1.3rem;
  background: #e6e6e6;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media screen and (max-width: 768px) {
  .c-nav5 {
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
  }
  .c-nav5__box1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .c-nav5__box1--margin {
    margin-right: 0;
  }
  .c-nav5__img {
    width: 100%;
    height: auto;
  }
  .c-nav5__img a img {
    width: 100%;
  }
}

/*------------------------------------------------------------
	.c-nav6
------------------------------------------------------------*/
.c-nav6 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav6__box1 {
  float: left;
  width: 266px;
  height: auto;
  margin-right: 32px;
}

.c-nav6__box1--margin {
  margin-right: 0;
}

.c-nav6__img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .c-nav6 {
    width: 90%;
    height: auto;
    padding-top: 30px;
    display: inline-block;
    margin: 0 auto;
  }
  .c-nav6__box1 {
    float: left;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .c-nav6__box1--margin {
    margin-right: 0;
  }
  .c-nav6__img a img {
    width: 100%;
  }
}

/*------------------------------------------------------------
	.c-nav7
------------------------------------------------------------*/
.c-nav7 {
  width: 1160px;
  height: auto;
  padding-top: 20px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav7__box1 {
  float: left;
  width: 220px;
  height: auto;
  border: 1px solid #d5d5d5;
  margin-right: 12px;
}

.c-nav7__box1--margin {
  margin-right: 0;
}

.c-nav7__img {
  width: 100%;
  height: auto;
}

.c-nav7__img:hover {
  opacity: 0.7;
}

.c-nav7__text {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  background: #ffffff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media screen and (max-width: 768px) {
  .c-nav7 {
    width: 90%;
    height: auto;
    padding-top: 20px;
    display: inline-block;
    margin: 0 auto;
  }
  .c-nav7__box1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .c-nav7__box1--margin {
    margin-right: 0;
  }
  .c-nav7__img {
    width: 100%;
    height: auto;
  }
  .c-nav7__img a img {
    width: 100%;
  }
  .c-nav7__img:hover {
    opacity: 0.7;
  }
  .c-nav7__text {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    background: #ffffff;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  }
}

/*------------------------------------------------------------
	.c-entry1
------------------------------------------------------------*/
.c-entry1 {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #939393;
  padding: 30px 0;
  display: inline-block;
}

.c-entry1__img {
  float: left;
  width: 370px;
  height: auto;
}

.c-entry1__text {
  width: auto;
  float: left;
  margin-left: 30px;
  font-size: 1.3rem;
  color: #888888;
}

.c-entry1__text h2 {
  padding-top: 15px;
  font-size: 1.8rem;
  color: #000000;
}

.c-entry1__text p {
  padding-top: 25px;
  font-size: 1.6rem;
  color: #000000;
}

.c-entry1__text .u-bgred {
  padding: 2px 10px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 1.1rem;
  background: #bd0000;
}

@media screen and (max-width: 768px) {
  .c-entry1 {
    margin-top: 30px;
    padding: 20px 0 0 0;
  }
  .c-entry1__img {
    float: none;
    width: 95%;
    margin: 0 auto;
  }
  .c-entry1__img img {
    width: 100%;
  }
  .c-entry1__text {
    text-align: left;
    width: 95%;
    float: none;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  .c-entry1__text h2 {
    padding-top: 10px;
    font-size: 1.4rem;
  }
  .c-entry1__text p {
    padding-top: 10px;
    font-size: 1.2rem;
  }
  .c-entry1__text .u-bgred {
    padding: 2px 10px;
    margin-left: 10px;
    font-size: 1.1rem;
  }
}

/*
------------------------------------------------------------*/
.c-entry1:before {
  content: "";
  background: url(../img/page1/more.png) no-repeat right;
  -webkit-background-size: 25px 25px;
          background-size: 25px;
  width: 1100px;
  height: 215px;
  position: absolute;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .c-entry1:before {
    width: 0;
    height: 0;
  }
  .c-entry1:after {
    content: "";
    background: url(../img/page1/more.png) no-repeat bottom;
    -webkit-background-size: 22px 22px;
            background-size: 22px;
    width: 100%;
    display: block;
    height: 25px;
    position: relative;
    z-index: 1111;
    text-align: center;
  }
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  border-top: 1px solid #555555;
  margin-top: 50px;
}

/*
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  height: auto;
  padding: 30px 0 50px 0;
  margin: 0 auto;
  display: inline-block;
}

.c-footer__info {
  float: left;
  font-size: 1.4rem;
  color: #333333;
}

.c-footer__info .c-btn {
  padding-top: 20px;
}

.c-footer__info .c-btn a {
  text-decoration: none;
  background: #888888;
  margin-right: 20px;
  color: #ffffff;
  width: 160px;
  padding: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.c-footer__info .c-btn a:hover {
  opacity: 0.7;
}

.c-footer__menu {
  float: right;
}

.c-footer__menu ul li {
  float: left;
  font-weight: bold;
  font-size: 1.4rem;
  color: #000000;
}

.c-footer__menu ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 1.4rem;
  font-weight: bold;
}

.c-footer__menu ul li a:hover {
  color: #ccc;
}

@media screen and (max-width: 768px) {
  .c-footer {
    width: 100%;
    height: auto;
    padding: 30px 0 50px 0;
    margin: 0 auto;
    display: inline-block;
  }
  .c-footer__info {
    float: none;
    font-size: 1.4rem;
    color: #333333;
    width: 95%;
    display: inline-block;
    margin: 0 auto;
  }
  .c-footer__info .c-btn {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
  }
  .c-footer__info .c-btn a {
    text-decoration: none;
    background: #888888;
    margin: 0 10px;
    color: #ffffff;
    width: 100%;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .c-footer__info .c-btn a:hover {
    opacity: 0.7;
  }
  .c-footer__menu {
    float: none;
    width: 95%;
    display: inline-block;
    padding-top: 20px;
    margin: 0 auto;
  }
  .c-footer__menu ul li {
    display: inline-block;
    float: none;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000000;
    text-align: center;
  }
  .c-footer__menu ul li a {
    text-decoration: none;
    text-align: center;
    color: #333333;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .c-footer__menu ul li a:hover {
    color: #ccc;
  }
}

/*------------------------------------------------------------
	.l-flame1
------------------------------------------------------------*/
.l-flame1 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}

.l-flame1__left {
  width: 370px;
  height: 370px;
  float: left;
}

.l-flame1__right {
  float: right;
  width: calc(1160px - 390px);
  font-size: 1.5rem;
  color: #000000;
  margin-left: 20px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.l-flame1__text1 {
  margin-bottom: 20px;
}

.l-flame1__text2 {
  float: right;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .l-flame1 {
    width: 95%;
    margin-top: 30px;
  }
  .l-flame1__left {
    width: 100%;
    height: auto;
    float: none;
  }
  .l-flame1__left img {
    width: 100%;
  }
  .l-flame1__right {
    padding-top: 10px;
    float: none;
    width: 100%;
    font-size: 1rem;
    margin-left: 0;
  }
  .l-flame1__text1 {
    text-align: left;
    margin-bottom: 20px;
  }
  .l-flame1__text2 {
    float: none;
    font-size: 1.4rem;
  }
}

/*------------------------------------------------------------
	.l-flame2
------------------------------------------------------------*/
.l-flame2 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}

.l-flame2__left {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.l-flame2__right {
  width: 50%;
  height: auto;
  display: inline-block;
  float: right;
  text-align: right;
}

/*
------------------------------------------------------------*/
.c-more {
  font-size: 1.4rem;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  color: #000000;
}

/*
------------------------------------------------------------*/
.c-more:before {
  content: "";
  background: url(/assets/img/page2/more.png) no-repeat right;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 20px;
}

@media screen and (max-width: 768px) {
  .l-flame2 {
    width: 95%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding-top: 30px;
  }
  .l-flame2__left {
    width: 100%;
    float: none;
    font-size: 1.2rem;
  }
  .l-flame2__right {
    width: 100%;
    float: none;
  }
  .l-flame2__right img {
    width: 100%;
  }
  /*
	------------------------------------------------------------*/
  .c-more {
    font-size: 1.2rem !important;
    margin-top: 5px !important;
    padding-bottom: 10px;
  }
  /*
	------------------------------------------------------------*/
  .c-more:before {
    -webkit-background-size: 12px 12px !important;
            background-size: 12px !important;
    top: 3px !important;
  }
}

/*------------------------------------------------------------
	.l-flame3
------------------------------------------------------------*/
.l-flame3 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  position: relative;
}

.l-flame3__left {
  width: 560px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame3__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame3__text1 {
  width: 560px;
  font-size: 1.5rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  padding-bottom: 20px;
  line-height: 1.6;
}

.l-flame3__text1 h2 {
  font-size: 1.6rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  padding-bottom: 10px;
}

.l-flame3__text2 {
  width: 560px;
  font-size: 1.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  padding-bottom: 20px;
  line-height: 1.6;
}

.l-flame3__text2 h2 {
  font-size: 1.6rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  padding-bottom: 10px;
}

.l-flame3__btn1 {
  width: 555px;
  height: auto;
  display: inline-block;
  position: absolute;
  z-index: 111;
  bottom: 25px;
}

.l-flame3__btn1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.l-flame3__btn1 .c-btn1 {
  width: 100%;
  background: #888888;
  text-align: center;
  margin-top: 20px;
  padding: 5px 0;
}

.l-flame3__btn1 .c-btn1--color1 {
  margin-top: 20px;
  background: #e2750c;
}

@media screen and (max-width: 768px) {
  .l-flame3 {
    width: 95%;
    padding-top: 30px;
    margin: 0 auto;
  }
  .l-flame3__left {
    width: 100%;
    padding-bottom: 20px;
  }
  .l-flame3__right {
    width: 100%;
    height: auto;
  }
  .l-flame3__text1 {
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
  }
  .l-flame3__text1 h2 {
    font-size: 1.4rem;
  }
  .l-flame3__text2 {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
  }
  .l-flame3__text2 h2 {
    font-size: 1.4rem;
  }
  .l-flame3__btn1 {
    width: 100%;
    position: relative;
  }
}

/*------------------------------------------------------------
	.l-flame4
------------------------------------------------------------*/
.l-flame4 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame4__left {
  width: 560px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame4__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame4__right table {
  border-collapse: collapse;
  width: 100%;
  height: 370px;
}

.l-flame4__right td {
  border: 1px solid #d6d6d6;
  text-align: left;
  padding: 8px;
  font-size: 1.3rem;
  width: 500px;
}

.l-flame4__right td:nth-child(1) {
  width: 270px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #e6e6e6;
}

.l-flame4__right tr:nth-child(8) {
  height: 155px;
}

.l-flame4__right .td1 {
  width: 120px;
  display: inline-block;
}

.l-flame4__right .td2 {
  padding: 9px 15px;
  width: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #e6e6e6;
}

@media screen and (max-width: 768px) {
  .l-flame4 {
    width: 95%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    position: relative;
  }
  .l-flame4__left {
    width: 100%;
    padding-bottom: 20px;
  }
  .l-flame4__right {
    width: 100%;
    height: auto;
  }
  .l-flame4__right table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
  }
  .l-flame4__right td {
    border: 1px solid #d6d6d6;
    text-align: left;
    padding: 8px;
    font-size: 1.2rem;
    width: 70%;
  }
  .l-flame4__right td:nth-child(1) {
    width: 30%;
    font-size: 1.2rem;
  }
  .l-flame4__right tr:nth-child(8) {
    height: 100px;
  }
  .l-flame4__right .td1 {
    width: 30%;
  }
  .l-flame4__right .td2 {
    padding: 7px 15px;
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	.l-flame5
------------------------------------------------------------*/
.l-flame5 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame5__left {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: left;
}

.l-flame5__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame5__right table {
  border-collapse: collapse;
  width: 100%;
  height: 370px;
  border-bottom: 1px solid #737473;
}

.l-flame5__right td {
  border-top: 1px solid #737473;
  text-align: left;
  padding: 8px;
  font-size: 1.3rem;
  width: 500px;
}

.l-flame5__right td:nth-child(1) {
  width: 100px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #eaf1eb;
}

@media screen and (max-width: 768px) {
  .l-flame5 {
    width: 95%;
  }
  .l-flame5__left {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
  }
  .l-flame5__left img {
    width: 100%;
  }
  .l-flame5__right {
    width: 100%;
    height: auto;
  }
  .l-flame5__right table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #737473;
  }
  .l-flame5__right td {
    border-top: 1px solid #737473;
    text-align: left;
    padding: 8px;
    font-size: 1.2rem;
    width: 70%;
  }
  .l-flame5__right td:nth-child(1) {
    width: 30%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #eaf1eb;
  }
}

/*------------------------------------------------------------
	.l-flame6
------------------------------------------------------------*/
.l-flame6 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame6__left {
  width: 560px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame6__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame6__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff;
  background: #51c571;
  font-size: 1.1rem;
  padding: 2px 20px;
  font-weight: bold;
}

.l-flame6__title--color {
  background: #f78d6c;
}

.l-flame6__text {
  font-size: 1.3rem;
  line-height: 1.6;
  padding-top: 20px;
}

.l-flame6__text2 {
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.6;
  display: inline-block;
  padding-top: 20px;
}

.l-flame6 .u-title {
  font-size: 1.6rem;
  padding-top: 30px;
}

.l-flame6 .u-title2 {
  font-size: 1.3rem;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .l-flame6 {
    width: 95%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    position: relative;
  }
  .l-flame6__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .l-flame6__right {
    width: 100%;
    height: auto;
    text-align: left;
  }
  .l-flame6__text {
    font-size: 1.2rem;
  }
  .l-flame6__text2 {
    width: 100%;
    font-size: 1.2rem;
  }
  .l-flame6 .u-title {
    font-size: 1.4rem;
  }
  .l-flame6 .u-title2 {
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	.l-flame8
------------------------------------------------------------*/
.l-flame8 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame8__left {
  width: 510px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame8__color {
  margin: 10px 0;
  width: auto;
  display: inline-block;
  background: #e2750c;
  font-size: 1.4rem;
  color: #ffffff;
  padding: 3px 10px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.l-flame8__text {
  font-size: 1.4rem;
  color: #000000;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.l-flame8__right {
  width: 620px;
  height: auto;
  display: inline-block;
  float: right;
}

.l-flame8__right table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
}

.l-flame8__right td, .l-flame8__right th {
  padding-left: 10px;
  border: 1px solid #d7d7d7;
  text-align: left;
  font-size: 1.4rem;
  height: 30px;
}

.l-flame8__right tr:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #e6e6e6;
}

@media screen and (max-width: 768px) {
  .l-flame8 {
    width: 90%;
  }
  .l-flame8__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .l-flame8__left img {
    width: 100%;
  }
  .l-flame8__color {
    font-size: 1.2rem;
  }
  .l-flame8__text {
    font-size: 1.1rem;
    text-align: left;
  }
  .l-flame8__right {
    width: 100%;
  }
  .l-flame8__right td, .l-flame8__right th {
    font-size: 1.2rem;
    height: 25px;
  }
  .l-flame8__right tr:nth-child(1) {
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	.l-flame9
------------------------------------------------------------*/
.l-flame9 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame9__box1 {
  width: 360px;
  float: left;
  margin-right: 26px;
  height: 100px;
}

.l-flame9__box1 h2 {
  color: #e2750c;
  font-size: 1.6rem;
}

.l-flame9__box1 p {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .l-flame9 {
    width: 90%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    position: relative;
  }
  .l-flame9__box1 {
    width: 100%;
    float: left;
    margin-right: 0;
    height: 80px;
    text-align: left;
  }
  .l-flame9__box1 h2 {
    color: #e2750c;
    font-size: 1.4rem;
  }
  .l-flame9__box1 p {
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	.l-flame10
------------------------------------------------------------*/
.l-flame10 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
}

.l-flame10__box1 {
  width: 370px;
  height: auto;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.l-flame10__box1 ul li {
  background: #dddddd;
  margin: 20px 0;
}

.l-flame10__box1 ul li a {
  width: 360px;
  display: inline-block;
  color: #000000;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
  margin-left: 10px;
}

.l-flame10__box1--margin {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .l-flame10 {
    width: 90%;
    margin-top: 10px;
  }
  .l-flame10__box1 {
    width: 100%;
    margin-right: 0;
    padding-top: 10px;
  }
  .l-flame10__box1 ul li {
    margin: 10px 0;
  }
  .l-flame10__box1 ul li a {
    text-align: left;
    width: 100%;
    font-size: 1.1rem;
  }
}

/*------------------------------------------------------------
	.l-flame11
------------------------------------------------------------*/
.l-flame11 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
}

.l-flame11__left {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame11__left iframe {
  width: 580px;
  height: 415px;
}

.l-flame11__right {
  width: 50%;
  height: auto;
  display: inline-block;
  float: right;
}

.l-flame11__text1 {
  display: inline-block;
  margin-left: 20px;
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.l-flame11__text1 h2 {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .l-flame11 {
    width: 95%;
  }
  .l-flame11__left {
    width: 100%;
  }
  .l-flame11__left iframe {
    width: 100%;
  }
  .l-flame11__right {
    width: 100%;
  }
  .l-flame11__text1 {
    margin-left: 0;
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 0;
    padding-top: 20px;
  }
  .l-flame11__text1 h2 {
    margin-bottom: 15px;
  }
}

/*------------------------------------------------------------
	.l-flame12
------------------------------------------------------------*/
.l-flame12 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
}

.l-flame12__left {
  width: 540px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame12__right {
  width: 540px;
  height: auto;
  display: inline-block;
  float: right;
}

.l-flame12__box1 {
  width: 100%;
  height: 270px;
}

.l-flame12__title {
  border-bottom: 1px solid #939393;
  padding: 10px 0;
}

.l-flame12__title h2 {
  font-size: 1.8rem;
}

.l-flame12__title .c-more1:before {
  -webkit-background-size: 18px 18px;
          background-size: 18px;
  top: 0;
  height: 20px;
}

.l-flame12__text {
  font-size: 1.6rem;
  padding: 20px 0;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .l-flame12 {
    width: 90%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
  }
  .l-flame12__left {
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
  }
  .l-flame12__right {
    width: 100%;
    height: auto;
    display: inline-block;
    float: right;
  }
  .l-flame12__box1 {
    width: 100%;
    height: 220px;
  }
  .l-flame12__title {
    border-bottom: 1px solid #939393;
    padding: 10px 0;
  }
  .l-flame12__title h2 {
    text-align: left;
    font-size: 1.4rem;
  }
  .l-flame12__title .c-more1:before {
    -webkit-background-size: 18px 18px;
            background-size: 18px;
    top: 0;
    height: 20px;
  }
  .l-flame12__text {
    text-align: left;
    font-size: 1.2rem;
    padding: 20px 0 0 30px;
    line-height: 1.8;
  }
}

/*------------------------------------------------------------
	.c-img1
------------------------------------------------------------*/
.c-img1 {
  margin-top: 50px;
  height: auto;
  width: 100%;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .c-img1 {
    margin-top: 30px;
  }
  .c-img1 img {
    width: 95%;
  }
}

/*------------------------------------------------------------
	.c-text1
------------------------------------------------------------*/
.c-text1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-text1__text1 {
  margin-top: 30px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media screen and (max-width: 768px) {
  .c-text1 {
    width: 95%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
  }
  .c-text1__text1 {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.6;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  }
}

/*------------------------------------------------------------
	.c-text2
------------------------------------------------------------*/
.c-text2 {
  margin-top: 30px;
  width: 100%;
  height: 470px;
  display: inline-block;
  border: 1px solid #999999;
}

.c-text2__text1 {
  padding-top: 30px;
  padding-left: 10px;
}

.c-text2__text1 h2 {
  font-size: 1.8rem;
}

.c-text2__text1 p {
  padding-top: 20px;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .c-text2 {
    margin-top: 30px;
    width: 90%;
    height: auto;
  }
  .c-text2__text1 {
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 10px;
    width: 95%;
    margin: 0 auto;
  }
  .c-text2__text1 h2 {
    font-size: 1.4rem;
    text-align: left;
  }
  .c-text2__text1 p {
    padding-top: 15px;
    font-size: 1.1rem;
    text-align: left;
  }
}

/*------------------------------------------------------------
	.c-text3
------------------------------------------------------------*/
.c-text3 {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-text3__text1 {
  padding-top: 30px;
}

.c-text3__text1 h2 {
  font-size: 1.6rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-text3__text1 p {
  padding-top: 20px;
  font-size: 1.5rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media screen and (max-width: 768px) {
  .c-text3 {
    margin-top: 10px;
    width: 95%;
    height: auto;
    display: inline-block;
    text-align: left;
  }
  .c-text3__text1 {
    padding-top: 20px;
  }
  .c-text3__text1 h2 {
    font-size: 1.4rem;
  }
  .c-text3__text1 p {
    padding-top: 10px;
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	.c-text4
------------------------------------------------------------*/
.c-text4 {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-text4__text1 {
  padding-top: 30px;
}

.c-text4__text1 h2 {
  font-size: 1.8rem;
}

.c-text4__text1 p {
  padding-top: 20px;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .c-text4 {
    margin-top: 10px;
    width: 95%;
    text-align: left;
  }
  .c-text4__text1 {
    padding-top: 10px;
  }
  .c-text4__text1 h2 {
    font-size: 1.4rem;
  }
  .c-text4__text1 p {
    padding-top: 10px;
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
    .c-tabs1
------------------------------------------------------------*/
.c-tab {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}

/*
------------------------------------------------------------*/
.tablinks {
  width: 370px;
  background: #888888;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px 0;
  margin-right: 22px;
}

.tablinks--margin {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .tablinks {
    width: 30%;
    background: #888888;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
    margin-right: 0;
  }
}

/*
------------------------------------------------------------*/
.c-tab .tablinks:hover {
  background-color: #51c571;
}

/*
------------------------------------------------------------*/
.c-tab .tablinks.active {
  background-color: #51c571;
}

/*
------------------------------------------------------------*/
.tabcontent {
  display: none;
  width: 100%;
  height: auto;
}

/*------------------------------------------------------------
    .c-tabs2
------------------------------------------------------------*/
.c-tab2 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

/*
------------------------------------------------------------*/
.tablinks2 {
  background: #ffffff;
  color: #000000;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px 30px 10px 0;
}

@media screen and (max-width: 768px) {
  .tablinks2 {
    background: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0px 10px 0;
  }
}

/*
------------------------------------------------------------*/
.c-tab2 :hover {
  color: #888888;
}

/*
------------------------------------------------------------*/
.c-tab2 .tablinks2.active {
  color: #888888;
}

/*
------------------------------------------------------------*/
.tabcontent2 {
  display: none;
  width: 100%;
  height: auto;
}

/*------------------------------------------------------------
    .c-tabs3
------------------------------------------------------------*/
.c-tab3 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

/*
------------------------------------------------------------*/
button {
  background: #ffffff;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

/*
------------------------------------------------------------*/
.c-tab3 button:hover {
  color: #888888;
}

/*
------------------------------------------------------------*/
.c-tab3 button.active {
  color: #888888;
}

/*
------------------------------------------------------------*/
.tabcontent3 {
  display: none;
  width: 100%;
  height: auto;
}

/*
------------------------------------------------------------*/
.tabcontent4 {
  display: none;
  width: 100%;
  height: auto;
}

.tabcontent5 {
  display: none;
  width: 100%;
  height: auto;
}

.tabcontent6 {
  display: none;
  width: 100%;
  height: auto;
}

/*------------------------------------------------------------
	.c-table1
------------------------------------------------------------*/
.c-table1 {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.c-table1 table {
  border-collapse: collapse;
  width: 100%;
  height: 370px;
}

.c-table1 td {
  border: 1px solid #777777;
  text-align: left;
  padding: 25px 0 25px 30px;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-table1 td:nth-child(1) {
  width: 230px;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #e6e6e6;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

@media screen and (max-width: 768px) {
  .c-table1 {
    width: 95%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .c-table1 table {
    height: auto;
  }
  .c-table1 td {
    padding: 25px 0 25px 10px;
    font-size: 1.2rem;
  }
  .c-table1 td:nth-child(1) {
    width: 30%;
    font-size: 1.2rem;
  }
}

/*------------------------------------------------------------
	.c-more1
------------------------------------------------------------*/
.c-more1 {
  font-size: 1.4rem;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  font-weight: bold;
  color: #000000;
}

.c-more1 a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  font-weight: bold;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .c-more1 {
    text-align: left;
    width: 85%;
    position: relative;
  }
  .c-more1 a {
    font-size: 1.2rem !important;
  }
}

/*
------------------------------------------------------------*/
.c-more1:before {
  content: "";
  background: url(/assets/img/page2/more.png) no-repeat right;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 20px;
}

@media screen and (max-width: 768px) {
  .c-more1:before {
    content: "";
    background: url(/assets/img/page2/more.png) no-repeat right;
    width: 100%;
    -webkit-background-size: 12px 12px;
            background-size: 12px;
    height: 15px;
    position: absolute;
    left: 15px;
  }
}

/*
------------------------------------------------------------*/
.c-more {
  font-size: 1.4rem;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  color: #000000;
}

/*
------------------------------------------------------------*/
.c-more:before {
  content: "";
  background: url(/assets/img/page2/more.png) no-repeat right;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 20px;
}

/*------------------------------------------------------------
	.c-btn1
------------------------------------------------------------*/
.c-btn1 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
}

.c-btn1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
}

.c-btn1 a:hover {
  opacity: 0.7;
}

.c-btn1__btn1 {
  float: left;
  padding: 2px 10px;
  background: #555555;
  margin-right: 20px;
}

.c-btn1__btn1:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .c-btn1 {
    width: 95%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
  }
  .c-btn1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
  }
  .c-btn1 a:hover {
    opacity: 0.7;
  }
  .c-btn1__btn1 {
    float: left;
    padding: 2px 10px;
    background: #555555;
    margin-right: 10px;
  }
  .c-btn1__btn1:hover {
    opacity: 0.7;
  }
  .c-btn1__btn2 {
    float: left;
  }
}

/*------------------------------------------------------------
	.c-btn1
------------------------------------------------------------*/
.c-btn2 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-btn2 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
}

.c-btn2__btn1 {
  float: left;
  padding: 3px 10px;
  background: #555555;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.c-btn2__btn1--padding {
  padding: 3px 30px;
}

.c-btn2__btn1:hover {
  opacity: 0.7;
  background: #ffffff;
}

.c-btn2__btn1:hover a {
  color: #333;
}
