@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1200px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	background: #fff;
	font-weight: 500;
}

#container {
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
}

.l-main {
	margin: 0 auto;
	width: 1100px;
	height: auto;
	display: inline-block;
}

.l-content {
	margin: 0 auto;
	width: 850px;
	height: auto;
	display: inline-block;
}
.pc{
	display: block;
}
.sp{
	display: none;
}
.menu{
	display: none;
}

@media screen and (max-width: 768px) {
	body{
		    min-width: 320px;
	}
	.pc{
		display: none !important;
	}
	.sp{
		display: block !important;
	}
	.menu{
		display: block;
	}
	.l-main {
		margin: 0 auto;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.l-content {
		margin: 0 auto;
		width: 100%;
		height: auto;
		display: inline-block;
	}
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: inline-block;
}
/*
------------------------------------------------------------*/
.c-header1{
	width: 100%;
	background: #FFFFFF;
	height: 110px;
	margin: 0 auto;
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-header1{
		height: 44px;
		border-bottom: 1px solid #dddddd;
	}
}
/*
------------------------------------------------------------*/
.c-logo1{
	width: 240px;
	height: 110px;
	float: left;
	display: flex;
	align-items: center;
	margin-left: 10px;
	img:hover{
		opacity: 0.8;
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-logo1{
		width: auto;
		height: 44px;
		img{
			width: calc(266px/2);
			height: auto;
		}
	}
	.c-tell{
		height: 44px;
		margin-right: 45px;
		float: right;
		border-right: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		img{
			padding: 10px 10px;
			width: calc(69px/2);
		}
	}

	.menu_sp{
		position: absolute;
		min-width: 320px;
		z-index: 999;
		width: 100%;
		height: 44px;
		.iconmenu{
			margin: 12px;
			float: right;
		    display: inline-block;
		    border-radius: 5px;
		    position: relative;
		    z-index: 999;
		    img{
		    	width: 19px;
		    }
		}
	}
	.menu {
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 9999999;
	    top: 0;
	    right: 0;
	    background: rgba(0,0,0,0.4);
	    overflow-x: hidden;
	    transition: 0.5s;
	    .contentmenu{
	    	width: 250px;
	    	float: right;
	    	height: 100%;
	    	display: inline-block;
	    	background: #ffffff;
	    }
	    ul{
	    	border-top: 1px solid #e8e8e8;
	  		li{
	  			display: flex;
				align-items: center;
	  			height: 37px;
	  			border-bottom: 1px solid #e8e8e8;
	  			a{
	  				font-size: 1.25rem;
	  				text-decoration: none;
	  				color: #211815;
	  				text-align: left;
	  				margin-left: 20px;
	  			}
	  			a:before{
	  				content: "";
	  				background: url(../img/Mobile/header/more.PNG) no-repeat right;
	  				background-size: 6px 10px;
	  				position: absolute;
	  				height: 18px;
	  				width: 200px;
	  			}
	  		}
	  	}
	}
	.iconclose{
		width: 100%;
		height: 60px;
	}
	.closebtn {
	    position: absolute;
	    top: 0;
	    margin: 12px;
	    right: 0;
	    img{
	    	width: calc(34px/2);
	    	height: auto;
	    }
	}
}


/*
------------------------------------------------------------*/
.c-title1{
	width: auto;
	height: 110px;
	font-size: 1.6rem;
	float: left;
	display: flex;
	align-items: center;
	margin-left: 65px;
}
/*
------------------------------------------------------------*/
.c-info1{
	width: 300px;
	height: 100px;
	float: right;
	margin: 0 auto;
	display: flex;
	align-items: center;
	//
	//-------------------------------------------------------
	&__img1{
		width: 300px;
		height: 32px;
		text-align: right;
		img:hover{
			opacity: 0.5;
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
		}
	}
	//
	//-------------------------------------------------------
	&__text1{
		width: 300px;
		height: auto;
		font-size: 1.1rem;
		text-align: right;
		padding-top: 5px;
		display: inline-block;
	}
}
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/

.c-banner{
	width: 100%;
	height: 850px;
	display: inline-block;
	background: url(../img/header/img_banner.PNG)center top / cover no-repeat;
	.content{
  		width: 100%;
  		height: auto;
  		//
		//-------------------------------------------------------
	  	.title{
	  		margin-top: 60px;
	  	}
	  	//
		//-------------------------------------------------------
	  	.slogan{
	  		margin-top: 40px;
	  		height: auto;
	  		img{
	  			opacity: 0.85;
	  			margin-bottom: 10px;
	  		}
	  		img:hover{
	  			opacity: 1;
	  			padding-top: 10px;
	  			margin-bottom: 0px;
	  			-webkit-transition: 0.3s ease-in-out;
				transition: 0.3s ease-in-out;
	  		}
	  	}
	  	//
		//-------------------------------------------------------
	  	.ponit{
	  		margin-top: 50px;
	  		img{
	  			margin: 0 25px;
	  		}
	  		&__text{
	  			margin-top: 15px;
	  			color: #ffffff;
	  			font-size: 1.2rem;
	  		}
	  	}
  	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-banner{
		width: 100%;
		height: 360px;
		display: inline-block;
		background: url(../img/Mobile/header/banner.PNG)center top / cover no-repeat;
		background-size: 100%;
		.content{
	  		width: 100%;
	  		height: auto;
	  		//
			//-------------------------------------------------------
		  	.title{
		  		margin-top: 0;
		  		padding-top: 60px;
		  		img{
		  			width: calc(567px/2);
		  		}
		  	}
		  	//
			//-------------------------------------------------------
		  	.slogan{
		  		margin-top: 40px;
		  		height: auto;
		  		img{
		  			width: calc(303px/2);
		  			opacity: 0.85;
		  			margin-bottom: 0;
		  		}
		  		img:hover{
		  			opacity: 1;
		  			padding-top: 0;
		  			margin-bottom: 0px;
		  			-webkit-transition: 0.3s ease-in-out;
					transition: 0.3s ease-in-out;
		  		}
		  	}
	  	}
	}
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

footer {
	background: #ffffff;
	border-top:  1px solid #333;
	margin-top: 100px;
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	footer {
		background: #ffffff;
		border-top:  1px solid #333;
		margin-top: 0;
	}
}
/*
------------------------------------------------------------*/
.c-logoft{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 70px;
	img:hover{
		opacity: 0.8;
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-logoft{
		width: 100%;
		height: auto;
		display: inline-block;
		margin-top: 20px;
		img{
			width: calc(239px/2);
		}
	}
}
/*
------------------------------------------------------------*/
.c-copyright{
	width: 100%;
	height: auto;
	font-size: 1.4rem;
	margin: 80px 0px;
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-copyright{
		width: 100%;
		height: auto;
		font-size: 1rem;
		margin: 10px 0px;
	}
}
/*------------------------------------------------------------
	Scorll Top
------------------------------------------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 99;
  background: none;
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	#myBtn {
	  display: none;
	  position: fixed;
	  bottom: 50px;
	  right: 10px;
	  z-index: 99;
	  background: none;
	  img{
	  	width: calc(60px/2);
	  }
	}
}
/*
------------------------------------------------------------*/
.hover {
	position: relative;
	width: 100%;
	height: auto;
}
/*
------------------------------------------------------------*/
.img_hover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .4s ease;
}
/*
------------------------------------------------------------*/
.hover:hover .img_hover {
	opacity: 1;
}
/*
------------------------------------------------------------*/
.img_over {
	opacity: 0.9;
	display: block;
	height: auto;
}