@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1{
	width: 100%;
	height: 747px;
	background: url(../img/option01/bg1.PNG) bottom right / cover no-repeat;
	background-size: 100% 747px;
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.option1{
		width: 100%;
		height: 505px;
		background: url(../img/Mobile/option01/bg.PNG) bottom right / cover no-repeat;
		background-size: 100% 505px;
	}
}
/*
------------------------------------------------------------*/
.c-scrolldown1{
	width: 100%;
	height: 100px;
	display: inline-block;
	margin-top: 50px;
	&--margin{
		margin-top: 0px;
		height: 40px;
	}
/*
------------------------------------------------------------*/
}
.c-scrolldown1 a {
	padding-top: 70px;
}
/*
------------------------------------------------------------*/
.c-scrolldown1 a span {
	position: absolute;
	width: 40px;
	height: 40px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb10 1.5s infinite;
	animation: sdb10 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
	0% {
	-webkit-transform: translate(0, 0);
	opacity: 0;
	}
	40% {
	opacity: 1;
	}
	80% {
	-webkit-transform: translate(0, 20px);
	opacity: 0;
	}
	100% {
	opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
	transform: translate(0, 0);
	opacity: 0;
	}
	40% {
	opacity: 1;
	}
	80% {
	transform: translate(0, 20px);
	opacity: 0;
	}
	100% {
	opacity: 0;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-point{
		margin-top: -10px;
		img{
			padding: 0 2px;
			width: calc(181px/2);
		}
	}
}
/*
------------------------------------------------------------*/
.c-title3{
	margin-top: 20px;
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    &__text{
    	padding: 10px 0;
    	width: auto;
    	border-bottom: 3px solid #000000;
    	display: inline-block;
    }
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-title3{
		margin-top: 10px;
	    width: 100%;
	    height: auto;
	    display: inline-block;
	    font-size: 1.5rem;
	    font-weight: bold;
	    &__text{
	    	padding: 5px 0;
	    	width: auto;
	    	border-bottom: 1.5px solid #000000;
	    	display: inline-block;
	    }
	}
}
/*
------------------------------------------------------------*/
.c-title9{
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 1.4rem;
    width: 100%;
    letter-spacing: 1.5px;
    &--margin{
    	margin-top: 20px;
    }
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-title9{
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 1rem;
	    width: 100%;
	    text-align: left;
	    letter-spacing: 1.5px;
	    &--margin{
	    	margin-top: 20px;
	    	text-align: center;
	    }
	}
}
/*
------------------------------------------------------------*/
.c-title2{
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: left;
	//
	//-------------------------------------------------------
	&__icon{
		width: auto;
		display: inline-block;
		height: 100px;
		float: left;
		display: flex;
		align-items: center;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: auto;
		height: 100px;
		float: left;
		display: flex;
		align-items: center;
		margin-left: 20px;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-title2{
		margin-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		img{
			padding: 0 2px;
			width: calc(515px/2);
		}
	}
}
/*
------------------------------------------------------------*/
.c-img1{
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__img1{
		width: auto;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__img2{
		width: auto;
		display: inline-block;
		float: left;
		margin-left: 50px;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-img1{
		margin-top: 0;
		//
		//-------------------------------------------------------
		&__img1{
			width: calc(100% - 35px);
			text-align: left;
			margin-left: 35px;
			img{
				width: calc(285px/2);
			}
		}
		//
		//-------------------------------------------------------
		&__img2{
			margin-top: 10px;
			width: calc(100% - 35px);
			text-align: left;
			margin-left: 35px;
			img{
				width: calc(285px/2);
			}
		}
	}
}
/*
------------------------------------------------------------*/
.c-email{
	margin-top: 120px;
	img:hover{
		opacity: 0.7;
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-email{
		margin-top: 60px;
		img{
			width: calc(500px/2);
		}
	}
}
/*
------------------------------------------------------------*/
.c-btn1{
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__btnleft{
		width: auto;
		height: 110px;
		display: inline-block;
		float: left;
		img:hover{
			opacity: 0.8;
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
		}
	}
	//
	//-------------------------------------------------------
	&__btnright{
		margin-top: 13px;
		width: auto;
		height: 110px;
		display: inline-block;
		float: right;
		img:hover{
			opacity: 0.8;
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
		}
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-btn1{
		margin-top: 20px;
		width: 100%;
		height: auto;
		display: inline-block;
		//
		//-------------------------------------------------------
		&__btnleft{
			width: 100%;
			height: 46px;
			display: inline-block;
			float: none;
			img{
				width: calc(571px/2);
			}
		}
		//
		//-------------------------------------------------------
		&__btnright{
			margin-top: 10px;
			width: 100%;
			height: 46px;
			display: inline-block;
			float: none;
			img{
				width: calc(571px/2);
			}
		}
	}
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2{
	width: 100%;
	height: 622px;
	margin: 0 auto;
	display: inline-block;
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.option2{
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: inline-block;
	}
}
/*
------------------------------------------------------------*/
.c-left{
	width: 50%;
	height: 622px;
	float: left;
	//
	//-------------------------------------------------------
	&__img{
		text-align: right;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-left{
		width: 100%;
		height: auto;
		//
		//-------------------------------------------------------
		img{
			width: 100%;
			height: auto;
		}
	}
}
/*
------------------------------------------------------------*/
.c-right{
	width: 50%;
	height: 622px;
	float: left;
	//
	//-------------------------------------------------------
	&__content1{
		background: #fff;
		height: 622px;
		max-width: 796px;
	}
	//
	//-------------------------------------------------------
	&__top{
		width: 100%;
		height: 311px;
	}
	//
	//-------------------------------------------------------
	&__text1{
		margin-top: 50px;
		max-width: 600px;
		text-align: left;
		font-weight: 500;
		height: auto;
		display: inline-block;
		line-height: 2;
		font-size: 1.5rem;
	}
	//
	//-------------------------------------------------------
	&__title1{
		margin-top: 40px;
	    width: auto;
	    border-bottom: 3px solid #000000;
	    height: auto;
	    display: inline-block;
	    font-size: 3rem;
	    font-weight: bold;
	    padding: 10px 0;
	}
	//
	//-------------------------------------------------------
	&__bottom{
		width: 100%;
		height: 311px;
		background: #f0ede6;
	}
	//
	//-------------------------------------------------------
	&__icon1{
		max-width: 220px;
		height: auto;
		float: left;
		padding: 60px 30px 0 20px;
		img{
			width: 100%;
		}
	}
	//
	//-------------------------------------------------------
	&__text2{
		padding-top: 60px;
		max-width: 450px;
		width: calc(100% - 270px);
		float: left;
		height: auto;
		display: inline-block;
		text-align: left;
		font-size: 1.4rem;
		line-height: 1.6;
		letter-spacing: 2px;
		p{
			width: 100%;
		}
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {
	.c-right{
		width: 100%;
		height: auto;
		float: none;
		display: inline-block;
		//
		//-------------------------------------------------------
		&__content1{
			background: #fff;
			height: 515px;
			max-width: 100%;
		}
		//
		//-------------------------------------------------------
		&__top{
			width: 100%;
			height: 225px;
		}
		//
		//-------------------------------------------------------
		&__text1{
			width: 88%;
			margin-top: 30px;
			max-width: 600px;
			line-height: 2;
			font-size: 1.1rem;
		}
		//
		//-------------------------------------------------------
		&__title1{
			margin-top: 30px;
		    width: auto;
		    border-bottom: 1.5px solid #000000;
		    font-size: 1.5rem;
		}
		//
		//-------------------------------------------------------
		&__title2{
			margin-top: 28px;
		    width: auto;
		    margin-left: 20px;
		    height: auto;
		    display: inline-block;
		    font-size: 1.5rem;
		    font-weight: bold;
		    padding: 10px 0;
		}
		//
		//-------------------------------------------------------
		&__bottom{
			width: 100%;
			height: 290px;
			background: #f0ede6;
		}
		//
		//-------------------------------------------------------
		&__icon1{
			max-width: 100%;
			margin-top: -15px;
			padding: 0px 30px 0 20px;
			img{
				width: calc(192px/2);
				height: auto;
			}
		}
		//
		//-------------------------------------------------------
		&__text2{
			padding-top: 10px;
			max-width: 100%;
			width: 90%;
			font-size: 1.1rem;
			display: inline-block;
			float: none;
			p{
				width: 100%;
			}
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3{
	width: 100%;
	height: auto;
	display: inline-block;
}
/*
------------------------------------------------------------*/
.c-titleimg{
	margin-top: 50px;
}
/*
------------------------------------------------------------*/
.c-title4{
	margin-top: 50px;
	font-size: 1.6rem;
}
/*
------------------------------------------------------------*/
.slider {
    width: 100%;
    margin: 50px auto;
}

.slick-slide {
  margin: 0px 5px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .5;
}

.slick-active {
  opacity: .9;
}

.slick-current {
  opacity: 1;
}

.slick-slide.slick-active{
	width: 288px;
}
.c-slider2{
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
}
/*
------------------------------------------------------------*/
.c-box{
	width: 100%;
	height: auto;
	display: inline-block;
	&__title{
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 0.8;
		margin-bottom: 20px;
		span{
			font-size: 1.9rem;
		}
	}
	&__img{
		width: 100%;
		height: auto;
		display: inline-block;
		margin-bottom: 10px;
		img{
			width: 288px;
			height: 288px;
			margin: 0 auto;
		}
	}
	&__text{
		width: 100%;
		height: auto;
		display: inline-block;
		text-align: left;
		width: 288px;
	}
	&__text1{
		margin-right: 10px;
		background: #000000;
		color: #ffffff;
		text-align: center;
		width: 60px;
		height: auto;
		float: left;
		font-size: 1.4rem;
	}
	&__text2{
		width: calc(100% - 70px);
		float: left;
		font-size: 1.5rem;
	}
}
// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {

.c-titleimg{
	margin-top: 20px;
	img{
		width: calc(117px/2);
		height: auto;
	}
}
/*
------------------------------------------------------------*/
.c-title4{
	width: 90%;
	display: inline-block;
	margin-top: 20px;
	font-size: 1.1rem;
}
.slider {
    width: 100%;
    margin: 25px auto;
}
/*
------------------------------------------------------------*/
	.c-box{
		width: 100%;
		height: auto;
		display: inline-block;
		&__title{
			font-size: 1.5rem;
			font-weight: bold;
			line-height: 0.8;
			margin-bottom: 20px;
			span{
				font-size: 1rem;
			}
		}
		&__img{
			width: 100%;
			height: auto;
			display: inline-block;
			margin-bottom: 10px;
			img{
				width: calc(288px/2);
				height: calc(288px/2);
				margin: 0 auto;
			}
		}
	}
}
/*------------------------------------------------------------
	option4
------------------------------------------------------------*/
.option4{
	width: 100%;
	height: auto;
	display: inline-block;
	background: #faf8f3;
	padding-bottom: 100px;
}
/*
------------------------------------------------------------*/
.c-content4{
	width: 980px;
	height: auto;
	padding-top: 70px;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__left{
		width: 50%;
		float: left;
		text-align: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: calc(50% - 3px);
		float: right;
		text-align: right;
		border-left: 3px solid #000;
	}
	//
	//-------------------------------------------------------
	&__text{
		padding-top: 30px;
		width: 420px;
		font-size: 1.6rem;
	}
}
// option4
//-------------------------------------------------------
@media screen and (max-width: 768px) {

.option4{
	width: 100%;
	height: auto;
	display: inline-block;
	background: #faf8f3;
	padding-bottom: 50px;
}
/*
------------------------------------------------------------*/
.c-content4{
	width: 100%;
	height: auto;
	padding-top: 30px;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__left{
		width: 100%;
		float: none;
		text-align: center;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 100%;
		float: right;
		text-align: center;
		border-left: none;
		img{
			width: calc(439px/2);
			height: auto;
		}
	}
	//
	//-------------------------------------------------------
	&__title{
		padding-top: 30px;
		width: 100%;
		text-align: center;
		display: inline-block;
		img{
			width: calc(402px/2);
		}
	}
	//
	//-------------------------------------------------------
	&__text{
		padding-top: 30px;
		width: 90%;
		display: inline-block;
		font-size: 1.1rem;
		text-align: left;
	}
}


}
/*------------------------------------------------------------
	option5
------------------------------------------------------------*/
.option5{
	width: 100%;
	height: auto;
	display: inline-block;
	padding-bottom: 100px;
	background: url(../img/option05/bg.PNG) top center / cover no-repeat;
	background-size: 100% 470px;
}
/*
------------------------------------------------------------*/
.c-text5{
	width: 1020px;
	height: auto;
	display: inline-block;
	margin-top: 340px;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.8;
	padding-left: 30px;
}
/*
------------------------------------------------------------*/
.l-box1{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	//
	//-------------------------------------------------------
	&__box{
		width: 200px;
		height: auto;
		display: inline-block;
		margin: 0 40px;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__title{
		width: 190px;
		height: 60px;
		margin: 0 auto;
		font-size: 1.7rem;
		font-weight: bold;
		padding: 30px 0 0 0;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: 190px;
		margin: 0 auto;
		text-align: left;
		font-size: 1.3rem;
	}
}

// responsive
//-------------------------------------------------------
@media screen and (max-width: 768px) {

/*------------------------------------------------------------
	option5
------------------------------------------------------------*/
.option5{
	width: 100%;
	height: auto;
	display: inline-block;
	padding-bottom: 20px;
	background: url(../img/Mobile/option05/bg.PNG) top center / cover no-repeat;
	background-size: 100% 235px;
}
/*
------------------------------------------------------------*/
.c-text5{
	width: 90%;
	height: auto;
	display: inline-block;
	margin-top: 180px;
	text-align: left;
	font-size: 1.1rem;
	line-height: 1.8;
	padding-left: 0;
}
/*
------------------------------------------------------------*/
.l-box1{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 10px;
	display: flex;
	justify-content: center;

	//
	//-------------------------------------------------------
	&__box{
		width: 130px;
		height: auto;
		display: inline-block;
		margin: 0 10px;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__img{
		img{
			width: calc(158px/2);
		}
	}
	//
	//-------------------------------------------------------
	&__title{
		width: 130px;
		height: 60px;
		margin: 0 auto;
		font-size: 1.1rem;
		font-weight: bold;
		padding: 30px 0 0 0;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: 130px;
		margin: 0 auto;
		text-align: left;
		font-size: 0.9rem;
	}
}


}





/*------------------------------------------------------------
	option6
------------------------------------------------------------*/
.option6{
	width: 100%;
	height: auto;
	display: inline-block;
	background: #e7ebee;
}
/*
------------------------------------------------------------*/
.c-titleimg2{
	margin: 40px 0 ;
}
/*
------------------------------------------------------------*/
.c-box2{
	width: 252px;
	margin: 0 20px;
	margin-top: 50px;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__title{
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 0.8;
		margin-bottom: 20px;
		span{
			font-size: 1.9rem;
		}
	}
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
		display: inline-block;
		margin-bottom: 10px;
		img{
			width: 252px;
			margin: 0 auto;
		}
	}
	//
	//-------------------------------------------------------
	&__text{
		height: auto;
		display: inline-block;
		text-align: left;
		width: 252px;
		margin-top: 10px;
	}
	//
	//-------------------------------------------------------
	&__text1{
		margin-right: 10px;
		background: #000000;
		color: #ffffff;
		text-align: center;
		width: 60px;
		height: auto;
		float: left;
		font-size: 1.4rem;
	}
	//
	//-------------------------------------------------------
	&__text2{
		width: calc(100% - 70px);
		float: left;
		font-size: 1.5rem;
	}
	//
	//-------------------------------------------------------
	&__btn{
		margin-top: 30px;
		img:hover{
			opacity: 0.7;
		}
	}
}
/*
------------------------------------------------------------*/
.c-textright{
	width: 850px;
	height: auto;
	text-align: right;
	margin: 0 auto;
	font-size: 1.2rem;
	padding-top: 15px;
	margin-bottom: 50px;
}

@media screen and (max-width: 768px) {

/*------------------------------------------------------------
	option6
------------------------------------------------------------*/
.option6{
	width: 100%;
	height: auto;
	display: inline-block;
	background: #e7ebee;
}
/*
------------------------------------------------------------*/
.c-titleimg11{
	margin: 20px 0 ;
	img{
		width: calc(452px/2);
	}
}
/*
------------------------------------------------------------*/
.c-titleimg12{
	margin: 20px 0 0 0;
	img{
		width: calc(492px/2);
	}
}
/*
------------------------------------------------------------*/
.c-titleimg2{
	margin: 10px 0 ;
	img{
		width: calc(343px/2);
	}
}
/*
------------------------------------------------------------*/
.c-img6{
	margin: 10px 0 ;
	img{
		width: calc(567px/2);
	}
}
/*
------------------------------------------------------------*/
.c-box2{
	width: 100%;
	max-width: 450px;
	margin: 0;
	margin-top: 0;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__title{
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 0.8;
		margin-bottom: 20px;
		span{
			font-size: 1.9rem;
		}
	}
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
		display: inline-block;
		margin-bottom: 10px;
		img{
			width: calc(357px/2);
			margin: 0 auto;
		}
	}
	//
	//-------------------------------------------------------
	&__text{
		height: auto;
		display: inline-block;
		text-align: left;
		width: 252px;
		margin-top: 10px;
	}
	//
	//-------------------------------------------------------
	&__text1{
		margin-right: 10px;
		background: #000000;
		color: #ffffff;
		text-align: center;
		width: 50px;
		height: auto;
		float: left;
		font-size: 1rem;
	}
	//
	//-------------------------------------------------------
	&__text2{
		width: calc(100% - 70px);
		float: left;
		font-size: 1rem;
	}
	//
	//-------------------------------------------------------
	&__btn{
		text-align: center;
		margin-top: 10px;
		display: inline-block;
		img{
			width: calc(492px/2);
			height: auto;
		}
	}
}

/*
------------------------------------------------------------*/
.c-textright{
	width: 90%;
	height: auto;
	text-align: left;
	margin: 0 auto;
	font-size: 0.9rem;
	padding-top: 0px;
	margin-bottom: 20px;
}


}



/*------------------------------------------------------------
	option7
------------------------------------------------------------*/
.option7{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	display: inline-block;
}
/*
------------------------------------------------------------*/
.c-box7{
	width: 100%;
	display: inline-block;
	height: auto;
	padding-top: 70px;
	//
	//-------------------------------------------------------
	&__left{
		width: 50%;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: calc(50% - 50px);
		float: right;
		padding-left: 50px;
		img{
			margin-top: 150px;
		}
	}
	//
	//-------------------------------------------------------
	&__title1{
		padding: 15px 0;
		width: 100%;
		text-align: left;
		font-size: 2.5rem;
		font-weight: bold;
	}
	//
	//-------------------------------------------------------
	&__title2{
		padding: 20px 0;
		width: 100%;
		text-align: left;
		font-size: 1.5rem;
		font-weight: bold;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: 380px;
		text-align: left;
		font-size: 1.4rem;
		line-height: 1.8;
	}
}

@media screen and (max-width: 768px) {
/*------------------------------------------------------------
	option7
------------------------------------------------------------*/
	.option7{
		width: 100%;
		height: auto;
		margin-bottom: 50px;
		display: inline-block;
		img{
			width: 25px;
		}
	}
	.c-titleimg7{
		margin-top: 10px;
		img{
			width: calc(308px/2);
		}
	}
	/*
	------------------------------------------------------------*/
	.c-box7{
		width: 90%;
		display: inline-block;
		height: auto;
		padding-top: 30px;
		//
		//-------------------------------------------------------
		&__left{
			width: 50%;
			float: left;
			text-align: left;
			img{
				width: calc(250px/2);
			}
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 50%;
			float: right;
			padding-left: 0;
			img{
				margin-top: 10px;
				width: calc(286px/2);
			}
		}
		//
		//-------------------------------------------------------
		&__title1{
			padding: 15px 0;
			width: 100%;
			text-align: left;
			font-size: 1.2rem;
			font-weight: bold;
		}
		//
		//-------------------------------------------------------
		&__title2{
			padding: 10px 0;
			width: 100%;
			text-align: left;
			font-size: 1.2rem;
			font-weight: 600;
			float: left;
			display: inline-block;
		}
		//
		//-------------------------------------------------------
		&__text{
			width: 100%;
			text-align: left;
			font-size: 1rem;
			display: inline-block;
			line-height: 1.8;
		}
	}

}

@media screen and (max-width: 768px) {
/*------------------------------------------------------------
	option8
------------------------------------------------------------*/
	.c-scrolldown1{
		width: 100%;
		height: 40px;
		display: inline-block;
		margin-top: 0;
		&--margin{
			margin-top: 0px;
			height: 40px;
		}
	/*
	------------------------------------------------------------*/
	}
	.c-scrolldown1 a {
		padding-top: 70px;
	}
	/*
	------------------------------------------------------------*/
	.c-scrolldown1 a span {
		padding-top: 20px;
		position: absolute;
		width: 40px;
		margin-left: -20px;
		height: 40px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-animation: sdb10 1.5s infinite;
		animation: sdb10 1.5s infinite;
		box-sizing: border-box;
		img{
			width: calc(45px/2);
		}
	}

}


/*------------------------------------------------------------
	option9
------------------------------------------------------------*/
.option9{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: 40px;
}
.accordion {
	height: auto;
	float: left;
    background-color: #f6f6f6;
    color: #000000;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    margin: 10px 0;
    outline: none;
    transition: 0.4s;
    display: flex;
	align-items: center;
	//
	//-------------------------------------------------------
    p{
    	float: left;
    	width: 90%;
    	font-weight: bold;
    	line-height: 1.6;
    	font-size: 2.1rem ;

    }
}
/*
------------------------------------------------------------*/
.accordion:after {
	height: 22px;
	margin-top: -27px;
	margin-right: 10px;
	margin-left: 30px;
	float: right;
    content: '\002B';
    font-weight: bold;
    font-size: 4rem;
    color: #000000;
}
/*
------------------------------------------------------------*/
.active:after {
	height: 22px;
	margin-right: 5px;
	margin-top: -22px;
	margin-left: 30px;
	float: right;
    font-weight: bold;
    font-size: 4rem;
    color: #000000;
    content: "\2212";
}
/*
------------------------------------------------------------*/
.panel {
    padding: 0px 1px 0px 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    //
	//-------------------------------------------------------
    p{
    	margin: 0 auto;
    	width: 90%;
    	padding:  20px 0 ;
    	font-size: 1.5rem;
    	line-height: 1.6;
    	text-align: left;
    	color: #000000;
    }
}


@media screen and (max-width: 768px) {
/*------------------------------------------------------------
	option9
------------------------------------------------------------*/
.option9{
	width: 90%;
}
.accordion {
	//
	//-------------------------------------------------------
    p{
    	font-size: 1.1rem ;

    }
    img{
    	width: calc(76px/2);
    }
}
/*
------------------------------------------------------------*/
.accordion:after {
	margin-top: -2px;
	margin-right: 10px;
    font-size: 2rem;
}
/*
------------------------------------------------------------*/
.active:after {
	margin-right: 8px;
	margin-top: -1px;
    font-size: 2rem;
}
/*
------------------------------------------------------------*/
.panel {
    //
	//-------------------------------------------------------
    p{
    	font-size: 1rem;
    }
}

}




/*------------------------------------------------------------
	option10
------------------------------------------------------------*/
.option10{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	display: inline-block;
	background: #f8f8f8;
}
/*
------------------------------------------------------------*/
.c-box3{
	width: 280px;
	height: auto;
	margin: 50px 20px;
	display: inline-table;
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
		display: inline-block;
		img{
			height: 266px;
			height: auto;
			margin: 0 auto;
		}
	}
	//
	//-------------------------------------------------------
	&__text{
		height: auto;
		display: inline-block;
		text-align: left;
		width: 220px;
		margin: 0 auto;
		margin-top: 20px;
	}
	//
	//-------------------------------------------------------
	&__text1{
		text-align: left;
		color: #000000;
		padding-left: 10px;
		margin: 0 auto;
		width: 100%;
		height: auto;
		font-size: 1.4rem;
	}
}
/*
------------------------------------------------------------*/
.c-img10{
	padding-bottom: 50px;
}


@media screen and (max-width: 768px) {
/*------------------------------------------------------------
	option10
------------------------------------------------------------*/
	.option10{
		width: 100%;
		height: auto;
		margin-bottom: 0px;
		display: inline-block;
		background: #f8f8f8;
	}
	/*
	------------------------------------------------------------*/
	.c-box3{
		width: 40%;
		height: auto;
		margin: 30px 5px 10px 5px;
		display: inline-table;
		//
		//-------------------------------------------------------
		&__img{
			width: 100%;
			height: auto;
			display: inline-block;
			img{
				height: calc(274px/2);
				width: auto;
				margin: 0 auto;
			}
		}
		//
		//-------------------------------------------------------
		&__text{
			height: auto;
			display: inline-block;
			text-align: left;
			width: 137px;
			margin: 0 auto;
			margin-top: 20px;
		}
		//
		//-------------------------------------------------------
		&__text1{
			text-align: left;
			color: #000000;
			padding-left: 10px;
			margin: 0 auto;
			width: 100%;
			height: auto;
			font-size: 1rem;
		}
		
	}
	.c-scrolldown2{
		margin-top: 20px;
		img{
			width: calc(45px/2);
		}
	}
	/*
	------------------------------------------------------------*/
	.c-titleimg10{
		padding-top: 20px;
		img{
			width: calc(427px/2);
		}
	}
	/*
	------------------------------------------------------------*/
	.c-img10{
		padding-bottom: 50px;
		img{
			width: calc(470px/2);
		}
	}
}













/*------------------------------------------------------------
	option11
------------------------------------------------------------*/
.option11{
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
}
/*
------------------------------------------------------------*/
.c-box11{
	width: 100%;
	padding-top: 50px;
	height: auto;
	border-bottom: 1px solid #e3e3e3;
	display: inline-block;
	//
	//-------------------------------------------------------
	&--border{
		border-bottom: none;
	}
	//
	//-------------------------------------------------------
	&__left{
		width: 250px;
		height: auto;
		display: inline-block;
		float: left;
		text-align: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: calc(100% - 250px);
		float: left;
		height: auto;
		display: inline-block;
		text-align: left;
	}
	//
	//-------------------------------------------------------
	&__title1{
		width: 100%;
		height: auto;
		display: inline-block;
		font-size: 1.6rem;
		font-weight: bold;
		padding-bottom: 20px;
	}
	//
	//-------------------------------------------------------
	&__title2{
		width: 100%;
		height: auto;
		display: inline-block;
		padding-bottom: 15px;
		font-size: 1.6rem;
		font-weight: bold;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: 100%;
		height: auto;
		padding-bottom: 30px;
		display: inline-block;
		font-size: 1.1rem;
	}
}
/*
------------------------------------------------------------*/
.u-red{
	font-size: 1.6rem;
	font-weight: bold;
	color: red;
}


@media screen and (max-width: 768px) {
/*------------------------------------------------------------
	option11
------------------------------------------------------------*/
	.option11{
		width: 100%;
		height: auto;
		display: inline-block;
		margin: 0 auto;
	}
	/*
	------------------------------------------------------------*/
	.c-box11{
		width: 100%;
		padding-top: 10px;
		height: auto;
		border-bottom: none;
		display: inline-block;
		//
		//-------------------------------------------------------
		&--border{
			border-bottom: none;
		}
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			float: none;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: calc(290px/2);
			}
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 85%;
			height: auto;
			margin: 0 auto;
			float: none;
			display: inline-block;
			text-align: left;
		}
		//
		//-------------------------------------------------------
		&__title1{
			margin-top: 20px;
			width: 100%;
			height: auto;
			display: inline-block;
			font-size: 1rem;
			font-weight: bold;
			padding-bottom: 20px;
		}
		//
		//-------------------------------------------------------
		&__title2{
			width: 100%;
			height: auto;
			display: inline-block;
			padding-bottom: 10px;
			font-size: 1rem;
			font-weight: bold;
			img{
				float: left;
				width: 25px;
			}
		}
		//
		//-------------------------------------------------------
		&__text{
			width: 100%;
			height: auto;
			padding-bottom: 10px;
			display: inline-block;
			font-size: 0.9rem;
		}
	}
	/*
	------------------------------------------------------------*/
	.u-red{
		font-size: 1rem;
		font-weight: bold;
		color: red;
	}
}











/*------------------------------------------------------------
	option12
------------------------------------------------------------*/
.option12{
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	background: #e7ebee;
}
/*------------------------------------------------------------
	option13
------------------------------------------------------------*/
.option13{
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	background: #d0d0d0;
}
/*
------------------------------------------------------------*/
.c-title13{
	width: 100%;
	font-size: 3rem;
	font-weight: bold;
	margin-top: 170px;
	margin-bottom: 40px;
	color: #ffffff;
}
/*
------------------------------------------------------------*/
.c-text13{
	width: 100%;
	font-size: 1.4rem;
	line-height: 2;
	margin-top: 60px;
	margin-bottom: 100px;
	color: #ffffff;
}
@media screen and (max-width: 768px) {
/*------------------------------------------------------------
	option13
------------------------------------------------------------*/
	.option13{
		width: 100%;
		height: auto;
		display: inline-block;
		margin: 0 auto;
		background: #d0d0d0;
	}
	/*
	------------------------------------------------------------*/
	.c-title13{
		width: 100%;
		font-size: 1.7rem;
		font-weight: bold;
		margin-top: 90px;
		margin-bottom: 20px;
		color: #ffffff;
	}
	/*
	------------------------------------------------------------*/
	.c-img13{
		padding-bottom: 60px;
		img{
			width: calc(114px/2);
		}
	}
	/*
	------------------------------------------------------------*/
	.c-text13{
		width: 90%;
		padding: 0 5%;
		margin: 0 auto;
		text-align: left;
		font-size: 1.1rem;
		line-height: 2;
		padding-top: 30px;
		padding-bottom: 20px;
		color: #000000;
		background: #ffffff;
	}
}





/*------------------------------------------------------------
	option14
------------------------------------------------------------*/
.option14{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	display: inline-block;
}
/*
------------------------------------------------------------*/
.c-box14{
	width: 165px;
	height: auto;
	margin: 50px 20px;
	display: inline-table;
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
		display: inline-block;
		img{
			height: 201px;
			height: auto;
			margin: 0 auto;
		}
	}
	//
	//-------------------------------------------------------
	&__text{
		height: auto;
		display: inline-block;
		text-align: left;
		width: 165px;
		margin: 0 auto;
		margin-top: 20px;
	}
	//
	//-------------------------------------------------------
	&__text1{
		text-align: left;
		color: #000000;
		padding-left: 10px;
		margin: 0 auto;
		width: 100%;
		height: auto;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 768px) {
/*------------------------------------------------------------
	option14
------------------------------------------------------------*/
	.option14{
		width: 90%;
		max-width: 420px;
		height: auto;
		margin-bottom: 50px;
		display: inline-block;
	}
	/*
	------------------------------------------------------------*/
	.c-box14{
		width: 130px;
		height: auto;
		margin: 10px 5px;
		display: inline-table;
		//
		//-------------------------------------------------------
		&__img{
			width: 100%;
			height: auto;
			display: inline-block;
			img{
				width: calc(240px/2);
				height: auto;
				margin: 0 auto;
			}
		}
		//
		//-------------------------------------------------------
		&__text{
			height: auto;
			display: inline-block;
			text-align: left;
			width: 130px;
			margin: 0 auto;
			margin-top: 20px;
		}
		//
		//-------------------------------------------------------
		&__text1{
			text-align: left;
			color: #000000;
			padding-left: 0px;
			margin: 0 auto;
			width: 100%;
			height: auto;
			font-size: 1rem;
		}
	}
}











/*------------------------------------------------------------
	option16
------------------------------------------------------------*/
.option16{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	display: inline-block;
}
/*
------------------------------------------------------------*/
.c-content16{
	width: 555px;
	height: auto;
	display: inline-block;
	margin: 0 auto;
}
/*
------------------------------------------------------------*/
.c-box16{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: 30px;
	//
	//-------------------------------------------------------
	&__left{
		width: 220px;
		height: auto;
		display: inline-block;
		float: left;
		text-align: left;
		font-size: 1.6rem;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: calc(100% - 220px);
		height: auto;
		display: inline-block;
		float: left;
		text-align: left;
	}
	//
	//-------------------------------------------------------
	&__right2{
		width: calc(100% - 220px);
		height: 170px;
		display: inline-block;
		float: left;
		background: #fff2f2;
		text-align: left;
	}
	//
	//-------------------------------------------------------
	&__right3{
		width: calc(100% - 220px);
		height: auto;
		display: inline-block;
		float: left;
		text-align: center;
		font-size: 1.4rem;
		font-weight: 500;
		input[type="text"] {
			margin-top: 10px;
			width: 100%;
			height: 170px;
		}
	}
	//
	//-------------------------------------------------------
	&__right4{
		width: calc(100% - 220px);
		height: auto;
		display: inline-block;
		float: left;
		text-align: center;
		font-size: 1.4rem;
		font-weight: 500;
		input[type="text"] {
			width: 100%;
			height: 30px;
		}
	}
	//
	//-------------------------------------------------------
	&__right7{
		width: calc(100% - 220px);
		height: auto;
		display: inline-block;
		float: left;
		font-size: 1.2rem;
		font-weight: 500;
		text-align: right;
	}
	//
	//-------------------------------------------------------
	&__right6{
		width: calc(100% - 220px);
		height: 30px;
		display: inline-block;
		float: left;
		font-size: 1.4rem;
		font-weight: 500;
		text-align: right;
		&--text{
			float: left;
			width: 83px;
			text-align: left;
			display: flex;
			align-items: center;
			input[type="radio"] {
				width: 18px;
				height: 18px;
				margin-right: 15px;
			}
		}
	}
	//
	//-------------------------------------------------------
	&__right5{
		width: calc(100% - 220px);
		height: auto;
		display: inline-block;
		float: left;
		text-align: center;
		font-size: 1.4rem;
		font-weight: 500;
		.c-box17{
			width: 100%;
			height: auto;
			display: inline-block;
			margin-bottom: 10px;
		}
		.title16{
			width: 90px;
			height: auto;
			font-size: 1.3rem;
			float: left;
			padding: 10px 0;
			text-align: left;
		}
		input[type="text"] {
			width: calc(100% - 95px);
			height: 30px;
			float: left;
		}
	}
	//
	//-------------------------------------------------------
	&__content{
		width: 100%;
		height: 170px;
		textarea {
		    width: 100%;
		    height: 100%;
		}
	}
}
/*
------------------------------------------------------------*/
.c-btn16{
	margin-top: 70px;
	img:hover{
		opacity: 0.5;
	}
}
/*
------------------------------------------------------------*/
.container1 {
	display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    height: 30px;
    float: left;
    margin-top: 2px;
    width: 60px;
    margin-left: 20px;
    font-weight: 500;
    margin-right: 20px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //
	//-------------------------------------------------------
    &--margin{
    	width: 100%;
    	margin-top: 10px;
    	height: auto;
    }
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: block;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: none;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 3px;
    top: -1px;
    width: 3px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}