@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1500px;
	width: 100%;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	margin: 0 auto;
	text-align: center;
	background-image:url(../img/bg.jpg);
}
/*
------------------------------------------------------------*/
#container {
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: inline-block;
}
/*
------------------------------------------------------------*/
.on{
	display: none;
}
/*
------------------------------------------------------------*/
.l-box1{
	width: 900px;
	height: auto;
	display: inline-block;
	margin: 0 auto;
}
/*
------------------------------------------------------------*/
.fixde{
	position: fixed;
	z-index: 9999999;
	left: 0;
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header{
	width: 100%;
	max-width: 1995px;
	height: 875px;
	background:url(../img/top/bg1.png) top;
	background-size: 100%;
	display: inline-block;
    position: relative;
    overflow: hidden;
}
/*
------------------------------------------------------------*/
.c-imgbg{
	z-index: 1;

	&__left{
		position: absolute;
		left: 0
	}
	&__right{
		position: absolute;
		right: 0;
	}
	&__top{
		position: absolute;
		top: 0;
	}
}
/*
------------------------------------------------------------*/
.c-header1{
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	height: 40px;
	background: rgba(73, 145, 127, 0.6);
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	//
	//-------------------------------------------------------
	&__text1{
		float: left;
		font-size: 15px;
		color: #ffffff;
		font-family: 'Noto Sans JP';
		padding-left: 20px;
	}
	//
	//-------------------------------------------------------
	&__btn1{
		float: right;
		width: auto;
		height: 40px;
		display: inline-block;
	}
	//
	//-------------------------------------------------------
	&__tell{
		float: left;
	}
	&__tell:hover{
		.off{
			display: none;
		}
		.on{
			display: block;
		}
	}
	//
	//-------------------------------------------------------
	&__access{
		float: left;
		margin-left: 2px;
	}
	//
	//-------------------------------------------------------
	&__access:hover{
		.off{
			display: none;
		}
		.on{
			display: block;
		}
	}
}
/*
------------------------------------------------------------*/
.c-titleheader{
	padding-top: 180px;
	font-size: 37px;
	color: #49917f;
	font-family: 'Noto Serif', serif;
}
/*
------------------------------------------------------------*/
.c-logo1{
	margin-top: 30px;
	position: relative;
	z-index: 999;
}
/*
------------------------------------------------------------*/
.c-img1{
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-top: 95px;
	width: 100%;
	max-width: 1995px;
	height: 200px;
	//
	//-------------------------------------------------------
	&__box1{
		overflow: hidden;
		display: table-cell;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.c-gnavi1{
	margin-top: 50px;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 99999;
	ul{
		text-align: center;
		li{
			width: auto;
			margin: 0 15px;
			float: left;
			opacity: 0.6;
			a{
				width: 100%;
				display: flex;
				height: 40px;
				img{
					height: 40px;
					width: auto;
				}
			}
		}
		li:hover{
			opacity: 1;
			margin-top: 5px;
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
		}
	}
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.c-footer{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background: #f8f5f3 url(../img/end/bg.PNG) no-repeat center;
}
/*
------------------------------------------------------------*/
.c-contentft{
	width: 960px;
	height: 360px;
	margin: 0 auto;
	text-align: center;
	.c-boxft{
		margin: 50px 20px;
		display: inline-block;
	}

}
/*
------------------------------------------------------------*/
.c-copyright{
	color: #ffffff;
	font-size: 12px;
	background: rgba(73, 145, 127, 0.6);
	height: 40px;
	width: 100%;
	font-family: 'Noto Sans Japanese';
	display: flex;
	align-items: center;
	justify-content: center;
}
/*
------------------------------------------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 200px;
  z-index: 99;
  background: none;
}
/*
------------------------------------------------------------*/
.hover {
	position: relative;
	width: 100%;
	height: auto;
}
/*
------------------------------------------------------------*/
.img_hover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .4s ease;
}
/*
------------------------------------------------------------*/
.hover:hover .img_hover {
	opacity: 1;
}
/*
------------------------------------------------------------*/
.img_over {
	display: block;
	height: auto;
}