@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1500px;
	line-height: 1.5;
	text-align: center;
}
.pc{
	display: block !important;
}
.sp{
	display: none !important;
}



/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header{
	.header_pc{
		.banner{
			.bn1{
				width: 100%;
			}
			    position: relative;
			.img_text{
				position: absolute;
    			top: 180px;
    			right: 80px;
				img{
				}
			}
		}
		.menu{
			nav{
				width: 100%;
				height: 95px;
				background: #ffffff;
				ul{
					float: right;
					width: auto;
					margin-right: 50px;
					height: auto;
					li{
						display: flex;
						align-items: center;
						justify-content: center;
						height: 95px;
						float: left;
						a{
							margin-left: 50px;
							text-decoration: none;
							font-size: 1.8rem;
							color: #000;
							font-weight: 800;
						}
						a:hover{
							color: #009688;
						}
						a:before{
							margin-left: -22px;
						    content: "";
						    margin-top: 9px;
						    background: url(../img/icon_menu.png) no-repeat ;
						    width: 15px;
						    height: 9px;
						    position: absolute;
						}
					}
				}
			}
		}
	}
}


/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

footer {
	width: 100%;
	height: auto;
	.option1{
		width: 100%;
		height: 370px;
		background: #eeeeee;
		.logo{
			padding-top: 100px;
		}
		.text{
			padding-top: 60px;
			color: #404040;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
	.option2{
		width: 100%;
		height: 300px;
		background: #33c49d;
		.btn_footer{
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 50px;
			.btn{
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50px;
				background: #ffffff;
				width: 450px;
				height: 90px;
			}
			.btn:hover{
				opacity: 0.5;
				transition-duration: 0.5s;
			}
		}
		.text{
			color: #ffffff;
			font-size: 1.5rem;
			padding-top: 30px;
		}
	}
	.option3{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50px;
		background: #3c3c3c;
		color: #ffffff;
		font-size: 1.5rem;
		font-weight: bold;
	}
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 130px;
  right: 120px;
  z-index: 9999999;
  background: none;
}
#myBtn:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	body{
		min-width: 320px !important;
		zoom: 1;
	}
	.sp{
		display: block !important;
	}
	.pc{
		display: none !important;
	}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 9999999;
  background: none;
  img{
  	width: 50px;
  }
}
.center{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
header{
	width: 100%;
	height: auto;
	margin: 0 auto;
	.header_sp{
		width: 100%;
		height: auto;
		margin: 0 auto;
		.img_text1{
			width: 100%;
			position: absolute;
			z-index: 1111;
			img{
				width: 100%;
				min-width: 320px !important;
			}
		}
		.img_text2{
			display: block;
			width: 100%;
			position: absolute;
			z-index: 1111;
			margin-top: 96%;
			img{
				max-width: calc(560px/2);
				min-width: 320px !important;
			}
		}
		img{
			width: 100%;
		}
	}
}


footer{
	width: 100%;
	height: auto;
	margin: 0 auto;
	.option1_sp{
		background: #eeeeee;
		width: 100%;
		height: auto;
		padding-bottom: 40px;
		.logo{
			padding-top: 40px;
			width: 54%;
			margin: 0 auto;
			img{
				width: calc(341px/2);
			}
		}
		.text{
			padding-top: 18px;
			margin: 0 auto;
			width: 90%;
			font-size: 1.2rem;
			line-height: 1.6;
			color: #404040;
		}
	}
	.option3{
		height: 30px;
		font-size: 1rem;
	}
	.option2_sp{
		width: 100%;
		background: #33c49d;
		.btn_footer{
			padding-top: 30px;
			.btn{
				width: 75%;
				margin: 0 auto;
				img{
					width: calc(480px/2);
				}
			}
			.btn:hover{
				opacity: 0.5;
				transition-duration: 0.5s;
			}
		}
		.text{
			width: 84%;
			margin: 0 auto;
			color: #ffffff;
			line-height: 1.4;
			font-size: 1.2rem;
			padding-top: 20px;
			padding-bottom: 23px;
		}
	}
}





















}