@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.l-option1{
	background: url(../img/bg/bg.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 710px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	.banner{
		width: 100%;
		position: absolute;
		z-index: 999;
		float: left;
		img{
			float: left;
			margin-top: -280px;
			width: 580px;
		}
	}
	.c-content{
		z-index: 1000;
		position: relative;
		height: auto;
		width: 1442px;
		margin: 0 auto;
		justify-content: center;
		.c-box{
			height: auto;
			margin-top: 60px;
			width: 33%;
			float: left;
			img{
				width: 100%;
			}
			&--margin{
				margin: 60px 7px 0 7px;
			}
		}
	}
	.button_option1{
		margin-top: 510px;
		z-index: 1000;
		position: absolute;
		width: 100%;
	}
	.button_option1:hover{
		opacity: 0.7;
		transition-duration: 0.5s;
	}
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.l-option2{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 100px 0 50px 0;
	.l-main{
		width: 1440px;
		height: auto;
		margin: 0 auto;
	}
	.c-content{
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding-top: 50px;
		.c-table{
			width: 100%;
			height: auto;
			margin-bottom: 50px;
			.title{
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
				font-weight: bold;
				color: #ffffff;
				background: #10222b;
			}
			table {
			    width: 100%;
			    border: 1px solid #ccc;
			    tr{
					td{
						height: 120px;
					}
				}
			}
		}
		.c-table2{
			width: 100%;
			height: auto;
			margin-bottom: 50px;
			.title{
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
				font-weight: bold;
				color: #ffffff;
				background: #10222b;
		    }
		    table {
			    font-family: arial, sans-serif;
			    border-collapse: collapse;
			    border: 1px solid #ccc;
			    width: 100%;
			}
			.u-red{
				color: #ff1e5b;
			}
			tr{
				th{
					font-size: 1.5rem;
					background-color: #dddddd;
					height: 50px;
				}
				td{
					font-size: 1.5rem;
					font-weight: bold;
					line-height: 1.5;
				    border-bottom: 1px solid #ccc;
				    border-right: 1px solid #ccc;
				    padding: 12px;
				}
			}
			tr:nth-child(3) {
			    background-color: #f8f8f8;
			}
			tr:nth-child(5) {
			    background-color: #f8f8f8;
			}
			tr:nth-child(7) {
			    background-color: #f8f8f8;
			}
			tr:nth-child(9) {
			    background-color: #f8f8f8;
			}
			td:nth-child(1){
				border-right: none;
				text-align: left;
				padding-left: 20px;
			}
			td:nth-child(2){
				font-weight: 500;
				text-align: left;
			}
		}
		.text{
			padding-top: 20px;
			text-align: left;
			color: #3c3c3c;
			font-size: 1.5rem;
			.c-box{
				padding: 5px 10px;
				font-weight: bold;
				color: #ffffff;
				background: #33c49d;
				&--box2{
					background: #0080ae;
				}
			}
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.l-option3{
	width: 100%;
	height: 788px;
	display: inline-block;
	background: url(../img/bg/bg2.PNG) no-repeat top;
	background-size: cover;
	.logo{
		padding-top: 170px;
	}
	.text{
		padding-top: 60px;
		color: #ffffff;
		font-size: 1.8rem;
	}
	.button_option3{
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		 justify-content: center;
		.c-btn{
			margin: 30px;
			.btn_img{
				background: rgba(111, 107, 87, 0.6);
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				width: 419px;
				height: 89px;
				border-radius: 50px;
				border: 1px solid #ffffff;
				&--btn_img2:hover{
					background: url(../img/btnover2_option3.png) no-repeat center !important;
				}
			}
			.btn_img:hover{
				background: url(../img/btnover_option3.png) no-repeat center;
				img{
					display: none;
				}
			}
			.info{
				margin-top: 20px;
				font-size: 1.3rem;
				color: #ffffff;
			}

		}
	}
}
.bg1{
	width: 100%;
	float: left;
	text-align: left;
}
/*------------------------------------------------------------
	option4
------------------------------------------------------------*/
.l-option4{
	width: 100%;
	height: auto;
	margin-bottom: 120px;
	.logo{
		padding-bottom: 50px;
	}
	.content{
		width: 1000px;
		height: 290px;
		margin: 0 auto;
		border: 1px solid #ccc;
		.c-box1{
			float: left;
			width: 330px;
			height: 100%;
			text-align: left;
			img{
				margin: 30px;
			}
		}
		.c-box{
			float: left;
			width: 670px;
			height: 100%;
			&__box1{
				width: 640px;
				text-align: left;
				margin: 30px 30px 20px 0;
				height: 85px;
				h4{
					padding-top: 10px;
					font-size: 1.8rem;
				}
				p{
					padding-top: 15px;
					font-size: 1.5rem;
					color: #000000;
				}
			}
			&__box2{
				width: 640px;
				margin: 0px 30px 30px 0;
				background: #f0f0f0;
				text-align: left;
				height: 125px;
				ul{
					padding: 30px;
					li{
						position: relative;
						font-size: 1.5rem;
						color: #000000;
						padding-left: 15px;
						padding-bottom: 10px;
					}
					li:before {
					    content: "";
					    background: url(../img/dot.PNG) no-repeat center;
					    width: 7px;
					    height: 7px;
					    position: absolute;
					    top: 8px;
					    left: 0;
					}
				}
			}
		}
	}
}
/*------------------------------------------------------------
	option5
------------------------------------------------------------*/
.l-option5{
	width: 100%;
	height: auto;
	margin-bottom: 140px;
	.logo{

	}
	.content{
		width: 1440px;
		height: 254px;
		margin: 0 auto;
		.c-box{
			margin-top: 50px;
			float: left;
			margin-right: 20px;
			width: 272px;
			height: auto;
			.img:hover img{
				opacity: 0.2;
			}
			.img:hover .link{
				opacity: 1;
				display: block;
			}
			.img{
				display: flex;
				align-items: center;
				justify-content: center;
				p{
					width: 100%;
					display: none;
					font-size: 1.8rem;
					color: #ff0000;
					font-weight: bold;
					position: absolute;
				}
			}
		}
		.c-box:nth-child(5){
			margin-right: 0;
		}
	}
}
/*------------------------------------------------------------
	option6
------------------------------------------------------------*/
.l-option6{
	width: 100%;
	height: auto;
	margin-bottom: 100px;
	.logo{
		width: 1440px;
		height: auto;
		margin: 0 auto;
		text-align: left;
	}
	.content{
		width: 100%;
		height: 500px;
		margin: 0 auto;
		padding-top: 45px;
		background: url(../img/bg/bg3.PNG) no-repeat right 80px top 40px;
		background-size: 48%;
		.maps{
			float: left;
			margin-top: 20px;
			width: 50%;
			height: 400px;
			iframe{
				width: 100%;
				height: 480px;
			}
		}
		.table{
			float: right;
			margin-top: -80px;
			width: 48%;
			height: 420px;
			background: #10222b;
			position: relative;
			z-index: 2;
			table {
			    font-family: arial, sans-serif;
			    border-collapse: collapse;
			    width: 480px;
			    height: 250px;
			    margin-top: 90px;
			    margin-left: 60px;
			}
			tr{
				 border-bottom: 1px solid #636f75;
				td{
					font-size: 1.5rem;
					color: #ffffff;
					padding: 10px 0;
					text-align: left;
					font-weight: bold;
					line-height: 1.5;
					position: relative;
				}
			}
			tr:nth-child(5){
				border-bottom: none;
			}
			.c-icon{
				width: 150px;
				padding-left: 25px;
				display: flex;
				align-items: center;
				&.c-icon--2:before {
				    background: url(../img/icon2_option6.PNG) no-repeat center;
			    }
			    &.c-icon--3:before {
			    	top: 12px;
				    background: url(../img/icon3_option6.PNG) no-repeat center;
			    }
			    &.c-icon--4:before {
				    background: url(../img/icon4_option6.PNG) no-repeat center;
			    }
			    &.c-icon--5:before {
				    background: url(../img/icon5_option6.PNG) no-repeat center;
			    }
			}
			.c-icon:before {
			    content: "";
			    background: url(../img/icon1_option6.PNG) no-repeat center;
			    width: 17px;
			    height: 17px;
			    position: absolute;
			    left: 0;
			}
		}
	}
}
/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
body{
	min-width: 320px !important;
}
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.l-option1_sp{
	background: url(../img/mobile/bg2.png) no-repeat center;
	background-size: cover;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	.banner{
		width: 100%;
		height: auto;
		position: absolute;
		img{
			float: left;
			margin-top: -30px;
			width: 100%;
			min-width: 320px !important;
		}
	}
	.c-content_sp{
		margin: 0 auto;
		width: 100%;
		padding-top: 43%;
		.box1{
			width: 95%;
			margin: 0 auto;
			img{
				width: calc(602px/2);
			}
			&--2{
				height: auto;
				margin-top: 6px;
				display: inline-block;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					float: left;
					width: calc(299px/2);
				}
			}
		}
	}
	.button{
		width: 87%;
		margin: 0 auto;
		padding-top: 17px;
		padding-bottom: 50px;
		img{
			width: calc(560px/2);
		}
	}
	.button:hover{
		opacity: 0.7;
		transition-duration: 0.5s;
	}
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.l-option2_sp{
	width: 100%;
	height: auto;
	margin: 0 auto;
	.logo{
		width: 60%;
		height: auto;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 30px;
		img{
			width: calc(379px/2);
		}
	}
	.text{
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 28px;
		p{
			font-size: 1.2rem;
			padding: 9px 0;
		}
		.u-t1{
			display: block;
			width: 100%;
			font-size: 1.3rem;
			font-weight: bold;
			color: #ffffff;
			padding: 6px 0;
			background: #33c49d;
		}
		.u-t2{
			display: block;
			width: 100%;
			font-size: 1.3rem;
			font-weight: bold;
			color: #ffffff;
			padding: 6px 0;
			background: #0080ae;
		}
	}
	.c-table{
		.title{
			width: 100%;
			background: #10222b;
			height: 45px;
			color: #ffffff;
			font-size: 1.6rem;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.table1{
			width: 90%;
			height: auto;
			margin: 0 auto;
			tr{
				td{
					padding-top: 16px;
					padding-bottom: 30px;
					width: 50%;
					img{
						width: calc(275px/2);
					}
				}
			}
		}
	}
}

.accordion {
	height: auto;
	border-top: 1px  solid #e5e5e5 !important;
	border-bottom: 1px  solid #e5e5e5 !important;
	padding: 19px 0;
	float: left;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    display: flex;
	align-items: center;
    .title1{
    	float: left;
    	width: 82%;
    	font-size: 1.8rem;
		font-weight: bold;
		color: #3c3c3c;
		padding-left: 15px;
		display: flex;
		align-items: center;
		p{
			float: left;
		}
		.u-text{
			padding-left: 15px;
			float: left;
			font-size: 1rem;
			color: #999999;
		}
    	.left{
    		float: left;
    		width: auto;
    		margin-right: 20px;
    	}
    	.right{
    		float: left;
    		width: auto;
    	}
    }
}



.accordion:after {
	height: 22px;
	margin-top: -26px;
	margin-left: 5px;
	float: right;
    content: '\002B';
    font-weight: bold;
    font-size: 4rem;
    color: #c9c9c9;

}

.active:after {
	margin-top: -20px;
    margin-left: 0px;
    content: "\2212";
    font-size: 4rem;
    color: #49c8b2;
}

.panel {
    padding: 0px 1px 0px 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    transition: max-height 0.2s ease-out;
    .table2{
    	width: 100%;
		border-collapse: collapse;
		margin: 20px 0;
    }
    tr{
		td{
			font-size: 1.2rem;
			font-weight: bold;
			color: #3c3c3c;
		    border: 1px solid #ccc;
		    padding: 13px 0 13px 14px;
		    text-align: left;

		}
	}
	td:nth-child(1){
		width: 114px;
		background: #fbfbfb;
	}

    .bottom{
    	padding-bottom: 10px;
    }
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.l-option3_sp{
	background: url(../img/mobile/bg3.png) no-repeat top;
	background-size: 100% auto;
	width: 100%;
	height: auto;
	.logo{
		padding-top: 70px;
		width: 80%;
		margin: 0 auto;
		img{
			width: calc(511px/2);
		}
	}
	.text1{
		font-size: 1.2rem;
		color: #ffffff;
		padding-top: 25px;
	}
	.btn_contact{
		padding-top: 10px;
		.c-btn{
			padding-top: 10px;
			width: 87%;
			margin: auto;
			img{
				width: calc(560px/2);
			}
		}

	}
	.text2{
		font-size: 1rem;
		color: #ffffff;
		padding-top: 5px;
		padding-bottom: 85px;
	}
}
/*------------------------------------------------------------
	option4
------------------------------------------------------------*/
.l-option4_sp{
	margin-top: 40px;
	.logo{
		width: 90%;
		margin: 0 auto;
		padding-bottom: 25px;
		img{
			width: calc(577px/2);
		}
	}
	.content{
		width: 78%;
		height: auto;
		margin: 0 auto;
		border: 1px solid #c8c8c8;
	    padding: 15px;
	    img{
	    	max-width: calc(227px/2);
	    	height: auto;
	    }
	    h4{
	    	padding-top: 15px;
	    	font-size: 1.6rem;
	    	color: #3c3c3c;
	    }
	    p{
	    	padding-top: 6px;
	    	text-align: left;
	    	font-size: 1.2rem;
	    	color: #3c3c3c;
	    }
	    .txt{
	    	margin-top: 23px;
	    	background: #f0f0f0;
	    	text-align: left;
	    	color: #3c3c3c;
	  		padding: 11px;
	    	ul{
	    		li{
	    			position: relative;
	    			font-size: 1.2rem;
	    			padding-bottom: 0;
	    			padding-left: 12px;
	    		}
	    		li:before {
				    content: "";
				    background: url(../img/dot.PNG) no-repeat center;
				    background-size: 70%;
				    width: 7px;
				    height: 7px;
				    position: absolute;
				    top: 5px;
				    left: 0;
				}
	    	}
	    }
	}
}
/*------------------------------------------------------------
	option5
------------------------------------------------------------*/
.l-option5{
	width: 100%;
	height: auto;
	margin: 50px 0 45px 0;
	min-width: 320px !important;
	.logo{
		width: 90%;
		margin: 0 auto;
		img{
			width: calc(595px/2);
		}
	}
	.content{
		padding-top: 15px;
		width: 89%;
		height: auto;
		display: inline-block;
		margin: 0 auto;
		.c-box{
			margin-top: 10px;
			float: left;
			margin-right: 4%;
			width: 48%;
			height: auto;
			img{
				width: 100%;
				height: auto;
			}
			.img:hover img{
				opacity: 0.2;
			}
			.img:hover .link{
				opacity: 1;
				display: block;
			}
			.img{
				display: flex;
				align-items: center;
				justify-content: center;
				p{
					display: none;
					font-size: 1.8rem;
					color: #ff0000;
					font-weight: bold;
					position: absolute;
				}
			}
		}
		.c-box:nth-child(even){
			margin-right: 0;
		}
	}
}
/*------------------------------------------------------------
	option6
------------------------------------------------------------*/
.l-option6_sp{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 40px;
	.logo{
		width: 64%;
		margin: 0 auto;
		padding-bottom: 20px;
		img{
			width: calc(402px/2);
		}
	}
	.maps{
		width: 88%;
		margin: 0 auto;
		height: auto;
		iframe{
			width: 100%;
			height: 240px;
		}
	}
	.table{
		width: 100%;
		height: auto;
		table{
			width: 88%;
			margin: 0 auto;
			background: #10222b;
			color: #ffffff;
			tr{
				display: grid;
				width: 90%;
				margin: 0 auto;
				border-bottom: 1px solid #636f75;
			}
			td{
				padding: 10px 0;
				font-size: 1.2rem;
			}
			.c-icon{
				margin-top: 20px;
				padding: 0;
				font-size: 1.4rem;
				font-weight: bold;
			}
			.bottom{
				border-bottom: none;
			}
		}
	}
}

// end responsive

}