/*------------------------------------------------------------
	Banner
------------------------------------------------------------*/
.banner_sp {
  display: none;
}

.banner {
  text-align: center;
  background: url(../img/main/banner.jpg) no-repeat center top;
  height: 420px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 78px;
}

.banner .slogan {
  margin-bottom: 38px;
}

/*------------------------------------------------------------
	New
------------------------------------------------------------*/
.news_sp {
  display: none;
}

.new {
  width: 948px;
  height: 158px;
  border: 1px solid #dddddd;
  margin-bottom: 80px;
  float: left;
}

.new .logo_new {
  float: left;
  height: 158px;
  width: 235px;
}

.new .logo_new .img_new {
  margin-top: 40px;
}

.new .logo_new .img_lick {
  margin-top: 13px;
}

.new .logo_new .img_lick:hover .image_button {
  opacity: 0.7;
}

.new .text {
  height: auto;
  float: left;
  font-size: 1.6rem;
  padding-left: 39px;
  margin-top: 30px;
  border-left: 2px solid #ddd;
}

.new .text a {
  color: #000;
  margin-left: 7px;
}

.new .text li {
  padding: 4px 0px;
}

.new .text li .blue {
  color: #0e5b9a;
  float: left;
}

@media screen and (max-width: 736px) {
  .news_sp {
    display: block;
  }
}

/*------------------------------------------------------------
	Construction
------------------------------------------------------------*/
.construction {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
  padding-top: 62px;
  background: #eeeeee;
}

.construction .construction_logo img {
  height: 46px;
}

.construction .construction_text {
  padding-top: 32px;
  padding-left: 6px;
  font-size: 1.6rem;
}

.construction .construction_button {
  width: 950px;
  height: 300px;
  margin-top: 58px;
}

.construction .construction_button .more1 {
  float: left;
  height: 226px;
  width: 220px;
  padding-left: 35px;
}

.construction .construction_button .more2 {
  float: left;
  height: 226px;
  width: 220px;
  padding-left: 110px;
}

.construction .construction_button .more3 {
  float: left;
  height: 226px;
  width: 220px;
  padding-left: 104px;
}

.construction_sp {
  display: none;
}

.construction_button_sp {
  display: none;
}

@media screen and (max-width: 736px) {
  .construction_sp {
    display: block;
  }
  .construction_button_sp {
    display: block;
  }
  .construction {
    padding-top: 9%;
  }
  .construction .construction_text {
    padding-top: 5%;
    padding-left: 0;
  }
}

/*------------------------------------------------------------
	Alsok
------------------------------------------------------------*/
.alsok {
  width: 100%;
  height: 345px;
  margin: 0 auto;
  float: left;
  padding-top: 60px;
  background: #ffffff;
}

.alsok .img_alsok {
  float: left;
  margin: -11px -56px;
  width: 504px;
  height: auto;
}

.alsok .content_alsok {
  width: auto;
  height: 250px;
  text-align: left;
  margin: 22px 0px 0px 120px;
  float: left;
}

.alsok .content_alsok .logo_alsok {
  width: auto;
}

.alsok .content_alsok .text_alsok {
  font-size: 1.6rem;
  padding-top: 28px;
}

.alsok .content_alsok .btn_alsok {
  padding-top: 24px;
}

.alsok .content_alsok .btn_alsok:hover .image_button {
  opacity: 0.7;
}

.img_alsok_sp {
  display: none;
}

.alsok_sp {
  display: none;
}

@media screen and (max-width: 736px) {
  .img_alsok_sp {
    display: block;
  }
  .alsok_sp {
    display: block;
  }
}
