/*------------------------------------------------------------
	Banner
------------------------------------------------------------*/
#container_sp {
  display: none;
}

@media screen and (max-width: 736px) {
  #container_sp {
    display: block;
  }
}

.banner {
  background: url(../img/tv/banner_tv.JPG) no-repeat center top;
  height: 197px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid  #dddddd;
  margin-bottom: 62px;
}

.banner .slogan {
  margin-top: 56px;
}

.banner .banner_text {
  float: left;
  padding-top: 76px;
  text-align: left;
  font-size: 1.2rem;
  padding-left: 2px;
}

.banner .banner_text a {
  float: left;
  color: #0c5999;
}

.banner .banner_text p {
  float: left;
  padding-left: 4px;
}

/*------------------------------------------------------------
  Content 1
------------------------------------------------------------*/
.content1 .logo_content1 {
  height: 48px;
  margin-top: -15px;
}

.content1 .logo_content1 p {
  padding-top: 10px;
  font-size: 2.6rem;
  font-weight: bold;
}

.content1 .logo_content1 img {
  margin-top: 10px;
}

.content1 .text_content1 {
  margin: 58px 0px 43px 0px;
  font-size: 1.6rem;
  font-weight: bold;
}

.content1 .table_content1 {
  margin-bottom: 80px;
}

.content1 .table_content1 th {
  height: 46px;
  background: #0e5b9a;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
}

.content1 .table_content1 table, .content1 .table_content1 th, .content1 .table_content1 td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.content1 .table_content1 td {
  height: 120px;
  padding: 10px;
  text-align: left;
  font-size: 1.6rem;
}

.content1 .table_content1 td p {
  margin-top: -48px;
  margin-left: 6px;
}

.content1 .table_content1 .th1 {
  width: 284px;
}

.content1 .table_content1 .th2 {
  width: 237px;
}

.content1 .table_content1 .th3 {
  width: 518px;
}

/*------------------------------------------------------------
  Content 2
------------------------------------------------------------*/
.content2 {
  background: #eeeeee;
  height: 1460px;
}

.content2 .logo_content2 {
  height: 48px;
}

.content2 .logo_content2 p {
  padding-top: 60px;
  font-size: 2.6rem;
  font-weight: bold;
}

.content2 .logo_content2 img {
  margin-top: 10px;
}

.content2 .box {
  width: 100%;
  height: auto;
  margin-top: 110px;
}

.content2 .box .box1 {
  background: #ffffff;
  width: 950px;
  height: 250px;
  float: left;
}

.content2 .box .box1 .content {
  text-align: left;
  width: 595px;
  float: left;
  margin: 25px 0px 25px 25px;
}

.content2 .box .box1 .content .text {
  margin-top: 27px;
}

.content2 .box .box1 .content .text p {
  margin-left: 2px;
  font-size: 1.6rem;
}

.content2 .box .box1 .content .info_box {
  width: 100%;
  margin-top: 30px;
  height: auto;
  float: left;
}

.content2 .box .box1 .content .info_box .phone {
  float: left;
}

.content2 .box .box1 .content .info_box .mail {
  float: right;
  height: 50px;
  text-align: center;
  width: 295px;
  background: #ffed4d;
}

.content2 .box .box1 .content .info_box .mail img {
  margin-top: 16px;
}

.content2 .box .box1 .content .info_box .mail:hover {
  opacity: 0.7;
}

.content2 .box .box1 .images {
  float: right;
  margin: 25px;
}

.content2 .box .box2 {
  background: #ffffff;
  margin-top: 30px;
  width: 950px;
  height: 210px;
  float: left;
}

.content2 .box .box2 .content {
  text-align: left;
  width: 595px;
  float: left;
  margin: 25px 0px 25px 25px;
}

.content2 .box .box2 .content .text {
  margin-top: 27px;
}

.content2 .box .box2 .content .text p {
  margin-left: 2px;
  font-size: 1.6rem;
}

.content2 .box .box2 .content .text .blue {
  float: left;
  width: auto;
  color: #0e5b9a;
  font-weight: bold;
}

.content2 .box .box2 .images {
  float: right;
  margin: 25px;
}

/*------------------------------------------------------------
  Content 3
------------------------------------------------------------*/
.content3 {
  width: 100%;
  height: 297px;
}

.content3 .slogan_content3 {
  padding-top: 62px;
}

.content3 .text_content3 {
  line-height: 0.1;
}

.content3 .text_content3 .text1 {
  padding-top: 58px;
  padding-left: 33px;
  width: 300px;
  margin: 0 auto;
  height: 30px;
}

.content3 .text_content3 .text2 {
  width: 400px;
  margin: 0 auto;
  padding-left: 34px;
  height: 30px;
}

.content3 .text_content3 p {
  float: left;
  font-size: 1.6rem;
}

.content3 .text_content3 .blue {
  padding-top: 0px;
  font-size: 2.2rem;
  color: #0e5b9a;
}
