html, body {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

p, ul {
  margin: 0;
  padding: 0;
}

.img-pc {
  display: block;
  width: 100%;
}

.icon-button {
  height: 38px;
}

.img-smp, .logo-smp {
  display: none;
}

.img-logo {
  width: 195px;
}

.icon-header {
  height: 28px;
  margin-right: 8px;
}

.img-menu-pc {
  height: 12px;
}

#header {
  width: 1200px;
  height: auto;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 9;
}

/* begin menu */

.menu {
  width: 960px;
  margin: auto;
  margin-top: 30px;
}

.menu-top {
  width: 100%;
  .logo {
    text-align: center;
    margin-top: -32px;
  }
  .logo-menu-smp {
    display: none;
  }
  .social-icon {
    text-align: right;
    margin-right: 9px;
  }
  .menu-icon {
    float: right;
    display: none;
    cursor: pointer;
    .bar1, .bar2, .bar3 {
    width: 23px;
    height: 2px;
    background-color: black;
    margin: 5px 16px;
    }
  }
}

#header nav {
  text-align: center;
  margin: 28px 0;
  ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 44px;
  }
}

#nav-smp {
  display: none;
  li {
    list-style: none;
    border-top: solid 1px #939598;
    padding-left: 44px;
    position: relative;
    a img {
      padding: 12px 0;
    }
    ul {
      padding: 17px 0;
      li {
        border: none;
        padding-left: 17px;
        font-weight: bold;
        font-size: 0.875rem;
      }
    }
  }
  .accd-content {
    display: none;
  }
}

.accordion:before {
  content: '';
  position: absolute;
  left: 25px;
  top: 10px;
  font-weight: bold;
}

.accIcon:before {
  content: 'x';
}

nav {
  .sub-menu {
    background-color: #fff;
    color: #000;
    display: none;
    position: absolute;
    z-index: 9999;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
  }
  .dropdown:hover .sub-menu {
    display: block;
  }
}

section {
  height: auto;
  width: 1200px;
  margin: 0 auto;
}

/* begin news */

.section-logo {
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-section-logo {
  margin-top: 61px;
  height: 26px;
}

.section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  height: 497px;
  width: 960px;
  border-top: 1px solid black;
}

.news-block {
  margin: 0 auto;
  padding-top: 67.5px;
  padding-left: 161px;
}

.news-block1 {
  float: left;
  margin-bottom: 60px;
  width: 100%;
}

.news-img {
  float: left;
}

.news-info {
  float: left;
  width: 420px;
  margin-left: 18px;
}

.new {
  color: red;
}

.siez-img {
  width: 182px;
  height: 124px;
}

.and-more {
  text-align: center;
}

.img-and-more {
  height: 15px;
}

/* end news */
/* begin banner */

.img-banner {
  display: block;
  width: 100%;
}

.img-banner-smp {
  display: none;
  width: 100%;
}

.banner {
  width: 1200px;
  margin-top: 260px;
}

.breadcrumb {
  float: right;
  padding-right: 120px;
  padding-top: 18px;
  font-size: 0.875rem;
}

a {
  color: #505052;
  text-decoration: none;
}

/* end banner */
/* begin gallerist message */

.img-pc {
  display: block;
  width: 100%;
}

.img-smp {
  display: none;
  width: 100%;
}

.img-name {
  float: right;
  padding-right: 45px;
  height: 54px;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  height: 1387px;
}

.text {
  width: 100%;
  height: auto;
  color: #fff;
  position: relative;
  .content-text {
    width: 45%;
    padding: 80px 0px 0px 60px;
    top: 0;
    text-align: justify;
    position: absolute;
  }
}

.img-name-content {
  float: right;
  margin-right: 30px;
  height: 55px;
}

.name {
  position: absolute;
  bottom: 27px;
  margin-right: 50px;
  width: 100%;
  height: auto;
}

/* end gallerist message */
/* begin gallery */

.gallery-concept {
  width: 1200px;
  height: 500px;
}

.gallery-concept-center {
  width: 1200px;
  display: flex;
  padding-bottom: 86px;
  justify-content: center;
  align-items: center;
}

.block-gallery-concept {
  width: 1200px;
  float: left;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.block-gallery-concept-center {
  width: 960px;
}

.info-gallery-concept {
  float: left;
  height: 330px;
  width: 460px;
  text-align: justify;
}

.img-gallery-concept {
  float: right;
  height: 330px;
  width: 460px;
}

.gallery-concept-img {
  float: left;
  height: 330px;
  width: 460px;
}

.access {
  height: 700px;
  width: 1200px;
  margin-bottom: 137px;
  background: #F1F3F4;
}

.access-center {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 960px;
  height: 560px;
}

.access1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-access1 {
  float: left;
  height: 520px;
  width: 500px;
}

.block-access2 {
  float: right;
  height: 520px;
  width: 500px;
}

.access-img1 {
  display: block;
  background: #ffffff;
  height: 460px;
  width: 460px;
}

.access-img1-smp {
  display: none;
}

.access-img2 {
  float: right;
  height: 294px;
  width: 460px;
}

.text-access {
  padding-top: 27px;
  width: 460px;
  float: right;
}

.google {
  padding-top: 18px;
  width: 166px;
}

/* end gallery */
/* begin footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: auto;
}

.icon-footer {
  height: 150px;
  width: 960px;
  border-top: 1px solid black;
  text-align: center;
}

.img-icon-footer {
    padding-top: 35px;
    margin: 4px;
    height: 32px;
}

.text-language {
  font-size: 0.875rem;
  color: #231F20;
}

.copyright {
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding-top: 22px;
}



/*breakpoint 736px*/
@media screen and (max-width: 736px) {
  html, body {
    width: 100%;
    font-size: 0.875rem;
  }
  #header {
    width: 100%;
  }
  section {
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
  }
  /* begin menu */
  #header {
    .menu {
      width: 100%;
      margin-top: 10px;
      .menu-top {
        .logo {
          margin-top: 0;
        }
        .social-icon, .logo {
          display: none;
        }
        .logo-smp {
          display: block;
          text-align: center;
          margin: auto;
          width: 88px;
          img {
            width: 100%;
          }
        }
        .menu-icon {
          display: block;
        }
      }
    }
    nav {
      display: none;
    }
  }
  #nav-smp li a img {
    padding: 0;
    margin: 14px 0px 12px 0px;
    height: 12px;
  }
  .icon-button {
    height: 19px;
  }
  .slider {
    margin-top: 86px;
    width: 100%;
  }
  .slide-inner {
    height: auto;
    img {
      width: 100%;
    }
  }
  .prev, .next {
    margin-top: -35px;
  }
  .dot-bar {
    margin-top: 5px;
  }
  .dot {
    width: 6px;
    height: 6px;
  }
  .head-title {
    padding-bottom: 6px;
    .long-title {
      width: 75%;
    }
  }
  /* end menu */
  /* begin news */
  .section-logo {
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-section-logo {
    height: 13px;
    margin-top: 20px;
  }
  .section-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
  .news {
    height: 100%;
    width: 84%;
    border-top: 1px solid black;
  }
  .news-block {
    margin: 0 auto;
    padding-top: 6%;
    padding-left: 0px;
  }
  .news-block1 {
    float: left;
    margin-bottom: 12%;
    width: 100%;
  }
  .news-img {
    float: left;
  }
  .news-info {
    float: left;
    height: auto;
    width: 100%;
    margin-left: 0px;
    padding-top: 4%;
  }
  .new {
    color: red;
  }
  .siez-img {
    width: 100%;
    height: auto;
  }
  .and-more {
    text-align: center;
  }
  .img-and-more {
    height: 10px;
  }
  /* end news */
  /* begin banner */
  .img-banner {
    display: none;
    width: 100%;
  }
  .img-banner-smp {
    display: block;
    width: 100%;
  }
  .banner {
    width: 100%;
    margin-top: 84px;
  }
  .breadcrumb {
    display: none;
  }
  a {
    color: #505052;
    text-decoration: none;
  }
  /* end banner */
  /* begin gallery */
  .gallery-concept {
    width: 100%;
    height: 100%;
  }
  .gallery-concept-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
  }
  .block-gallery-concept {
    padding-top: 2%;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block-gallery-concept-center {
    width: 84%;
  }
  .info-gallery-concept {
    float: left;
    height: 100%;
    width: 100%;
    text-align: justify;
    padding-bottom: 10%;
  }
  .img-gallery-concept {
    float: right;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
  }
  .gallery-concept-img {
    float: left;
    height: auto;
    width: 100%;
  }
  .access {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: #F1F3F4;
  }
  .access-center {
    display: block;
    justify-content: center;
    align-items: center;
    float: left;
    width: 84%;
    margin-bottom: 15%;
    height: auto;
  }
  .access1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block-access1, .block-access2 {
    float: left;
    height: auto;
    width: 100%;
  }
  .access-img1-smp {
    display: block;
    background: #ffffff;
    height: auto;
    width: 100%;
  }
  .access-img1 {
    display: none;
  }
  .access-img2 {
    float: left;
    height: auto;
    width: 100%;
  }
  .text-access {
    padding-top: 7%;
    padding-bottom: 10%;
    width: 100%;
    height: auto;
    float: left;
  }
  .google {
    padding-top: 6%;
    padding-bottom: 7%;
    height: auto;
    width: 50%;
  }
  /* end gallery */
  /* begin gallerist message */
  .img-pc {
    display: none;
    width: 100%;
  }
  .img-smp {
    display: block;
    width: 100%;
  }
  .content {
    max-width: 90%;
    height: auto;
  }
  .img-name-content {
    float: none;
    padding: 30px;
    height: 35px;
  }
  .text {
    background: #000000;
    width: 100%;
    height: auto;
    color: #fff;
    position: relative;
    .content-text {
      width: 90%;
      padding: 0;
      top: 0;
      margin: 0 auto;
      text-align: justify;
      position: relative;
      margin-top: -30%;
    }
  }
  .img-name-content {
    float: none;
    margin-right: 0;
    height: 30px;
  }
  .name {
    position: relative;
    bottom: 0;
    margin-right: 0;
    text-align: center;
    width: 100%;
    height: auto;
  }
  /* end gallerist message */
  /* begin footer */
  footer {
    padding-bottom: 10%;
    width: 100%;
    height: auto;
  }
  .icon-footer {
    height: 100%;
    width: 84%;
    border-top: 1px solid black;
    text-align: center;
  }
  .img-icon-footer {
    padding-top: 5%;
    width: 17px;
    height: 17px;
  }
  .text-language {
    font-size: 0.75rem;
    color: #231F20;
  }
  .copyright {
    font-size: 0.4375rem;
    text-transform: uppercase;
    padding-top: 7%;
  }
  /* end footer */
}
/* end responsive */