/*------------------------------------------------------------
	.l-flame1
------------------------------------------------------------*/
.l-flame1{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
	&__left{
		width: 370px;
		height: 370px;
		float: left;
	}
	&__right{
		float: right;
		width: calc(1160px - 390px);
		font-size: 1.5rem;
		color: #000000;
		margin-left: 20px;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
	&__text1{
		margin-bottom: 20px;
	}
	&__text2{
		float: right;
		margin-top: 10px;
		font-size: 1.6rem;
		font-weight: bold;

	}
}
/*------------------------------------------------------------
	.l-flame2
------------------------------------------------------------*/
.l-flame2{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
	&__left{
		width: 50%;
		height: auto;
		display: inline-block;
		float: left;
		font-size: 1.5rem;
		line-height: 1.8;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		.c-more{
			font-size: 1.4rem;
			margin-top: 20px;
			display: inline-block;
			position: relative;
		}
		.c-more:before{
			content: "";
		    background: url(/assets/img/page2/more.png) no-repeat right;
		    width: 100%;
		    height: 15px;
		    position: absolute;
		    top: 5px;
		    left: 20px;
		}
	}
	&__right{
		width: 50%;
		height: auto;
		display: inline-block;
		float: right;
		text-align: right;
	}
}
/*------------------------------------------------------------
	.l-flame3
------------------------------------------------------------*/
.l-flame3{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
	position: relative;
	&__left{
		width: 560px;
		height: auto;
		display: inline-block;
		float: left;
	}
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
	}
	&__text1{
		width: 560px;
		font-size: 1.5rem;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		padding-bottom: 20px;
		line-height: 1.6;
	}
	&__text2{
		width: 560px;
		font-size: 1.4rem;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		padding-bottom: 20px;
		line-height: 1.6;
		h2{
			font-size: 1.6rem;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
			padding-bottom: 10px;
		}
	}
	&__btn1{
		width: 555px;
		height: auto;
		display: inline-block;
		position: absolute;
		z-index: 111;
    	bottom: 25px;
		a{
			text-decoration: none;
			color: #ffffff;
			font-size: 1.5rem;
			font-weight: bold;
		}
		.c-btn1{
			width: 100%;
			background: #888888;
			text-align: center;
			margin-top: 20px;
			padding: 5px 0;
			&--color1{
				margin-top: 20px;
				background: #e2750c;
			}
		}
	}

}
/*------------------------------------------------------------
	.l-flame4
------------------------------------------------------------*/
.l-flame4{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	&__left{
		width: 560px;
		height: auto;
		display: inline-block;
		float: left;
	}
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		    height: 370px;
		}

		td{
		    border: 1px solid #d6d6d6;
		    text-align: left;
		    padding: 8px;
		    font-size: 1.3rem;
		    width: 500px;
		}

		td:nth-child(1) {
			width: 270px;
			font-size: 1.3rem;
			font-weight: 600;
		    background-color: #e6e6e6;
		}
		tr:nth-child(8) {
			height: 155px;
		}
		.td1{
			width: 120px;
			display: inline-block;
		}
		.td2{
			padding: 9px 15px;
			width:30px;
			font-size: 1.3rem;
			font-weight: 600;
		    background-color: #e6e6e6;
		}

	}

}
/*------------------------------------------------------------
	.l-flame5
------------------------------------------------------------*/
.l-flame5{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	&__left{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: left;
	}
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		    height: 370px;
		    border-bottom: 1px solid #737473;
		}

		td{
		    border-top: 1px solid #737473;
		    text-align: left;
		    padding: 8px;
		    font-size: 1.3rem;
		    width: 500px;
		}

		td:nth-child(1) {
			width: 100px;
			font-size: 1.3rem;
			font-weight: 600;
		    background-color: #eaf1eb;
		}

	}

}
/*------------------------------------------------------------
	.l-flame6
------------------------------------------------------------*/
.l-flame6{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	&__left{
		width: 560px;
		height: auto;
		display: inline-block;
		float: left;
	}
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
	}
	&__title{
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		color: #ffffff;
		background: #51c571;
		font-size: 1.1rem;
		padding: 2px 20px;
		font-weight: bold;
	}
	&__text{
		font-size: 1.3rem;
		line-height: 1.6;
		padding-top: 20px;
	}
	.u-title{
		font-size: 1.6rem;
		padding-top: 30px;
	}
	.u-title2{
		font-size: 1.3rem;
		padding-top: 20px;
	}
}