/*------------------------------------------------------------
	.c-img1
------------------------------------------------------------*/
.c-img1{
	margin-top: 50px;
	height: auto;
	width: 100%;
	display: inline-block;
}