/*------------------------------------------------------------
    .c-tabs1
------------------------------------------------------------*/
.c-tab {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 50px;
}

.tablinks {
    width: 370px;
    background: #888888;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 0;
    margin-right: 22px;
    &--margin{
        margin-right: 0;
    }
}

.c-tab button:hover {
    background-color: #51c571;
}


.c-tab button.active {
    background-color: #51c571;
}


.tabcontent {
    display: none;
    width: 100%;
    height: auto;
}
/*------------------------------------------------------------
    .c-tabs2
------------------------------------------------------------*/
.c-tab2 {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 50px;
}

.tablinks {
    width: 370px;
    background: #888888;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 0;
    margin-right: 22px;
    &--margin{
        margin-right: 0;
    }
}

.c-tab button:hover {
    background-color: #51c571;
}


.c-tab button.active {
    background-color: #51c571;
}
