/*------------------------------------------------------------
	.c-title1
------------------------------------------------------------*/
.c-title1{
	width: 1160px;
	padding-top: 100px;
	margin: 0 auto;
	height: auto;
	text-align: center;
	font-size: 2rem;
	color: #999999;
	//
	//-------------------------------------------------------
	.u-size2{
		font-size: 2.4rem;
		color: #000000;
		font-weight: bold;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
	&--size{
		font-size: 1.6rem;
		.u-size2{
			font-size: 3.2rem;
		}
	}
	&--size2{
		text-align: left;
		font-size: 1.6rem;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
		.u-size2{
			font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
			font-size: 2rem;
		}
	}
}
