@media screen and (max-width: 736px) {
  .sp {
    display: block;
  }
  .pc {
    display: none !important;
  }
  /*------------------------------------------------------------
	header
------------------------------------------------------------*/
  #header {
    width: 100%;
    height: auto;
  }
  #header img {
    width: 100%;
    margin-bottom: -13px;
  }
  .center, .collection1_sp, .collection1_sp .slider, .option1, .option1 .text, .option2, .option22 {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  /*------------------------------------------------------------
	content
------------------------------------------------------------*/
  .c-banner {
    width: 100%;
    margin-top: 0;
  }
  .c-banner img {
    width: 100%;
  }
  .c-text {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
  }
  .collection1_sp {
    text-align: center;
    margin-top: 54px;
    width: 87%;
  }
  .collection1_sp .slider {
    text-align: center;
    width: 100%;
    height: auto;
  }
  .collection1_sp .iconslider_sp {
    width: 50%;
    float: left;
  }
  .collection1_sp .iconslider1_sp {
    width: 50%;
    float: right;
  }
  .collection1_sp .logo {
    margin-top: 20px;
    width: 44%;
  }
  .collection1_sp .logo img {
    width: 100%;
  }
  .collection1_sp .text1_img {
    margin-top: 12px;
    width: 52%;
  }
  .collection1_sp .text1_img img {
    width: 100%;
  }
  .collection1_sp .text1 {
    margin-top: 26px;
    font-size: 1.2rem;
    text-align: left;
  }
  .collection1_sp .button {
    width: 100%;
    margin: 10px 0;
  }
  .collection1_sp .text2 {
    text-align: left;
    padding-top: 5px;
    font-size: 1rem;
  }
  .collection1_sp .text3 {
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 8px;
  }
  .collection1_sp .text3 img {
    float: left;
    width: auto;
    height: 26px;
  }
  .collection1_sp .text3 p {
    float: left;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 6px;
  }
  .collection1_sp .text4 {
    font-size: 1.2rem;
    text-align: left;
    padding-top: 40px;
  }
  .collection1_sp .text4 p {
    font-size: 0.9rem;
  }
  .collection1_sp .text4 .p1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .collection1_sp .text4 .p2 {
    font-size: 1.9rem;
    font-weight: bold;
  }
  .collection1_sp .btn_shop {
    margin-top: 11px;
  }
  .collection1_sp .btn_online {
    margin-top: 6px;
  }
  .collection1_sp_top {
    margin-top: 77px;
  }
  .option1 {
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
    width: 87%;
    background: #eef2f5;
  }
  .option1 .img_text {
    width: 40%;
    margin: 15px 0;
  }
  .option1 .text {
    margin-top: 12px;
    text-align: left;
    line-height: 1.9;
    font-size: 1.1rem;
  }
  .option1 .text p {
    width: 91%;
  }
  .option1 .img_option1 {
    margin-top: 14px;
  }
  .option1 .btn_option1 {
    margin-top: 20px;
    padding-bottom: 24px;
  }
  .option1 img {
    width: 90%;
  }
  .option2 {
    text-align: center;
    width: 87%;
    margin-top: 25px;
    padding-bottom: 9px;
  }
  .text1_imgcollection2 {
    width: 82%;
    margin-top: 10px;
    margin-bottom: -2px;
  }
  .text3_conllection2 {
    margin-top: 2px;
    margin-bottom: -17px;
    margin-left: 1px;
    width: 100%;
  }
  .text3_conllection2 p {
    float: left;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .text2_collection2 {
    margin-top: 19px;
    text-align: left;
    font-size: 1rem;
  }
  .btn_online2 {
    margin-top: 6px;
    padding-bottom: 26px;
  }
  .text1_imgcollection3 {
    width: 58%;
    margin-top: 10px;
    margin-bottom: -2px;
  }
  .text2_collection3 {
    margin-top: 15px;
    text-align: left;
    font-size: 1rem;
  }
  .btn_online3 {
    margin-top: 3px;
    padding-bottom: 24px;
  }
  .option22 {
    text-align: center;
    width: 87%;
    margin-top: 25px;
    padding-bottom: 66px;
  }
  .option22_top {
    margin-top: 48px;
  }
  /*------------------------------------------------------------
	footer
------------------------------------------------------------*/
  #footer {
    width: 100%;
    margin-top: 0;
    height: auto;
  }
  #footer img {
    width: 100%;
  }
  .myBtn {
    position: absolute;
    z-index: 11;
    margin-top: -36px;
    margin-left: 31%;
    background: 0000;
  }
  .myBtn img {
    width: 68%;
  }
}

/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
#center, .content .c-option1, .content .option2, .content .c-option3, .content .c-option2, .content .c-option33 {
  width: 1200px;
  margin: 0 auto;
  height: auto;
}

.content {
  text-align: center;
}

.content .c-banner {
  margin-top: 12px;
}

.content .c-banner .img_banner {
  width: 1200px;
}

.content .c-text {
  margin-top: 40px;
  margin-bottom: 105px;
  font-size: 1.6rem;
}

.content .c-text .bold {
  font-weight: bold;
  font-size: 2rem;
}

.content .c-option1 {
  text-align: center;
  width: 1100px;
  height: 640px;
}

.content .c-option1 .option_left {
  float: left;
  width: 520px;
  height: 645px;
  margin-right: 30px;
}

.content .c-option1 .option_right {
  float: left;
  width: 520px;
  height: 645px;
  margin-left: 30px;
}

.content .c-option1 .option_right .collection1 {
  margin-top: 6px;
  width: 219px;
  height: 38px;
}

.content .c-option1 .option_right .img_text1 {
  width: 297px;
  height: 150px;
  margin-top: 20px;
}

.content .c-option1 .option_right .text1 {
  font-size: 1.6rem;
  text-align: left;
  font-weight: bold;
  margin-top: 37px;
}

.content .c-option1 .option_right .button1 {
  width: 391px;
  height: 44px;
  margin-left: 8px;
  margin-top: 35px;
}

.content .c-option1 .option_right .text2 {
  font-size: 1.4rem;
  margin-top: 33px;
  margin-left: 5px;
  font-weight: bold;
  text-align: left;
}

.content .c-option1 .option_right .text3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 7px;
  height: 50px;
  text-align: left;
  bottom: inherit;
}

.content .c-option1 .option_right .text3 img {
  float: left;
  width: 78px;
  height: 42px;
}

.content .c-option1 .option_right .text3 p {
  float: left;
  margin-left: 9px;
  margin-top: 15px;
}

.content .c-option1 .option_right .text4 {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 9px;
  margin-left: 10px;
}

.content .c-option1 .option_right .text4 p {
  font-size: 1.2rem;
}

.content .c-option1 .option_right .text4 .p1 {
  font-size: 3rem;
}

.content .c-option1 .option_right .text4 .p2 {
  font-size: 2rem;
}

.content .c-option1 .option_right .button_collection {
  text-align: left;
  margin-top: 16px;
  margin-left: 9px;
}

.content .c-option1 .option_right .button_collection .btn1 {
  width: 252px;
  height: 42px;
}

.content .c-option1 .option_right .button_collection .btn2 {
  width: 252px;
  margin-left: 2px;
  height: 42px;
}

.content .option2 {
  margin-top: 33px;
  text-align: center;
  width: 1100px;
  height: 500px;
  background: #eef2f5;
  border-radius: 10px;
}

.content .option2 .option_left {
  float: left;
  width: 520px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .option2 .option_left .content_option2 {
  width: 420px;
  height: 328px;
  margin-left: 40px;
}

.content .option2 .option_left .img_text {
  margin: 0 auto;
  width: 202px;
  height: 53px;
}

.content .option2 .option_left .text {
  margin: 0 auto;
  font-size: 1.6rem;
  margin-top: 46px;
  font-weight: bold;
  line-height: 2;
}

.content .option2 .option_left .text p {
  text-align: left;
}

.content .option2 .option_left .button_option2 {
  margin-left: 8px;
  margin-top: 35px;
  width: 391px;
  height: 44px;
}

.content .option2 .option_right {
  float: left;
  width: 580px;
  height: 500px;
  text-align: left;
}

.content .option2 .option_right img {
  width: 499px;
  height: 354px;
  margin-left: 8px;
  margin-top: 70px;
}

.content .c-option3 {
  margin-top: 38px;
  margin-bottom: 90px;
  text-align: center;
  width: 1000px;
  height: 110px;
  background: #dee5ea;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .c-option3 .img_text1 {
  float: left;
  margin-left: 55px;
}

.content .c-option3 .img_text1 img {
  text-align: center;
  width: 194px;
  height: 61px;
}

.content .c-option3 .img_text2 {
  float: left;
  margin-left: 120px;
}

.content .c-option3 .img_text2 img {
  width: 258px;
  height: 62px;
}

.content .c-option3 .img_text3 {
  float: left;
  margin-left: 110px;
}

.content .c-option3 .img_text3 img {
  width: 147px;
  height: 19px;
}

.content .c-option3 .img_text3 .more {
  width: 34px;
  height: 24px;
  margin-left: 45px;
}

.content .c-option2 {
  text-align: center;
  width: 1100px;
  height: 640px;
  margin-bottom: 82px;
}

.content .c-option2 .option_left {
  float: right;
  width: 520px;
  height: 645px;
  margin-left: 30px;
}

.content .c-option2 .option_right {
  float: right;
  width: 520px;
  height: 645px;
  margin-right: 30px;
}

.content .c-option2 .option_right .collection1 {
  margin-top: 6px;
  width: 219px;
  height: 38px;
}

.content .c-option2 .option_right .img_text1 {
  width: 474px;
  height: 150px;
  margin-top: 20px;
}

.content .c-option2 .option_right .text1 {
  font-size: 1.6rem;
  text-align: left;
  font-weight: bold;
  margin-top: 37px;
}

.content .c-option2 .option_right .button1 {
  width: 391px;
  height: 44px;
  margin-left: 8px;
  margin-top: 35px;
}

.content .c-option2 .option_right .text2 {
  font-size: 1.4rem;
  margin-top: 33px;
  margin-left: 5px;
  font-weight: bold;
  text-align: left;
}

.content .c-option2 .option_right .text3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 7px;
  height: 50px;
  text-align: left;
  bottom: inherit;
}

.content .c-option2 .option_right .text3 img {
  float: left;
  width: 78px;
  height: 42px;
}

.content .c-option2 .option_right .text3 p {
  float: left;
  margin-top: 15px;
}

.content .c-option2 .option_right .text4 {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 9px;
  margin-left: 10px;
}

.content .c-option2 .option_right .text4 p {
  font-size: 1.2rem;
}

.content .c-option2 .option_right .text4 .p1 {
  font-size: 3rem;
}

.content .c-option2 .option_right .text4 .p2 {
  font-size: 2rem;
}

.content .c-option2 .option_right .button_collection {
  text-align: left;
  margin-top: 16px;
  margin-left: 9px;
}

.content .c-option2 .option_right .button_collection .btn1 {
  width: 252px;
  height: 42px;
}

.content .c-option2 .option_right .button_collection .btn2 {
  width: 252px;
  margin-left: 2px;
  height: 42px;
}

.content .c-option33 {
  text-align: center;
  width: 1100px;
  height: 640px;
  margin-bottom: 65px;
}

.content .c-option33 .option_left {
  float: left;
  width: 520px;
  height: 645px;
  margin-right: 30px;
}

.content .c-option33 .option_right {
  float: left;
  width: 520px;
  height: 645px;
  margin-left: 30px;
}

.content .c-option33 .option_right .collection1 {
  margin-top: 6px;
  width: 219px;
  height: 38px;
}

.content .c-option33 .option_right .img_text1 {
  width: 336px;
  height: 150px;
  margin-top: 20px;
}

.content .c-option33 .option_right .text1 {
  font-size: 1.6rem;
  text-align: left;
  font-weight: bold;
  margin-top: 37px;
}

.content .c-option33 .option_right .button1 {
  width: 391px;
  height: 44px;
  margin-left: 8px;
  margin-top: 35px;
}

.content .c-option33 .option_right .text2 {
  font-size: 1.4rem;
  margin-top: 33px;
  margin-left: 5px;
  font-weight: bold;
  text-align: left;
}

.content .c-option33 .option_right .text3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 7px;
  height: 20px;
  text-align: left;
  bottom: inherit;
}

.content .c-option33 .option_right .text3 img {
  float: left;
  width: 78px;
  height: 42px;
}

.content .c-option33 .option_right .text3 p {
  float: left;
  margin-top: 0px;
}

.content .c-option33 .option_right .text4 {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 16px;
  margin-left: 10px;
}

.content .c-option33 .option_right .text4 p {
  font-size: 1.2rem;
}

.content .c-option33 .option_right .text4 .p1 {
  font-size: 3rem;
}

.content .c-option33 .option_right .text4 .p2 {
  font-size: 2rem;
}

.content .c-option33 .option_right .button_collection {
  text-align: left;
  margin-top: 16px;
  margin-left: 9px;
}

.content .c-option33 .option_right .button_collection .btn1 {
  width: 252px;
  height: 42px;
}

.content .c-option33 .option_right .button_collection .btn2 {
  width: 252px;
  margin-left: 2px;
  height: 42px;
}

.content .c-option3 .img_text5 {
  float: left;
  margin-left: 38px;
}

.content .c-option3 .img_text5 img {
  width: 411px;
  height: 63px;
}

.content .c-option3 .img_text6 {
  float: left;
  margin-left: 40px;
}

.content .c-option3 .img_text6 img {
  width: 147px;
  height: 19px;
}

.content .c-option3 .img_text6 .more {
  width: 34px;
  height: 24px;
  margin-left: 45px;
}

@media screen and (max-width: 736px) {
  #center, .content .c-option1, .content .option2, .content .c-option3, .content .c-option2, .content .c-option33 {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .content_sp {
    display: block;
  }
}
