@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1200px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}

#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
.center{
	width: 1200px;
	margin: 0 auto;
	height: auto;
}
.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}
.hover {
position: relative;
width: 100%;
height: auto;
}
.img_hover {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .4s ease;
}

.hover:hover .img_hover {
opacity: 1;
}
.img_over {
display: block;
height: auto;
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	text-align: center;
	.contact{
		width: 100%;
		height: 47px;
		margin: 0 auto;
		text-align: center;
		background: #015294;
		.contact_header{
			text-align: center;
			margin: 0 auto;
			padding-top: 8px;
			width: 1080px;
			.text{
				padding-top: 10px;
				text-align: center;
				font-size: 12px;
				color: #ffffff;
				float: left;
				width: auto;
			}
			.img_text{
				float: right;
				padding-right: 20px;
				width: 356px;
			}
			.button_contact{
				float: right;
				width: 154px;
				height: 30px;
			}
		}
	}
	.menu_header{
		width: 1080px;
		height: 57px;
		margin: 0 auto;
		padding-top: 15px;
		.logo{
			float: left;
			width: 294px;
			height: 43px;
		}
		.menu{
			float: right;
			width: 696px;
			margin-top: 6px;
			height: 40px;
			ul{
				li{
					width: auto;
					height: 30px;
					float: left;
					border-right: 1px solid #cecece;
					a{
						height: 40px;
						float: left;
						margin: 0px 2px 0px 2px;
						img{
							margin: 0px 22px 0px 22px;
						}
					}
				}
				.li_border{
					border-left: 1px solid #cecece;
				}
			}
		}
	}
	.btn_menu {
	  height: 36px;
	  background: linear-gradient(#009FBB, #009FBB);
	  background-size: 0 4px, auto;
	  background-repeat: no-repeat;
	  background-position: center bottom;
	  transition: all 0.2s ease-out 0s;
	}
	.btn_menu:hover {
	  background-size: 100% 4px, auto;
	}
	.menu_border{
		border-bottom: 4px solid #009FBB;
		height: 36px;
	}
}
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	width: 100%;
	height: auto;
	background: #003c7f;
	.banner{
		margin-bottom: 0;
		background: url(../img/banner_footer.PNG)no-repeat center top;
		width: 100%;
		height: 108px;
		background-size: cover;
	}
	.content{
		margin: 0 auto;
		width: 1080px;
		height: 128px;
		padding-top: 40px;
		.option_ft1{
			float: left;
			text-align: left;
			width: 422px;
			height: 100px;
			h1{
				margin-top: 20px;
				font-size: 12px;
				color: #ffffff;
			}
		}
		.option_ft2{
			float: left;
			text-align: left;
			width: 280px;
			height: 100px;
			border-left: 1px solid #ffffff;
			padding-left: 25px;
			color: #ffffff;
			font-size: 12px;
			img{
				margin-top: 10px;
				margin-bottom: 15px;
			}
		}
		.option_ft3{
			float: right;
			width: 329px;
			height: 100px;
			.menu_footer{
				text-decoration: none;
				color: #ffffff;
				margin-bottom: 13px;
				table{
					td{
						a{
							float: left;
							font-size: 12px;
							text-decoration: none;
							color: #ffffff;
						}
						a:hover{
							color: #608fbf;
						}
					}
					.td_3{
						float: right;
					}
				}
			}
		}
	}
	.copyright{
		background: #002f64;
		width: 100%;
		height: 50px;
		display: flex;
  		justify-content: center;
  		align-items: center;
		h1{
			margin: 0 auto;
			font-size: 12px;
			color: #608fbf;
			font-weight: none;
		}
	}
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 91px;
  right: 122px;
  z-index: 99;
  background: none;
}
