@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner{
	margin-bottom: 122px;
	background: url(../img/business/banner.JPG)no-repeat center top;
	width: 100%;
	height: 276px;
	background-size: cover;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	.img_text{
		width: 1080px;
		margin: 0 auto;
		img{
			margin-top: 110px;
		}
	}
}
@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}
/*------------------------------------------------------------
	option1, 2
------------------------------------------------------------*/
.option1{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 80px;
	.option_content{
		width: 998px;
		height: 299px;
		margin: 0 auto;
		border: 1px solid #009fbb;
		padding: 40px;
		.option_left{
			float: left;
			width: 515px;
			text-align: left;
			.title{
				color: #025995;
				h1{
					padding-bottom: 9px;
					font-size: 20px;
				}
			}
			h1{
				line-height: 1.4;
				font-size: 14px;
				padding-bottom:24px;
			}
		}
		.option_right{
			float: right;
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3{
	margin-bottom: 131px;
	.option_content{
		height: 150px;
		.option_left{
			width: 100%;
		}
	}
}