@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner{
	margin-bottom: 100px;
	background: url(../img/case/banner.JPG)no-repeat center top;
	width: 100%;
	height: 276px;
	background-size: cover;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	.img_text{
		width: 1080px;
		margin: 0 auto;
		img{
			margin-top: 110px;
		}
	}
}
@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}
.button_option{
	width: auto;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	.button1{
		float: left;
		margin: 20px;
		width: auto;
		#icon_button1{
		img{
			float: right;
			}
		}
		.icon_1{
			.open{
			display:block;
			}
			.close{
			display: none;
			}
		}
		.open{
			display: none;
		}
	.close{
		display: block;
		}
	}
}
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option_content1{
	width: 100%;
	height: auto;
	padding-bottom: 113px;
	margin: 0 auto;
	.title{
		padding-top: 60px;
		height: 30px;
		width: 1080px;
		margin: 0 auto;
		color: #025995;
		border-bottom: 1px solid #025995;
		h1{
			font-size: 23px;
		}
	}
	.option1{
		width: 1080px;
		height: 425px;
		margin: 0 auto;
		padding-top: 30px;
		.title_option{
			width: 100%;
			text-align: left;
			background: #e1f0fa;
			margin: 33px 0;
			h1{
				font-size: 20px;
				color: #025995;
				padding: 10px 0;
				margin-left: 20px;
			}
		}
		.content{
			width: 1080px;
			height: auto;
			margin: 0 auto;
			.img_content{
				float: left;
				width: 430px;
    			height: 300px;
    			a{
    				width: 430px;
    				height: 300px;
    			}
			}
			.table_content{
				width: 580px;
				height: auto;
				float: right;
				table, th, td {
				    border-top: 1px solid #d4d4d4;
				    border-bottom: 1px solid #d4d4d4;
				    border-collapse: collapse;
				}
				table{
					width: 580px;
					.td_left{
						text-align: left;
						width: 132px;
						padding-left: 40px;
						h1{
							color: #0361a7;
							font-size: 13px;
						}
					}
					h1{
						margin: 17px 0;
					}
					td{
						text-align: left;
						h1{
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}