@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner{
	background: url(../img/company/banner.JPG)no-repeat center top;
	width: 100%;
	height: 276px;
	background-size: cover;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	.img_text{
		width: 1080px;
		margin: 0 auto;
		img{
			margin-top: 110px;
		}
	}
}
@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1{
	width: 100%;
	height: auto;
	margin: 0 auto;
	.option_content{
		padding-top: 111px;
		width: 1080px;
		height: 766px;
		margin: 0 auto;
		text-align: left;
		.option_title{
			padding-top: 10px;
		}
		.text{
			margin-top: 30px;
			font-size: 14px;
			h1{
				padding-bottom: 25px;
				line-height: 1.3;
			}
		}
		.img_option{
			margin-top: 23px;
			text-align: right;
			.img1{
				margin-top: 37px;
				width: 1080px;
			}
		}
	}
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2{
	width: 100%;
	height: 800px;
	margin: 0 auto;
	background: #f7f7f7;
	.option_content{
		width: 1080px;
		height: 600px;
		margin: 0 auto;
		text-align: left;
		.title{
			padding-top: 78px;
		}
		.option_table{
			margin-top: 39px;
			width: 100%;
			height: 564px;
			table, th, td {
			    border-top: 1px solid #d4d4d4;
			    border-bottom: 1px solid #d4d4d4;
			    border-collapse: collapse;
			}
			table{
				font-size: 14px;
				.td_left{
					width: 177px;
					background: #e7f5ff;
					padding-left: 40px;
					h1{
						color: #0361a7;
					}
				}
				.td_right{
					width: auto;
					background: #ffffff;
					padding-left: 40px;
				}
				h1{
					margin: 22px 0;
				}
			}
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3{
	width: 100%;
	height: auto;
	margin: 0 auto;
	.option_content{
		width: 1080px;
		height: 690px;
		margin: 0 auto;
		.title{
			text-align: left;
			padding-top: 84px;
		}
		.box{
			width: 1080px;
			text-align: left;
			padding-top: 40px;
			float: left;
			.box1{
				float: left;
				text-align: center;
				margin-right: 28px;
				h1{
					margin: 10px 0;
					font-size: 14px;
				}
			}
			.box4{
				float: left;
				text-align: center;
				h1{
					margin: 10px 0;
					font-size: 14px;
				}
			}
		}
	}
}
/*------------------------------------------------------------
	option4
------------------------------------------------------------*/
.option4{
	width: 100%;
	height: auto;
	background: #f7f7f7;
	margin: 0 auto;
	.option_content{
		margin: 0 auto;
		width: 1080px;
		height: 735px;
		.title{
			text-align: left;
			padding-top: 78px;
		}
		.maps{
			margin-top: 40px;
			border: 1px solid #d4d4d4;
		}
	}
}