@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner{
	margin-bottom: 100px;
	background: url(../img/contact/banner.jpg)no-repeat center top;
	width: 100%;
	height: 276px;
	background-size: cover;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	.img_text{
		width: 1080px;
		margin: 0 auto;
		img{
			margin-top: 110px;
		}
	}
}
@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 52px;
	.option_content{
		width: 1080px;
		height: auto;
		margin: 0 auto;
		text-align: left;
		.title{
			padding-top: 20px;
			text-align: left;
			padding-bottom: 25px;
		}
		h1{
			font-size: 14px;
			margin-bottom: 20px;
			line-height: 1.6;
		}
	}
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2{
	width: 100%;
	height: 864px;
	margin: 0 auto;
	background: #f7f7f7;
	.option_content{
		width: 1080px;
		height: 600px;
		margin: 0 auto;
		text-align: left;
		.title{
			padding-top: 78px;
		}
		.option_table{
			margin-top: 47px;
			width: 100%;
			height: 564px;
			table, th, td {
			    border-collapse: collapse;
			}
			table{
				font-size: 14px;
				.td_left{
					width: 138px;
					h1{
						color: #0361a7;
					}
				}
				.td_left1{
					width: 50px;
					padding-left: 20px;
					h1{
						width: 30px;
						color: #ffffff;
						background: #0362a8;
						padding: 5px;
					}
					.color_h1{
						background: #8c8b8b;
					}
				}
				.td_right{
					width: auto;
					padding-left: 22px;
					h1{
						font-size: 14px;
						line-height: 1.5;
					}
				}
			}
			input[type=text] {
			    width: 100%;
			    padding: 18px 20px;
			    margin: 4px 0;
			    box-sizing: border-box;
			    border: 1px solid #ccc;
			    -webkit-transition: 0.5s;
			    transition: 0.5s;
			    outline: none;
			}
			input[type=text1] {
			    width: 130px;
			    padding: 18px 20px;
			    margin: 4px 0;
			    box-sizing: border-box;
			    border: 1px solid #ccc;
			    -webkit-transition: 0.5s;
			    transition: 0.5s;
			    outline: none;
			}
			textarea{
				height: 152px;
			    width: 100%;
			    padding: 18px 20px;
			    margin: 6px 0;
			    box-sizing: border-box;
			    border: 1px solid #ccc;
			    -webkit-transition: 0.5s;
			    transition: 0.5s;
			    outline: none;
			}
			select {
				width: 150px;
			    padding: 18px 20px;
			    margin: 4px 0;
			    box-sizing: border-box;
			    border: 1px solid #ccc;
			    -webkit-transition: 0.5s;
			    transition: 0.5s;
			    outline: none;
			}
			td.td_right {
			    height: 45px;
			}
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3{
	width: 100%;
	height: 179px;
	margin: 0 auto;
	padding-top: 53px;
	.btn_option3{
		margin: 0 auto;
		width: 250px;
		height: auto;
	}
}