@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.banner{
	background: url(../img/index/Banner_index.jpg)no-repeat center top;
	width: 100%;
	height: 756px;
	background-size: cover;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	.text{
		width: 1080px;
		margin: 0 auto;
		img{
			margin-top: 88px;
			float: right;
		}
	}
}
@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}
/*------------------------------------------------------------
	option1
------------------------------------------------------------*/
.option1{
	width: 100%;
	height: 200px;
	background: #e7f5ff;
	margin: 100px 0;
	.option_content{
		width: 1080px;
		height: 140px;
		margin: 0 auto;
		padding: 30px 0;
		.option_left{
			float: left;
			width: 248px;
			height: 140px;
			.img_news{
				margin: 19px 0;
				width: 176px;
				height: 37px;
				float: left;
			}
			.btn_more{
				float: left;
				width: 71%;
				img{
					width: 100%;
				}
			}
		}
		.option_right{
			float: right;
			width: 832px;
			height: 140px;
			li{
				padding-top: 18px;
				list-style: none;
				width: 100%;
				float: left;
				text-align: left;
				color: #0361a7;
				font-size: 13px;
				margin-bottom: 10px;
				h1{
					width: 130px;
					float: left;
				}
				a{
					margin-left: 59px;
					font-size: 13px;
					color: #222222;
					text-decoration: none;
					h3{
						text-align: left;
						float: left;
					}
					h3:hover{
						color: #a8a8a8;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
/*------------------------------------------------------------
	option2
------------------------------------------------------------*/
.option2{
	width: 100%;
	height: auto;
	margin:  0 auto;
	background: #ffffff;
	.option_content{
		width: 100%;
		height: 435px;
		margin: 0 auto;
		.option_left{
			float: left;
			width: 50%;
			height: 355px;
			.content_left{
				margin-right: 70px;
				width: 470px;
				height: 355px;
				text-align: left;
				float: right;
				.img_text{
					margin-top: 2px;
					height: auto;
					padding-bottom: 20px;
					border-bottom: 1px solid #015294;
				}
				.text{
					margin-top: 16px;
					h1{
						line-height: 1.6;
						font-size: 14px;
					}
				}
				.button_option{
					margin-top: 58px;
				}
			}
		}
		.option_right{
			float: right;
			width: 50%;
			height: 355px;
			background: #ddd;
			.img_option{
				background: url(../img/index/img_option2.JPG)no-repeat center center;
				background-size:  cover;
				width: 100%;
				height: 353px;
			}
		}
	}
}
/*------------------------------------------------------------
	option3
------------------------------------------------------------*/
.option3{
	width: 100%;
	height: auto;
	margin:  0 auto;
	background: #f5f5f5;
	.option_content{
		width: 100%;
		height: 355px;
		margin: 0 auto;
		padding: 81px 0;
		.option_right{
			float: right;
			width: 50%;
			height: 355px;
			.content_right{
				margin-left: 70px;
				width: 470px;
				height: 355px;
				text-align: left;
				float: left;
				.img_text{
					height: auto;
					padding-bottom: 19px;
					border-bottom: 1px solid #015294;
				}
				.text{
					margin-top: 16px;
					h1{
						line-height: 1.6;
						font-size: 14px;
					}
				}
				.button_option{
					margin-top: 83px;
				}
			}
		}
		.option_left{
			float: left;
			width: 50%;
			height: 355px;
			background: #ddd;
			.img_option{
				background: url(../img/index/img_option3.JPG)no-repeat center center;
				background-size:  cover;
				width: 100%;
				height: 353px;
			}
		}
	}
}
/*------------------------------------------------------------
	option4
------------------------------------------------------------*/
.option4{
	padding-top: 76px;
	padding-bottom: 48px;
	.option_content{
		.option_left{
			.content_left{
				.button_option{
					margin-top: 79px;
				}
			}
		}
		.option_right{
			.img_option{
				background: url(../img/index/img_option4.JPG)no-repeat center center;
				background-size:  cover;
				width: 100%;
				height: 353px;
			}
		}
	}
}