@charset "UTF-8";
/*------------------------------------------------------------
	.c-header
------------------------------------------------------------*/
.c-header {
  font-size: 1.2rem;
  width: 100%;
  background: #f8f8f8;
  margin: 0 auto;
  height: 30px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
------------------------------------------------------------*/
.c-infohd {
  width: 1160px;
  margin: 0 auto;
}

/*------------------------------------------------------------
	.c-gnavi
------------------------------------------------------------*/
.c-gnavi {
  width: 1160px;
  margin: 0 auto;
  display: inline-block;
  height: 63px;
  padding-top: 25px;
}

/*
------------------------------------------------------------*/
.c-logo {
  float: left;
}

/*
------------------------------------------------------------*/
.c-menu {
  float: right;
}

.c-menu ul {
  padding-top: 10px;
}

.c-menu ul li {
  float: left;
  margin-left: 20px;
}

.c-menu ul li a {
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.c-menu ul li a:hover {
  color: #888888;
  border-bottom: 2px solid #888888;
}

/*------------------------------------------------------------
	.c-slider1
------------------------------------------------------------*/
.c-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-slider1 .flexslider1 {
  width: 100%;
  display: inline-block;
}

.c-slider1 .flexslider1 .slides {
  display: block;
}

.c-slider1 .flexslider1 img {
  width: 100%;
}

.c-slider1 .flex-control-nav {
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 10px;
  text-align: center;
}

.c-slider1 .flex-control-nav a {
  background: url(../img/page1/icon2.png) no-repeat center;
  height: 14px;
  width: 14px;
}

.c-slider1 .flex-control-nav a:hover {
  background: url(../img/page1/icon.png) no-repeat center;
  height: 14px;
  width: 14px;
}

.c-slider1 .flex-control-nav a.flex-active {
  background: url(../img/page1/icon.png) no-repeat center;
  height: 14px;
  width: 14px;
}

/*------------------------------------------------------------
	.c-list1
------------------------------------------------------------*/
.c-list1 {
  width: 100%;
  height: auto;
  border-bottom: 2px dotted #c5c5c5;
  margin-top: 50px;
  display: inline-block;
}

.c-list1 .title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #333333;
  padding-bottom: 10px;
}

.c-list1 .title .u-red {
  color: #bd0000;
  font-size: 1.1rem;
  font-weight: bold;
}

.c-list1 .title .u-color1 {
  color: #333333;
  font-size: 1.3rem;
  font-weight: bold;
}

.c-list1 .c-line {
  width: 100%;
  height: 40px;
  border-top: 2px dotted #c5c5c5;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.c-list1 .c-line .u-size {
  font-size: 1.4rem;
  font-weight: bold;
}

.c-list1 .c-line .u-bgcolor {
  background: #f78d6c;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  width: 70px;
  padding: 5px 0;
  text-align: center;
  margin: 0 10px;
}

.c-list1 .c-line .u-bgcolor--bg2 {
  background: #51c571;
}

.c-list1 .c-line .u-bgcolor--bg3 {
  background: #68b4ce;
}

/*------------------------------------------------------------
	.l-list2
------------------------------------------------------------*/
.l-list2 {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.l-list2__left {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
}

.l-list2__right {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
}

.l-list2__text {
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 1.5rem;
}

.l-list2__text .c-left {
  width: auto;
  float: left;
}

.l-list2__text .c-right {
  padding-left: 5px;
  width: auto;
  float: left;
}

/*------------------------------------------------------------
	.c-title1
------------------------------------------------------------*/
.c-title1 {
  width: 1160px;
  padding-top: 100px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  font-size: 2rem;
  color: #999999;
}

.c-title1 .u-size2 {
  font-size: 2.4rem;
  color: #000000;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-title1--size {
  font-size: 1.6rem;
}

.c-title1--size .u-size2 {
  font-size: 3.2rem;
}

.c-title1--size2 {
  text-align: left;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-title1--size2 .u-size2 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 2rem;
}

/*------------------------------------------------------------
	.c-nav1
------------------------------------------------------------*/
.c-nav1 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav1__box1 {
  float: left;
  width: 370px;
  height: auto;
}

.c-nav1__box1--margin {
  margin: 0 25px;
}

.c-nav1__img {
  width: 100%;
  height: auto;
}

.c-nav1__text {
  padding-top: 10px;
  width: 100%;
  font-size: 1.3rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-nav1__text h2 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

/*------------------------------------------------------------
	.c-nav2
------------------------------------------------------------*/
.c-nav2 {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: inline-block;
}

/*------------------------------------------------------------
	.c-nav3
------------------------------------------------------------*/
.c-nav3 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav3__box1 {
  float: left;
  width: 270px;
  height: auto;
  margin-right: 26px;
}

.c-nav3__box1--margin {
  margin-right: 0;
}

.c-nav3__img {
  width: 100%;
  height: auto;
}

.c-nav3__text {
  padding-top: 20px;
  width: 100%;
  font-size: 1.3rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-nav3__text h2 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

/*------------------------------------------------------------
	.c-nav4
------------------------------------------------------------*/
.c-nav4 {
  width: 1160px;
  height: auto;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.c-nav4__box1 {
  float: left;
  width: 270px;
  height: auto;
  margin-right: 26px;
}

.c-nav4__box1--margin {
  margin-right: 0;
}

.c-nav4__img {
  width: 100%;
  height: auto;
}

/*------------------------------------------------------------
	.c-entry1
------------------------------------------------------------*/
.c-entry1 {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #939393;
  padding: 30px 0;
  display: inline-block;
}

.c-entry1__img {
  float: left;
  width: 370px;
  height: auto;
}

.c-entry1__text {
  width: auto;
  float: left;
  margin-left: 30px;
  font-size: 1.3rem;
  color: #888888;
}

.c-entry1__text h2 {
  padding-top: 15px;
  font-size: 1.8rem;
  color: #000000;
}

.c-entry1__text p {
  padding-top: 25px;
  font-size: 1.6rem;
  color: #000000;
}

.c-entry1__text .u-bgred {
  padding: 2px 10px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 1.1rem;
  background: #bd0000;
}

/*
------------------------------------------------------------*/
.c-entry1:before {
  content: "";
  background: url(../img/page1/more.png) no-repeat right;
  -webkit-background-size: 25px 25px;
          background-size: 25px;
  width: 1100px;
  height: 215px;
  position: absolute;
  text-align: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  border-top: 1px solid #555555;
  margin-top: 50px;
}

/*------------------------------------------------------------
	.c-footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  height: auto;
  padding: 30px 0 50px 0;
  margin: 0 auto;
  display: inline-block;
}

.c-footer__info {
  float: left;
  font-size: 1.4rem;
  color: #333333;
}

.c-footer__info .c-btn {
  padding-top: 20px;
}

.c-footer__info .c-btn a {
  text-decoration: none;
  background: #888888;
  margin-right: 20px;
  color: #ffffff;
  width: 160px;
  padding: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.c-footer__info .c-btn a:hover {
  opacity: 0.7;
}

.c-footer__menu {
  float: right;
}

.c-footer__menu ul li {
  float: left;
  font-weight: bold;
  font-size: 1.4rem;
  color: #000000;
}

.c-footer__menu ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 1.4rem;
  font-weight: bold;
}

.c-footer__menu ul li a:hover {
  color: #ccc;
}

/*------------------------------------------------------------
	.l-flame1
------------------------------------------------------------*/
.l-flame1 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}

.l-flame1__left {
  width: 370px;
  height: 370px;
  float: left;
}

.l-flame1__right {
  float: right;
  width: calc(1160px - 390px);
  font-size: 1.5rem;
  color: #000000;
  margin-left: 20px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.l-flame1__text1 {
  margin-bottom: 20px;
}

.l-flame1__text2 {
  float: right;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

/*------------------------------------------------------------
	.l-flame2
------------------------------------------------------------*/
.l-flame2 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}

.l-flame2__left {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.l-flame2__left .c-more {
  font-size: 1.4rem;
  margin-top: 20px;
  display: inline-block;
  position: relative;
}

.l-flame2__left .c-more:before {
  content: "";
  background: url(/assets/img/page2/more.png) no-repeat right;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 20px;
}

.l-flame2__right {
  width: 50%;
  height: auto;
  display: inline-block;
  float: right;
  text-align: right;
}

/*------------------------------------------------------------
	.l-flame3
------------------------------------------------------------*/
.l-flame3 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  position: relative;
}

.l-flame3__left {
  width: 560px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame3__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame3__text1 {
  width: 560px;
  font-size: 1.5rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  padding-bottom: 20px;
  line-height: 1.6;
}

.l-flame3__text2 {
  width: 560px;
  font-size: 1.4rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  padding-bottom: 20px;
  line-height: 1.6;
}

.l-flame3__text2 h2 {
  font-size: 1.6rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  padding-bottom: 10px;
}

.l-flame3__btn1 {
  width: 555px;
  height: auto;
  display: inline-block;
  position: absolute;
  z-index: 111;
  bottom: 25px;
}

.l-flame3__btn1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.l-flame3__btn1 .c-btn1 {
  width: 100%;
  background: #888888;
  text-align: center;
  margin-top: 20px;
  padding: 5px 0;
}

.l-flame3__btn1 .c-btn1--color1 {
  margin-top: 20px;
  background: #e2750c;
}

/*------------------------------------------------------------
	.l-flame4
------------------------------------------------------------*/
.l-flame4 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame4__left {
  width: 560px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame4__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame4__right table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 370px;
}

.l-flame4__right td {
  border: 1px solid #d6d6d6;
  text-align: left;
  padding: 8px;
  font-size: 1.3rem;
  width: 500px;
}

.l-flame4__right td:nth-child(1) {
  width: 270px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #e6e6e6;
}

.l-flame4__right tr:nth-child(8) {
  height: 155px;
}

.l-flame4__right .td1 {
  width: 120px;
  display: inline-block;
}

.l-flame4__right .td2 {
  padding: 9px 15px;
  width: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #e6e6e6;
}

/*------------------------------------------------------------
	.l-flame5
------------------------------------------------------------*/
.l-flame5 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame5__left {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: left;
}

.l-flame5__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame5__right table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 370px;
  border-bottom: 1px solid #737473;
}

.l-flame5__right td {
  border-top: 1px solid #737473;
  text-align: left;
  padding: 8px;
  font-size: 1.3rem;
  width: 500px;
}

.l-flame5__right td:nth-child(1) {
  width: 100px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #eaf1eb;
}

/*------------------------------------------------------------
	.l-flame6
------------------------------------------------------------*/
.l-flame6 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.l-flame6__left {
  width: 560px;
  height: auto;
  display: inline-block;
  float: left;
}

.l-flame6__right {
  width: 560px;
  height: 370px;
  display: inline-block;
  float: right;
}

.l-flame6__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff;
  background: #51c571;
  font-size: 1.1rem;
  padding: 2px 20px;
  font-weight: bold;
}

.l-flame6__text {
  font-size: 1.3rem;
  line-height: 1.6;
  padding-top: 20px;
}

.l-flame6 .u-title {
  font-size: 1.6rem;
  padding-top: 30px;
}

.l-flame6 .u-title2 {
  font-size: 1.3rem;
  padding-top: 20px;
}

/*------------------------------------------------------------
	.c-img1
------------------------------------------------------------*/
.c-img1 {
  margin-top: 50px;
  height: auto;
  width: 100%;
  display: inline-block;
}

/*------------------------------------------------------------
	.c-text1
------------------------------------------------------------*/
.c-text1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-text1__text1 {
  margin-top: 30px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

/*------------------------------------------------------------
	.c-text2
------------------------------------------------------------*/
.c-text2 {
  margin-top: 30px;
  width: 100%;
  height: 470px;
  display: inline-block;
  border: 1px solid #999999;
}

.c-text2__text1 {
  padding-top: 30px;
  padding-left: 10px;
}

.c-text2__text1 h2 {
  font-size: 1.8rem;
}

.c-text2__text1 p {
  padding-top: 20px;
  font-size: 1.8rem;
}

/*------------------------------------------------------------
    .c-tabs1
------------------------------------------------------------*/
.c-tab {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}

.tablinks {
  width: 370px;
  background: #888888;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px 0;
  margin-right: 22px;
}

.tablinks--margin {
  margin-right: 0;
}

.c-tab button:hover {
  background-color: #51c571;
}

.c-tab button.active {
  background-color: #51c571;
}

.tabcontent {
  display: none;
  width: 100%;
  height: auto;
}

/*------------------------------------------------------------
    .c-tabs2
------------------------------------------------------------*/
.c-tab2 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}

.tablinks {
  width: 370px;
  background: #888888;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px 0;
  margin-right: 22px;
}

.tablinks--margin {
  margin-right: 0;
}

.c-tab button:hover {
  background-color: #51c571;
}

.c-tab button.active {
  background-color: #51c571;
}
