@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  border-top: 4px solid #0f5c9b;
  min-width: 960px;
}

#container {
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

#main {
  width: 950px;
  height: auto;
  margin: 0 auto;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

.more {
  position: relative;
}

.more_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.more:hover .more_hover {
  opacity: 1;
}

.image {
  display: block;
  height: auto;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  width: 950px;
  margin: 0 auto;
  position: relative;
}

#header #header_info {
  height: 100px;
  background: #ffffff;
  text-align: center;
}

#header #header_info .logo_pc {
  margin: 18px 0px 0px 6px;
  float: left;
}

#header #header_info .phone {
  float: right;
  margin: 38px 18px 0px 0px;
}

#header #header_info .phone img {
  margin-left: 5px;
}

#header #header_info .phone p {
  font-size: 1rem;
  margin: 3px 0px 0px 9px;
}

#header #header_info .mail {
  width: 260px;
  height: 42px;
  margin-top: 35px;
  background: #ffed4d;
  border-radius: 1px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #header_info .mail:hover {
  opacity: 0.7;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#header #header_info .mail p {
  color: #fd7e00;
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: bold;
}

#header #menu_header .menu_pc {
  width: 950px;
  height: auto;
}

#header #menu_header .menu_pc .nav_pc {
  margin: 16px 0px 0px 0px;
}

#header #menu_header .menu_pc .nav_pc ul {
  height: 58px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#header #menu_header .menu_pc .nav_pc li {
  padding-bottom: 18px;
}

#header #menu_header .menu_pc .nav_pc li:hover {
  border-bottom: 4px solid #ddd;
}

#header #menu_header .menu_pc .nav_pc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  height: 40px;
  font-size: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #CCC;
}

#header #menu_header .menu_pc .opacity_hover:hover {
  opacity: 0.7;
}

#header_sp {
  display: none;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#footer .banner_footer {
  width: 100%;
  height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/footer/banner_footer_pc.png) no-repeat center top;
}

#footer .banner_footer .content {
  width: 950px;
  height: 358px;
  margin: 0 auto;
  position: absolute;
}

#footer .banner_footer .content .text1 {
  margin-top: 60px;
  margin-right: -6px;
}

#footer .banner_footer .content .text2 {
  margin-right: 230px;
  margin-top: 26px;
  float: right;
  width: 480px;
  font-size: 1.6rem;
  color: #ffffff;
}

#footer .banner_footer .content .text2 p {
  color: #ffff4c;
  margin-top: -4px;
}

#footer .banner_footer .content .info_footer {
  float: right;
  margin-top: 37px;
  width: 790px;
  height: 50px;
}

#footer .banner_footer .content .info_footer .phone_footer {
  float: left;
  margin-left: 30px;
}

#footer .banner_footer .content .info_footer .phone_footer img {
  margin-left: 2px;
}

#footer .banner_footer .content .info_footer .phone_footer p {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 5px 0px 0px 9px;
}

#footer .banner_footer .content .info_footer .mail_footer {
  width: 295px;
  height: 50px;
  background: #ffed4d;
  border-radius: 1px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 137px;
}

#footer .banner_footer .content .info_footer .mail_footer:hover {
  opacity: 0.7;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#footer .banner_footer .content .info_footer .mail_footer p {
  color: #fd7e00;
  margin-left: 12px;
  font-size: 1.6rem;
  font-weight: bold;
}

#footer .menu_footer {
  width: 100%;
  height: 120px;
  background: #cccccc;
}

#footer .menu_footer .content_menu {
  width: 100%;
  height: 60px;
  padding-top: 37px;
}

#footer .menu_footer .content_menu ul {
  margin-left: -24px;
}

#footer .menu_footer .content_menu ul li {
  display: inline-block;
  position: relative;
  color: #222;
  font-size: 1.6rem;
}

#footer .menu_footer .content_menu ul li a {
  color: #000;
  text-decoration: none;
  color: #222;
  font-size: 1.4rem;
  margin: 0px 18px;
}

#footer .logo_footer {
  height: 52px;
  width: 100%;
  background: #ffffff;
  margin-left: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .logo_footer p {
  font-size: 1.4rem;
}

#footer_sp {
  display: none;
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 155px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

/*--------------------------------------------------------------
 # Responsive 736px
 --------------------------------------------------------------*/
@media screen and (max-width: 736px) {
  body {
    text-align: left;
    width: 100%;
    min-width: 320px;
  }
  #header_info {
    display: none;
  }
  #header {
    width: 100%;
  }
  .menu_pc {
    display: none;
  }
  .center, #container .banner_sp .slogan, .news_sp, .news_sp .info_news, .construction, .construction .construction_sp, .construction .construction_text, .construction .construction_button_sp, .alsok_sp, .alsok_sp .button_alsok, #container_sp .banner_tv_sp .slogan_tv, #container_sp .content1_tv .logo_tv1, #container_sp .content1_tv .text_tv1, #container_sp .content1_tv .table_tv1, #container_sp .content2_tv .logo_tv2, #container_sp .content2_tv .box1_tv2, #container_sp .content2_tv .box1_tv2 .content_tv2, #container_sp .content2_tv .box2_tv2, #container_sp .content2_tv .box2_tv2 .content_tv2, #container_sp .content3_tv .slogan_tv3, #container_sp .content3_tv .text_tv3, #container_sp .content3_tv .text_tv3 .text1, #footer_sp .banner_footer .slogan_footer, #footer_sp .logo_footer {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  /*--------------------------------------------------------------
 # Header SP
 --------------------------------------------------------------*/
  #header_sp {
    display: block;
  }
  .logo_sp {
    height: auto;
    margin: 11px 0px 0px 18px;
  }
  .logo_sp img {
    height: 39px;
  }
  #icon_menu {
    height: 45px;
    width: 50px;
    margin-top: -40px;
    float: right;
  }
  #icon_menu img {
    height: 40px;
    float: right;
  }
  .icon_1 .open {
    display: block;
    padding-right: 10px;
  }
  .icon_1 .close {
    display: none;
    padding-right: 10px;
  }
  .open {
    display: none;
    padding-right: 10px;
  }
  .close {
    display: block;
    padding-right: 10px;
  }
  .menu_sp {
    background: #0f5c9b;
    width: 100%;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    display: none;
    margin-top: 10px;
  }
  .menu_sp ul {
    width: 100%;
    display: block;
    padding: 30px 25px;
    min-height: 524px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .menu_sp ul li {
    padding: 11px 0;
    border-top: 1px dotted #fff;
  }
  .menu_sp ul li:hover {
    border-bottom: none;
  }
  .menu_sp ul li:last-child {
    border-bottom: 1px dotted #fff;
  }
  .menu_sp ul li a {
    background: url(../img/sp/header/icon_more.png) no-repeat left center;
    background-size: 6px auto;
    border-left: none;
    height: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    display: block;
  }
  /*--------------------------------------------------------------
 # Banner
 --------------------------------------------------------------*/
  #container .banner {
    display: none;
  }
  #container .banner_sp {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 25%;
  }
  #container .banner_sp img {
    width: 100%;
  }
  #container .banner_sp .slogan {
    text-align: center;
    background: #eee;
    margin-top: -48%;
  }
  #container .banner_sp .slogan img {
    width: 93%;
  }
  /*--------------------------------------------------------------
 # News
 --------------------------------------------------------------*/
  #main {
    width: 100%;
  }
  .new {
    display: none;
  }
  .news_sp {
    display: block;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px 0px;
    margin-top: 33%;
    margin-bottom: 10%;
  }
  .news_sp .logo_news {
    padding-bottom: 4%;
  }
  .news_sp .logo_news img {
    height: 34px;
  }
  .news_sp .info_news .text {
    padding: 10px 0px;
    border-top: 1px dashed #cecece;
    font-size: 1.4rem;
    text-align: left;
  }
  .news_sp .info_news .text p {
    color: #0d5a99;
  }
  .news_sp .info_news .text a {
    color: #000000;
  }
  .news_sp .btn_news {
    padding: 4% 0 1% 0;
  }
  .news_sp .btn_news img {
    height: 30px;
  }
  /*--------------------------------------------------------------
 # Construction
 --------------------------------------------------------------*/
  .construction {
    padding-top: 9%;
  }
  .construction .construction_logo {
    display: none;
  }
  .construction .construction_sp {
    text-align: center;
    display: block;
  }
  .construction .construction_sp img {
    height: 34px;
  }
  .construction .construction_text {
    text-align: center;
  }
  .construction .construction_text p {
    font-size: 1.4rem;
  }
  .construction .construction_button {
    display: none;
  }
  .construction .construction_button_sp {
    margin-top: 8%;
    display: block;
  }
  .construction .construction_button_sp .more {
    width: 31%;
    float: left;
    margin-bottom: 10%;
  }
  .construction .construction_button_sp .more img {
    width: 100%;
  }
  .construction .construction_button_sp .more2 {
    width: 31%;
    float: left;
    margin: 0 3%;
  }
  .construction .construction_button_sp .more2 img {
    width: 100%;
  }
  /*--------------------------------------------------------------
 # Alsok
 --------------------------------------------------------------*/
  .alsok {
    display: none;
  }
  .alsok_sp .logo_alsok {
    margin-top: 137%;
  }
  .alsok_sp .logo_alsok img {
    width: 100%;
  }
  .alsok_sp .text_alsok {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 16px;
  }
  .alsok_sp .button_alsok {
    margin-top: 9%;
    width: 96%;
  }
  .alsok_sp .button_alsok img {
    width: 86%;
    position: absolute;
  }
  .img_alsok_sp {
    width: 100%;
  }
  .img_alsok_sp img {
    width: 88%;
    margin-top: 9%;
  }
  /*--------------------------------------------------------------
 # Content tv
 --------------------------------------------------------------*/
  #container_tv {
    display: none;
  }
  #container_sp {
    display: block;
  }
  #container_sp .banner_tv_sp {
    width: 100%;
    padding-top: 10px;
  }
  #container_sp .banner_tv_sp img {
    width: 100%;
  }
  #container_sp .banner_tv_sp .slogan_tv {
    text-align: center;
    margin-top: -27%;
  }
  #container_sp .banner_tv_sp .slogan_tv img {
    width: 73%;
  }
  #container_sp .content1_tv {
    margin-top: 22.5%;
    text-align: center;
    width: 100%;
  }
  #container_sp .content1_tv .logo_tv1 {
    width: 100%;
  }
  #container_sp .content1_tv .logo_tv1 img {
    width: 35%;
  }
  #container_sp .content1_tv .text_tv1 {
    text-align: center;
    width: 90%;
    font-size: 1.4rem;
    padding: 5% 0;
  }
  #container_sp .content1_tv .table_tv1 {
    text-align: center;
    margin-bottom: 38px;
    padding-top: 2px;
  }
  #container_sp .content1_tv .table_tv1 th {
    height: 38px;
    background: #0e5b9a;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
  }
  #container_sp .content1_tv .table_tv1 table, #container_sp .content1_tv .table_tv1 th, #container_sp .content1_tv .table_tv1 td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
  }
  #container_sp .content1_tv .table_tv1 td {
    height: 38px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  #container_sp .content1_tv .table_tv1 td p {
    margin: 0 15px;
  }
  #container_sp .content1_tv .table_tv1 .td3 {
    height: 63px;
  }
  #container_sp .content2_tv {
    background: #eeeeee;
    width: 100%;
    text-align: center;
    height: auto;
    padding-top: 10%;
    padding-bottom: 8%;
  }
  #container_sp .content2_tv .logo_tv2 {
    width: 100%;
  }
  #container_sp .content2_tv .logo_tv2 img {
    width: 39%;
  }
  #container_sp .content2_tv .box1_tv2 {
    width: 90%;
    background: #ffffff;
    margin-top: 15px;
  }
  #container_sp .content2_tv .box1_tv2 .content_tv2 {
    width: 90%;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #container_sp .content2_tv .box1_tv2 .content_tv2 .img_text1 {
    width: 31%;
  }
  #container_sp .content2_tv .box1_tv2 .content_tv2 .img_text1 img {
    width: 100%;
  }
  #container_sp .content2_tv .box1_tv2 .content_tv2 .text1 {
    margin-top: 5%;
    font-size: 1.4rem;
  }
  #container_sp .content2_tv .box1_tv2 .content_tv2 .info_box1 {
    width: 100%;
  }
  #container_sp .content2_tv .box1_tv2 .content_tv2 .info_box1 img {
    margin-top: 5%;
    width: 100%;
  }
  #container_sp .content2_tv .box1_tv2 .content_tv2 .info_box1 .img_box1 {
    margin-top: 7%;
  }
  #container_sp .content2_tv .box2_tv2 {
    width: 90%;
    background: #ffffff;
    margin-top: 5%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 {
    width: 90%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text1 {
    width: 44%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text1 img {
    width: 100%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text3 {
    width: 44%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text3 img {
    width: 100%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text4 {
    width: 45%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text4 img {
    width: 100%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text5 {
    width: 74%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .img_text5 img {
    width: 100%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .text1 {
    width: 100%;
    margin: 11px 1px;
    font-size: 1.4rem;
    float: left;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .text1 p {
    float: left;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .text1 .blue {
    font-weight: bold;
    color: #0f5c9b;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .info_box {
    width: 100%;
  }
  #container_sp .content2_tv .box2_tv2 .content_tv2 .info_box img {
    margin-top: 0;
    width: 100%;
  }
  #container_sp .content3_tv {
    margin-top: 26px;
  }
  #container_sp .content3_tv .slogan_tv3 {
    text-align: center;
    width: 100%;
  }
  #container_sp .content3_tv .slogan_tv3 img {
    width: 90%;
  }
  #container_sp .content3_tv .text_tv3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
  }
  #container_sp .content3_tv .text_tv3 .text1 {
    text-align: center;
    width: 100%;
  }
  #container_sp .content3_tv .text_tv3 .text1 p {
    padding-top: 0px;
    font-size: 1.4rem;
  }
  #container_sp .content3_tv .text_tv3 .blue {
    font-size: 1.9rem;
    color: #0e5b9a;
  }
  /*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
  #footer {
    display: none;
  }
  #footer_sp {
    display: block;
  }
  #footer_sp .banner_footer {
    text-align: center;
  }
  #footer_sp .banner_footer .img_banner {
    position: relative;
    width: 100%;
  }
  #footer_sp .banner_footer .img_banner img {
    width: 100%;
  }
  #footer_sp .banner_footer .slogan_footer {
    text-align: center;
    position: absolute;
    z-index: 9;
    width: 100%;
    margin-top: -98%;
  }
  #footer_sp .banner_footer .slogan_footer img {
    width: 90%;
  }
  #footer_sp .banner_footer .text2 {
    width: 90%;
    text-align: center;
    font-size: 1.4rem;
    color: #ffffff;
    position: absolute;
    z-index: 9;
    margin: -82% 0% 0% 5%;
  }
  #footer_sp .banner_footer .text2 p {
    color: #ffff4c;
    margin-top: -4px;
  }
  #footer_sp .banner_footer .phone_footer {
    position: absolute;
    z-index: 9;
    margin-top: -49%;
  }
  #footer_sp .banner_footer .phone_footer img {
    width: 62%;
  }
  #footer_sp .banner_footer .phone_footer p {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 1%;
  }
  #footer_sp .banner_footer .mail_footer {
    position: absolute;
    z-index: 9;
    margin-top: -30%;
  }
  #footer_sp .banner_footer .mail_footer img {
    width: 78%;
  }
  #footer_sp .banner_footer .mail_footer p {
    color: #ffffff;
    font-size: 1rem;
  }
  #footer_sp .menu_footer {
    margin: 0 auto;
    height: 100px;
    width: 100%;
    background: #ccc;
  }
  #footer_sp .menu_footer .content_menu {
    width: 100%;
    height: 50px;
    padding-top: 5%;
  }
  #footer_sp .menu_footer .content_menu ul {
    text-align: center;
  }
  #footer_sp .menu_footer .content_menu ul li {
    display: inline-block;
    position: relative;
    color: #222;
    font-size: 1rem;
  }
  #footer_sp .menu_footer .content_menu ul li a {
    color: #000;
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    margin: 0px 6px;
  }
  #footer_sp .logo_footer {
    text-align: center;
    padding: 4% 0;
    font-size: 1rem;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
