@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1200px;
	line-height: 1.5;
	text-align: center;
	margin: 0 auto;
}
#center{
	width: 1200px;
	margin: 0 auto;
	height:  auto;
}
#container {
	margin: 0 auto;
	width: 800px;
	background: red;
	text-align: left;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}
.sp{
	display:none;
	}
.pc{
	display:block;
}
.content_sp{
	display:none;
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	@extend #center;
	background: #ffffff;
	border-top: 4px solid #4e4e4e;
	width: 100%;
	height: auto;
	img{
		width: 1200px;
	}
}

/*------------------------------------------------------------
	Menu
------------------------------------------------------------*/
#menu{
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 1200px;
	height: 60px;
	ul{
		float: left;
		li{
			height: 57px;
			border-right: 1px solid black;
			float: left;
			a{
				margin:15px 59px;
				text-decoration: none;
				display: block;
				color: black;
				font-size: 1.8rem;
			}
		}
		.border{
			border-left: 1px solid black;
		}
		.a_margin{
			margin-top: 3px;
		}
		li:hover{
			background: #c3ccd2;
		}
	}
}

@media screen and (max-width: 736px) {
	#header{
		border-top: none;
	}
	#menu{
		display: none;
	}
	body{
		min-width: 200px;
	}
}
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	@extend #center;
	width: 100%;
	background: #f2f2f2;
	height: auto;
	margin-top: -19px;
	img{
		width: 1200px;
	}
}