@media screen and (max-width: 736px) {
	.sp{
	display:block;
	}
	.pc{
	display:none !important
	}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header{
	width: 100%;
	height: auto;
	img{
		width: 100%;
		margin-bottom: -13px;
	}
}
.center{
	width: 90%;
	margin: 0 auto;
	height:  auto;
}
.dot{
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
/*------------------------------------------------------------
	content
------------------------------------------------------------*/
.c-banner{
	width: 100%;
	margin-top: 0;
	img{
	width: 100%;
	}
}
.c-text{
		margin-top: 20px;
		font-size: 1rem;
		font-weight: bold;
}
.collection1_sp{
	@extend .center;
	text-align: center;
	margin-top: 54px;
	width: 87%;
	.slider{
		@extend .center;
		text-align: center;
		width: 100%;
    	height: auto;
	}
	.iconslider_sp{
		width: 50%;
		float: left;
	}
	.iconslider1_sp{
		width: 50%;
		float: right;
	}
	.logo{
		margin-top: 20px;
		width: 44%;
		img{
			width: 100%;
		}
	}
	.text1_img{
		margin-top: 12px;
		width: 52%;
		img{
			width: 100%;
		}
	}
	.text1{
		margin-top: 26px;
		font-size: 1.2rem;
		text-align: left;
	}
	.button{
		width: 100%;
		margin: 10px 0 ;
	}
	.text2{
		text-align: left;
		padding-top: 5px;
		font-size: 1rem;
	}
	.text3{
		text-align: left;
		width: 100%;
		float: left;
		margin-top: 8px;
		img{
			float: left;
			width: auto;
			height: 26px;
		}
		p{
			float: left;
			font-size: 1.5rem;
			margin-top: 5px;
			margin-left: 6px;
		}
	}
	.text4{
		font-size: 1.2rem;
		text-align: left;
		padding-top: 40px;
		p{
			font-size: 0.9rem;
		}
		.p1{
			font-size: 2.5rem;
			font-weight: bold;
		}
		.p2{
			font-size: 1.9rem;
			font-weight: bold;
		}
	}
	.btn_shop{
		margin-top: 11px;
	}
	.btn_online{
		margin-top: 6px;
	}
}
.collection1_sp_top{
	margin-top: 77px;
}
.option1{
	@extend .center;
	text-align: center;
	margin-top: 40px;
	border-radius: 10px;
	width: 87%;
	background: #eef2f5;
	.img_text{
		width: 40%;
		margin: 15px 0;
	}
	.text{
		@extend .center;
		margin-top: 12px;
		text-align: left;
		line-height: 1.9;
    	font-size: 1.1rem;
		p{
		width: 91%;
		}
	}
	.img_option1{
		margin-top: 14px;
	}
	.btn_option1{
		margin-top: 20px;
		padding-bottom: 24px;
	}
	img{
		width: 90%;
	}
}
.option2{
	@extend .center;
	text-align: center;
	width: 87%;
	margin-top: 25px;
	padding-bottom: 9px;
}
.text1_imgcollection2{
	width: 82%;
	margin-top: 10px;
	margin-bottom: -2px;
}
.text3_conllection2{
	margin-top: 2px;
    margin-bottom: -17px;
    margin-left: 1px;
    width: 100%;
	p{
		float: left;
		font-size: 1.4rem;
		font-weight: bold;
	}
}
.text2_collection2{
	margin-top: 19px;
	text-align: left;
	font-size: 1rem;
}
.btn_online2{
		margin-top: 6px;
		padding-bottom: 26px;
}
.text1_imgcollection3{
	width: 58%;
	margin-top: 10px;
	margin-bottom: -2px;
}
.text2_collection3{
	margin-top: 15px;
	text-align: left;
	font-size: 1rem;
}
.btn_online3{
		margin-top: 3px;
		padding-bottom: 24px;
}
.option22{
	@extend .center;
	text-align: center;
	width: 87%;
	margin-top: 25px;
	padding-bottom: 66px;
}
.option22_top{
	margin-top: 48px;
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer{
	width: 100%;
	margin-top: 0;
	height: auto;
	img{
		width: 100%;
	}
}

.myBtn {
  position: absolute;
  z-index: 11;
  margin-top: -36px;
  margin-left: 31%;
  background: 0000;
  img{
  	width: 68%;
  }
}


// end responsive
}