@charset "UTF-8";
@import "responsive";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
#center{
	width: 1200px;
	margin: 0 auto;
	height:  auto;
}
.content{
	text-align: center;
	// @extend #center;
	.c-banner{
		margin-top: 12px;
		.img_banner{
			width: 1200px;
		}
	}
	.c-text{
		margin-top: 40px;
		margin-bottom: 105px;
		font-size: 1.6rem;
		.bold{
			font-weight: bold;
			font-size: 2rem;
		}
	}
	.c-option1{
		text-align: center;
		@extend #center;
		width: 1100px;
		height: 640px;
		.option_left{
			float: left;
			width: 520px;
			height: 645px;
			margin-right: 30px;
		}
		.option_right{
			float: left;
			width: 520px;
			height: 645px;
			margin-left: 30px;
			.collection1{
				margin-top: 6px;
				width: 219px;
				height: 38px;
			}
			.img_text1{
				width: 297px;
				height: 150px;
				margin-top: 20px;
			}
			.text1{
				font-size: 1.6rem;
				text-align: left;
				font-weight: bold;
				margin-top: 37px;
			}
			.button1{
				width: 391px;
				height: 44px;
				margin-left: 8px;
				margin-top: 35px;
			}
			.text2{
				font-size: 1.4rem;
				margin-top: 33px;
				margin-left: 5px;
				font-weight: bold;
				text-align: left;
			}
			.text3{
				font-weight: bold;
				font-size: 2rem;
				margin-top: 10px;
				margin-left: 7px;
				height: 50px;
				text-align: left;
				bottom: inherit;
				img{
					float: left;
					width: 78px;
					height: 42px;
				}
				p{
					float: left;
					margin-left: 9px;
					margin-top: 15px;
				}
			}
			.text4{
				font-size: 1.2rem;
				text-align: left;
				margin-top: 9px;
    			margin-left: 10px;
				p{
					font-size: 1.2rem;
				}
				.p1{
					font-size: 3rem;
				}
				.p2{
					font-size: 2rem;
				}
			}
			.button_collection{
				text-align: left;
				margin-top: 16px;
				margin-left: 9px;
				.btn1{
					width: 252px;
					height: 42px;
				}
				.btn2{
					width: 252px;
					margin-left: 2px;
					height: 42px;
				}
			}
		}
	}
	.option2{
		margin-top: 33px;
		text-align: center;
		@extend #center;
		width: 1100px;
		height: 500px;
		background: #eef2f5;
		border-radius: 10px;
		.option_left{
			float: left;
			width: 520px;
			height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			.content_option2{
				width: 420px;
				height: 328px;
				margin-left: 40px;
			}
			.img_text{
				margin: 0 auto;
				width: 202px;
				height: 53px;
			}
			.text{
				margin: 0 auto;
				font-size: 1.6rem;
				margin-top: 46px;
				font-weight: bold;
				line-height: 2;
				p{
					text-align: left;
				}
			}
			.button_option2{
				margin-left: 8px;
    			margin-top: 35px;
				width: 391px;
				height: 44px;
			}
		}
		.option_right{
			float: left;
			width: 580px;
			height: 500px;
			text-align: left;
			img{
				width: 499px;
				height: 354px;
				margin-left: 8px;
    			margin-top: 70px;
			}
		}
	}
	.c-option3{
		margin-top: 38px;
		margin-bottom: 90px;
		text-align: center;
		@extend #center;
		width: 1000px;
		height: 110px;
		background: #dee5ea;
		border-radius: 20px;
		display: flex;
		align-items: center;
		.img_text1{
		float: left;
		margin-left: 55px;
			img{
				text-align: center;
				width: 194px;
				height: 61px;
			}
		}
		.img_text2{
			float: left;
			margin-left: 120px;
			img{
				width: 258px;
				height: 62px;
			}
		}
		.img_text3{
			float: left;
			margin-left: 110px;
			img{
				width: 147px;
				height: 19px;
			}
			.more{
				width: 34px;
				height: 24px;
				margin-left: 45px;
			}
		}
	}
	.c-option2{
		text-align: center;
		@extend #center;
		width: 1100px;
		height: 640px;
		margin-bottom: 82px;
		.option_left{
			float: right;
			width: 520px;
			height: 645px;
			margin-left: 30px;
		}
		.option_right{
			float: right;
			width: 520px;
			height: 645px;
			margin-right: 30px;
			.collection1{
				margin-top: 6px;
				width: 219px;
				height: 38px;
			}
			.img_text1{
				width: 474px;
				height: 150px;
				margin-top: 20px;
			}
			.text1{
				font-size: 1.6rem;
				text-align: left;
				font-weight: bold;
				margin-top: 37px;
			}
			.button1{
				width: 391px;
				height: 44px;
				margin-left: 8px;
				margin-top: 35px;
			}
			.text2{
				font-size: 1.4rem;
				margin-top: 33px;
				margin-left: 5px;
				font-weight: bold;
				text-align: left;
			}
			.text3{
				font-weight: bold;
				font-size: 2rem;
				margin-top: 10px;
				margin-left: 7px;
				height: 50px;
				text-align: left;
				bottom: inherit;
				img{
					float: left;
					width: 78px;
					height: 42px;
				}
				p{
					float: left;
					margin-top: 15px;
				}
			}
			.text4{
				font-size: 1.2rem;
				text-align: left;
				margin-top: 9px;
    			margin-left: 10px;
				p{
					font-size: 1.2rem;
				}
				.p1{
					font-size: 3rem;
				}
				.p2{
					font-size: 2rem;
				}
			}
			.button_collection{
				text-align: left;
				margin-top: 16px;
				margin-left: 9px;
				.btn1{
					width: 252px;
					height: 42px;
				}
				.btn2{
					width: 252px;
					margin-left: 2px;
					height: 42px;
				}
			}
		}
	}
	.c-option33{
		text-align: center;
		@extend #center;
		width: 1100px;
		height: 640px;
		margin-bottom: 65px;
		.option_left{
			float: left;
			width: 520px;
			height: 645px;
			margin-right: 30px;
		}
		.option_right{
			float: left;
			width: 520px;
			height: 645px;
			margin-left: 30px;
			.collection1{
				margin-top: 6px;
				width: 219px;
				height: 38px;
			}
			.img_text1{
				width: 336px;
				height: 150px;
				margin-top: 20px;
			}
			.text1{
				font-size: 1.6rem;
				text-align: left;
				font-weight: bold;
				margin-top: 37px;
			}
			.button1{
				width: 391px;
				height: 44px;
				margin-left: 8px;
				margin-top: 35px;
			}
			.text2{
				font-size: 1.4rem;
				margin-top: 33px;
				margin-left: 5px;
				font-weight: bold;
				text-align: left;
			}
			.text3{
				font-weight: bold;
				font-size: 2rem;
				margin-top: 10px;
				margin-left: 7px;
				height: 20px;
				text-align: left;
				bottom: inherit;
				img{
					float: left;
					width: 78px;
					height: 42px;
				}
				p{
					float: left;
					margin-top: 0px;
				}
			}
			.text4{
				font-size: 1.2rem;
				text-align: left;
				margin-top: 16px;
    			margin-left: 10px;
				p{
					font-size: 1.2rem;
				}
				.p1{
					font-size: 3rem;
				}
				.p2{
					font-size: 2rem;
				}
			}
			.button_collection{
				text-align: left;
				margin-top: 16px;
				margin-left: 9px;
				.btn1{
					width: 252px;
					height: 42px;
				}
				.btn2{
					width: 252px;
					margin-left: 2px;
					height: 42px;
				}
			}
		}
	}
	.c-option3{
		.img_text5{
			float: left;
			margin-left: 38px;
			img{
				width: 411px;
				height: 63px;
			}
		}
		.img_text6{
			float: left;
			margin-left: 40px;
			img{
				width: 147px;
				height: 19px;
			}
			.more{
				width: 34px;
				height: 24px;
				margin-left: 45px;
			}
		}
	}
}
@media screen and (max-width: 736px) {
	#center{
	width: 100%;
	margin: 0 auto;
	height:  auto;
	}
	.content_sp{
	display:block;
	}
}