@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	border-top: 4px solid #0f5c9b;
    min-width: 960px;
}
#container {
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}
#main{
	width: 950px;
	height: auto;
	margin: 0 auto;
}
.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}
.more {
position: relative;
}
.more_hover {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
}

.more:hover .more_hover {
opacity: 1;
}
.image {
display: block;
height: auto;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	width: 950px;
	margin: 0 auto;
	position: relative;
	// begin info
	#header_info{
		height: 100px;
		background: #ffffff;
		text-align: center;
		.logo_pc{
			margin: 18px 0px 0px 6px;
			float: left;
		}
		.phone{
			float: right;
			margin: 38px 18px 0px 0px;
			img{
				margin-left:5px;
			}
			p{
				font-size: 1rem;
				margin:3px 0px 0px 9px;
			}
		}
		.mail{
			width: 260px;
			height: 42px;
			margin-top: 35px;
			background: #ffed4d;
			border-radius: 1px;
			float: right;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover{
				opacity: 0.7;
				transition-duration: 1s;
			}
			p{
				color: #fd7e00;
				margin-left: 8px;
				font-size:  1.4rem;
				font-weight: bold;
			}
		}
	}
	// end info
	// begin menu
	#menu_header{
		// menu pc
		.menu_pc{
			width: 950px;
			height: auto;
			.nav_pc{
				margin: 16px 0px 0px 0px;
			ul{
			    height: 58px;
			    margin: 0 auto;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    }
			    li{
			        padding-bottom:18px;
			    }
			    li:hover{
			        border-bottom: 4px solid #ddd;
			    }
			    a {
			    display: flex;
			    text-decoration: none;
			    height: 40px;
			    font-size: 1.4rem;
			    justify-content: center;
			    border-left: 1px solid #CCC;
			    }
			}
			.opacity_hover:hover{
			    opacity: 0.7;
			}
		}
	}
	// end menu
}
#header_sp{
	display: none;
}
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	width: 100%;
	height: auto;
	margin: 0 auto;
	.banner_footer{
		width: 100%;
		height: 358px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../img/footer/banner_footer_pc.png) no-repeat center top;
			.content{
				width: 950px;
				height: 358px;
				margin: 0 auto;
				position: absolute;
				.text1{
					margin-top: 60px;
				    margin-right: -6px;
				}
				.text2{
					margin-right: 230px;
    				margin-top: 26px;
					float: right;
					width: 480px;
					font-size: 1.6rem;
					color: #ffffff;
					p{
						    color: #ffff4c;
    						margin-top: -4px;
					}
				}
				.info_footer{
					float: right;
				    margin-top: 37px;
				    width: 790px;
				    height: 50px;
					.phone_footer{
						float: left;
						margin-left: 30px;
						img{
							margin-left: 2px;
						}
						p{
							font-size: 1.2rem;
							color: #ffffff;
							margin: 5px 0px 0px 9px;
						}
					}
					.mail_footer{
						width: 295px;
						height: 50px;
						background: #ffed4d;
						border-radius: 1px;
						float: right;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 137px;
						&:hover{
							opacity: 0.7;
							transition-duration: 1s;
						}
						p{
							color: #fd7e00;
							margin-left: 12px;
							font-size:  1.6rem;
							font-weight: bold;
						}
					}
			}
		}
	}
	.menu_footer{
		width: 100%;
		height: 120px;
		background: #cccccc;
		.content_menu{
			width: 100%;
			height: 60px;
			padding-top: 37px;
			ul{
			margin-left: -24px;
			li{
				display: inline-block;
			    position: relative;
			    color: #222;
			    font-size: 1.6rem;
				a{
					color: #000;
				    text-decoration: none;
				    color: #222;
				    font-size: 1.4rem;
				    margin: 0px 18px;
					}
				}
			}
		}
	}
	.logo_footer{
		height: 52px;
		width: 100%;
		background:#ffffff;
		margin-left: -3px;
		display: flex;
		justify-content: center;
		align-items: center;
		p{
		font-size: 1.4rem;
		}
	}

}
#footer_sp{
	display: none;
}
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 155px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
