/*--------------------------------------------------------------
 # Responsive 736px
 --------------------------------------------------------------*/
@media screen and (max-width: 736px) {
	body{
		text-align: left;
        width: 100%;
        min-width: 320px;
	}
	#header_info{
		display:none;
	}
	#header{
		width: 100%;
	}
	.menu_pc{
		display:none;
	}
	.center{
	width: 90%;
	height: auto;
	margin: 0 auto;
	}
/*--------------------------------------------------------------
 # Header SP
 --------------------------------------------------------------*/
#header_sp{
	display: block;
}
.logo_sp{
	height: auto;
	margin: 11px 0px 0px 18px;
	img{
		height:39px;
	}
}
#icon_menu{
	height: 45px;
    width: 50px;
    margin-top: -40px;
    float: right;
	img{
		height: 40px;
		float: right;
	}
}
.icon_1{
	.open{
	display:block;
	padding-right: 10px;
	}

	.close{
	display: none;
	padding-right: 10px;
	}
}
.open{
	display: none;
	padding-right: 10px;
}
.close{
	display: block;
	padding-right: 10px;
	}
.menu_sp {
    background: #0f5c9b;
    width: 100%;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    display: none;
    margin-top: 10px;
	ul {
		width: 100%;
	    display: block;
	    padding: 30px 25px;
	    min-height: 524px;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    li {
		    padding: 11px 0;
		    border-top: 1px dotted #fff;
		    &:hover {
		    border-bottom: none;
			}
			&:last-child {
		    border-bottom: 1px dotted #fff;
			}
			a{
				background: url(../img/sp/header/icon_more.png) no-repeat left center;
				background-size: 6px auto;
				border-left: none;
				height: auto;
				font-size: 1.5rem;
			    font-weight: bold;
				color: white;
				padding-left: 15px;
				display: block;
			}
		}
	}

}
/*--------------------------------------------------------------
 # Banner
 --------------------------------------------------------------*/
#container{
	.banner{
    	display: none;
	}
	.banner_sp{
		display: block;
		width: 100%;
		height: auto;
		margin-top: 3%;
		margin-bottom: 25%;
		img{
			width: 100%;
		}
		.slogan{
			@extend .center;
			text-align: center;
			background: #eee;
			margin-top: -48%;
			img{
				width: 93%;
			}
		}
	}
}
/*--------------------------------------------------------------
 # News
 --------------------------------------------------------------*/
#main{
	width: 100%
	}
.new{
	display: none;
}
.news_sp{
	display: block;
	@extend .center;
	border: 1px solid #ccc;
	text-align: center;
	padding: 20px 0px;
	margin-top: 33%;
	margin-bottom: 10%;
	.logo_news{
		padding-bottom: 4%;
		img{
		height: 34px;
		}
	}
	.info_news{
		@extend .center;
		.text{
			padding: 10px 0px;
			border-top: 1px dashed #cecece;
			font-size: 1.4rem;
			text-align: left;
			p{
				color: #0d5a99;
			}
			a{
				color: #000000;
			}
		}
	}
	.btn_news{
		padding: 4% 0 1% 0;
		img{
			height: 30px;
		}
	}
}
/*--------------------------------------------------------------
 # Construction
 --------------------------------------------------------------*/
.construction{
	padding-top: 9%;
	@extend .center;
	.construction_logo{
		display: none;
	}
	.construction_sp{
		@extend .center;
		text-align: center;
		display: block;
		img{
			height: 34px;
		}
	}
	.construction_text{
		@extend .center;
		text-align: center;
		p{
			font-size: 1.4rem;
		}
	}
	.construction_button{
		display: none;
	}
	.construction_button_sp{
		@extend .center;
		margin-top: 8%;
		display: block;
		.more{
			width: 31%;
    		float: left;
    		margin-bottom: 10%;
			img{
				width: 100%;
			}
		}
		.more2{
			width: 31%;
    		float: left;
    		margin: 0 3%;
			img{
				width: 100%;
			}
		}
	}
}
/*--------------------------------------------------------------
 # Alsok
 --------------------------------------------------------------*/
.alsok{
	display: none;
}
.alsok_sp{
	@extend .center;
	.logo_alsok{
		margin-top: 137%;
		img{
			width: 100%;
		}
	}
	.text_alsok{
		text-align: center;
		font-size: 1.4rem;
		margin-top: 16px;
	}
	.button_alsok{
		@extend .center;
		margin-top: 9%;
    	width: 96%;
		img{
			width: 86%;
    		position: absolute;
		}
	}
}
.img_alsok_sp{
		width: 100%;
		img{
			width: 88%;
    		margin-top: 9%;
		}
	}
/*--------------------------------------------------------------
 # Content tv
 --------------------------------------------------------------*/
#container_tv{
	display: none;
}
#container_sp{
	display: block;
	.banner_tv_sp{
		width: 100%;
		padding-top: 10px;
		img{
			width: 100%;
		}
		.slogan_tv{
			@extend .center;
			text-align: center;
			margin-top: -27%;
			img{
				width: 73%;
			}
		}
	}
	.content1_tv{
		margin-top: 22.5%;
		text-align: center;
		width: 100%;
		.logo_tv1{
			@extend .center;
			width: 100%;
			img{
				width: 35%;
			}
		}
		.text_tv1{
			@extend .center;
			text-align: center;
			width: 90%;
			font-size: 1.4rem;
			padding: 5% 0;
		}
		.table_tv1{
			@extend .center;
			text-align: center;
		    margin-bottom: 38px;
		    padding-top: 2px;
		    th{
		      height: 38px;
		      background: #0e5b9a;
		      color: #ffffff;
		      font-size: 1.6rem;
		      font-weight: bold;
		    }
		    table, th, td {
		      border: 1px solid #cccccc;
		      border-collapse: collapse;
		    }
		    td {
		      height: 38px;
		      text-align: left;
		      font-size: 1.4rem;
		      line-height: 1.5;
		      p{
		        margin: 0 15px;
		      }
		    }
		    .td3{
		    	height: 63px;
		    }
		}
	}
	.content2_tv{
		background: #eeeeee;
		width: 100%;
		text-align: center;
		height: auto;
		padding-top: 10%;
		padding-bottom: 8%;
		.logo_tv2{
			@extend .center;
			width: 100%;
			img{
				width: 39%;
			}
		}
		.box1_tv2{
			width: 90%;
			background: #ffffff;
			margin-top: 15px;
			@extend .center;
			.content_tv2{
				width: 90%;
				@extend .center;
				text-align: left;
				padding-top: 5%;
				padding-bottom: 5%;
				.img_text1{
					width: 31%;
					img{
						width: 100%;
					}
				}
				.text1{
					margin-top: 5%;
					font-size: 1.4rem;
				}
				.info_box1{
					width: 100%;
					img{
						margin-top: 5%;
						width: 100%;
					}
					.img_box1{
						margin-top: 7%;
					}
				}
			}
		}
		.box2_tv2{
			width: 90%;
			background: #ffffff;
			margin-top: 5%;
			@extend .center;
			.content_tv2{
				width: 90%;
				@extend .center;
				text-align: left;
				padding-top: 15px;
    			padding-bottom: 15px;
				.img_text1{
					width: 44%;
					img{
						width: 100%;
					}
				}
				.img_text3{
					width: 44%;
					img{
						width: 100%;
					}
				}
				.img_text4{
					width: 45%;
					img{
						width: 100%;
					}
				}
				.img_text5{
					width: 74%;
					img{
						width: 100%;
					}
				}
				.text1{
					width: 100%;
					margin: 11px 1px;
					font-size: 1.4rem;
					float: left;
					p{
						float: left;
					}
					.blue{
						font-weight: bold;
						color: #0f5c9b;
					}
				}
				.info_box{
					width: 100%;
					img{
						margin-top: 0;
						width: 100%;
					}
				}
			}
		}
	}
	.content3_tv{
		margin-top: 26px;
		.slogan_tv3{
			@extend .center;
			text-align: center;
			width: 100%;
			img{
				width: 90%;
			}
		}
		.text_tv3{
			@extend .center;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 25px;
			width: 100%;
			.text1{
			@extend .center;
			text-align: center;
		    width: 100%;
			p{
			  padding-top: 0px;
		      font-size: 1.4rem;
		    	}
			}
		    .blue{
		      font-size: 1.9rem;
		      color: #0e5b9a;
		    }

		}
	}
}
/*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
#footer{
	display: none;
}
#footer_sp{
	display: block;
	.banner_footer{
		text-align: center;
		.img_banner{
			position: relative;
			width: 100%;
			img{
				width: 100%;
			}
		}
		.slogan_footer{
			@extend .center;
			text-align: center;
			position: absolute;
			z-index: 9;
			width: 100%;
			margin-top: -98%;
			img{
				width: 90%;
			}
		}
		.text2{
			width: 90%;
			text-align: center;
			font-size: 1.4rem;
			color: #ffffff;
			position: absolute;
			z-index: 9;
			margin: -82% 0% 0% 5%;
			p{
				    color: #ffff4c;
					margin-top: -4px;
			}
		}
		.phone_footer{
			position: absolute;
			z-index: 9;
			margin-top: -49%;
			img{
				width: 62%;
			}
			p{
				color: #ffffff;
				font-size: 1rem;
				margin-top: 1%;
			}
		}
		.mail_footer{
			position: absolute;
			z-index: 9;
			margin-top: -30%;
			img{
				width: 78%;
			}
			p{
				color: #ffffff;
				font-size: 1rem;
			}
		}
	}
	.menu_footer{
		margin: 0 auto;
		height: 100px;
		width: 100%;
		background: #ccc;
		.content_menu{
			width: 100%;
			height: 50px;
			padding-top: 5%;
			ul{
				text-align: center;
				li{
		    	display: inline-block;
			    position: relative;
			    color: #222;
			    font-size: 1rem;
				    a{
			    	color: #000;
				    text-decoration: none;
				    color: #222;
				    font-size: 1rem;
				    margin: 0px 6px;
			    	}
		    	}

			}
		}
	}
	.logo_footer{
		@extend .center;
		text-align: center;
		padding: 4% 0;
		font-size: 1rem;
	}
}
// end responsive
}