@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Banner
------------------------------------------------------------*/
   #container_sp{
    display: none;
  }
  @media screen and (max-width: 736px) {
  #container_sp {
    display: block;
    }
  }
  .banner {
    background: url(../img/tv/banner_tv.JPG) no-repeat center top;
    height: 197px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid  #dddddd;
    margin-bottom: 62px;
    .slogan {
      margin-top: 56px;
    }
    .banner_text{
      float: left;
      padding-top: 76px;
      text-align: left;
      font-size: 1.2rem;
      padding-left: 2px;
      a{
        float: left;
        color: #0c5999;
      }
      p{
        float: left;
        padding-left: 4px;
      }
    }
  }

/*------------------------------------------------------------
  Content 1
------------------------------------------------------------*/
.content1{
  .logo_content1{
    height: 48px;
    margin-top: -15px;
    p{
      padding-top: 10px;
      font-size: 2.6rem;
      font-weight: bold;
    }
    img{
      margin-top: 10px
    }
  }
  .text_content1{
    margin: 58px 0px 43px 0px;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .table_content1{
    margin-bottom: 80px;
    th{
      height: 46px;
      background: #0e5b9a;
      color: #ffffff;
      font-size: 1.6rem;
      font-weight: bold;
    }
    table, th, td {
      border: 1px solid #cccccc;
      border-collapse: collapse;
    }
    td {
      height: 120px;
      padding: 10px;
      text-align: left;
      font-size: 1.6rem;
      p{
        margin-top: -48px;
        margin-left: 6px;
      }
    }
    .th1{
      width: 284px;
    }
    .th2{
      width: 237px;
    }
    .th3{
      width: 518px;
    }
  }
}
/*------------------------------------------------------------
  Content 2
------------------------------------------------------------*/
.content2{
  background: #eeeeee;
  height: 1460px;
  .logo_content2{
    height: 48px;
    p{
      padding-top: 60px;
      font-size: 2.6rem;
      font-weight: bold;
    }
    img{
      margin-top: 10px
    }
  }
  .box{
    width: 100%;
    height: auto;
    margin-top: 110px;
    .box1{
      background: #ffffff;
      width: 950px;
      height: 250px;
      float: left;
      .content{
        text-align: left;
        width: 595px;
        float: left;
        margin: 25px 0px 25px 25px;
        .text{
          margin-top: 27px;
          p{
            margin-left: 2px;
            font-size: 1.6rem;
          }
        }
        .info_box{
          width: 100%;
          margin-top: 30px;
          height: auto;
          float: left;
          .phone{
            float: left;
          }
          .mail{
            float: right;
            height: 50px;
            text-align: center;
            width: 295px;
            background: #ffed4d;
            img{
              margin-top: 16px;
            }
            &:hover {
            opacity: 0.7;
            }
          }
        }
      }
      .images{
        float: right;
        margin: 25px;
      }
    }

    .box2{
      background: #ffffff;
      margin-top: 30px;
      width: 950px;
      height: 210px;
      float: left;
      .content{
        text-align: left;
        width: 595px;
        float: left;
        margin: 25px 0px 25px 25px;
        .text{
          margin-top: 27px;
          p{
            margin-left: 2px;
            font-size: 1.6rem;
          }
          .blue{
              float: left;
              width: auto;
              color: #0e5b9a;
              font-weight: bold;
          }
        }
      }
      .images{
        float: right;
        margin: 25px;
      }
    }

  }
}
/*------------------------------------------------------------
  Content 3
------------------------------------------------------------*/
.content3{
  width: 100%;
  height: 297px;
  .slogan_content3{
    padding-top: 62px;
  }
  .text_content3{
    line-height: 0.1;
    .text1{
      padding-top: 58px;
      padding-left: 33px;
      width:300px;
      margin: 0 auto;
      height: 30px;
    }
    .text2{
      width:400px;
      margin: 0 auto;
      padding-left: 34px;
      height: 30px;
    }
    p{
      float: left;
      font-size: 1.6rem;
    }
    .blue{
      padding-top: 0px;
      font-size: 2.2rem;
      color: #0e5b9a;
    }
  }
}
