/*------------------------------------------------------------
	.c-header
------------------------------------------------------------*/
.c-header{
	font-size: 1.2rem;
	width: 100%;
	background: #f8f8f8;
	margin: 0 auto;
	height: 30px;
	text-align: left;
	display: flex;
	align-items: center;
}
/*
------------------------------------------------------------*/
.c-infohd{
	width: 1160px;
	margin: 0 auto;
}

/*------------------------------------------------------------
	.c-gnavi
------------------------------------------------------------*/
.c-gnavi{
	width: 1160px;
	margin: 0 auto;
	display: inline-block;
	height: 63px;
	padding-top: 25px;
}

/*
------------------------------------------------------------*/
.c-logo{
	float: left;
}

/*
------------------------------------------------------------*/
.c-menu{
	float: right;
	ul{
		padding-top: 10px;
		li{
			float: left;
			margin-left: 20px;
			a{
				font-size: 1.3rem;
				color: #000000;
				font-weight: bold;
				text-decoration: none;
			}
			a:hover{
				color: #888888;
				border-bottom: 2px solid #888888;
			}
		}
	}
}
/*
------------------------------------------------------------*/
.border{
	color: #888888 !important;
	border-bottom: 2px solid #888888;
}