/*------------------------------------------------------------
	.c-more1
------------------------------------------------------------*/
.c-more1{
	font-size: 1.4rem;
	margin-top: 20px;
	display: inline-block;
	position: relative;
	font-size: 1.5rem;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	font-weight: bold;
	color: #000000;
	//
	//-------------------------------------------------------
	a{
		text-decoration: none;
		font-size: 1.5rem;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		font-weight: bold;
		color: #000000;
	}
}
/*
------------------------------------------------------------*/
.c-more1:before{
	content: "";
    background: url(/assets/img/page2/more.png) no-repeat right;
    width: 100%;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 20px;
}
/*
------------------------------------------------------------*/
.c-more{
			font-size: 1.4rem;
			margin-top: 20px;
			display: inline-block;
			position: relative;
			color: #000000;
		}
/*
------------------------------------------------------------*/
.c-more:before{
	content: "";
    background: url(/assets/img/page2/more.png) no-repeat right;
    width: 100%;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 20px;
}