/*------------------------------------------------------------
	.c-nav1
------------------------------------------------------------*/
.c-nav1{
	width: 1160px;
	height: auto;
	padding-top: 50px;
	display: inline-block;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__box1{
		float: left;
		width: 370px;
		height: auto;
		//
		//-------------------------------------------------------
		&--margin{
			margin: 0 25px;
		}
	}
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
	}
	//
	//-------------------------------------------------------
	&__text{
		padding-top: 10px;
		width: 100%;
		font-size: 1.3rem;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		h2{
			font-size: 1.6rem;
			font-weight: bold;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		}
	}
}
/*------------------------------------------------------------
	.c-nav2
------------------------------------------------------------*/
.c-nav2{
	width: 100%;
	height: auto;
	margin-top: 50px;
	display: inline-block;
}
/*------------------------------------------------------------
	.c-nav3
------------------------------------------------------------*/
.c-nav3{
	width: 1160px;
	height: auto;
	padding-top: 50px;
	display: inline-block;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__box1{
		float: left;
		width: 270px;
		height: auto;
		margin-right: 26px;
		//
		//-------------------------------------------------------
		&--margin{
			margin-right: 0;
		}
	}
	&__img{
		width: 100%;
		height: auto;
	}
	//
	//-------------------------------------------------------
	&__text{
		padding-top: 20px;
		width: 100%;
		font-size: 1.3rem;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		h2{
			font-size: 1.6rem;
			font-weight: bold;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		}
	}
}
/*------------------------------------------------------------
	.c-nav4
------------------------------------------------------------*/
.c-nav4{
	width: 1160px;
	height: auto;
	padding-top: 50px;
	display: inline-block;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__box1{
		float: left;
		width: 270px;
		height: auto;
		margin-right: 26px;
		//
		//-------------------------------------------------------
		&--margin{
			margin-right: 0;
		}
	}
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
	}
}
/*------------------------------------------------------------
	.c-nav5
------------------------------------------------------------*/
.c-nav5{
	width: 1160px;
	height: auto;
	padding-top: 50px;
	display: inline-block;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__box1{
		float: left;
		width: 266px;
		height: auto;
		margin-right: 32px;
		//
		//-------------------------------------------------------
		&--margin{
			margin-right: 0;
		}
	}
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
	}
	//
	//-------------------------------------------------------
	&__img:hover{
		opacity: 0.7;
	}
	//
	//-------------------------------------------------------
	&__text{
		padding: 10px 0;
		width: 100%;
		font-size: 1.3rem;
		background: #e6e6e6;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
}
/*------------------------------------------------------------
	.c-nav6
------------------------------------------------------------*/
.c-nav6{
	width: 1160px;
	height: auto;
	padding-top: 50px;
	display: inline-block;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__box1{
		float: left;
		width: 266px;
		height: auto;
		margin-right: 32px;
		//
		//-------------------------------------------------------
		&--margin{
			margin-right: 0;
		}
	}
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
	}
}
/*------------------------------------------------------------
	.c-nav7
------------------------------------------------------------*/
.c-nav7{
	width: 1160px;
	height: auto;
	padding-top: 20px;
	display: inline-block;
	margin: 0 auto;
	//
	//-------------------------------------------------------
	&__box1{
		float: left;
		width: 220px;
		height: auto;
		border: 1px solid #d5d5d5;
		margin-right: 12px;
		//
		//-------------------------------------------------------
		&--margin{
			margin-right: 0;
		}
	}
	//
	//-------------------------------------------------------
	&__img{
		width: 100%;
		height: auto;
	}
	//
	//-------------------------------------------------------
	&__img:hover{
		opacity: 0.7;
	}
	//
	//-------------------------------------------------------
	&__text{
		padding: 10px 0;
		width: 100%;
		text-align: center;
		font-size: 1.3rem;
		background: #ffffff;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
}