/*------------------------------------------------------------
	.c-slider1
------------------------------------------------------------*/
.c-slider1{
	width: 100%;
	height: auto;
	display: inline-block;
	//fixslider
	//-------------------------------------------------------
	.flexslider1{
		width: 100%;
		display: inline-block;
		//
		//-------------------------------------------------------
		.slides{
			display: block;
		}
		//
		//-------------------------------------------------------
		img{
			width: 100%;
		}
	}
	//
	//-------------------------------------------------------
	.flex-control-nav{
		width: 100%;
	    position: relative;
	    bottom: 0;
	    padding-top: 10px;
	    text-align: center;
	    //
		//-------------------------------------------------------
	    a{
	    	background: url(../img/page1/icon2.png) no-repeat center;
	    	height: 14px;
	    	width: 14px;
	    }
	    //
		//-------------------------------------------------------
	    a:hover{
	    	background: url(../img/page1/icon.png) no-repeat center;
	    	height: 14px;
	    	width: 14px;
	    }
	    //
		//-------------------------------------------------------
	    a.flex-active{
	    	background: url(../img/page1/icon.png) no-repeat center;
	    	height: 14px;
	    	width: 14px;
	    }
	}


}
