/*------------------------------------------------------------
	.c-table1
------------------------------------------------------------*/
.c-table1{
	width: 100%;
	height: auto;
	margin-top: 50px;
	//
	//-------------------------------------------------------
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	    height: 370px;
	}
	//
	//-------------------------------------------------------
	td{
	    border: 1px solid #777777;
	    text-align: left;
	    padding: 25px 0 25px 30px;
	    line-height: 1.6;
	    font-size: 1.6rem;
	    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	}
	//
	//-------------------------------------------------------
	td:nth-child(1) {
		width: 230px;
		font-size: 1.6rem;
		font-weight: bold;
	    background-color: #e6e6e6;
	    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	}
}
