/*------------------------------------------------------------
	.c-text1
------------------------------------------------------------*/
.c-text1{
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__text1{
		margin-top: 30px;
		font-size: 1.5rem;
		line-height: 1.6;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
}
/*------------------------------------------------------------
	.c-text2
------------------------------------------------------------*/
.c-text2{
	margin-top: 30px;
	width: 100%;
	height: 470px;
	display: inline-block;
	border: 1px solid #999999;
	//
	//-------------------------------------------------------
	&__text1{
		padding-top: 30px;
		padding-left: 10px;
		h2{
			font-size: 1.8rem;
		}
		p{
			padding-top: 20px;
			font-size: 1.8rem;
		}
	}
}
/*------------------------------------------------------------
	.c-text3
------------------------------------------------------------*/
.c-text3{
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__text1{
		padding-top: 30px;
		h2{
			font-size: 1.6rem;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		}
		p{
			padding-top: 20px;
			font-size: 1.5rem;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		}
	}
}
/*------------------------------------------------------------
	.c-text4
------------------------------------------------------------*/
.c-text4{
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__text1{
		padding-top: 30px;
		h2{
			font-size: 1.8rem;
		}
		p{
			padding-top: 20px;
			font-size: 1.5rem;
		}
	}
}
