@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}


.l-section{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.l-main{
	width: 800px;
	height: auto;
	margin-top: 50px;
}
.l-pageleft{
	width: 220px;
	height: auto;
	margin-top: 50px;
}
.pc {
	display: block;
}
.sp{
	display: none;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
#header{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.header_pc{
	width: 100%;
	height: 150px;
	margin: 0 auto;
	.info{
		width: 1050px;
		height: 50px;
		padding: 15px 0;
		margin: 0 auto;
		.info__image{
			float: left;
			width: 250px;
			height: 50px;
			img:hover{
				opacity: 0.8;
				transition-duration: 0.5s;
			}
		}
		.info__link{
			height: 50px;
			float: right;
			display: flex;
	  		align-items: center;
			ul{
				float: right;
				li{
					float: left;
					a{
						margin-left: 20px;
						float: left;
						text-decoration: none;
						font-size: 1.6rem;
						color: #333;
					}
				}
			}
		}
	}
	.menu{
		width: 100%;
		height: 40px;
		margin: 0 auto;
		border-top: 1px solid #ccc;
		nav{
			width: 1050px;
			height: 40px;
			margin: 0 auto;
			background: #EFEFEF;
			ul{
				width: 1049px;
				height: 40px;
				margin: 0 auto;
				border-right: 1px solid #ccc;
				li{
					float: left;
					height: 40px;
					width: 20%;
					a{
						display: flex;
						justify-content: center;
						align-items: center;
						float: left;
						text-decoration: none;
						font-size: 1.4rem;
						color: #333;
						width: 100%;
						height: 40px;
						border-left: 1px solid #ccc;
					}
				}
			}
		}
	}
}
.c-menuextra{
	width: 100%;
	background: #ffffff ;
	margin: 0 auto;
	height: 30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	ul{
		width: 1050px;
		margin: 0 auto;
		li{
			margin: 5px 5px 5px 0;
			float: left;
			font-size: 1.2rem;
			color: #000000;
			a{
				font-size: 1.2rem;
				color: #000000;
			}
		}
	}
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	width: 100%;
	height: auto;
	background: #EFEFEE;
	margin: 0 auto;
	.c-ftcategory{
		width: 1050px;
		height: 240px;
		margin: 0 auto;
		.c-category{
			float: left;
			width: 20%;
			text-align: left;
			p{
				padding-top: 40px;
				font-size: 1.6rem;
				font-weight: bold;
			}
			ul{
				li{
					padding: 4px 0;
					a{
						text-decoration: none;
						color: #000;
						font-size: 1.4rem;
					}
				}
				li:hover{
					opacity: 0.7;
				}
			}
		}
	}
	.copyright{
		width: 100%;
		height: 50px;
		background: #ffffff;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		display: flex;
  		justify-content: center;
 		align-items: center;
		p{

			font-size: 1.6rem;
		}
	}
}
