@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-title{
	border-radius: 10px 5px 5px 10px;
	background: #000000;
	color: #ffffff;
	text-align: left;
	margin: 20px 0;
	padding-left: 10px;
	p{
		padding: 5px;
		font-size: 1.5rem;
	}
	&--color1{
		background: #888;
		padding-left: 20px;

	}
	&--color2{
		background: #ddd;
		padding-left: 30px;
		color: #000;
	}
}
.c-menu_extra{
	width: 100%;
	background: #ffffff ;
	margin: 0 auto;
	height: 30px;
	ul{
		width: 1050px;
		margin: 0 auto;
		li{
			margin: 5px 5px 5px 0;
			float: left;
			font-size: 1.2rem;
			color: #000000;
			a{
				font-size: 1.2rem;
				color: #000000;
			}
		}
	}
	&--topline{
		border-top: 1px solid #ccc;
	}
	&--bottomline{
		border-bottom: 1px solid #ccc;
	}
}
.c-btn{
	width: 200px;
	height: 40px;
	background: #FC6E51;
	border-radius: 30px;
	a{
		height: 40px;
		text-decoration: none;
		color: #ffffff;
		font-size: 1.4rem;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	&--color1{
		background: #37BC9B;
	}
	&--color2{
		background: #3BAFDA;
	}
}
.c-btn:hover{
	opacity: 0.7;
	transition-duration: 0.5s;
	a{
		text-decoration: underline;
	}
}
.l-btn{
	width: 100%;
	height: auto;
	.c-btn{
		display: inline-block;
	}
	&--center{
		text-align: center;
	}
	&--right{
		text-align: right;
	}
	&--2btncenter div:last-child{
		margin: 0 10px;
	}
	&--btnbetween{
	display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	}
}
.c-title4{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.c-title1{
	margin: 0 auto;
	width: 1050px;
	height: 100px;
	display: flex;
	align-items: center;
	p{
		font-size: 3rem;
		font-weight: bold;
	}
}
.c-title4__title1{
	width: 1050px;
	height: 100px;
	margin: 0 auto;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	h1{
		text-align: left;
		font-size: 3rem;
		font-weight: bold;
	}
	p{
		text-align: left;
		font-size: 1.6rem;
	}

}
/*------------------------------------------------------------
	main
------------------------------------------------------------*/
.c-title2{
	width: 100%;
	border-left: 10px solid #8CC152;
	font-size: 1.6rem;
	height: 30px;
	display: flex;
	align-items: center;
	h2{
		text-align: left;
		margin-left: 20px;
	}
	&--color1{
		border-left: 10px solid #F6BB42;
	}
	&--color2{
		border-left: 10px solid #E9573F;
	}
	&--textcolor1{
		color: #DA4453;
	}
	&--textcolor2{
		color: #3BAFDA;
	}
}
.c-title3{
	width: 100%;
	font-size: 1.8rem;
	height: 30px;
	color: #000;
	border-bottom: 1px solid #000;
	display: flex;
	align-items: center;
	h2{
		text-align: left;
	}
	&--color1{
		color: #8CC152;
		border-bottom: 1px solid #8CC152;
	}
	&--color2{
		font-size: 1.6rem;
		color: #000;
		border-bottom: none;
	}
}
// 
.c-icon{
	height: 15px;
	background: #888;
	border-radius: 10px;
	margin-bottom: 40px;
}
//
.c-navi1{
	ul{
		width: 100%;
		height: 40px;
		display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
		li{
			background: #4FC1E9;
			float: left;
			height: 40px;
			border-radius: 5px;

			a{
				width: 190px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				font-size: 1.4rem;
				color: #fff;
			}
			a:before {
			    content: "";
			    width: 5px;
			    height: 5px;
			    border-right: 2px solid #FFF;
			    border-bottom: 2px solid #FFF;
			    margin-right: 7px;
			    -webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    transform: rotate(45deg);
			    margin-top: -4px;
			}
		}
		li:hover{
			opacity: 0.8;
			transition-duration: 0.5s;
		}
	}
}
// 
.l-imgtext1{
	width: 760px;
	height: 150px;
	border: 1px solid #ccc;
	padding: 20px;
	h1{
		font-size: 2rem;
	}
	.l-imgtext1__img{
		width: 150px;
		height: 150px;
		float: left;
	}
	.l-imgtext1__text{
		width: 590px;
		font-size: 1.4rem;
		float: right;
		text-align: left;
	}
	&--bg1{
		background: #F5F7FA;
	}
	&--round{
		border-radius: 15px;
	}
	&--imgright{
		.l-imgtext1__img{
			float: right;
		}
		.l-imgtext1__text{
			float: left;
		}
	}
}
// 
.l-list1{
	width: 100%;
	height: 270px;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	 justify-content: space-between;
	.c-list1{
		width: 185px;
		height: 250px;
		&__box{
			width: 185px;
			margin-top: 10px;
			float: left;
		}
		&__img{
			width: 185px;
		}
		&__img1{
			width: 50px;
			height: auto;
			float: left;
		}
		&__text{
			font-size: 1.4rem;
			width: 120px;
			float: right;
			text-align: left;
		}
		&__text1{
			font-size: 1.4rem;
			width: 190px;
			float: right;
			text-align: left;
		}
		&__box1{
			width: 253px;
			margin-top: 10px;
			float: left;
		}
	}
}
//
.c-list2{
	ul{
		li{
			text-align: left;
			list-style-type: disc;
			font-size: 1.4rem;
			margin-left: 20px;
		}
	}
	&--decimal{
		ul{
			li{
				list-style-type: decimal;
			}
		}
	}
}
.c-list4{
	ul{
		width: 100%;
		height: 210px;
		border-top: 1px solid #ccc;
		li{
			border-bottom: 1px solid #ccc;
			text-align: left;
			padding: 10px;
			a{
				text-decoration: none;
				text-align: left;
				margin-left: 20px;
				font-size: 1.4rem;
			}
		}
	}
}
.c-list5{
	width: 100%;
	height: auto;
	ul{
		li{
			text-align: left;
			margin: 20px 0;
			a:hover{
				opacity: 0.8;
				transition-duration: 0.5s;
			}
		}
	}
}
.c-table{
}
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table{
	width: 100%;
	th{
		background: #8CC152;
		color: #fff;
		font-size: 1.4rem;
		padding: 10px 0;
	}
	td{
		font-size: 1.4rem;
		padding: 10px 0;
	}
	.td1{
		background: #E6E9ED;
	}
	.td2{
		background: #434A54;
		color: #fff;
	}
}
//
.c-line1{
	position: relative;
	hr{
		height: 0;
	    border: 0;
	    border-top: 1px solid #CCC;
	    text-align: center;
	}
	hr:after {
    content: '§';
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    background: #FFF;
    color: #bbb;
    font-size: 1.4rem;
    left: 50%;
    top: 50%;
    line-height: 1;
    margin-top: -0.7rem;
    margin-left: -0.7rem;
	}
}
// 
.c-message1{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 30px 0;
	&--color1{
		background: #48CFAD;
		color: #fff;
	}
}
//
.c-link{
	margin-bottom: 50px;
	border: 1px solid #ccc;
	border-radius: 5px;
	p{
		font-size: 1.4rem;
		border-radius: 5px 5px 0 0;
		border-bottom: 1px solid #ccc;
		text-align: left;
		padding: 10px;
		background: #E6E9ED;
	}
	.c-list4{
		margin: 10px;
	}
	.c-list5{
		margin: 10px 10px 10px 8px;
	}
}
/*------------------------------------------------------------
	company
------------------------------------------------------------*/
.l-company{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}
.c-company{
	width: 1050px;
	height: 50px;
	margin: 0 auto;
	text-align: left;
	h1{
		font-size: 3rem;
	}
	p{
		font-size: 1.4rem;
	}
}
.l-content{
	width: 1050px;
	height: 1400px;
	margin: 0 auto;
	&--service{
		height: 2600px;
	}
}
.l-mainleft{
	margin-top: 50px;
	width: 800px;
	float: left;
	p{
		text-align: left;
		margin: 20px 0;
		font-size: 1.4rem;
	}
}
.l-mainright{
	width: 220px;
	float: right;
}
.c-title3--company{
	margin: 30px 0;
}
.c-title2--company{
	margin-top: 30px;
}
.u-red{
	color: red;
	font-weight: bold;
}
.u-green{
	color: green;
}
.u-red1{
	color: red;
}
.l-imgtext1--company{
	width: 800px;
	border: none;
	padding: 0;
}
/*------------------------------------------------------------
	Service
------------------------------------------------------------*/
.l-company{
	&--service{
		background: #5D9CEC;
		color: #fff;
	}
}
.c-title3{
	&--service{
		margin: 50px 0;
	}
}
.text-service{
	border:  1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 50px;
	p{
		font-size: 1.6rem;
		text-align: center;
	}
}
.l-imgtext1{
	&--service{
		margin: 30px 0 ;
	}
}
.l-list_sp{
	display: none;
}
.l-list_pc{
	display: block;
}
/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 767px){
	body{
		min-width: 320px;
		margin: 0 auto;
	}
	.center{
	width: 100%;
	margin: 0 auto;
}
.pc {
	display: none;
}
.sp{
	display: block;
}
.l-main{
	@extend .center;
	width: 96%;
	height: auto;
	margin-top: 50px;
}
#l-section{
	margin-top: 90px;
}

.header_sp{
	width: 100%;
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	top: 0px;
	overflow: hidden;
	position: fixed;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px 0;
	.logo_sp{
	 	height: 40px;
	 	margin-left: 10px;
	 	img{
	 		width: 100%;

	 	}
	 }
	.iconmenu {
    	display: inline-block;
	    cursor: pointer;
	    margin-right: 10px;
	}
}
.menu_sp{
	display: none;
	overflow: hidden;
  	background-color: #fff;
  	position: fixed;
  	top: 60px;
  	width: 100%;
	ul{
		text-align: left;
		border-top: 1px solid #ccc;
		li{
			border-bottom: 1px solid #ccc;
			padding: 10px 0;
			a{
				margin-left: 10px;
				text-decoration: none;
				color: #333;
				font-size: 1.4rem;
			}
		}
	}
}
.l-pageleft {
	@extend .center;
	width: 96%;
}
.l-imgtext1{
	width: auto;
}
.l-imgtext1 .l-imgtext1__text {
    width: 58%;
    font-size: 1rem;
    h1{
    	margin-left: 10px;
    }
    p{
    	margin-left: 10px;
    }
   }
.c-title4__title1 {
	width: 100%;
}
.c-title1{
	width: 100%;
}
.c-navi1 ul {
	width: 100%;
    height: 100px;
    display: block;
    li{
    width: 49%;
    margin-left: 2%;
    margin-bottom: 10px;
    }
}
.c-navi1 li:nth-child(2n+1) {
    margin-left: 0;
}
.l-list1 {
    width: 100%;
    height: auto;
    display: inline-block;
}

.l-list1 .c-list1 {
    width: 44%;
    float: left;
    margin-left: 4%;
    height: auto;
    margin-bottom: 10px;
}
.l-list1 .c-list1__text {
    font-size: 1rem;
    width: 62%;
    float: right;
    text-align: left;
}
.l-list1 .c-list1__img {
    width: 100%;
    img{
    	width: 100%;
    	height: auto;
    }
}
.l-list1 .c-list1__box {
    width: 95%;
    margin-top: 10px;
    float: left;
}
.l-imgtext1 .l-imgtext1__img{
	width: 40%;
	height: auto;
	img{
		width: 100% !important;
		height: auto !important;
	}
}
.l-list1 .c-list1__img1 {
	width: 30%;
	img{
		width: 100%;
		height: auto;
	}
}
.l-list1 .c-list1__text1 {
	font-size: 1rem;
}
.c-navi1 ul li a {
	width: 100%;
}
.c-list0{
	width: 49%;
    float: left;
    height: auto;
    margin-left: 1%;
    .c-list1__box1{
    	margin-bottom: 10px;
    	width: 100%;
		.c-list1__text1{
			width: 65%;
		}
    }
    img{
			width: 100%;
			height: auto;
	}

}
.l-list_pc{
	display: none;
}
.l-list_sp{
	display: block;
}
//footer
#footer{
	width: 100%;
}
#footer .c-ftcategory {
	width: 100%;
}
.c-menuextra ul {
	margin-left: 10px;
}
#footer .c-ftcategory .c-category {
    float: left;
    width: 46%;
    margin-left: 10px;
    text-align: left;
}
/*------------------------------------------------------------
	Company
------------------------------------------------------------*/
#p-company{
	@extend .center;
	width: 100%;
	margin-top: 60px;
	.c-company{
		margin-left: 10px;
	}
}
.l-content {
	@extend .center;
	width: 94%;
	height: auto;
	display: inline-block;
}
.l-mainleft {
	width: 100%;
	height: auto;
}
.l-mainright {
	width: 100%;
}
/*------------------------------------------------------------
	Company
------------------------------------------------------------*/
#p-service{
	@extend .center;
	width: 100%;
	margin-top: 60px;
	.c-company{
		margin-left: 10px;
	}
}
.l-content--service{
	@extend .center;
	width: 94%;
	height: auto;
	display: inline-block;
}
.l-mainleft p {
	margin: 0;
	font-size: 1rem;
}
.l-imgtext1 {
	height: auto;
	display: inline-block;
}
.text-service {
	padding: 20px 0;
	height: auto;
	display: inline-block;
	margin-bottom: 10px;
}
// end responsive
}