/*------------------------------------------------------------
	.c-entry1
------------------------------------------------------------*/
.c-entry1{
	width: 100%;
	margin-top: 50px;
	border-top: 1px solid #939393;
	padding: 30px 0;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__img{
		float: left;
		width: 370px;
		height: auto;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: auto;
		float: left;
		margin-left: 30px;
		font-size: 1.3rem;
		color: #888888;
		h2{
			padding-top: 15px;
			font-size: 1.8rem;
			color: #000000;
		}
		p{
			padding-top: 25px;
			font-size: 1.6rem;
			color: #000000;
		}
		.u-bgred{
			padding: 2px 10px;
			margin-left: 10px;
			color: #ffffff;
			font-size: 1.1rem;
			background: #bd0000;
		}
	}
}
/*
------------------------------------------------------------*/
.c-entry1:before{
	content: "";
	background: url(../img/page1/more.png) no-repeat right;
	background-size: 25px;
	width: 1100px;
	height: 215px;
	position: absolute;
	text-align: right;

}