/*------------------------------------------------------------
	.c-list1
------------------------------------------------------------*/
.c-list1{
	width: 100%;
	height: auto;
	border-bottom: 2px dotted #c5c5c5;
	margin-top: 50px;
	display: inline-block;

	//
	//-------------------------------------------------------
	.title{
		font-weight: bold;
		font-size: 1.8rem;
		color: #333333;
		padding-bottom: 10px;
		.u-red{
			color: #bd0000;
			font-size: 1.1rem;
			font-weight: bold;
		}
		.u-color1{
			color: #333333;
			font-size: 1.3rem;
			font-weight: bold;
		}
	}

	//
	//-------------------------------------------------------
	.c-line{
		width: 100%;
		height: 40px;
		border-top: 2px dotted #c5c5c5;
		font-size: 1.3rem;
		display: flex;
		align-items: center;
		color: #333333;
		.u-size{
			font-size: 1.4rem;
			font-weight: bold;
		}
		.u-bgcolor{
			background: #f78d6c;
			color: #ffffff;
			font-size: 1.1rem;
			font-weight: bold;
			width: 70px;
			padding: 5px 0;
			text-align: center;
			margin: 0 10px;
			&--bg2{
				background: #51c571;
			}
			&--bg3{
				background: #68b4ce;
			}
		}
	}
}