/*------------------------------------------------------------
	.c-title1
------------------------------------------------------------*/
.c-title1{
	width: 1160px;
	padding-top: 100px;
	margin: 0 auto;
	height: auto;
	text-align: center;
	font-size: 2rem;
	color: #999999;
	//
	//-------------------------------------------------------
	.u-size2{
		font-size: 2rem;
		color: #000000;
		font-weight: bold;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}

}