@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 980px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}
.pc{
	display: block !important;
}
.sp{
	display: none !important;
}
.header_sp{
	display: none !important;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	min-width: 890px;
	width: 100%;
	z-index: 999999;
    position: fixed;
	height: 75px;
	.menu{
		width: 100%;
		height: 50px;
		padding-top: 10px;
		.logo{
			width: 182px;
			margin-left: 10px;
			float: left;
		}
		.logo:hover{
			opacity: 0.4;
			transition-duration: 0.5s;
		}
		.nav_menu{
			text-align: center;
			ul{
				display: flex;
				align-items: center;
				justify-content: center;
				float: right;
				height: 50px;
				width: auto;
				li{
					float: left;
					a{
						margin-right: 30px;
						color: #000000;
						font-size: 1.6rem;
						font-weight: bold;
						text-decoration: none;
					}
					a:hover{
						color: #666666;
					}
					.color{
						color: #666666;
					}
				}
			}
		}
		.info{
			display: flex;
			align-items: center;
			justify-content: center;
			float: right;
			height: 50px;
			margin-right: 10px;
			.text{
				float: left;
				color: #000000;
				font-size: 1.4rem;
				font-weight: bold;
			}
			.c-store{
				float: left;
				margin-left: 10px;
			}
			.c-store:hover{
				opacity: 0.4;
				transition-duration: 0.5s;
			}
		}
	}
}
.scroll{
	background: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    position: fixed;
    overflow: hidden;
	transition-duration: 0.5s;

}
@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

footer {
	width: 100%;
	padding: 65px 0;
	margin: 0 auto;
	background: #49c8b2;
	.l-main{
		margin: 0 auto;
		width: 780px;
		height: auto;
		.text{
			font-weight: bold;
			font-size: 2rem;
		}
		.store{
			width: 100%;
			height: auto;
			img{
				margin: 30px 20px;
			}
			img:hover{
				opacity: 0.4;
			}
		}
		.menuft{
			width: 100%;
			height: 50px;
			margin: 10px 0 20px 0;
			.logoft{
				width: 175px;
				float: left;
				img:hover{
				opacity: 0.4;
				}
			}
			.menu{
				float: left;
				width: 470px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				ul{
					margin: 0 auto;
					li{
						float: left;
						margin-left: 15px;
						a{
							font-weight: bold;
							font-size: 1.4rem;
							color: #ffffff;
							text-decoration: none;
						}
						a:hover{
							color: #2eb3a1;
						}
					}
				}
			}
			.icon{
				width: 130px;
				float: right;
				img{
					margin-left: 20px;
				}
				img:hover{
					opacity: 0.4;
				}
			}
		}
		.c-copyright{
			margin-top: 10px;
			font-size: 1.2rem;
			color: #ffffff;
		}
	}
}

/*------------------------------------------------------------
	responsive
------------------------------------------------------------*/



@media screen and (max-width: 768px) {
	body{
		    min-width: 320px;
	}
	.pc{
		display: none !important;
	}
	.sp{
		display: block !important;
	}
	.header_pc{
		display: none;
	}
	.header_sp{
		display: block !important;
	}
	
#header {
    min-width: 300px;
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 55px;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
	.header_sp{
		width: 100%;
		height: 40px;
		top: 0px;
		overflow: hidden;
		position: fixed;
		padding: 10px 0;
		.logo_sp{
		 	height: 30px;
		 	margin-left: 37px;
		 	img{
		 		width: 100%;

		 	}
		 }
		.iconmenu {
	    	display: block;
	    	float: left;
		    cursor: pointer;
		    margin-left: 10px;
		}
		.icon{
			float: right;
		    margin-right: 9px;
		    margin-top: 2px;
		    height: 26px;
		}
	}
	.menu_sp{
		display: none;
		overflow: hidden;
	  	background-color: #ffffffdb;
	  	position: fixed;
	  	top: 50px;
	  	width: 100%;
	  	height: 100%;
		ul{
			margin-top: 20%;
			text-align: left;
			li{
				width: 100%;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.5rem;
				font-weight: bold;
				a{
					font-size: 2rem;
					font-weight: bold;
					text-decoration: none;
					color: #000;
					img{
						height: 40px;
					}
				}
				.store{
					padding-top: 20px;
				}
			}
			.text{
				margin-top: 30px;
			}
		}
	}






footer{
		padding: 45px 0;
		.l-main{
			width: 100%;
			.text{
				h2{
					font-size: 2.4rem;
					font-weight: 900;
				}
			}
			.store{
				margin-top: 15px;
				width: 100%;
				img{
					margin:  0 4%;
					width: calc(335px/2);
				}
			}
			.menuft{
				.logoft{
					width: 100%;
					img{
						margin-top: 12px;
						width: calc(339px/2);
						height: auto;
					}
				}
				.menu{
					display: none;
				}
				.menu.sp{
					width: 100%;
					margin: 0 auto;
					padding-top: 28px;
					padding-bottom: 7px;
					ul{
						width: 100%;
						margin: 0 auto;
						display: -webkit-box;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-box-pack: center;
					    -ms-flex-pack: center;
					    justify-content: center;
						li{
							margin: 0 8px 8px 8px;
							width: auto;
							a{
								font-size: 1.3rem;
							}
						}
					}
				}
			}
			.c-copyright{
				font-size: 1.1rem ;
				color: #ffffff;
			}
		}
	}
}
