@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.menu_left{
	width: 10px;
    position: fixed;
    left: 30px;
    top: 100px;
    z-index: 500;
    li{
    	padding: 0;
    	position: relative;
    	a{
    		display: block;
		    width: 20px;
		    height: 20px;
    	}
    	span{
    		position: absolute;
		    top: 0px;
		    display: none;
    	}

    }
}
.line{
	margin: 5px 10px;
}
.container {
  width: 100%;
	.flexslider1{
	  width: 100%;
	  .slides{
	  	display: block;
	  }
	  .content{
	  	display: flex;
		align-items: center;
		justify-content: center;
	  	position: absolute;
	  	z-index: 9;
	  	font-size: 3rem;
	  	font-weight: bold;
	  	top: 20%;
	  	left: 20%;
	  }
	  img{
	  	width: 100%;
	  }
	}
}
.l-option1{
	width: 100%;
	height: auto;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	.l-banner{
		width: 100%;
		height: auto;
		.logo{
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 9;
			-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			img{
				width: 232px;
				height: 243px;
			}
		}
	}
	.l-content{
		width: 100%;
		height: 435px;
		background: #49c8b2;
		.l-main{
			width: 780px;
			height: 435px;
			margin: 0 auto;
			.img{
				float: left;
				width: 245px;
				height: auto;
				position: absolute;
				z-index: 9999;
				margin-top: -65px;
			}
			.info{
				float: right;
				width: 510px;
				height: auto;
				img{
					padding-top: 65px;
				}
				.box{
					width: 100%;
					height: auto;
					.c-icon{
						float: left;
						width: 33%;
						height: auto;
						img{
							padding-top: 30px;
						}
						p{
							padding-top: 20px;
							margin: 0 auto;
							width: 70%;
							font-size: 1.6rem;
							font-weight: bold;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.l-option2{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin: 65px 0 ;
	.l-main{
		margin: 0 auto;
		width: 780px;
		.text_option2{
			margin: 30px 0;
			font-size: 1.6rem;
			h2{
				text-align: left;
				line-height: 1.5;
				letter-spacing: 1px;
			}
		}
	}
}

.l-option3{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #e5e5e5;
	padding: 65px 0;
	.l-main{
		width: 780px;
		height: auto;
		margin: 0 auto;
		.text_option3{
			margin: 30px 0;
			font-size: 1.6rem;
			h2{
				text-align: left;
				line-height: 1.5;
				letter-spacing: 1px;
			}
		}
		.content_option3{
			width: 100%;
			height: auto;
			margin: 0 auto;
			.topics{
				background: #e5e5e5;
				width: 100%;
				border-bottom: 2px solid #fff;
				.accordion{
					background: #e5e5e5;
					display: flex;
					align-items: center;
					text-align: left;
					height: 50px;
					width: 100%;
					border-top: 2px solid #fff;
					p{
						width: 100%;
						color: #000;
						text-decoration: none;
						font-size: 1.6rem;
						.u-date{
							float: left;
							margin-right: 20px;
						}
						.u-content{
						}
					}
				}
			}
			.more{
				margin-top: 15px;
				text-align: right;
				font-size: 1.6rem;
				a{
					color: #000;
				}
				a:hover{
					color: #069d8f;
					text-decoration: none;
				}
			}
		}
	}
}


.accordion {
	height: auto;
    cursor: pointer;
    width: 100%;
    outline: none;
    transition: 0.4s;
    display: flex;
	align-items: center;
    
}

.panel {
    padding: 0px 1px 0px 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p{
    	padding-top: 10px ;
    	font-size: 1.4rem;
    	text-align: left;
    }
    a{
    	float: left;
    	font-size: 1.6rem;
    }
    
}

.l-option4{
	width: 100%;
	height: auto;
	margin: 65px 0;
	.l-main{
		width: 780px;
		height: auto;
		margin: 0 auto;
	}
}
.l-option5{
	width: 100%;
	height: auto;
	padding: 65px 0;
	background: #e5e5e5;
	.l-main{
		width: 780px;
		height: auto;
		margin: 0 auto;
		.img_option5{
			margin-top: 50px;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			 justify-content: space-between;
			 a:hover{
			 	opacity: 0.4;
			 	transition-duration: 0.5s;
			 }
		}
	}
}










/*------------------------------------------------------------
	slider
------------------------------------------------------------*/
.c-slider{
	width: 100%;
	height: 440px;
	margin-top: 50px;
	border-bottom: 1px solid #ccc;
	&__c-slider3{
		border-bottom: none;
		height: 400px;
	}
	#flexslider-carousel {
	  margin: 0 auto;
	  width: 100%;
	  height: 410px;
	  box-shadow: none;
	}
	#flexslider-carousel{
		ul{
			li{
				.img{
					float: left;
					width: auto;
					height: 412px;
					margin-left: 50px;
				}
				.info{
					margin-top: 50px;
					float: right;
					width: 370px;
					height: 60px;
					margin-right: 50px;
					.img_text{
						width: auto;
						height: auto;
						img{
							width: 100%;
						}
					}
					.text{
						margin-top: 20px;
						margin-left: 10px;
						text-align: left;
						width: 100%;
						height: auto;
						font-size: 1.6rem;
					}
				}
			}
		}
	}
	.flex-next, .flex-prev { 
		height: 46px !important; 
	}
	.flex-control-nav {
	    width: 70%;
	    margin-left: 30%;
	    position: absolute;
	    bottom: 40px;
	    text-align: center;
	}
	.flex-direction-nav .flex-next {
	    right: 0px;
	}
	.flex-direction-nav .flex-prev {
	    left: 0px;
	}
	.flex-direction-nav {
		a {
		    text-decoration: none;
		    display: block;
		    width: 40px;
		    height: 40px;
		    margin: -20px 0 0;
		    position: absolute;
		    top: 40%;
		    z-index: 10;
		    overflow: hidden;
		    opacity: 1;
		    cursor: pointer;
		    color: #c9c9c9;
		    text-shadow: none;
		    -webkit-transition: none;
		    -moz-transition: none;
		    transition: none;
		}
	}
	
	.flexslider:hover .flex-next {
	    opacity: .7;
	    color: #069d8f;
	    right: 0;
	}
	.flexslider:hover .flex-prev {
	    opacity: .7;
	    color: #069d8f;
	    left: 0;
	}














}


@media screen and (max-width: 768px) {
	#flexslider-carousel {
	  margin: 0 auto;
	  width: 100%;
	  height: auto;
	  box-shadow: none;
	}
	#flexslider-carousel ul li .img{
		float: left;
		width: 100%;
		height: auto;
	}
	#flexslider-carousel ul li .img_text{
		float: left;
		width: 100%;
		height: auto;
	}
	#flexslider-carousel ul li .text{
		float: left;
		width: 100%;
		height: auto;
	}
	.flex-next, .flex-prev { 
		height: 46px !important; 
	}
	
	.c-slider #flexslider-carousel ul li .info{
		margin-top: 50px;
	    float: right;
	    width: 100%;
	    height: auto;
	    margin: 0 auto;
		}
	.c-slider .flex-direction-nav a{
		width: 24px;
	}
}




.menu_sp{
	display: none;
}




@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	body{
		    min-width: 320px;
	}
	// slider
	.c-slider .flex-control-nav {
	    width: 100%;
	    margin-left: 0;
	    position: absolute;
	    bottom: -35px;
	    text-align: center;
	}
	.flexslider {
    border: none !important;
	}
	.c-slider {
	    width: 100%;
	    height: auto;
	    margin-top: 27px;
	    padding-bottom: 60px;
	    border-bottom: 1px solid #ccc;
	
		&--c-slider3{
			padding-bottom: 15px;
		    border-bottom: 0px solid #ccc;
		    .flex-control-nav {
			    width: 100%;
			    margin-left: 0;
			    position: absolute;
			    bottom: -20px;
			    text-align: center;
			}

		}
	}
	.c-slider .flex-direction-nav a{
		top: 34%;
	}
	.c-slider #flexslider-carousel ul li .info img{
	    width: calc(388px/2) !important;
	    margin-top: 36px;
	    margin-left: 0 !important;
	}
	.c-slider #flexslider-carousel ul li .info .center{
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.c-slider #flexslider-carousel ul li img {
	    float: left;
	    width: calc(422px/2) !important;
	    height: auto !important;
	    margin-left: -30px !important;
	    text-align: center;
	}
	.c-slider #flexslider-carousel ul li .img_center{
	    width: 100%;
	    margin: 0 auto;
	    display: flex;
		align-items: center;
		justify-content: center;

	}
	.c-slider #flexslider-carousel {
	    margin: 0 auto;
	    width: 100%;
	    height: auto;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.c-slider #flexslider-carousel ul li .info .text {
	    margin-top: 20px;
	    margin-left: 0;
	    text-align: center;
	    width: 100%;
	    height: auto;
	    font-size: 1.4rem;
	}
// option1
	.container {
	  width: 100%;
		.flexslider1{
		  width: 100%;
		  .slides{
		  	display: block;
		  }
		  .content{
		  	display: flex;
			align-items: center;
			justify-content: center;
		  	position: absolute;
		  	z-index: 9;
		  	font-size: 3rem;
		  	font-weight: bold;
		  	top: 20%;
		  	left: 20%;
		  }
		  .slider{
		  	width: 100%;
		  	height: auto;
		  	img{
			  	width: 375px;
			  	height: auto;
			  }
			}
		}
	}





	.l-option1 .l-main{
		width: 90%;
	}

	.l-option1{
		.l-banner{
			width: 100%;
			height: auto;
			position: relative;
			width: 100%;
			overflow: hidden;
			top: 0;
			.img_logo{
				width: 210px;
				height: auto;
				z-index: 3;
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    margin: auto;
			}
		}
	}
	.l-option1 .l-content {
    width: 100%;
    min-height: 254px;
    height: auto;
    background: #49c8b2;
	}
	.l-option1 .l-content .l-main {
	    width: 100%;
	    height: auto;
	    margin: 0 auto;
	}
	.l-option1 .l-content .l-main .info {
	    float: none;
	    width: 100%;
	    height: auto;
	    img{
	    	width: calc(693px/2);
	    	padding-top: 19px;
	    }
	}
	.l-option1 .l-content .l-main .info .box {
		display: flex;
	    width: 100%;
	    height: auto;
	}
	.l-option1 .l-content .l-main .info .box .c-icon img {
        padding-top: 23px;
    	width: 96px;
	}
	.l-option1 .l-content .l-main .info .box .c-icon p {
	    padding-top: 12px;
	    margin: 0 auto;
	    width: 70%;
	    font-size: 1.2rem;
	    font-weight: bold;
	    color: #fff;
	}
// option2
	.l-option2{
		margin: 28px 0;
	}
	.l-option2 .l-main{
		width: 100%;
		.logo_option2{
			width: 100%;
			img{
				height: 85px;
			}
		}
		.text_option2{
			margin: 0 auto;
			padding-top: 28px;
			padding-bottom: 26px;
			width: 92%;
			font-size: 1.4rem;
			h2{
				line-height: 1.4;
			}
		}
		.video{
			width: 100%;
			height: auto;
			iframe {
				width: 100%;
				max-height: 211px;
			}
		}
	}
// option3
	.l-option3{
		width: 100%;
		padding: 28px 0;
		.l-main{
			width: 92%;
			.logo_option3{
				width: 100%;
				height: auto;
				img{
					width: calc(303px/2);
				}
			}
			.text_option3{
				width: 100%;
				margin: 16px 0;
    			font-size: 1.4rem;
    			h2{
    				text-align: justify;
				    line-height: 1.4;
				    letter-spacing: 0;
    			}
			}
			.content_option3{
				margin-top: 28px;
				ul{
					li{
						height: 62px;
						a{
							font-size: 1.4rem !important;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.l-option3 .l-main .content_option3 dl li a {
		font-size: 1.4rem !important;
	}

//option4

	.l-option4{
		width: 100%;
		margin: 28px 0;
		.l-main{
			width: 92%;
			.logo_option4{
				width: 100%;
				img{
					width: calc(633px/2);
				}
			}
		}
	}
//option5
	.l-option5{
		width: 100%;
	    height: auto;
	    padding: 40px 0;
		.l-main{
			width: 85%;
			margin: 0 auto;
			.logo_option5{
				width: 100%;
				img{
					width: calc(619px/2);
				}
			}
			.img_option5{
				margin-top: 16px !important;
				width: 100%;
				height: auto;
				display: inline-block;
				img{
					width: calc(634px/2);
				}
				&--top{
					margin-top: 17px !important;
				}
			}
		}
	}

}