@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	pc
------------------------------------------------------------*/
.menu_sp{
	display: none;
}
.content {
    padding-top: 75px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.l-option1{
	width: 100%;
	height: 140px;
	background: #e5e5e5;
	.l-main{
		width: 780px;
		height: 140px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.l-option2{
	width: 100%;
	height: auto;
	padding: 65px 0;
	margin: 0 auto;
	.l-main{
		width: 780px;
		height: auto;
		margin: 0 auto;
		border-bottom: 1px  solid #e5e5e5 !important;
		.logo_option2{
			height: 50px;
			text-align: left;
		}
	}
	&--l-option3{
		padding: 0 0 65px 0 ;
	}
}



.accordion {
	height: auto;
	border-top: 1px  solid #e5e5e5 !important;
	padding: 15px 0;
	float: left;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    display: flex;
	align-items: center;
    p{
    	float: left;
    	width: 90%;
    	font-weight: bold;
    	line-height: 1.6;
    	font-size: 1.6rem ;

    }
}



.accordion:after {
	height: 22px;
	margin-top: -27px;
	margin-left: 30px;
	float: right;
    content: '\002B';
    font-weight: bold;
    font-size: 4rem;
    color: #c9c9c9;

}

.active:after {
	margin-top: -20px;
    margin-left: 25px;
    content: "\2212";
    font-size: 4rem;
    color: #49c8b2;
}

.panel {
    padding: 0px 1px 0px 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    h2{
    	padding:  0 0 10px 0 ;
    	font-size: 1.5rem;
    	line-height: 1.6;
    	text-align: left;
    	color: #6c6c6d;
    }
}
/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	body{
		    min-width: 300px;
	}
	.content{
		padding-top: 50px;
	}
	.l-option1{
		width: 100%;
		height: auto;
		.l-main{
			height: auto;
			width: 90%;
			img{
				padding: 22px 0;
				width: 111px;
			}
		}
	}
	.l-option2{
		padding: 40px 0;
		width: 100%;
		.l-main{
			width: 92%;
			.logo_option2{
				height: auto;
				width: 100%;
				padding-bottom: 11px;
				img{
					height: 25px;
				}
			}
		}
		&--l-option3{
			padding: 0 0 40px 0;
		}
	}
	.accordion h1 {
	    float: left;
	    width: 90%;
	    font-size: 1.4rem;
	}
	.panel {
		font-size: 1.4rem;
	}
}
