@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.menu_sp{
	display: none;
}
.content {
    padding-top: 75px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.l-option1{
	width: 100%;
	height: 140px;
	background: #e5e5e5;
	.l-main{
		width: 780px;
		height: 140px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}



.l-option2{
	width: 100%;
	height: auto;
	padding: 65px 0;
	margin: 0 auto;
	.l-main{
		width: 780px;
		height: auto;
		margin: 0 auto;
		.text{
			text-align: left;
			line-height: 1.8;
			font-size: 1.6rem;
			letter-spacing: 1px;
			padding-bottom: 30px;
			border-bottom: 1px solid #ccc;
		}
		.text2{
			text-align: left;
			line-height: 1.8;
			font-size: 1.4rem;
			padding: 50px 0;
			border-bottom: 1px solid #ccc;
		}
		.text3{
			padding-top: 30px;
			p{
				font-size: 1.2rem;
				text-align: right;
			}
		}
	}
}
/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	body{
		    min-width: 300px;
	}
	.content{
		padding-top: 50px;
	}
	.l-option1{
		width: 100%;
		height: auto;
		.l-main{
			height: auto;
			width: 90%;
			img{
				padding: 22px 0;
				width: 165px;
			}
		}
	}
	.l-option2{
		padding: 28px 0;
		.l-main{
			width: 92%;
			.text{
				font-size: 1.4rem;
				line-height: 1.4;
				letter-spacing: 0;
			}
			.text2{
				line-height: 1.4;
				padding: 28px 0;
				font-size: 1.2rem;
			}
		}
	} 

}