@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

.l-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.l-main {
  width: 800px;
  height: auto;
  margin-top: 50px;
}

.l-pageleft {
  width: 220px;
  height: auto;
  margin-top: 50px;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
#header {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.header_pc {
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

.header_pc .info {
  width: 1050px;
  height: 50px;
  padding: 15px 0;
  margin: 0 auto;
}

.header_pc .info .info__image {
  float: left;
  width: 250px;
  height: 50px;
}

.header_pc .info .info__image img:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header_pc .info .info__link {
  height: 50px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_pc .info .info__link ul {
  float: right;
}

.header_pc .info .info__link ul li {
  float: left;
}

.header_pc .info .info__link ul li a {
  margin-left: 20px;
  float: left;
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}

.header_pc .menu {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}

.header_pc .menu nav {
  width: 1050px;
  height: 40px;
  margin: 0 auto;
  background: #EFEFEF;
}

.header_pc .menu nav ul {
  width: 1049px;
  height: 40px;
  margin: 0 auto;
  border-right: 1px solid #ccc;
}

.header_pc .menu nav ul li {
  float: left;
  height: 40px;
  width: 20%;
}

.header_pc .menu nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
  width: 100%;
  height: 40px;
  border-left: 1px solid #ccc;
}

.c-menuextra {
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.c-menuextra ul {
  width: 1050px;
  margin: 0 auto;
}

.c-menuextra ul li {
  margin: 5px 5px 5px 0;
  float: left;
  font-size: 1.2rem;
  color: #000000;
}

.c-menuextra ul li a {
  font-size: 1.2rem;
  color: #000000;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  width: 100%;
  height: auto;
  background: #EFEFEE;
  margin: 0 auto;
}

#footer .c-ftcategory {
  width: 1050px;
  height: 240px;
  margin: 0 auto;
}

#footer .c-ftcategory .c-category {
  float: left;
  width: 20%;
  text-align: left;
}

#footer .c-ftcategory .c-category p {
  padding-top: 40px;
  font-size: 1.6rem;
  font-weight: bold;
}

#footer .c-ftcategory .c-category ul li {
  padding: 4px 0;
}

#footer .c-ftcategory .c-category ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

#footer .c-ftcategory .c-category ul li:hover {
  opacity: 0.7;
}

#footer .copyright {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .copyright p {
  font-size: 1.6rem;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
