@charset "UTF-8";
/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-title {
  border-radius: 10px 5px 5px 10px;
  background: #000000;
  color: #ffffff;
  text-align: left;
  margin: 20px 0;
  padding-left: 10px;
}

.c-title p {
  padding: 5px;
  font-size: 1.5rem;
}

.c-title--color1 {
  background: #888;
  padding-left: 20px;
}

.c-title--color2 {
  background: #ddd;
  padding-left: 30px;
  color: #000;
}

.c-menu_extra {
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  height: 30px;
}

.c-menu_extra ul {
  width: 1050px;
  margin: 0 auto;
}

.c-menu_extra ul li {
  margin: 5px 5px 5px 0;
  float: left;
  font-size: 1.2rem;
  color: #000000;
}

.c-menu_extra ul li a {
  font-size: 1.2rem;
  color: #000000;
}

.c-menu_extra--topline {
  border-top: 1px solid #ccc;
}

.c-menu_extra--bottomline {
  border-bottom: 1px solid #ccc;
}

.c-btn {
  width: 200px;
  height: 40px;
  background: #FC6E51;
  border-radius: 30px;
}

.c-btn a {
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-btn--color1 {
  background: #37BC9B;
}

.c-btn--color2 {
  background: #3BAFDA;
}

.c-btn:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.c-btn:hover a {
  text-decoration: underline;
}

.l-btn {
  width: 100%;
  height: auto;
}

.l-btn .c-btn {
  display: inline-block;
}

.l-btn--center {
  text-align: center;
}

.l-btn--right {
  text-align: right;
}

.l-btn--2btncenter div:last-child {
  margin: 0 10px;
}

.l-btn--btnbetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-title4 {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.c-title1 {
  margin: 0 auto;
  width: 1050px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-title1 p {
  font-size: 3rem;
  font-weight: bold;
}

.c-title4__title1 {
  width: 1050px;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-title4__title1 h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
}

.c-title4__title1 p {
  text-align: left;
  font-size: 1.6rem;
}

/*------------------------------------------------------------
	main
------------------------------------------------------------*/
.c-title2 {
  width: 100%;
  border-left: 10px solid #8CC152;
  font-size: 1.6rem;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-title2 h2 {
  text-align: left;
  margin-left: 20px;
}

.c-title2--color1 {
  border-left: 10px solid #F6BB42;
}

.c-title2--color2 {
  border-left: 10px solid #E9573F;
}

.c-title2--textcolor1 {
  color: #DA4453;
}

.c-title2--textcolor2 {
  color: #3BAFDA;
}

.c-title3 {
  width: 100%;
  font-size: 1.8rem;
  height: 30px;
  color: #000;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-title3 h2 {
  text-align: left;
}

.c-title3--color1 {
  color: #8CC152;
  border-bottom: 1px solid #8CC152;
}

.c-title3--color2 {
  font-size: 1.6rem;
  color: #000;
  border-bottom: none;
}

.c-icon {
  height: 15px;
  background: #888;
  border-radius: 10px;
  margin-bottom: 40px;
}

.c-navi1 ul {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-navi1 ul li {
  background: #4FC1E9;
  float: left;
  height: 40px;
  border-radius: 5px;
}

.c-navi1 ul li a {
  width: 190px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
}

.c-navi1 ul li a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -4px;
}

.c-navi1 ul li:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.l-imgtext1 {
  width: 760px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 20px;
}

.l-imgtext1 h1 {
  font-size: 2rem;
}

.l-imgtext1 .l-imgtext1__img {
  width: 150px;
  height: 150px;
  float: left;
}

.l-imgtext1 .l-imgtext1__text {
  width: 590px;
  font-size: 1.4rem;
  float: right;
  text-align: left;
}

.l-imgtext1--bg1 {
  background: #F5F7FA;
}

.l-imgtext1--round {
  border-radius: 15px;
}

.l-imgtext1--imgright .l-imgtext1__img {
  float: right;
}

.l-imgtext1--imgright .l-imgtext1__text {
  float: left;
}

.l-list1 {
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.l-list1 .c-list1 {
  width: 185px;
  height: 250px;
}

.l-list1 .c-list1__box {
  width: 185px;
  margin-top: 10px;
  float: left;
}

.l-list1 .c-list1__img {
  width: 185px;
}

.l-list1 .c-list1__img1 {
  width: 50px;
  height: auto;
  float: left;
}

.l-list1 .c-list1__text {
  font-size: 1.4rem;
  width: 120px;
  float: right;
  text-align: left;
}

.l-list1 .c-list1__text1 {
  font-size: 1.4rem;
  width: 190px;
  float: right;
  text-align: left;
}

.l-list1 .c-list1__box1 {
  width: 253px;
  margin-top: 10px;
  float: left;
}

.c-list2 ul li {
  text-align: left;
  list-style-type: disc;
  font-size: 1.4rem;
  margin-left: 20px;
}

.c-list2--decimal ul li {
  list-style-type: decimal;
}

.c-list4 ul {
  width: 100%;
  height: 210px;
  border-top: 1px solid #ccc;
}

.c-list4 ul li {
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}

.c-list4 ul li a {
  text-decoration: none;
  text-align: left;
  margin-left: 20px;
  font-size: 1.4rem;
}

.c-list5 {
  width: 100%;
  height: auto;
}

.c-list5 ul li {
  text-align: left;
  margin: 20px 0;
}

.c-list5 ul li a:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table {
  width: 100%;
}

table th {
  background: #8CC152;
  color: #fff;
  font-size: 1.4rem;
  padding: 10px 0;
}

table td {
  font-size: 1.4rem;
  padding: 10px 0;
}

table .td1 {
  background: #E6E9ED;
}

table .td2 {
  background: #434A54;
  color: #fff;
}

.c-line1 {
  position: relative;
}

.c-line1 hr {
  height: 0;
  border: 0;
  border-top: 1px solid #CCC;
  text-align: center;
}

.c-line1 hr:after {
  content: '§';
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  background: #FFF;
  color: #bbb;
  font-size: 1.4rem;
  left: 50%;
  top: 50%;
  line-height: 1;
  margin-top: -0.7rem;
  margin-left: -0.7rem;
}

.c-message1 {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 0;
}

.c-message1--color1 {
  background: #48CFAD;
  color: #fff;
}

.c-link {
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.c-link p {
  font-size: 1.4rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 10px;
  background: #E6E9ED;
}

.c-link .c-list4 {
  margin: 10px;
}

.c-link .c-list5 {
  margin: 10px 10px 10px 8px;
}

/*------------------------------------------------------------
	company
------------------------------------------------------------*/
.l-company {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-company {
  width: 1050px;
  height: 50px;
  margin: 0 auto;
  text-align: left;
}

.c-company h1 {
  font-size: 3rem;
}

.c-company p {
  font-size: 1.4rem;
}

.l-content {
  width: 1050px;
  height: 1400px;
  margin: 0 auto;
}

.l-content--service {
  height: 2600px;
}

.l-mainleft {
  margin-top: 50px;
  width: 800px;
  float: left;
}

.l-mainleft p {
  text-align: left;
  margin: 20px 0;
  font-size: 1.4rem;
}

.l-mainright {
  width: 220px;
  float: right;
}

.c-title3--company {
  margin: 30px 0;
}

.c-title2--company {
  margin-top: 30px;
}

.u-red {
  color: red;
  font-weight: bold;
}

.u-green {
  color: green;
}

.u-red1 {
  color: red;
}

.l-imgtext1--company {
  width: 800px;
  border: none;
  padding: 0;
}

/*------------------------------------------------------------
	Service
------------------------------------------------------------*/
.l-company--service {
  background: #5D9CEC;
  color: #fff;
}

.c-title3--service {
  margin: 50px 0;
}

.text-service {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 50px;
}

.text-service p {
  font-size: 1.6rem;
  text-align: center;
}

.l-imgtext1--service {
  margin: 30px 0;
}

.l-list_sp {
  display: none;
}

.l-list_pc {
  display: block;
}

/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
    margin: 0 auto;
  }
  .center, .l-main, .l-pageleft, #p-company, .l-content, #p-service, .l-content--service {
    width: 100%;
    margin: 0 auto;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .l-main {
    width: 96%;
    height: auto;
    margin-top: 50px;
  }
  #l-section {
    margin-top: 90px;
  }
  .header_sp {
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    top: 0px;
    overflow: hidden;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
  }
  .header_sp .logo_sp {
    height: 40px;
    margin-left: 10px;
  }
  .header_sp .logo_sp img {
    width: 100%;
  }
  .header_sp .iconmenu {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
  }
  .menu_sp {
    display: none;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 60px;
    width: 100%;
  }
  .menu_sp ul {
    text-align: left;
    border-top: 1px solid #ccc;
  }
  .menu_sp ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .menu_sp ul li a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
  }
  .l-pageleft {
    width: 96%;
  }
  .l-imgtext1 {
    width: auto;
  }
  .l-imgtext1 .l-imgtext1__text {
    width: 58%;
    font-size: 1rem;
  }
  .l-imgtext1 .l-imgtext1__text h1 {
    margin-left: 10px;
  }
  .l-imgtext1 .l-imgtext1__text p {
    margin-left: 10px;
  }
  .c-title4__title1 {
    width: 100%;
  }
  .c-title1 {
    width: 100%;
  }
  .c-navi1 ul {
    width: 100%;
    height: 100px;
    display: block;
  }
  .c-navi1 ul li {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 10px;
  }
  .c-navi1 li:nth-child(2n+1) {
    margin-left: 0;
  }
  .l-list1 {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .l-list1 .c-list1 {
    width: 44%;
    float: left;
    margin-left: 4%;
    height: auto;
    margin-bottom: 10px;
  }
  .l-list1 .c-list1__text {
    font-size: 1rem;
    width: 62%;
    float: right;
    text-align: left;
  }
  .l-list1 .c-list1__img {
    width: 100%;
  }
  .l-list1 .c-list1__img img {
    width: 100%;
    height: auto;
  }
  .l-list1 .c-list1__box {
    width: 95%;
    margin-top: 10px;
    float: left;
  }
  .l-imgtext1 .l-imgtext1__img {
    width: 40%;
    height: auto;
  }
  .l-imgtext1 .l-imgtext1__img img {
    width: 100% !important;
    height: auto !important;
  }
  .l-list1 .c-list1__img1 {
    width: 30%;
  }
  .l-list1 .c-list1__img1 img {
    width: 100%;
    height: auto;
  }
  .l-list1 .c-list1__text1 {
    font-size: 1rem;
  }
  .c-navi1 ul li a {
    width: 100%;
  }
  .c-list0 {
    width: 49%;
    float: left;
    height: auto;
    margin-left: 1%;
  }
  .c-list0 .c-list1__box1 {
    margin-bottom: 10px;
    width: 100%;
  }
  .c-list0 .c-list1__box1 .c-list1__text1 {
    width: 65%;
  }
  .c-list0 img {
    width: 100%;
    height: auto;
  }
  .l-list_pc {
    display: none;
  }
  .l-list_sp {
    display: block;
  }
  #footer {
    width: 100%;
  }
  #footer .c-ftcategory {
    width: 100%;
  }
  .c-menuextra ul {
    margin-left: 10px;
  }
  #footer .c-ftcategory .c-category {
    float: left;
    width: 46%;
    margin-left: 10px;
    text-align: left;
  }
  /*------------------------------------------------------------
	Company
------------------------------------------------------------*/
  #p-company {
    width: 100%;
    margin-top: 60px;
  }
  #p-company .c-company {
    margin-left: 10px;
  }
  .l-content {
    width: 94%;
    height: auto;
    display: inline-block;
  }
  .l-mainleft {
    width: 100%;
    height: auto;
  }
  .l-mainright {
    width: 100%;
  }
  /*------------------------------------------------------------
	Company
------------------------------------------------------------*/
  #p-service {
    width: 100%;
    margin-top: 60px;
  }
  #p-service .c-company {
    margin-left: 10px;
  }
  .l-content--service {
    width: 94%;
    height: auto;
    display: inline-block;
  }
  .l-mainleft p {
    margin: 0;
    font-size: 1rem;
  }
  .l-imgtext1 {
    height: auto;
    display: inline-block;
  }
  .text-service {
    padding: 20px 0;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
  }
}
