/*------------------------------------------------------------
	.c-entry1
------------------------------------------------------------*/
.c-entry1{
	width: 100%;
	margin-top: 50px;
	border-top: 1px solid #939393;
	padding: 30px 0;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__img{
		float: left;
		width: 370px;
		height: auto;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: auto;
		float: left;
		margin-left: 30px;
		font-size: 1.3rem;
		color: #888888;
		h2{
			padding-top: 15px;
			font-size: 1.8rem;
			color: #000000;
		}
		p{
			padding-top: 25px;
			font-size: 1.6rem;
			color: #000000;
		}
		.u-bgred{
			padding: 2px 10px;
			margin-left: 10px;
			color: #ffffff;
			font-size: 1.1rem;
			background: #bd0000;
		}
	}
}
@media screen and (max-width: 768px){
	.c-entry1{
		margin-top: 30px;
		padding: 20px 0 0 0;
		//
		//-------------------------------------------------------
		&__img{
			float: none;
			width: 95%;
			margin: 0 auto;
			img{
				width: 100%;
			}
		}
		//
		//-------------------------------------------------------
		&__text{
			text-align: left;
			width: 95%;
			float: none;
			padding-top: 10px;
			margin: 0 auto;
			font-size: 1.1rem;
			h2{
				padding-top: 10px;
				font-size: 1.4rem;
			}
			p{
				padding-top: 10px;
				font-size: 1.2rem;
			}
			.u-bgred{
				padding: 2px 10px;
				margin-left: 10px;
				font-size: 1.1rem;
			}
		}
	}
}
/*
------------------------------------------------------------*/
.c-entry1:before{
	content: "";
	background: url(../img/page1/more.png) no-repeat right;
	background-size: 25px;
	width: 1100px;
	height: 215px;
	position: absolute;
	text-align: right;

}
@media screen and (max-width: 768px){
	.c-entry1:before{
		width: 0;
		height: 0;
	}
	.c-entry1:after{
		content: "";
		background: url(../img/page1/more.png) no-repeat bottom;
		background-size: 22px;
		width: 100%;
		display: block;
		height: 25px;
		position: relative;
		z-index: 1111;
		text-align: center;
	}

}