/*------------------------------------------------------------
	.l-flame1
------------------------------------------------------------*/
.l-flame1{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
	//
	//-------------------------------------------------------
	&__left{
		width: 370px;
		height: 370px;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		float: right;
		width: calc(1160px - 390px);
		font-size: 1.5rem;
		color: #000000;
		margin-left: 20px;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
	//
	//-------------------------------------------------------
	&__text1{
		margin-bottom: 20px;
	}
	//
	//-------------------------------------------------------
	&__text2{
		float: right;
		margin-top: 10px;
		font-size: 1.6rem;
		font-weight: bold;

	}
}
@media screen and (max-width: 768px){
	.l-flame1{
		width: 95%;
		margin-top: 30px;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			height: auto;
			float: none;
			img{
				width: 100%;
			}
		}
		//
		//-------------------------------------------------------
		&__right{
			padding-top: 10px;
			float: none;
			width: 100%;
			font-size: 1rem;
			margin-left: 0;
		}
		//
		//-------------------------------------------------------
		&__text1{
			text-align: left;
			margin-bottom: 20px;
		}
		//
		//-------------------------------------------------------
		&__text2{
			float: none;
			font-size: 1.4rem;

		}
	}

}
/*------------------------------------------------------------
	.l-flame2
------------------------------------------------------------*/
.l-flame2{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
	//
	//-------------------------------------------------------
	&__left{
		width: 50%;
		height: auto;
		display: inline-block;
		float: left;
		font-size: 1.5rem;
		line-height: 1.8;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 50%;
		height: auto;
		display: inline-block;
		float: right;
		text-align: right;
	}
}
/*
------------------------------------------------------------*/
.c-more{
			font-size: 1.4rem;
			margin-top: 20px;
			display: inline-block;
			position: relative;
			color: #000000;
		}
/*
------------------------------------------------------------*/
.c-more:before{
	content: "";
    background: url(/assets/img/page2/more.png) no-repeat right;
    width: 100%;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 20px;
}
@media screen and (max-width: 768px){
	.l-flame2{
		width: 95%;
		height: auto;
		display: inline-block;
		margin: 0 auto;
		padding-top: 30px;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			float: none;
			font-size: 1.2rem;
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 100%;
			float: none;
			img{
				width: 100%;
			}
		}
	}
	/*
	------------------------------------------------------------*/
	.c-more{
			font-size: 1.2rem !important;
			margin-top: 5px !important;
			padding-bottom: 10px;
		}
	/*
	------------------------------------------------------------*/
	.c-more:before{
	    background-size: 12px !important;
	    top: 3px !important;
	}
}
/*------------------------------------------------------------
	.l-flame3
------------------------------------------------------------*/
.l-flame3{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
	position: relative;
	//
	//-------------------------------------------------------
	&__left{
		width: 560px;
		height: auto;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
	}
	//
	//-------------------------------------------------------
	&__text1{
		width: 560px;
		font-size: 1.5rem;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		padding-bottom: 20px;
		line-height: 1.6;
		h2{
			font-size: 1.6rem;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
			padding-bottom: 10px;
		}
	}
	//
	//-------------------------------------------------------
	&__text2{
		width: 560px;
		font-size: 1.4rem;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		padding-bottom: 20px;
		line-height: 1.6;
		h2{
			font-size: 1.6rem;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
			padding-bottom: 10px;
		}
	}
	//
	//-------------------------------------------------------
	&__btn1{
		width: 555px;
		height: auto;
		display: inline-block;
		position: absolute;
		z-index: 111;
    	bottom: 25px;
		a{
			text-decoration: none;
			color: #ffffff;
			font-size: 1.5rem;
			font-weight: bold;
		}
		//
		//-------------------------------------------------------
		.c-btn1{
			width: 100%;
			background: #888888;
			text-align: center;
			margin-top: 20px;
			padding: 5px 0;
			&--color1{
				margin-top: 20px;
				background: #e2750c;
			}
		}
	}

}
@media screen and (max-width: 768px){
	.l-flame3{
		width: 95%;
		padding-top: 30px;
		margin: 0 auto;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			padding-bottom: 20px;
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 100%;
			height: auto;
		}
		//
		//-------------------------------------------------------
		&__text1{
			text-align: left;
			display: inline-block;
			width: 100%;
			font-size: 1.2rem;
			h2{
				font-size: 1.4rem;
			}
		}
		//
		//-------------------------------------------------------
		&__text2{
			display: inline-block;
			text-align: left;
			width: 100%;
			font-size: 1.2rem;
			h2{
				font-size: 1.4rem;
			}
		}
		//
		//-------------------------------------------------------
		&__btn1{
			width: 100%;
			position: relative;
		}

	}
}
/*------------------------------------------------------------
	.l-flame4
------------------------------------------------------------*/
.l-flame4{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	//
	//-------------------------------------------------------
	&__left{
		width: 560px;
		height: auto;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
		table {
		    border-collapse: collapse;
		    width: 100%;
		    height: 370px;
		}

		td{
		    border: 1px solid #d6d6d6;
		    text-align: left;
		    padding: 8px;
		    font-size: 1.3rem;
		    width: 500px;
		}

		td:nth-child(1) {
			width: 270px;
			font-size: 1.3rem;
			font-weight: 600;
		    background-color: #e6e6e6;
		}
		tr:nth-child(8) {
			height: 155px;
		}
		.td1{
			width: 120px;
			display: inline-block;
		}
		.td2{
			padding: 9px 15px;
			width:30px;
			font-size: 1.3rem;
			font-weight: 600;
		    background-color: #e6e6e6;
		}

	}

}
@media screen and (max-width: 768px){
	.l-flame4{
		width: 95%;
		height: auto;
		display: inline-block;
		margin-top: 20px;
		position: relative;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			padding-bottom: 20px;
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 100%;
			height: auto;
			table {
			    border-collapse: collapse;
			    width: 100%;
			    height: auto;
			}

			td{
			    border: 1px solid #d6d6d6;
			    text-align: left;
			    padding: 8px;
			    font-size: 1.2rem;
			    width: 70%;
			}

			td:nth-child(1) {
				width: 30%;
				font-size: 1.2rem;
			}
			tr:nth-child(8) {
				height: 100px;
			}
			.td1{
				width: 30%;
			}
			.td2{
				padding: 7px 15px;
				font-size: 1.2rem;
			}

		}

	}
}
/*------------------------------------------------------------
	.l-flame5
------------------------------------------------------------*/
.l-flame5{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	//
	//-------------------------------------------------------
	&__left{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
		table {
		    border-collapse: collapse;
		    width: 100%;
		    height: 370px;
		    border-bottom: 1px solid #737473;
		}

		td{
		    border-top: 1px solid #737473;
		    text-align: left;
		    padding: 8px;
		    font-size: 1.3rem;
		    width: 500px;
		}

		td:nth-child(1) {
			width: 100px;
			font-size: 1.3rem;
			font-weight: 600;
		    background-color: #eaf1eb;
		}

	}

}
@media screen and (max-width: 768px){
	.l-flame5{
		width: 95%;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			height: auto;
			float: left;
			margin-bottom: 20px;
			img{
				width: 100%;
			}
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 100%;
			height: auto;
			table {
			    border-collapse: collapse;
			    width: 100%;
			    height: auto;
			    border-bottom: 1px solid #737473;
			}

			td{
			    border-top: 1px solid #737473;
			    text-align: left;
			    padding: 8px;
			    font-size: 1.2rem;
			    width: 70%;
			}

			td:nth-child(1) {
				width: 30%;
				font-size: 1.2rem;
				font-weight: 600;
			    background-color: #eaf1eb;
			}

		}

	}
}
/*------------------------------------------------------------
	.l-flame6
------------------------------------------------------------*/
.l-flame6{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	//
	//-------------------------------------------------------
	&__left{
		width: 560px;
		height: auto;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 560px;
		height: 370px;
		display: inline-block;
		float: right;
	}
	//
	//-------------------------------------------------------
	&__title{
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		color: #ffffff;
		background: #51c571;
		font-size: 1.1rem;
		padding: 2px 20px;
		font-weight: bold;
		&--color{
			background: #f78d6c;
		}
	}
	//
	//-------------------------------------------------------
	&__text{
		font-size: 1.3rem;
		line-height: 1.6;
		padding-top: 20px;
	}
	&__text2{
		width: 100%;
		font-size: 1.3rem;
		line-height: 1.6;
		display: inline-block;
		padding-top: 20px;
	}
	//
	//-------------------------------------------------------
	.u-title{
		font-size: 1.6rem;
		padding-top: 30px;
	}
	//
	//-------------------------------------------------------
	.u-title2{
		font-size: 1.3rem;
		padding-top: 20px;
	}
}
@media screen and (max-width: 768px){
	.l-flame6{
		width: 95%;
		height: auto;
		display: inline-block;
		margin-top: 20px;
		position: relative;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			margin-bottom: 20px;
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 100%;
			height: auto;
			text-align: left;
		}
		//
		//-------------------------------------------------------
		&__text{
			font-size: 1.2rem;
		}
		&__text2{
			width: 100%;
			font-size: 1.2rem;
		}
		//
		//-------------------------------------------------------
		.u-title{
			font-size: 1.4rem;
		}
		//
		//-------------------------------------------------------
		.u-title2{
			font-size: 1.2rem;
		}
	}
}
/*------------------------------------------------------------
	.l-flame8
------------------------------------------------------------*/
.l-flame8{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	&__left{
		width: 510px;
		height: auto;
		display: inline-block;
		float: left;
	}
	&__color{
		margin: 10px 0;
		width: auto;
		display: inline-block;
		background: #e2750c;
		font-size: 1.4rem;
		color: #ffffff;
		padding:  3px 10px;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	}
	&__text{
		font-size: 1.4rem;
		color: #000000;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	}
	&__right{
		width: 620px;
		height: auto;
		display: inline-block;
		float: right;
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		    height: auto;
		    
		}

		td, th{
			padding-left: 10px;
		    border: 1px solid #d7d7d7;
		    text-align: left;
		    font-size: 1.4rem;
		    height: 30px;
		}

		tr:nth-child(1) {
			font-size: 1.4rem;
			font-weight: 600;
		    background-color: #e6e6e6;
		}

	}

}
@media screen and (max-width: 768px){
	.l-flame8{
		width: 90%;
		&__left{
			width: 100%;
			margin-bottom: 20px;
			img{
				width: 100%;
			}
		}
		&__color{
			font-size: 1.2rem;
		}
		&__text{
			font-size: 1.1rem;
			text-align: left;
		}
		&__right{
			width: 100%;
			td, th{
			    font-size: 1.2rem;
			    height: 25px;
			}

			tr:nth-child(1) {
				font-size: 1.2rem;
			}

		}

	}
}
/*------------------------------------------------------------
	.l-flame9
------------------------------------------------------------*/
.l-flame9{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	//
	//-------------------------------------------------------
	&__box1{
		width: 360px;
		float: left;
		margin-right: 26px;
		height: 100px;
		h2{
			color: #e2750c;
			font-size: 1.6rem;
		}
		p{
			font-size: 1.4rem;
		}
	}
}
@media screen and (max-width: 768px){
	.l-flame9{
		width: 90%;
		height: auto;
		display: inline-block;
		margin-top: 20px;
		position: relative;
		//
		//-------------------------------------------------------
		&__box1{
			width: 100%;
			float: left;
			margin-right: 0;
			height: 80px;
			text-align: left;
			h2{
				color: #e2750c;
				font-size: 1.4rem;
			}
			p{
				font-size: 1.2rem;
			}
		}
	}
}
/*------------------------------------------------------------
	.l-flame10
------------------------------------------------------------*/
.l-flame10{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	//
	//-------------------------------------------------------
	&__box1{
		width: 370px;
		height: auto;
		display: inline-block;
		float: left;
		margin-right: 20px;
		ul{
			li{
				background: #dddddd;
				margin: 20px 0;
				a{
					width: 360px;
					display: inline-block;
					color: #000000;
					font-size: 1.5rem;
					text-decoration: none;
					font-weight: bold;
					padding: 5px 0 ;
					margin-left: 10px;
				}
			}
		}
		//
		//-------------------------------------------------------
		&--margin{
			margin-right: 0;
		}

	}

}
@media screen and (max-width: 768px){
	.l-flame10{
		width: 90%;
		margin-top: 10px;
		//
		//-------------------------------------------------------
		&__box1{
			width: 100%;
			margin-right: 0;
			padding-top: 10px;
			ul{
				li{
					margin: 10px 0;
					a{
						text-align: left;
						width: 100%;
						font-size: 1.1rem;
					}
				}
			}
		}

	}
}
/*------------------------------------------------------------
	.l-flame11
------------------------------------------------------------*/
.l-flame11{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	//
	//-------------------------------------------------------
	&__left{
		width: 50%;
		height: auto;
		display: inline-block;
		float: left;
		iframe{
			width: 580px;
			height: 415px;
		}
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 50%;
		height: auto;
		display: inline-block;
		float: right;
	}
	//
	//-------------------------------------------------------
	&__text1{
		display: inline-block;
		margin-left: 20px;
		font-size: 1.5rem;
		padding-bottom: 30px;
		h2{
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 768px){
	.l-flame11{
		width: 95%;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			iframe{
				width: 100%;
			}
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 100%;
		}
		//
		//-------------------------------------------------------
		&__text1{
			margin-left: 0;
			text-align: left;
			font-size: 1.2rem;
			padding-bottom: 0;
			padding-top: 20px;
			h2{
				margin-bottom: 15px;
			}
		}
	}
}
/*------------------------------------------------------------
	.l-flame12
------------------------------------------------------------*/
.l-flame12{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 20px;
	//
	//-------------------------------------------------------
	&__left{
		width: 540px;
		height: auto;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 540px;
		height: auto;
		display: inline-block;
		float: right;
	}
	//
	//-------------------------------------------------------
	&__box1{
		width: 100%;
		height: 270px;
	}
	//
	//-------------------------------------------------------
	&__title{
		border-bottom: 1px solid #939393;
		padding: 10px 0;
		h2{
			font-size: 1.8rem;
		}
		.c-more1:before{
			background-size: 18px;
			top:0;
			height: 20px;
		}
	}
	//
	//-------------------------------------------------------
	&__text{
		font-size: 1.6rem;
		padding: 20px 0;
		line-height: 1.8;
	}
}
@media screen and (max-width: 768px){
	.l-flame12{
		width: 90%;
		height: auto;
		display: inline-block;
		margin-top: 20px;
		//
		//-------------------------------------------------------
		&__left{
			width: 100%;
			height: auto;
			display: inline-block;
			float: left;
		}
		//
		//-------------------------------------------------------
		&__right{
			width: 100%;
			height: auto;
			display: inline-block;
			float: right;
		}
		//
		//-------------------------------------------------------
		&__box1{
			width: 100%;
			height: 220px;
		}
		//
		//-------------------------------------------------------
		&__title{
			border-bottom: 1px solid #939393;
			padding: 10px 0;
			h2{
				text-align: left;
				font-size: 1.4rem;
			}
			.c-more1:before{
				background-size: 18px;
				top:0;
				height: 20px;
			}
		}
		//
		//-------------------------------------------------------
		&__text{
			text-align: left;
			font-size: 1.2rem;
			padding: 20px 0 0 30px;
			line-height: 1.8;
		}
	}
}