/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer{
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: inline-block;
	border-top: 1px solid #555555;
	margin-top: 50px;
}
/*
------------------------------------------------------------*/
.c-footer{
	width: 100%;
	height: auto;
	padding: 30px 0 50px 0;
	margin: 0 auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__info{
		float: left;
		font-size: 1.4rem;
		color: #333333;
		.c-btn{
			padding-top: 20px;
			a{
				text-decoration: none;
				background: #888888;
				margin-right: 20px;
				color: #ffffff;
				width: 160px;
				padding: 8px;
				font-size: 1.5rem;
				font-weight: bold;
			}
			a:hover{
				opacity: 0.7;
			}
		}
	}

	//
	//-------------------------------------------------------
	&__menu{
		float: right;
		ul{
			li{
				float: left;
				font-weight: bold;
				font-size: 1.4rem;
				color: #000000;
				a{
					text-decoration: none;
					color: #333333;
					font-size: 1.4rem;
					font-weight: bold;
				}
				a:hover{
					color: #ccc;
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.c-footer{
		width: 100%;
		height: auto;
		padding: 30px 0 50px 0;
		margin: 0 auto;
		display: inline-block;
		//
		//-------------------------------------------------------
		&__info{
			float: none;
			font-size: 1.4rem;
			color: #333333;
			width: 95%;
			display: inline-block;
			margin: 0 auto;
			.c-btn{
				width: 95%;
				margin: 0 auto;
				padding-top: 20px;
				text-align: center;
				display: inline-block;
				a{
					text-decoration: none;
					background: #888888;
					margin: 0 10px;
					color: #ffffff;
					width: 100%;
					padding: 8px;
					font-size: 1.2rem;
					font-weight: bold;
				}
				a:hover{
					opacity: 0.7;
				}
			}
		}

		//
		//-------------------------------------------------------
		&__menu{
			float: none;
			width: 95%;
			display: inline-block;
			padding-top: 20px;
			margin: 0 auto;
			ul{
				li{
					display: inline-block;
					float: none;
					font-weight: bold;
					font-size: 1.4rem;
					color: #000000;
					text-align: center;
					a{
						text-decoration: none;
						text-align: center;
						color: #333333;
						font-size: 1.4rem;
						font-weight: bold;
					}
					a:hover{
						color: #ccc;
					}
				}
			}
		}
	}
}