/*------------------------------------------------------------
	.c-header
------------------------------------------------------------*/
.c-header{
	font-size: 1.2rem;
	width: 100%;
	background: #f8f8f8;
	margin: 0 auto;
	height: 30px;
	text-align: left;
	display: flex;
	align-items: center;
}
@media screen and (max-width: 768px) {
	.c-header{
		height: 20px;
		text-align: center;
	}
}
/*
------------------------------------------------------------*/
.c-infohd{
	width: 1160px;
	margin: 0 auto;
}
/*
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.c-infohd{
		width: 100%;
		margin: 0 auto;
		font-size: 1rem;
		font-weight: bold;
	}
}
/*------------------------------------------------------------
	.c-gnavi
------------------------------------------------------------*/
.c-gnavi{
	width: 1160px;
	margin: 0 auto;
	display: inline-block;
	height: 63px;
	padding-top: 25px;
}

/*
------------------------------------------------------------*/
.c-logo{
	float: left;
}

/*
------------------------------------------------------------*/
.c-menu{
	float: right;
	ul{
		padding-top: 10px;
		li{
			float: left;
			margin-left: 20px;
			a{
				font-size: 1.3rem;
				color: #000000;
				font-weight: bold;
				text-decoration: none;
			}
			a:hover{
				color: #888888;
				border-bottom: 2px solid #888888;
			}
		}
	}
}
/*
------------------------------------------------------------*/
.border{
	color: #888888 !important;
	border-bottom: 2px solid #888888;
}
/*
------------------------------------------------------------*/
.c-menu_sp{
	display: none;
}
/*------------------------------------------------------------
	.c-gnavi sp
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.c-gnavi{
		width: 100%;
		margin: 0 auto;
		display: inline-block;
		height: 50px;
		padding-top: 0;
	}
	.c-logo{
		width: 100%;
  		height: 50px;
  		border-bottom: 1px solid #23973d;
  		display: flex;
		align-items: center;
		img{
			padding-left: 20px;
			height: 22px;
		}
	}
	.c-menu_sp{
		min-width: 320px;
		display: none;
	  	position: absolute;
	  	z-index: 998;
	  	width: 100%;
	  	height: auto;
	  	background: #ffffff;
	  	ul{
	  		border-top: 1px solid #e8e8e8;
	  		li{
	  			display: flex;
				align-items: center;
	  			height: 40px;
	  			border-bottom: 1px solid #e8e8e8;
	  			a{
	  				text-decoration: none;
	  				color: #666666;
	  				font-size: 1.2rem;
	  				font-weight: bold;
	  				padding-left: 30px;
	  			}
	  		}
	  	}
	}
	.menu_sp{
		position: absolute;
		min-width: 320px;
		z-index: 999;
		width: 100%;
		height: 50px;
		.iconmenu{
			margin: 5px;
			float: right;
		    padding: 4px;
		    display: inline-block;
		    border-radius: 5px;
		    position: relative;
		    z-index: 999;
		}
		.bar1, .bar2, .bar3 {
		    width: 25px;
		    height: 3px;
		    background-color: #23973d;
		    margin: 5px 0;
		    transition: 0.4s;
		}
		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
		    transform: rotate(-45deg) translate(-6px, 6px);
		}

		.change .bar2 {opacity: 0;}

		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-3px, -3px);
		    transform: rotate(45deg) translate(-5px, -5px);
		}
	}

}