/*------------------------------------------------------------
	.c-img1
------------------------------------------------------------*/
.c-img1{
	margin-top: 50px;
	height: auto;
	width: 100%;
	display: inline-block;
}
@media screen and (max-width: 768px){
	.c-img1{
		margin-top: 30px;
		img{
			width: 95%;
		}
	}

}