/*------------------------------------------------------------
	.c-list1
------------------------------------------------------------*/
.c-list1{
	width: 100%;
	height: auto;
	border-bottom: 2px dotted #c5c5c5;
	margin-top: 50px;
	display: inline-block;

	//
	//-------------------------------------------------------
	.title{
		font-weight: bold;
		font-size: 1.8rem;
		color: #333333;
		padding-bottom: 10px;
		.u-red{
			color: #bd0000;
			font-size: 1.1rem;
			font-weight: bold;
		}
		.u-color1{
			color: #333333;
			font-size: 1.3rem;
			font-weight: bold;
		}
	}
	@media screen and (max-width: 768px) {
		.title{
			width: 95%;
			margin: 0 auto;
			.u-red{
				font-size: 1.2rem;
			}
			.u-color1{
				font-size: 1.1rem;
			}
		}

	}
	//
	//-------------------------------------------------------
	.c-line{
		width: 100%;
		height: 40px;
		border-top: 2px dotted #c5c5c5;
		font-size: 1.3rem;
		display: flex;
		align-items: center;
		color: #333333;
		.u-size{
			font-size: 1.4rem;
			font-weight: bold;
		}
		.u-bgcolor{
			background: #f78d6c;
			color: #ffffff;
			font-size: 1.1rem;
			font-weight: bold;
			width: 70px;
			padding: 5px 0;
			text-align: center;
			margin: 0 10px;
			&--bg2{
				background: #51c571;
			}
			&--bg3{
				background: #68b4ce;
			}
		}
	}
	@media screen and (max-width: 768px) {
		.c-line{
			height: 35px;
			width: 100%;
			font-size: 1.1rem;
			margin: 0 auto;
			.u-size{
				font-size: 1.1rem;
			}
			.u-bgcolor{
				width: 60px;
				padding: 2px 0;
				font-size: 1.1rem;
			}
		}

	}
}
@media screen and (max-width: 768px) {
	.c-list1{
		padding-top: 30px;
		width: 95%;
		margin: 0 auto;
	}

}
/*------------------------------------------------------------
	.l-list2
------------------------------------------------------------*/
.l-list2{
	margin-top: 50px;
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__left{
		width: 50%;
		height: auto;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__right{
		width: 50%;
		height: auto;
		display: inline-block;
		float: left;
	}
	//
	//-------------------------------------------------------
	&__text{
		width: 100%;
		height: auto;
		display: inline-block;
		font-size: 1.5rem;
		.c-left{
			width: auto;
			float: left;
		}
		.c-right{
			padding-left: 5px;
			width: auto;
			float: left;
		}
	}
}
@media screen and (max-width: 768px) {
	.l-list2{
		margin-top: 30px;
		width: 95%;
		margin: 0 auto;
		//
		//-------------------------------------------------------
		&__left{
			margin-top: 20px;
			width: 100%;
			float: none;
			text-align: left;
		}
		//
		//-------------------------------------------------------
		&__right{
			margin-top: 30px;
			width: 100%;
			float: none;
			text-align: left;
		}
		//
		//-------------------------------------------------------
		&__text{
			width: 100%;
			height: auto;
			display: inline-block;
			font-size: 1.2rem;
			.c-left{
				width: auto;
				float: left;
			}
			.c-right{
				padding-left: 5px;
				width: auto;
				float: left;
			}
		}
	}

}