/*------------------------------------------------------------
    .c-tabs1
------------------------------------------------------------*/
.c-tab {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 50px;
}
/*
------------------------------------------------------------*/
.tablinks {
    width: 370px;
    background: #888888;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 0;
    margin-right: 22px;
    &--margin{
        margin-right: 0;
    }
}
@media screen and (max-width: 768px){
    .tablinks {
        width: 30%;
        background: #888888;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 0;
        margin-right: 0;
    }
}
/*
------------------------------------------------------------*/
.c-tab .tablinks:hover {
    background-color: #51c571;
}

/*
------------------------------------------------------------*/
.c-tab .tablinks.active {
    background-color: #51c571;
}

/*
------------------------------------------------------------*/
.tabcontent {
    display: none;
    width: 100%;
    height: auto;
}
/*------------------------------------------------------------
    .c-tabs2
------------------------------------------------------------*/
.c-tab2 {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 50px;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
}
/*
------------------------------------------------------------*/
.tablinks2 {
 background: #ffffff;
 color: #000000;
 font-size: 1.6rem;
 font-weight: 600;
 padding: 10px 30px 10px 0;
}
@media screen and (max-width: 768px){
    .tablinks2 {
     background: #ffffff;
     color: #000000;
     font-size: 1rem;
     font-weight: 600;
     padding: 10px 0px 10px 0;
    }
}
/*
------------------------------------------------------------*/
.c-tab2 :hover {
    color: #888888;
}

/*
------------------------------------------------------------*/
.c-tab2 .tablinks2.active {
    color: #888888;
}
/*
------------------------------------------------------------*/
.tabcontent2 {
    display: none;
    width: 100%;
    height: auto;
}
/*------------------------------------------------------------
    .c-tabs3
------------------------------------------------------------*/
.c-tab3 {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 50px;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
}
/*
------------------------------------------------------------*/
button {
 background: #ffffff;
 color: #000000;
 font-size: 1rem;
 font-weight: 600;
 padding: 10px;
 text-align: center;
}
/*
------------------------------------------------------------*/
.c-tab3 button:hover {
    color: #888888;
}

/*
------------------------------------------------------------*/
.c-tab3 button.active {
    color: #888888;
}
/*
------------------------------------------------------------*/
.tabcontent3 {
    display: none;
    width: 100%;
    height: auto;
}
/*
------------------------------------------------------------*/
.tabcontent4 {
    display: none;
    width: 100%;
    height: auto;
}
.tabcontent5 {
    display: none;
    width: 100%;
    height: auto;
}
.tabcontent6 {
    display: none;
    width: 100%;
    height: auto;
}