/*------------------------------------------------------------
	.c-text1
------------------------------------------------------------*/
.c-text1{
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__text1{
		margin-top: 30px;
		font-size: 1.5rem;
		line-height: 1.6;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
}
@media screen and (max-width: 768px){
	.c-text1{
		width: 95%;
		height: auto;
		display: inline-block;
		margin: 0 auto;
		//
		//-------------------------------------------------------
		&__text1{
			margin-top: 30px;
			font-size: 1.1rem;
			text-align: left;
			line-height: 1.6;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		}
	}
}
/*------------------------------------------------------------
	.c-text2
------------------------------------------------------------*/
.c-text2{
	margin-top: 30px;
	width: 100%;
	height: 470px;
	display: inline-block;
	border: 1px solid #999999;
	//
	//-------------------------------------------------------
	&__text1{
		padding-top: 30px;
		padding-left: 10px;
		h2{
			font-size: 1.8rem;
		}
		p{
			padding-top: 20px;
			font-size: 1.8rem;
		}
	}
}
@media screen and (max-width: 768px){
	.c-text2{
		margin-top: 30px;
		width: 90%;
		height: auto;
		//
		//-------------------------------------------------------
		&__text1{
			padding-top: 10px;
			padding-left: 0;
			padding-bottom: 10px;
			width: 95%;
			margin: 0 auto;
			h2{
				font-size: 1.4rem;
				text-align: left;
			}
			p{
				padding-top: 15px;
				font-size: 1.1rem;
				text-align: left;
			}
		}
	}
}
/*------------------------------------------------------------
	.c-text3
------------------------------------------------------------*/
.c-text3{
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__text1{
		padding-top: 30px;
		h2{
			font-size: 1.6rem;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		}
		p{
			padding-top: 20px;
			font-size: 1.5rem;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		}
	}
}
@media screen and (max-width: 768px){
	.c-text3{
		margin-top: 10px;
		width: 95%;
		height: auto;
		display: inline-block;
		text-align: left;
		//
		//-------------------------------------------------------
		&__text1{
			padding-top: 20px;
			h2{
				font-size: 1.4rem;
			}
			p{
				padding-top: 10px;
				font-size: 1.2rem;
			}
		}
	}
}
/*------------------------------------------------------------
	.c-text4
------------------------------------------------------------*/
.c-text4{
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: inline-block;
	//
	//-------------------------------------------------------
	&__text1{
		padding-top: 30px;
		h2{
			font-size: 1.8rem;
		}
		p{
			padding-top: 20px;
			font-size: 1.5rem;
		}
	}
}
@media screen and (max-width: 768px){
	.c-text4{
		margin-top: 10px;
		width: 95%;
		text-align: left;
		//
		//-------------------------------------------------------
		&__text1{
			padding-top: 10px;
			h2{
				font-size: 1.4rem;
			}
			p{
				padding-top: 10px;
				font-size: 1.2rem;
			}
		}
	}
}