/*------------------------------------------------------------
	.c-title1
------------------------------------------------------------*/
.c-title1{
	width: 1160px;
	padding-top: 100px;
	margin: 0 auto;
	height: auto;
	text-align: center;
	font-size: 2rem;
	color: #999999;

	//
	//-------------------------------------------------------
	.u-size2{
		font-size: 2.4rem;
		color: #000000;
		font-weight: bold;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	}
	//
	//-------------------------------------------------------
	&--size{
		padding-top: 50px;
		font-size: 1.6rem;
		.u-size2{
			font-size: 3.2rem;
		}
	}
	//
	//-------------------------------------------------------
	&--size2{
		padding-top: 30px;
		text-align: left;
		font-size: 1.6rem;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
		.u-size2{
			font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
			font-size: 2rem;
		}
	}
	//
	//-------------------------------------------------------
	&--size4{
		text-align: left;
		font-size: 1.6rem;
		color: #e2750c;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
		.u-size4{
			font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
			font-size: 2rem;
			color: #e2750c;
			font-weight: bold;
		}
	}
}
@media screen and (max-width: 768px){
	.c-title1{
		width: 100%;
		padding-top: 30px;
		font-size: 1.5rem;
		//
		//-------------------------------------------------------
		.u-size2{
			font-size: 2rem;
		}
		//
		//-------------------------------------------------------
		&--size{
			padding-top: 30px;
			font-size: 1.2rem;
			.u-size2{
				font-size: 2rem;
			}
		}
		//
		//-------------------------------------------------------
		&--size2{
			width: 95%;
			padding-top: 30px;
			font-size: 1.2rem;
			.u-size2{
				font-size: 1.6rem;
			}
		}
		//
		//-------------------------------------------------------
		&--size4{
			width: 90%;
			font-size: 1.2rem;
			.u-size4{
				font-size: 1.6rem;
			}
		}
	}
}
/*------------------------------------------------------------
	.c-title5
------------------------------------------------------------*/
.c-title5{
	width: 1160px;
	padding-top: 100px;
	margin: 0 auto;
	height: auto;
	text-align: center;
	font-size: 1.6rem;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	color: #000000;
	h2{
		border: 1px solid #e6e6e6;
		padding: 10px 0;
		background: #f6f0d5;
	}
}
@media screen and (max-width: 768px){
	.c-title5{
		width: 100%;
		padding-top: 30px;
		font-size: 1.2rem;
	}

}