@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1460px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	margin: 0 auto;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 1460px;
	text-align: left;
}

.l-content {
	margin: 0 auto;
	width: 1160px;
	text-align: left;
}
.pc{
	display: block !important;
}
.sp{
	display: none !important;
}


@media screen and (max-width: 768px) {
	.l-content{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.container{
		width: 100%;
	}
	body{
		    min-width: 320px;
	}
	.pc{
		display: none !important;
	}
	.sp{
		display: block !important;
	}

}