@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1500px;
  line-height: 1.5;
  text-align: center;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header .header_pc .banner {
  position: relative;
}

header .header_pc .banner .bn1 {
  width: 100%;
}

header .header_pc .banner .img_text {
  position: absolute;
  top: 180px;
  right: 80px;
}

header .header_pc .menu nav {
  width: 100%;
  height: 95px;
  background: #ffffff;
}

header .header_pc .menu nav ul {
  float: right;
  width: auto;
  margin-right: 50px;
  height: auto;
}

header .header_pc .menu nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95px;
  float: left;
}

header .header_pc .menu nav ul li a {
  margin-left: 50px;
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
  font-weight: 800;
}

header .header_pc .menu nav ul li a:hover {
  color: #009688;
}

header .header_pc .menu nav ul li a:before {
  margin-left: -22px;
  content: "";
  margin-top: 9px;
  background: url(../img/icon_menu.png) no-repeat;
  width: 15px;
  height: 9px;
  position: absolute;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  width: 100%;
  height: auto;
}

footer .option1 {
  width: 100%;
  height: 370px;
  background: #eeeeee;
}

footer .option1 .logo {
  padding-top: 100px;
}

footer .option1 .text {
  padding-top: 60px;
  color: #404040;
  font-size: 1.5rem;
  font-weight: bold;
}

footer .option2 {
  width: 100%;
  height: 300px;
  background: #33c49d;
}

footer .option2 .btn_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

footer .option2 .btn_footer .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background: #ffffff;
  width: 450px;
  height: 90px;
}

footer .option2 .btn_footer .btn:hover {
  opacity: 0.5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .option2 .text {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 30px;
}

footer .option3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background: #3c3c3c;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 130px;
  right: 120px;
  z-index: 9999999;
  background: none;
}

#myBtn:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  body {
    min-width: 320px !important;
    zoom: 1;
  }
  .sp {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 9999999;
    background: none;
  }
  #myBtn img {
    width: 50px;
  }
  .center {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  header .header_sp {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  header .header_sp .img_text1 {
    width: 100%;
    position: absolute;
    z-index: 1111;
  }
  header .header_sp .img_text1 img {
    width: 100%;
    min-width: 320px !important;
  }
  header .header_sp .img_text2 {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1111;
    margin-top: 96%;
  }
  header .header_sp .img_text2 img {
    max-width: calc(560px/2);
    min-width: 320px !important;
  }
  header .header_sp img {
    width: 100%;
  }
  footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  footer .option1_sp {
    background: #eeeeee;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }
  footer .option1_sp .logo {
    padding-top: 40px;
    width: 54%;
    margin: 0 auto;
  }
  footer .option1_sp .logo img {
    width: calc(341px/2);
  }
  footer .option1_sp .text {
    padding-top: 18px;
    margin: 0 auto;
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #404040;
  }
  footer .option3 {
    height: 30px;
    font-size: 1rem;
  }
  footer .option2_sp {
    width: 100%;
    background: #33c49d;
  }
  footer .option2_sp .btn_footer {
    padding-top: 30px;
  }
  footer .option2_sp .btn_footer .btn {
    width: 75%;
    margin: 0 auto;
  }
  footer .option2_sp .btn_footer .btn img {
    width: calc(480px/2);
  }
  footer .option2_sp .btn_footer .btn:hover {
    opacity: 0.5;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  footer .option2_sp .text {
    width: 84%;
    margin: 0 auto;
    color: #ffffff;
    line-height: 1.4;
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 23px;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
