@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 980px;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.header_sp {
  display: none !important;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  min-width: 890px;
  width: 100%;
  z-index: 999999;
  position: fixed;
  height: 75px;
}

#header .menu {
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

#header .menu .logo {
  width: 182px;
  margin-left: 10px;
  float: left;
}

#header .menu .logo:hover {
  opacity: 0.4;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#header .menu .nav_menu {
  text-align: center;
}

#header .menu .nav_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  height: 50px;
  width: auto;
}

#header .menu .nav_menu ul li {
  float: left;
}

#header .menu .nav_menu ul li a {
  margin-right: 30px;
  color: #000000;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

#header .menu .nav_menu ul li a:hover {
  color: #666666;
}

#header .menu .nav_menu ul li .color {
  color: #666666;
}

#header .menu .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  height: 50px;
  margin-right: 10px;
}

#header .menu .info .text {
  float: left;
  color: #000000;
  font-size: 1.4rem;
  font-weight: bold;
}

#header .menu .info .c-store {
  float: left;
  margin-left: 10px;
}

#header .menu .info .c-store:hover {
  opacity: 0.4;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.scroll {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  position: fixed;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  width: 100%;
  padding: 65px 0;
  margin: 0 auto;
  background: #49c8b2;
}

footer .l-main {
  margin: 0 auto;
  width: 780px;
  height: auto;
}

footer .l-main .text {
  font-weight: bold;
  font-size: 2rem;
}

footer .l-main .store {
  width: 100%;
  height: auto;
}

footer .l-main .store img {
  margin: 30px 20px;
}

footer .l-main .store img:hover {
  opacity: 0.4;
}

footer .l-main .menuft {
  width: 100%;
  height: 50px;
  margin: 10px 0 20px 0;
}

footer .l-main .menuft .logoft {
  width: 175px;
  float: left;
}

footer .l-main .menuft .logoft img:hover {
  opacity: 0.4;
}

footer .l-main .menuft .menu {
  float: left;
  width: 470px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .l-main .menuft .menu ul {
  margin: 0 auto;
}

footer .l-main .menuft .menu ul li {
  float: left;
  margin-left: 15px;
}

footer .l-main .menuft .menu ul li a {
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

footer .l-main .menuft .menu ul li a:hover {
  color: #2eb3a1;
}

footer .l-main .menuft .icon {
  width: 130px;
  float: right;
}

footer .l-main .menuft .icon img {
  margin-left: 20px;
}

footer .l-main .menuft .icon img:hover {
  opacity: 0.4;
}

footer .l-main .c-copyright {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #ffffff;
}

/*------------------------------------------------------------
	responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  .header_pc {
    display: none;
  }
  .header_sp {
    display: block !important;
  }
  #header {
    min-width: 300px;
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 55px;
  }
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .header_sp {
    width: 100%;
    height: 40px;
    top: 0px;
    overflow: hidden;
    position: fixed;
    padding: 10px 0;
  }
  .header_sp .logo_sp {
    height: 30px;
    margin-left: 37px;
  }
  .header_sp .logo_sp img {
    width: 100%;
  }
  .header_sp .iconmenu {
    display: block;
    float: left;
    cursor: pointer;
    margin-left: 10px;
  }
  .header_sp .icon {
    float: right;
    margin-right: 9px;
    margin-top: 2px;
    height: 26px;
  }
  .menu_sp {
    display: none;
    overflow: hidden;
    background-color: #ffffffdb;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
  }
  .menu_sp ul {
    margin-top: 20%;
    text-align: left;
  }
  .menu_sp ul li {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .menu_sp ul li a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  .menu_sp ul li a img {
    height: 40px;
  }
  .menu_sp ul li .store {
    padding-top: 20px;
  }
  .menu_sp ul .text {
    margin-top: 30px;
  }
  footer {
    padding: 45px 0;
  }
  footer .l-main {
    width: 100%;
  }
  footer .l-main .text h2 {
    font-size: 2.4rem;
    font-weight: 900;
  }
  footer .l-main .store {
    margin-top: 15px;
    width: 100%;
  }
  footer .l-main .store img {
    margin: 0 4%;
    width: calc(335px/2);
  }
  footer .l-main .menuft .logoft {
    width: 100%;
  }
  footer .l-main .menuft .logoft img {
    margin-top: 12px;
    width: calc(339px/2);
    height: auto;
  }
  footer .l-main .menuft .menu {
    display: none;
  }
  footer .l-main .menuft .menu.sp {
    width: 100%;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 7px;
  }
  footer .l-main .menuft .menu.sp ul {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .l-main .menuft .menu.sp ul li {
    margin: 0 8px 8px 8px;
    width: auto;
  }
  footer .l-main .menuft .menu.sp ul li a {
    font-size: 1.3rem;
  }
  footer .l-main .c-copyright {
    font-size: 1.1rem;
    color: #ffffff;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
