/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.menu_sp {
  display: none;
}

.content {
  padding-top: 75px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.l-option1 {
  width: 100%;
  height: 140px;
  background: #e5e5e5;
}

.l-option1 .l-main {
  width: 780px;
  height: 140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-option2 {
  width: 100%;
  height: auto;
  padding-top: 65px;
  margin: 0 auto;
}

.l-option2 .l-main {
  width: 780px;
  height: auto;
  margin: 0 auto;
  border-bottom: 1px  solid #e5e5e5 !important;
}

.l-option4 {
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 65px;
  margin: 0 auto;
}

.l-option4 .l-main {
  width: 780px;
  height: auto;
  margin: 0 auto;
}

.l-option4 .l-main a {
  font-size: 1.6rem;
  color: #666666;
}

.l-option4 .l-main a:hover {
  color: #28a497;
}

.l-option4 .l-main .link_left {
  float: left;
}

.l-option4 .l-main .link_right {
  float: right;
}

.l-option3 {
  width: 100%;
  height: auto;
  padding-top: 65px;
  margin: 0 auto;
}

.l-option3 .l-main {
  width: 780px;
  height: auto;
  margin: 0 auto;
}

.l-option3 .l-main .text {
  text-align: left;
  line-height: 1.8;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.accordion {
  height: auto;
  border-top: 1px  solid #e5e5e5 !important;
  padding: 15px 0;
  float: left;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion .title {
  float: left;
  width: 90%;
  font-size: 1.6rem;
  font-weight: bold;
}

.accordion .title .left {
  float: left;
  width: auto;
  margin-right: 20px;
}

.accordion .title .right {
  float: left;
  width: auto;
}

.accordion:after {
  height: 22px;
  margin-top: -27px;
  margin-left: 30px;
  float: right;
  content: '\002B';
  font-weight: bold;
  font-size: 4rem;
  color: #c9c9c9;
}

.active:after {
  margin-top: -20px;
  margin-left: 25px;
  content: "\2212";
  font-size: 4rem;
  color: #49c8b2;
}

.panel {
  padding: 0px 1px 0px 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding-top: 10px;
  font-size: 1.6rem;
  text-align: left;
  color: #262626;
}

.panel a {
  float: left;
  font-size: 1.6rem;
  color: #28a497;
}

.panel .bottom {
  padding-bottom: 10px;
}

/*------------------------------------------------------------
	Responsive
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  body {
    min-width: 300px;
  }
  .content {
    padding-top: 50px;
  }
  .l-option1 {
    width: 100%;
    height: auto;
  }
  .l-option1 .l-main {
    height: auto;
    width: 90%;
  }
  .l-option1 .l-main img {
    padding: 22px 0;
    width: 155px;
  }
  .l-option2 {
    width: 100%;
    padding-top: 28px;
  }
  .l-option2 .l-main {
    width: 90%;
  }
  .l-option2 .l-main .accordion {
    font-size: 1.4rem;
  }
  .l-option2 .l-main .panel {
    font-size: 1.4rem;
  }
  .l-option2 .l-main .panel p {
    font-size: 1.4rem;
  }
  .l-option3 {
    width: 100%;
    padding-top: 28px;
  }
  .l-option3 .l-main {
    width: 92%;
  }
  .l-option3 .l-main .text {
    font-size: 1.4rem;
  }
  .l-option4 .l-main {
    width: 90%;
  }
  .l-option4 .l-main a {
    font-size: 1.4rem;
  }
  .accordion .title .right {
    float: none;
  }
}
