@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1200px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  background: #fff;
  font-weight: 500;
}

#container {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
}

.l-main {
  margin: 0 auto;
  width: 1100px;
  height: auto;
  display: inline-block;
}

.l-content {
  margin: 0 auto;
  width: 850px;
  height: auto;
  display: inline-block;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  .menu {
    display: block;
  }
  .l-main {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .l-content {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
}

/*
------------------------------------------------------------*/
.c-header1 {
  width: 100%;
  background: #FFFFFF;
  height: 110px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .c-header1 {
    height: 44px;
    border-bottom: 1px solid #dddddd;
  }
}

/*
------------------------------------------------------------*/
.c-logo1 {
  width: 240px;
  height: 110px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.c-logo1 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .c-logo1 {
    width: auto;
    height: 44px;
  }
  .c-logo1 img {
    width: calc(266px/2);
    height: auto;
  }
  .c-tell {
    height: 44px;
    margin-right: 45px;
    float: right;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
  }
  .c-tell img {
    padding: 10px 10px;
    width: calc(69px/2);
  }
  .menu_sp {
    position: absolute;
    min-width: 320px;
    z-index: 999;
    width: 100%;
    height: 44px;
  }
  .menu_sp .iconmenu {
    margin: 12px;
    float: right;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    z-index: 999;
  }
  .menu_sp .iconmenu img {
    width: 19px;
  }
  .menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu .contentmenu {
    width: 250px;
    float: right;
    height: 100%;
    display: inline-block;
    background: #ffffff;
  }
  .menu ul {
    border-top: 1px solid #e8e8e8;
  }
  .menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 37px;
    border-bottom: 1px solid #e8e8e8;
  }
  .menu ul li a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #211815;
    text-align: left;
    margin-left: 20px;
  }
  .menu ul li a:before {
    content: "";
    background: url(../img/Mobile/header/more.PNG) no-repeat right;
    background-size: 6px 10px;
    position: absolute;
    height: 18px;
    width: 200px;
  }
  .iconclose {
    width: 100%;
    height: 60px;
  }
  .closebtn {
    position: absolute;
    top: 0;
    margin: 12px;
    right: 0;
  }
  .closebtn img {
    width: calc(34px/2);
    height: auto;
  }
}

/*
------------------------------------------------------------*/
.c-title1 {
  width: auto;
  height: 110px;
  font-size: 1.6rem;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 65px;
}

/*
------------------------------------------------------------*/
.c-info1 {
  width: 300px;
  height: 100px;
  float: right;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-info1__img1 {
  width: 300px;
  height: 32px;
  text-align: right;
}

.c-info1__img1 img:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-info1__text1 {
  width: 300px;
  height: auto;
  font-size: 1.1rem;
  text-align: right;
  padding-top: 5px;
  display: inline-block;
}

/*------------------------------------------------------------
	banner
------------------------------------------------------------*/
.c-banner {
  width: 100%;
  height: 850px;
  display: inline-block;
  background: url(../img/header/img_banner.PNG) center top/cover no-repeat;
}

.c-banner .content {
  width: 100%;
  height: auto;
}

.c-banner .content .title {
  margin-top: 60px;
}

.c-banner .content .slogan {
  margin-top: 40px;
  height: auto;
}

.c-banner .content .slogan img {
  opacity: 0.85;
  margin-bottom: 10px;
}

.c-banner .content .slogan img:hover {
  opacity: 1;
  padding-top: 10px;
  margin-bottom: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-banner .content .ponit {
  margin-top: 50px;
}

.c-banner .content .ponit img {
  margin: 0 25px;
}

.c-banner .content .ponit__text {
  margin-top: 15px;
  color: #ffffff;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .c-banner {
    width: 100%;
    height: 360px;
    display: inline-block;
    background: url(../img/Mobile/header/banner.PNG) center top/cover no-repeat;
    background-size: 100%;
  }
  .c-banner .content {
    width: 100%;
    height: auto;
  }
  .c-banner .content .title {
    margin-top: 0;
    padding-top: 60px;
  }
  .c-banner .content .title img {
    width: calc(567px/2);
  }
  .c-banner .content .slogan {
    margin-top: 40px;
    height: auto;
  }
  .c-banner .content .slogan img {
    width: calc(303px/2);
    opacity: 0.85;
    margin-bottom: 0;
  }
  .c-banner .content .slogan img:hover {
    opacity: 1;
    padding-top: 0;
    margin-bottom: 0px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  background: #ffffff;
  border-top: 1px solid #333;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  footer {
    background: #ffffff;
    border-top: 1px solid #333;
    margin-top: 0;
  }
}

/*
------------------------------------------------------------*/
.c-logoft {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 70px;
}

.c-logoft img:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .c-logoft {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
  }
  .c-logoft img {
    width: calc(239px/2);
  }
}

/*
------------------------------------------------------------*/
.c-copyright {
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  margin: 80px 0px;
}

@media screen and (max-width: 768px) {
  .c-copyright {
    width: 100%;
    height: auto;
    font-size: 1rem;
    margin: 10px 0px;
  }
}

/*------------------------------------------------------------
	Scorll Top
------------------------------------------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 99;
  background: none;
}

@media screen and (max-width: 768px) {
  #myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 99;
    background: none;
  }
  #myBtn img {
    width: calc(60px/2);
  }
}

/*
------------------------------------------------------------*/
.hover {
  position: relative;
  width: 100%;
  height: auto;
}

/*
------------------------------------------------------------*/
.img_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

/*
------------------------------------------------------------*/
.hover:hover .img_hover {
  opacity: 1;
}

/*
------------------------------------------------------------*/
.img_over {
  opacity: 0.9;
  display: block;
  height: auto;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
