@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 800px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	border-top: 4px solid #0f5c9b;
}
#main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}
#container {
	margin: 0 auto;
	width: 960px;
	background-color: #fff;
	text-align: left;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	width: 960px;
	margin: 0 auto;
	position: relative;
	// begin info
	#header_info{
		height: 100px;
		background: #ffffff;
		text-align: center;
		.logo_pc{
			margin-top: 18px;
			float: left;
		}
		.phone{
			float: right;
			margin: 36px 22px 0px 0px;
			img{
				margin-left:5px;
			}
			p{
				font-size: 1rem;
				margin-top: 5px;
			}
		}
		.mail{
			width: 260px;
			height: 42px;
			margin: 36px 16px 0px 0px;
			background: #ffed4d;
			border-radius: 1px;
			float: right;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover{
				background: #fff283;
				transition-duration: 1s;
			}
			p{
				color: #fd7e00;
				margin-left: 8px;
				font-size:  1.4rem;
				font-weight: bold;
			}
		}
	}
	// end info
	// begin menu
	#menu_header{
		// menu pc
		.menu_pc{

		}
		// menu sp
		.menu_sp{

		}
	}
	// end menu
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	width: 100%;
	height: auto;
	margin: 0 auto;
	.banner_footer{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #0f5c9b;
			.content{
				width: 960px;
				height: 200px;
				margin: 0 auto;
				position: absolute;
				.text1{
					margin-right: 110px;
					float: right;
					width: 480px;
					font-size: 2.4rem;
					padding: 5px;
					border: 2px solid #ffffff;
				}
				.text2{
					margin-right: 110px;
					float: right;
					width: 480px;
					font-size: 1.6rem;
					color: #ffffff;
					p{
						color: #ffff4c;
					}
				}
				.info_footer{
					float: right;
					margin-top: 20px;
					width: 800px;
					height: 50px;
					.phone_footer{
						float: left;
						img{
							margin-left: 10px;
						}
						p{
							font-size: 1.2rem;
						}
					}
					.mail_footer{
						width: 295px;
						height: 50px;
						background: #ffed4d;
						border-radius: 1px;
						float: right;
						display: flex;
						justify-content: center;
						align-items: center;
						&:hover{
							background: #fff283;
							transition-duration: 1s;
						}
						p{
							color: #fd7e00;
							margin-left: 10px;
							font-size:  1.6rem;
							font-weight: bold;
						}
					}
			}
		}
	}
	.menu_footer{
		width: 100%;
		height: auto;
		background: #cccccc;
			ul{
				display: flex;
				justify-content: center;
				align-items: center;
				li{
					a{
						float: left;
						text-decoration: none;
						font-size: 1.4rem ;
						color: #343434;
						padding-left: 5px;
					}
				}
			}
	}
	.logo_footer{
		height: 50px;
		width: 100%;
		background:#ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		p{
		font-size: 1.4rem;
		}
	}

}
