/*breakpoint 736px*/
@media screen and (max-width: 736px) {
html, body {
	width: 100%;
	font-size: 11px;
}
#header {
	width: 100%;
}
section {
	height: auto;
	width: 100%;
	margin: 0 auto;
	margin-top: 0;
}
/* begin menu */
#header .menu {
	width: 100%;
	margin-top: 10px;
}
#header .menu .menu-top .logo {
	margin-top: 0;
}
#header .menu .menu-top .social-icon {
	display: none;
}
#header .menu .menu-top .logo {
	display: none;
}
#header .menu .menu-top .logo-smp {
	display: block;
	text-align: center;
	margin: auto;
	width: 88px;
}
#header .menu .menu-top .logo-smp img {
	width: 100%;
}
#header .menu .menu-top .menu-icon {
	display: block;
}
#header nav {
	display: none;
}
#nav-smp li a img {
	padding: 0;
	margin: 14px 0px 12px 0px;
	height: 12px
}
.icon-button {
	height: 19px;
}
.slider {
	margin-top: 84px;
	width: 100%;
}
.slide-inner {
	height: auto;
}
.slide-inner img {
	width: 100%;
}
.prev, .next {
	margin-top: -35px;
}
.dot-bar {
	margin-top: 5px;
}
.dot {
	width: 6px;
	height: 6px;
}
.head-title {
	padding-bottom: 6px;
}
.head-title .long-title {
	width: 75%;
}
/* end menu */
/* begin news */
.section-logo {
	padding-top: 5%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-section-logo {
	height: 13px;
}
.section-center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
}
.news {
	height: 100%;
	width: 84%;
	border-top: 1px solid black;
}
.news-block {
	margin: 0 auto;
	padding-top: 7%;
	padding-left: 0px;
}
.news-block1 {
	float: left;
	margin-bottom: 4%;
	width: 100%;
}
.news-img {
	float: left;
}
.news-info {
	float: left;
	height: auto;
	font-size: 11px;
	width: 100%;
	margin-left: 0px;
	padding-top: 5%;
}
.new {
	color: red;
}
.siez-img {
	width: 100%;
	height: auto;
}
.and-more {
	text-align: center;
}
.img-and-more {
	height: 10px;
}
/* end news */
/* begin banner */
.img-banner {
	display: none;
	width: 100%;
}
.img-banner-smp {
	display: block;
	width: 100%;
}
.banner {
	width: 100%;
	margin-top: 84px;
}
.breadcrumb {
	display: none;
}
a {
	color: #505052;
	text-decoration: none;
}
/* end banner */
/* begin gallery */
.gallery-concept {
	width: 100%;
	height: 100%;
}
.gallery-concept-center {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block-gallery-concept {
	padding-top: 2%;
	width: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block-gallery-concept-center {
	width: 84%;
}
.info-gallery-concept {
	float: left;
	height: 100%;
	width: 100%;
	text-align: justify;
	padding-bottom: 10%;
}
.img-gallery-concept {
	float: right;
	height: 100%;
	width: 100%;
	padding-bottom: 5%;
}
.gallery-concept-img {
	float: left;
	height: auto;
	width: 100%;
}
.access {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: #F1F3F4;
}
.access-center {
	display: block;
	justify-content: center;
	align-items: center;
	float: left;
	width: 84%;
	height: auto;
}
.access1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.block-access1 {
	float: left;
	height: auto;
	width: 100%;
}
.block-access2 {
	float: left;
	height: auto;
	width: 100%;
}
.access-img1-smp {
	display: block;
	background: #ffffff;
	height: auto;
	width: 100%;
}
.access-img1 {
	display: none;
}
.access-img2 {
	float: left;
	height: auto;
	width: 100%;
}
.text-access {
	padding-top: 7%;
	padding-bottom: 10%;
	width: 100%;
	height: auto;
	float: left;
}
.google {
	padding-top: 3%;
	padding-bottom: 5%;
	height: auto;
	width: 45%;
}
/* end gallery */
/* begin gallerist message */
.img-pc {
	display: none;
	width: 100%;
}
.img-smp {
	display: block;
	width: 100%;
}
.content {
	max-width: 84%;
}
.img-name-content {
	float: none;
	padding: 30px;
	height: 35px;
}
.text {
	background: #000000;
	width: 100%;
	height: auto;
	color: #fff;
	position: relative;
}
.text .content-text {
	width: 90%;
	padding: 0;
	top: 0;
	margin: 0 auto;
	text-align: justify;
	position: relative;
	margin-top: -30%;
}
.img-name-content {
	float: none;
	margin-right: 0;
	height: 30px;
}
.name {
	position: relative;
	bottom: 0;
	margin-right: 0;
	text-align: center;
	width: 100%;
	height: auto
}
/* end gallerist message */
/* begin footer */
footer {
	padding-bottom: 10%;
	width: 100%;
	height: auto;
}
.icon-footer {
	height: 100%;
	width: 84%;
	border-top: 1px solid black;
	text-align: center;
}
.img-icon-footer {
	padding-top: 0;
	width: 17px;
	height: 17px
}
.text-language {
	font-size: 12px;
	color: #231F20;
}
.copyright {
	font-size: 7px;
	text-transform: uppercase;
	padding-top: 3%;
}
/* end footer */
}
