/*refer to w3schools.com*/
.slider {
	width: 1200px;
	position: relative;
	margin-top: 260px;
}
.slide-inner {
	width: 100%;
	display: none;
	height: 500px;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -45px;
	padding: 6px;
	transition: 0.6s ease;
}
.next {
	right: 0;
}
.dot-bar {
	text-align: center;
	margin-top: 15px;
}
.dot {
	cursor: pointer;
	height: 11px;
	width: 11px;
	margin: 0 1px;
	background-color: #d1d2d4;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #939598;
}
.rezie-logo {
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
}
.change .bar1 {
	-webkit-transform: rotate(-40deg) translate(-10px, 5px);
	-moz-transform: rotate(-40deg) translate(-10px, 5px);
	-o-transform: rotate(-40deg) translate(-10px, 5px);
	transform: rotate(-40deg) translate(-10px, 5px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(40deg) translate(-5px, 0px);
	-moz-transform: rotate(40deg) translate(-5px, 0px);
	-o-transform: rotate(40deg) translate(-5px, 0px);
	transform: rotate(40deg) translate(-5px, 0px);
}
