html, body {
	width: 1200px;
	height: 100%;
	margin:0 auto;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
	"Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-weight: 500;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #000;
}
p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
.img-pc{
	display: block;
	width: 100%;
}
.icon-button{
	height: 38px;
}
.img-smp{
	display: none;
}
.logo-smp{
	display: none;
}
.img-logo{
	width: 195px;
}
.icon-header{
	height: 30px;
	width: 30px;
}
.img-menu-pc{
	height: 14px;
}
#header{
	width: 1200px;
	height: auto;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 9;
}
/* begin menu */
.menu{
	width: 960px;
	margin: auto;
	margin-top: 30px;
}
.menu-top{
	width: 100%;
}
.menu-top .logo{
	text-align: center;
	margin-top: -32px;
}
.menu-top .logo-menu-smp{
	display: none;
}
.menu-top .social-icon{
	text-align: right;
}
.menu-top .menu-icon{
	float: right;
	display: none;
	cursor: pointer;
}
.menu-top .menu-icon .bar1,
.menu-top .menu-icon .bar2,
.menu-top .menu-icon .bar3{
	width: 30px;
    height: 2px;
    background-color: black;
    margin: 5px 10px
}
#header nav{
	text-align: center;
	margin: 28px 0;
}
#header nav ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}
#header nav ul li{
	margin-right: 46px;
}
#nav-smp {
	display: none;
}
#nav-smp li{
	list-style: none;
	border-top: solid 1px #939598;
	padding-left: 44px;
	position: relative;
}
#nav-smp li a img{
	padding: 12px 0;
}
#nav-smp li ul{
	padding: 17px 0;
}
#nav-smp li ul li{
	border: none;
	padding-left: 17px;
	font-weight: bold;
	font-size: 14px;
}
#nav-smp .accd-content{
	display: none;
}
.accordion:before{
	content: '';
	position: absolute;
	left: 25px;
	top: 10px;
	font-weight: bold;
}
.accIcon:before{
	content: 'x';
}
nav .sub-menu {
	background-color: #fff;
	color: #000;
 	display: none;
 	position: absolute;
 	z-index: 9999;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav .sub-menu{
	padding: 10px;
	text-align: left;
}
nav .dropdown:hover .sub-menu {
 	display: block;
}
section{
	height: auto;
    width: 1200px;
    margin: 0 auto;
}
/* begin news */
.section-logo{
	width: 100%;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .img-section-logo{
	height: 25px;
  }
  .section-center{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .news{
	height: 497px;
	width: 960px;
	border-top: 1px solid black;
  }
  .news-block{
  margin: 0 auto;
  padding-top: 67.5px;
  padding-left: 161px;
  }
  .news-block1{
	float: left;
	margin-bottom: 40px;
	width: 100%;
  }
  .news-img{
	float: left;
  }
  .news-info{
	float: left;
	margin-left: 30px;
  }
  .new{
	color: red;
  }
  .siez-img{
	width: 182px ;
	height: 124px;
  }
  .and-more{
	text-align: center;
  }
  .img-and-more{
	height: 15px;
  }
  
  /* end news */
  /* begin banner */
.img-banner{
	display: block;
	width: 100%;
}
.img-banner-smp{
	display: none;
	width: 100%;
}
.banner{
	width: 1200px;
	margin-top: 260px;
}
.breadcrumb{
	float: right;
	padding-right: 120px;
	padding-top: 10px;
	font-size: 14px;
	
  }
  a{
	color: #505052;
	text-decoration: none;
  }
/* end banner */
/* begin gallerist message */
.img-pc{
  display: block;
  width: 100%;
}
.img-smp{
  display: none;
  width: 100%;
}
.img-name{
  float: right;
    padding-right: 45px;
    height: 54px;
}
.content{
  max-width: 960px;
  margin: 0 auto;
}
.text{
	width: 100%;
	height: auto;
	color: #fff;
	position: relative;
}
.text .content-text{
  width: 45%;
  padding: 80px 0px 0px 60px;
  top: 0;
  text-align: justify;
  position: absolute;
}
.img-name-content{
	float: right;
    margin-right: 30px;
    height: 55px;
}
.name{
  position: absolute;
    bottom: 30px;
    margin-right: 50px;
    width: 100%;
    height: auto
}
/* end gallerist message */
/* begin gallery */
.gallery-concept{
	width: 1200px;
	height: 500px;
  }
  .gallery-concept-center{
	width: 1200px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  .block-gallery-concept{
	width: 1200px;
	  float: left;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  .block-gallery-concept-center{
	width: 960px;
  }
  .info-gallery-concept{
	float: left;
	height: 330px;
	width: 460px;
	text-align: justify;
  }
  .img-gallery-concept{
	float: right;
	height: 330px;
	width: 460px;
  }
  .gallery-concept-img{
	float: left;
	height: 330px;
	width: 460px;
  }
  .access{
	height: 700px;
	width: 1200px;
	margin-bottom: 60px;
	background: #F1F3F4;
  }
  .access-center{
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 960px;
	height: 520px;
  }
  .access1{
	display: flex;
	justify-content: center;
	align-items: center; 
  }
  .block-access1{
	float: left;
	height: 520px;
	width: 500px;
  }
  .block-access2{
	float: right;
	height: 520px;
	width: 500px;
  }
  .access-img1{
	display: block;
	background: #ffffff;
	height: 460px;
	width: 460px;
	}
	.access-img1-smp{
		display: none;
		}
  .access-img2{
	float: right;
	height: 294px;
	width: 460px;
  }
  .text-access{
	padding-top: 15px;
	width: 460px;
	float: right;
  }
  .google{
	padding-top: 15px;
	width: 165px;
  }
/* end gallery */
  /* begin footer */
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: auto;
	
  }
  .icon-footer{
	height: 150px;
	width: 960px;
	border-top: 1px solid black;
	text-align: center;
  }
  .img-icon-footer{
	margin-top: 30px;
    width: 30.707px;
    height: 30.708px
  }
  .text-language{
	font-size: 14px;
	color: #231F20;
  }
  .copyright{
	font-size: 11px;
	  text-transform: uppercase;
	  padding-top: 1%;
  }
  /* end footer */

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
