@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans Japanese';
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1500px;
  width: 100%;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  background-image: url(../img/bg.jpg);
}

/*
------------------------------------------------------------*/
#container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: inline-block;
}

/*
------------------------------------------------------------*/
.on {
  display: none;
}

/*
------------------------------------------------------------*/
.l-box1 {
  width: 900px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
}

/*
------------------------------------------------------------*/
.fixde {
  position: fixed;
  z-index: 9999999;
  left: 0;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
  width: 100%;
  max-width: 1995px;
  height: 875px;
  background: url(../img/top/bg1.png) top;
  background-size: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/*
------------------------------------------------------------*/
.c-imgbg {
  z-index: 1;
}

.c-imgbg__left {
  position: absolute;
  left: 0;
}

.c-imgbg__right {
  position: absolute;
  right: 0;
}

.c-imgbg__top {
  position: absolute;
  top: 0;
}

/*
------------------------------------------------------------*/
.c-header1 {
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
  height: 40px;
  background: rgba(73, 145, 127, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-header1__text1 {
  float: left;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Noto Sans JP';
  padding-left: 20px;
}

.c-header1__btn1 {
  float: right;
  width: auto;
  height: 40px;
  display: inline-block;
}

.c-header1__tell {
  float: left;
}

.c-header1__tell:hover .off {
  display: none;
}

.c-header1__tell:hover .on {
  display: block;
}

.c-header1__access {
  float: left;
  margin-left: 2px;
}

.c-header1__access:hover .off {
  display: none;
}

.c-header1__access:hover .on {
  display: block;
}

/*
------------------------------------------------------------*/
.c-titleheader {
  padding-top: 180px;
  font-size: 37px;
  color: #49917f;
  font-family: 'Noto Serif', serif;
}

/*
------------------------------------------------------------*/
.c-logo1 {
  margin-top: 30px;
  position: relative;
  z-index: 999;
}

/*
------------------------------------------------------------*/
.c-img1 {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 95px;
  width: 100%;
  max-width: 1995px;
  height: 200px;
}

.c-img1__box1 {
  overflow: hidden;
  display: table-cell;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.c-gnavi1 {
  margin-top: 50px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 99999;
}

.c-gnavi1 ul {
  text-align: center;
}

.c-gnavi1 ul li {
  width: auto;
  margin: 0 15px;
  float: left;
  opacity: 0.6;
}

.c-gnavi1 ul li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.c-gnavi1 ul li a img {
  height: 40px;
  width: auto;
}

.c-gnavi1 ul li:hover {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: #f8f5f3 url(../img/end/bg.PNG) no-repeat center;
}

/*
------------------------------------------------------------*/
.c-contentft {
  width: 960px;
  height: 360px;
  margin: 0 auto;
  text-align: center;
}

.c-contentft .c-boxft {
  margin: 50px 20px;
  display: inline-block;
}

/*
------------------------------------------------------------*/
.c-copyright {
  color: #ffffff;
  font-size: 12px;
  background: rgba(73, 145, 127, 0.6);
  height: 40px;
  width: 100%;
  font-family: 'Noto Sans Japanese';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
------------------------------------------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 200px;
  z-index: 99;
  background: none;
}

/*
------------------------------------------------------------*/
.hover {
  position: relative;
  width: 100%;
  height: auto;
}

/*
------------------------------------------------------------*/
.img_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

/*
------------------------------------------------------------*/
.hover:hover .img_hover {
  opacity: 1;
}

/*
------------------------------------------------------------*/
.img_over {
  display: block;
  height: auto;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
