/*------------------------------------------------------------
	CONCEPT
------------------------------------------------------------*/
.p-concept {
  width: 100%;
  height: auto;
  background: url(../img/concept/bg11.png) no-repeat top center;
  display: inline-block;
  margin: 0 auto;
}

/*
------------------------------------------------------------*/
.c-title1 {
  width: auto;
  height: auto;
  display: block;
  padding-top: 150px;
}

.c-title1--padding1 {
  padding-top: 245px;
}

.c-title1--padding2 {
  padding-top: 100px;
  text-align: left;
  padding-left: 50px;
}

.c-title1--padding3 {
  padding-top: 110px;
}

/*
------------------------------------------------------------*/
.c-title2 {
  width: auto;
  height: auto;
  display: block;
  padding-top: 40px;
  font-size: 23px;
  font-family: 'Noto Serif', serif;
}

.c-title2--size1 {
  font-size: 24px;
  padding-left: 50px;
  text-align: left;
  color: #5c4e42;
  padding-top: 30px;
}

.c-title2--size2 {
  padding-top: 60px;
  font-size: 18px;
  padding-left: 50px;
  text-align: left;
  font-family: 'Noto Sans Japanese';
  color: #5c4e42;
}

.c-title2--size3 {
  padding-top: 20px;
  font-size: 16px;
  padding-left: 50px;
  text-align: left;
  font-family: 'Noto Sans Japanese';
  color: #5c4e42;
}

.c-title2--color1 {
  padding-top: 50px;
  font-size: 30px;
  color: #49917f;
}

.c-title2--color2 {
  padding-top: 70px;
  font-size: 18px;
  font-family: 'Noto Sans Japanese';
  color: #5c4e42;
}

.c-title2--color3 {
  padding-top: 10px;
  font-size: 16px;
  font-family: 'Noto Sans Japanese';
  color: #5c4e42;
}

/*
------------------------------------------------------------*/
.c-title3 {
  padding: 5px 0 5px 10px;
  font-size: 16px;
  font-family: 'Noto Sans Japanese';
  border-bottom: 1px solid #b4b1af;
  border-top: 1px solid #b4b1af;
  width: 450px;
  color: #614d40;
  margin-top: 90px;
  height: auto;
  display: inline-block;
}

/*
------------------------------------------------------------*/
.c-text1 {
  padding-top: 50px;
  width: 960px;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  line-height: 2.5;
}

/*
------------------------------------------------------------*/
.c-box1 {
  padding-top: 60px;
}

.c-box1 img {
  margin: 0 20px;
}

/*
------------------------------------------------------------*/
.c-box2 {
  width: 1500px;
  height: 303px;
  margin: 0 auto;
  background-image: url(../img/concept/bg2.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 63px;
}

/*
------------------------------------------------------------*/
.l-content1 {
  width: 860px;
  height: 200px;
  margin: 0 auto;
  display: inline-block;
  margin-top: 55px;
}

/*
------------------------------------------------------------*/
.c-info1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-info1__left {
  float: left;
  width: 530px;
  height: auto;
  display: inline-block;
  text-align: left;
}

.c-info1__title1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.c-info1__titlen {
  font-size: 34px;
  font-family: 'Noto Serif', serif;
  float: left;
  line-height: 1;
  width: auto;
  padding-left: 10px;
  height: auto;
  display: inline-block;
}

.c-info1__text1 {
  padding-top: 10px;
  font-size: 14px;
  font-family: 'Noto Sans';
  padding-left: 10px;
  width: 100%;
  height: auto;
  display: inline-block;
  color: #6c6969;
}

.c-info1__titlebd {
  padding: 5px 0 5px 10px;
  font-size: 15px;
  font-family: 'Noto Sans Japanese';
  border-bottom: 1px solid #b4b1af;
  border-top: 1px solid #b4b1af;
  float: right;
  width: 255px;
  height: auto;
  display: inline-block;
}

.c-info1__right {
  float: right;
  width: 310px;
  height: auto;
  display: inline-block;
  text-align: right;
}

/*
------------------------------------------------------------*/
.c-titlebg1 {
  width: 100%;
  height: auto;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
  font-family: 'Noto Sans Japanese';
  color: #ffffff;
  background: #49917f;
  margin-bottom: 20px;
}

/*
------------------------------------------------------------*/
.c-info2 {
  margin-top: 20px;
  width: 100%;
  height: 90px;
  background: #e9e9e9;
}

.c-info2__title1 img {
  margin-top: -10px;
}

.c-info2__imgbt1 {
  margin-top: 15px;
}

.c-info2__text1 {
  margin-top: 10px;
  font-size: 13px;
  color: #535353;
  font-family: 'Noto Sans Japanese';
}

/*------------------------------------------------------------
	MEMU
------------------------------------------------------------*/
.p-menu {
  width: 100%;
  height: 2164px;
  margin: 0 auto;
  background: url(../img/menu/bg.PNG) no-repeat center;
  background-repeat: no-repeat;
  background-size: 1995px 2164px;
}

/*
------------------------------------------------------------*/
.l-content2 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 120px;
}

.l-content2__left {
  width: 250px;
  height: auto;
  float: left;
  text-align: left;
}

.l-content2__right {
  width: 600px;
  height: auto;
  float: right;
  text-align: right;
}

.l-content2__title1 {
  width: 100%;
  height: 120px;
}

.l-content2__title2 {
  color: #49917f;
  font-size: 13px;
  padding-top: 10px;
  font-family: 'Noto Sans Japanese';
}

.l-content2__title2--size1 {
  font-size: 15px;
}

/*
------------------------------------------------------------*/
.l-content3 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 120px;
}

.l-content3__box1 {
  width: 300px;
  height: auto;
  float: left;
  text-align: left;
}

.l-content3__box1--right {
  text-align: right;
}

.l-content3__box1--center {
  text-align: center;
}

.l-content3__title1 {
  width: 100%;
  height: 120px;
}

.l-content3__title2 {
  color: #49917f;
  font-size: 13px;
  padding-top: 10px;
  font-family: 'Noto Sans Japanese';
}

.l-content3__title2--size1 {
  font-size: 15px;
  text-align: right;
}

.l-content3__title2--size3 {
  padding-left: 25px;
  text-align: left;
  font-size: 15px;
  color: #474338;
  padding-bottom: 30px;
}

.l-content3__title2--size4 {
  padding-left: 50px;
  text-align: left;
  font-size: 15px;
  color: #474338;
  padding-bottom: 30px;
}

/*
------------------------------------------------------------*/
.c-img2 {
  margin-top: 20px;
}

/*
------------------------------------------------------------*/
.l-content4 {
  margin-top: 110px;
}

/*------------------------------------------------------------
	ACCESS
------------------------------------------------------------*/
.p-access {
  width: 100%;
  height: auto;
  display: inline-block;
}

.l-access {
  width: 100%;
  height: 600px;
  display: inline-block;
}

.l-access__left {
  float: left;
  width: 50%;
  height: 600px;
}

.l-access__left iframe {
  width: 100%;
  height: 600px;
}

.l-access__right {
  float: right;
  width: 50%;
  height: 600px;
  background-color: #bedbcf;
}

.c-infoaccess {
  width: 100%;
  height: 600px;
  background: url(../img/access/bg.png) no-repeat right;
  background-size: 566px 600px;
}

/*------------------------------------------------------------
	CONTACT
------------------------------------------------------------*/
.p-contact {
  width: 100%;
  height: 500px;
  background: url(../img/contact/bg.png) no-repeat center;
  background-size: 977px 500px;
}

.c-imgtell {
  margin-top: 50px;
}
